html[dir='rtl']{
  label{
      text-align: right;
  }
  input{
      text-align: inherit !important;
  }
  .badge_num{
      right: unset;
      left: 3px;
  }
  .badge_mb{
      right: unset;
      left: 3px;
      top: 2px;
  }
  .selection{
      &.select-menu{
          .dropdown{
              & .icon{
                  right: auto !important;
                  left: 1em !important;
              }
          }
      }
  }
  .custom-file-label{
      &::after{
          left: 0;
          right: unset;
          border-radius: 10rem 0 0 10rem;
      }
  }
  /*start component course*/
  .course-content{
    float: right;
    h3{
      text-align: right;
      float: right;
    }
    .course-content__details{
      float: left;
      .details__list{
        li{
          margin-left: 30px;
          .list--expand-all{
            text-align: right;
          }
          .list--list-content-number{
            text-align: right;
          }
          .list--time-course{
            text-align: right;
          }
        }
      }
    }
    .course-content__course-list{
      float: right;
      .course-list__header{
        float: right;
        .header__header-left{
          .header-left__title{
            .title__icone{
              margin-left: 5px;
          }
          .title__title-text{
            padding-right: 8px;
            padding-left: 10px;
            color: #333;
            font-weight: 500;
            font-family: Roboto,sans-serif;
        }
          }
        }
        .header__header-right{
          .header-right__num-item{
            margin-left: 20px;
          }
          .header-right__length-item{
            text-align: left !important;
          }
        }
      }
    .course-list__list-content{
      float: right;
      border-right: 1px solid #efefef;
      border-left: 1px solid #efefef;
      .left-content__top-title{
        margin-right: 10px;
      }
      .content-item__details{
        margin-right: auto;
        .details__content-summary{
          text-align: left;
        }
      }
    }
    }
  }
}
