$primary: #ff263e;
$black: #1c282c;
$gray: #39444f;
$light-gray: #828a91;
$gold: #ffddd0;
$info: #fa8305;
$warning: #fdcc0d;
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedIn: #8d6cab;
$youtube: red;
$google: #dd4b39;
