$primary: #ff263e;
$primaryLight: #ed2a26;
$light-white: #efefef;
$white: #fff;
$blue: #0d6efd;
$black: #1c282c;
$darkBlack: #333;
$darkBlack2: #000;
$gray: #39444f;
$light-gray: #828a91;
$darkGray: #686f7a;
$gold: #ffddd0;
$info: #fa8305;
$yellow: #f2b01e;
$warning: #fdcc0d;
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedIn: #8d6cab;
$youtube: red;
$google: #dd4b39;
$green: #0d5d4b;
$light-green: #5ae7c7;