@import './mixins';

$spacing: (0.25, 0.5, 1, 1.5, 3);

@mixin spacing-mixin($name) {
  &-#{$name} {
    @content;
  }
  &-xs-#{$name} {
    @include media-xs-only {
      @content;
    }
  }

  &-sm-#{$name} {
    @include media-sm-up {
      @content;
    }
  }

  &-md-#{$name} {
    @include media-md-up {
      @content;
    }
  }

  &-lg-#{$name} {
    @include media-lg-up {
      @content;
    }
  }

  &-xl-#{$name} {
    @include media-xl-only {
      @content;
    }
  }
}

@for $i from 1 through length($spacing) {
  $c: nth($spacing, $i);
  .ms {
    @include spacing-mixin($i) {
      [dir=rtl] & {
        margin-right: #{$c}rem;
      }

      [dir=ltr] & {
        margin-left: #{$c}rem;
      }
    }
  }

  .me {
    @include spacing-mixin($i) {
      [dir=rtl] & {
        margin-left: #{$c}rem;
      }

      [dir=ltr] & {
        margin-right: #{$c}rem;
      }
    }
  }

  .ps {
    @include spacing-mixin($i) {
      [dir=rtl] & {
        padding-right: #{$c}rem;
      }

      [dir=ltr] & {
        padding-left: #{$c}rem;
      }
    }
  }

  .pe {
    @include spacing-mixin($i) {
      [dir=rtl] & {
        padding-left: #{$c}rem;
      }

      [dir=ltr] & {
        padding-right: #{$c}rem;
      }
    }
  }
}

.ms {
  @include spacing-mixin(0) {
    [dir=rtl] & {
      margin-right: 0;
    }

    [dir=ltr] & {
      margin-left: 0;
    }
  }

  @include spacing-mixin(auto) {
    [dir=rtl] & {
      margin-right: auto;
    }

    [dir=ltr] & {
      margin-left: auto;
    }
  }
}

.me {
  @include spacing-mixin(0) {
    [dir=rtl] & {
      margin-left: 0;
    }

    [dir=ltr] & {
      margin-right: 0;
    }
  }
  @include spacing-mixin(auto) {
    [dir=rtl] & {
      margin-left: auto;
    }

    [dir=ltr] & {
      margin-right: auto;
    }
  }
}

.ps {
  @include spacing-mixin(0) {
    [dir=rtl] & {
      padding-right: 0;
    }

    [dir=ltr] & {
      padding-left: 0;
    }
  }

}

.pe {
  @include spacing-mixin(0) {
    [dir=rtl] & {
      padding-left: 0;
    }

    [dir=ltr] & {
      padding-right: 0;
    }
  }
}

