@mixin normalizeTypo() {
  h1, h2, h3, h4, h5, h6, p, a, span {
    margin: 0;
  }
}

@mixin textRight() {
  h1, h2, h3, h4, h5, h6, p, a, span, div {
    text-align: right;
  }
}
@mixin textCenter() {
  h1, h2, h3, h4, h5, h6, p, a, span, div {
    text-align: center;
  }
}

@mixin whiteTypo(){
	h1, h2, h3, h4, h5, h6, p, a, span,i,label,li {
		color: $white;
	}
}

@mixin redTypo(){
  h1, h2, h3, h4, h5, h6, p, a, span,i,label,li {
		color: $danger;
	}
}

@mixin noWrap() {
	h1, h2, h3, h4, h5, h6, p, a, span {
		white-space: nowrap;
	}
}

@mixin noLineHeight() {
	h1, h2, h3, h4, h5, h6, p, a, span {
		line-height: 1;
	}
}

@mixin inputs(){
	input[type="checkbox"], input[type="radio"], input[type="file"]{
		display: none;
	}
}

h1, h2, h3, h4, h5, h6, p, a, span, div {
  &:lang(ar){
    font-family: unquote("Noto Kufi Arabic"), "sans-serif";
    text-align: right;
  }
}