@for $i from 1 through 10 {
  .opacity-after-#{$i} {
    &:after {
      opacity: $i * 0.1 !important;
    }
  }

  .opacity-before-#{$i} {
    &:before {
      opacity: $i * 0.1 !important;
    }
  }

  .opacity-#{$i} {
    opacity: $i * 0.1 !important;
  }
}
