$increments: (0, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130,
135, 140, 145, 150, 155 160, 165, 170, 175, 180, 185, 200);

@each $increment in $increments {
  .w--#{$increment}px {
    width: #{$increment}px;
  }

  .mw--#{$increment}px {
    min-width: #{$increment}px;
  }
  .mxw#{$increment}px {
    max-width: #{$increment}px;
  }

  .h--#{$increment}px {
    height: #{$increment}px;
  }

  .mh--#{$increment}px {
    min-height: #{$increment}px;
  }

  .mxh#{$increment}px {
    max-height: #{$increment}px;
  }
}

.w-100 {
  width: 100% !important;
}

.mw-100 {
  min-width: 100% !important;
}

.mxw-100 {
  max-width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.mh-100 {
  min-height: 100% !important;
}

.mxh-100 {
  max-height: 100% !important;
}

$positions: (relative, fixed, absolute);

@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}

@each $increment in $increments {
  .top-#{$increment} {
    top: #{$increment}px;
  }
  .top-inverted-#{$increment} {
    top: -#{$increment}px;
  }
  .bottom-#{$increment} {
    bottom: #{$increment}px;
  }
  .bottom-inverted-#{$increment} {
    bottom: -#{$increment}px;
  }
  .left-#{$increment} {
    [dir=ltr] & {
      left: #{$increment}px;
    }

    [dir=rtl] & {
      right: #{$increment}px;
    }
  }
  .left-inverted-#{$increment} {
    [dir=ltr] & {
      left: -#{$increment}px;
    }

    [dir=rtl] & {
      right: -#{$increment}px;
    }
  }
  .right-#{$increment} {
    [dir=ltr] & {
      right: #{$increment}px;
    }

    [dir=rtl] & {
      left: #{$increment}px;
    }
  }
  .right-inverted-#{$increment} {
    [dir=ltr] & {
      right: -#{$increment}px;
    }

    [dir=rtl] & {
      left: -#{$increment}px;
    }
  }
}

$zIndexValues: (-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1000);

@each $zIndexValue in $zIndexValues {
  .z-#{$zIndexValue} {
    z-index: $zIndexValue;
  }
}


$fontSizes: (10, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96);
@each $fontSize in $fontSizes {
  .fs-#{$fontSize} {
    font-size: #{$fontSize}px;
  }
}
