$dimensions: (0, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130,
135, 140, 145, 150, 155 160, 165, 170, 175, 180, 185, 200);

$sizes: (20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 100, 125, 150, 160, 175, 200);


@import "./_margin_and_padding";
@import "./_height_and_width";
@import "./_image_object";
@import "./_background";
@import "./_position";
@import "./_opacity";
@import "./_rounded";
@import "./_zindex";
@import "./_font";


%before-hover {
  &:before {
    content: "";
    display: block;
    pointer-events: none;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: inherit;
    background-color: currentColor;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }
}

