$dimensions: (0, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130,
135, 140, 145, 150, 155 160, 165, 170, 175, 180, 185, 200);

$sizes: (20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 100, 125, 150, 160, 175, 200);

$margins: (0.25, 0.5, 1, 1.5, 3);
$colors: (primary, accent, secondary, success, danger, info, warning, white, black, gray);
$positions: (relative, fixed, absolute);
$zIndexValues: (-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1000);
$fontSizes: (10, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96);

@each $dimensions in $dimensions {
  .w-#{$dimensions}px {
    width: #{$dimensions}px;
  }

  .mw-#{$dimensions}px {
    min-width: #{$dimensions}px;
  }
  .mxw-#{$dimensions}px {
    max-width: #{$dimensions}px;
  }

  .h-#{$dimensions}px {
    height: #{$dimensions}px;
  }

  .mh-#{$dimensions}px {
    min-height: #{$dimensions}px;
  }

  .mxh-#{$dimensions}px {
    max-height: #{$dimensions}px;
  }
}

.w-100 {
  width: 100% !important;
}

.mw-100 {
  min-width: 100% !important;
}

.mxw-100 {
  max-width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.mh-100 {
  min-height: 100% !important;
}

.mxh-100 {
  max-height: 100% !important;
}


@each $position in $positions {
  .position-#{$position} {
    position: $position !important;
  }
}

.position-unset {
  position: unset !important;
}

@each $dimensions in $dimensions {
  .top-#{$dimensions} {
    top: #{$dimensions}px;
  }
  .top-inverted-#{$dimensions} {
    top: -#{$dimensions}px;
  }
  .bottom-#{$dimensions} {
    bottom: #{$dimensions}px;
  }
  .bottom-inverted-#{$dimensions} {
    bottom: -#{$dimensions}px;
  }
  .left-#{$dimensions} {
    [dir=ltr] & {
      left: #{$dimensions}px;
    }

    [dir=rtl] & {
      right: #{$dimensions}px;
    }
  }
  .left-inverted-#{$dimensions} {
    [dir=ltr] & {
      left: -#{$dimensions}px;
    }

    [dir=rtl] & {
      right: -#{$dimensions}px;
    }
  }
  .right-#{$dimensions} {
    [dir=ltr] & {
      right: #{$dimensions}px;
    }

    [dir=rtl] & {
      left: #{$dimensions}px;
    }
  }
  .right-inverted-#{$dimensions} {
    [dir=ltr] & {
      right: -#{$dimensions}px;
    }

    [dir=rtl] & {
      left: -#{$dimensions}px;
    }
  }
}

@each $zIndexValue in $zIndexValues {
  .z-#{$zIndexValue} {
    z-index: $zIndexValue;
  }
}

@each $fontSize in $fontSizes {
  .fs-#{$fontSize} {
    font-size: #{$fontSize}px !important;
  }
}

@each $color in $colors {
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}


.object-fit-cover {
  object-fit: cover !important;
}

.object-fit-contain {
  object-fit: contain !important;
}


.object-position-center {
  object-position: 50% 50% !important;
}

.rounded-8px {
  border-radius: 8px !important;
}

.rounded-10px {
  border-radius: 10px !important;
}

.rounded-12px {
  border-radius: 12px !important;
}

.rounded14px4 {
  border-radius: 14px !important;
}

.rounded-16px {
  border-radius: 16px !important;
}

.rounded-20px {
  border-radius: 20px !important;
}

.rounded-50 {
  border-radius: 50% !important;
}


%before-hover {
  &:before {
    content: "";
    display: block;
    pointer-events: none;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: inherit;
    background-color: currentColor;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }
}

@each $margin in $margins {

}

@for $i from 1 through length($margins) {
  $c: nth($margins, $i);
  .ms-#{$i} {
    [dir=rtl] & {
      margin-right: #{$c}rem;
    }

    [dir=ltr] & {
      margin-left: #{$c}rem;
    }
  }

  .me-#{$i} {
    [dir=rtl] & {
      margin-left: #{$c}rem;
    }

    [dir=ltr] & {
      margin-right: #{$c}rem;
    }
  }

  .ps-#{$i} {
    [dir=rtl] & {
      padding-right: #{$c}rem;
    }

    [dir=ltr] & {
      padding-left: #{$c}rem;
    }
  }

  .pe-#{$i} {
    [dir=rtl] & {
      padding-left: #{$c}rem;
    }

    [dir=ltr] & {
      padding-right: #{$c}rem;
    }
  }

}

.ms-0 {
  [dir=rtl] & {
    margin-right: 0;
  }

  [dir=ltr] & {
    margin-left: 0;
  }
}

.me-0 {
  [dir=rtl] & {
    margin-left: 0;
  }

  [dir=ltr] & {
    margin-right: 0;
  }
}

.ms-auto {
  [dir=rtl] & {
    margin-right: auto;
  }

  [dir=ltr] & {
    margin-left: auto;
  }
}

.me-auto {
  [dir=rtl] & {
    margin-left: auto;
  }

  [dir=ltr] & {
    margin-right: auto;
  }
}

.ps-0 {
  [dir=rtl] & {
    padding-right: 0;
  }

  [dir=ltr] & {
    padding-left: 0;
  }
}

.pe-0 {
  [dir=rtl] & {
    padding-left: 0;
  }

  [dir=ltr] & {
    padding-right: 0;
  }
}
