/* src/assets/styles/components/_button.scss  */

.clean-button {
  border: none;
  background: none;
}

// .button {
//   @extend .clean-button;
//   font-family: $quicksand;
//   font-size: 18px;
//   font-weight: 700;
//   border-radius: 5px;
//   color: white;
//   padding: 14px 40px;
//   background: $lightseagreen;
// }

.general-btn{
  &.btn--filled{
    padding: 5px 20px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    background: #ed2a26;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
  }
}

.btn-general{
  height: 40px;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: #ed2a26;
  font-size: 14px;
  display: inline-block;
}

