/* src/assets/styles/components/_button.scss  */
// $primary: #ff263e;
// $secondary: #1c282c;
// $success: #39444f;
// $info: blue;
// $danger: #828a91;
// $warning: #ffddd0;

// $bk-color: ("primary" $primary, "secondary" $secondary, "success" $success, "info" $info, "danger"$danger, "warning"$warning);
// @each $name, $color in $bk-color {
// 	.ad-btn--#{$name}{
// 		background-color: #{$color};
// 	}
// }
// $border-color: ("primary" $primary, "black" $secondary, "success" $success, "info" $info, "danger"$danger, "warning"$warning);
// @each $name, $color in $border-color {
// 	.ad-btn--#{$name}--outlined{
// 		border: 1px solid #{$color};
// 		color:#{$color} ;
// 		background-color: #fff;
// 		&:hover{
// 			color: #fff;
// 			background-color: #{$color};
// 			transition: all 0.1s ease;
// 		}
// 	}
// } 
button.ad-btn{
  padding: 10px 20px;
  margin: 5px;
	border: 0;
	border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display:inline-block;
  font-family: "Roboto", sans-serif;
	cursor: pointer;
	&.ad-btn--rounded{
    border-radius: 20px;
    background: $black;
		color: #fff;
	}
  &.ad-btn--outlined{
    background: #fff;
    color: $black;
    border: 2px solid $black;
    &:hover{
      color: #fff;
      transition: all 0.1s ease;
    }
  }
  &.ad-btn--text{
    border: none;
    background-color: inherit;
    color: $black;
    &:hover{
      color: #fff;
			background-color:$black;
    }
  }
  &.ad-btn--icon{

  }
  &.ad-btn--with-icon{

  }
}
