/* src/assets/styles/components/_button.scss  */

a,
button,
input {
  &.ad-btn {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid;
    border-radius: 5px;
    text-transform: capitalize;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: #fff;
    text-align: center;
    &:hover {
      opacity: 0.8;
      transition: 0.3s ease all;
    }
    &.ad-btn--default {
      background-color: $light-gray;
      border-color: $light-gray;
    }
    &.ad-btn--primary {
      background-color: $primary;
      border-color: $primary;
    }
    &.ad-btn--secondary {
      background-color: $black;
      border-color: $black;
    }
    &.ad-btn--success {
      background-color: $gray;
      border-color: $gray;
    }
    &.ad-btn--info {
      background-color: $info;
      border-color: $info;
    }
    &.ad-btn--warning {
      background-color: $warning;
      border-color: $warning;
    }
    &.ad-btn--danger {
      background-color: $gold;
      color: $light-gray;
      border-color: $light-gray;
    }

    &.ad-btn--rounded {
      color: #fff;
      border-radius: 20px;
      &.ad-btn--default {
        background-color: $light-gray;
      }
      &.ad-btn--primary {
        background-color: $primary;
      }
      &.ad-btn--secondary {
        background-color: $black;
      }
      &.ad-btn--success {
        background-color: $gray;
      }
      &.ad-btn--info {
        background-color: $info;
      }
      &.ad-btn--warning {
        background-color: $warning;
      }
      &.ad-btn--danger {
        background-color: $gold;
        color: $light-gray;
      }
    }

    &.ad-btn--outlined {
      background-color: transparent;
      &.ad-btn--default {
        color: $light-gray;
      }
      &.ad-btn--primary {
        color: $primary;
      }
      &.ad-btn--secondary {
        color: $black;
      }
      &.ad-btn--success {
        color: $gray;
      }
      &.ad-btn--info {
        color: $info;
      }
      &.ad-btn--warning {
        color: $warning;
      }
      &.ad-btn--danger {
        border-color: $gold;
        color: $gold;
      }
    }
    &.ad-btn--text {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      transition: 0.3s ease all;
      &.ad-btn--default {
        color: $light-gray;
      }
      &.ad-btn--primary {
        color: $primary;
      }
      &.ad-btn--secondary {
        color: $black;
      }
      &.ad-btn--success {
        color: $gray;
      }
      &.ad-btn--info {
        color: $info;
      }
      &.ad-btn--warning {
        color: $warning;
      }
      &.ad-btn--danger {
        color: $gold;
      }
    }
    &.ad-btn--hover {
      &:hover {
        &.ad-btn {
          color: #fff;
          transition: 0.3s ease all;
        }
        &.ad-btn--default {
          background-color: $light-gray;
        }
        &.ad-btn--primary {
          background-color: $primary;
        }
        &.ad-btn--secondary {
          background-color: $black;
        }
        &.ad-btn--success {
          background-color: $gray;
        }
        &.ad-btn--info {
          background-color: $info;
        }
        &.ad-btn--warning {
          background-color: $warning;
        }
        &.ad-btn--danger {
          background-color: $gold;
          color: $light-gray;
        }
      }
    }
    &.ad-btn--icon {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      color: #fff;
      padding: 8px 0;
      text-align: center;
      font-size: 14px;
      transition: all 0.3s ease;
      svg,
      i {
        color: #fff;
        display: inline-block;
      }
      &.ad-btn--default {
        background-color: $light-gray;
      }
      &.ad-btn--primary {
        background-color: $primary;
      }
      &.ad-btn--secondary {
        background-color: $black;
      }
      &.ad-btn--success {
        background-color: $gray;
      }
      &.ad-btn--info {
        background-color: $info;
      }
      &.ad-btn--warning {
        background-color: $warning;
      }
      &.ad-btn--danger {
        background-color: $gold;
        color: $light-gray;
        svg,
        i {
          color: $light-gray;
        }
      }
    }
    &.ad-btn--with-icon {
      svg,
      i {
        color: #fff;
        display: inline-block;
        margin-right: 5px;
      }
      &.ad-btn--default {
        background-color: $light-gray;
      }
      &.ad-btn--primary {
        background-color: $primary;
      }
      &.ad-btn--secondary {
        background-color: $black;
      }
      &.ad-btn--success {
        background-color: $gray;
      }
      &.ad-btn--info {
        background-color: $info;
      }
      &.ad-btn--warning {
        background-color: $warning;
      }
      &.ad-btn--danger {
        background-color: $gold;
        color: $light-gray;
        svg,
        i {
          color: $light-gray;
        }
      }
    }
    &.ad-btn--link-text {
      background-color: transparent;
      padding: 0px;
      margin: 0px;
      border: none;
      text-align: left;
      color: black;
    }
    &.ad-btn--center {
      display: block;
      margin: auto;
    }
    &.ad-btn--disabled {
      pointer-events: none;
      opacity: 0.6;
    }
    &.ad-btn--lg {
      padding: 15px 25px;
      margin: 5px;
      font-size: 18px;
      font-weight: 600;
    }
    &.ad-btn--sm {
      padding: 9px 15px;
      margin: 5px;
      font-size: 12px;
      font-weight: 300;
    }
    &.ad-btn--ripple {
      box-shadow: 0 0 4px rgb(104, 102, 102);
      outline: none;
      background-position: center;
      transition: background 0.3s;
      &:hover {
        background-image: radial-gradient(circle, transparent 1%, #999 1%);
        background-position: center;
        background-size: 15000%;
      }
      &:active {
        transition: background 0s;
        background-size: 100%;
        &.ad-btn--default {
          background-color: $light-gray;
        }
        &.ad-btn--primary {
          background-color: $primary;
        }
        &.ad-btn--secondary {
          background-color: $black;
        }
        &.ad-btn--success {
          background-color: $gray;
        }
        &.ad-btn--info {
          background-color: $info;
        }
        &.ad-btn--warning {
          background-color: $warning;
        }
        &.ad-btn--danger {
          background-color: $gold;
          color: $light-gray;
        }
      }
    }
  }
}
button {
  cursor: pointer;
  display: block;
  &.ad-btn--text-basic {
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    border: none;
  }
}
a.ad-btn {
  line-height: 18px;
  padding-top: 12px;
  &.ad-btn--text {
    text-decoration: none;
  }
  &:active {
    opacity: 1.8;
  }
}
.ad-btn-group {
  margin: 5px;
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ad-btn {
    margin: 0;
    border: unset;
    &.ad-btn.ad-btn--outlined {
      border: 2px solid;
      &:hover {
        transition: 0.3s ease all;
        &.ad-btn--default {
          border-color: $light-gray;
        }
        &.ad-btn--primary {
          border-color: $primary;
        }
        &.ad-btn--secondary {
          border-color: $black;
        }
      }
    }
    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1;
    }
    &:nth-child(2) {
      border-radius: 0;
      border-right: 0px;
      border-left: 0px;
      margin-left: -1px;
      margin-right: -1px;
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

html[dir="rtl"] {
  .ad-btn--with-icon {
    padding-right: 12px;
    svg,
    i {
      margin-left: 5px;
    }
  }
  .ad-btn-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: right;
    &:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .ad-btn {
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -1;
      }
      &:nth-child(2) {
        border-radius: 0;
        border-right: 0px;
        border-left: 0px;
        margin-left: -1px;
        margin-right: -1px;
      }
      &:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
