a.btn,
button.btn,
input[type="button"].btn,
input[type="submit"].btn {
  position: relative;
  padding: 0 16px;
  height: 36px;
  line-height: 37px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-default);
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  letter-spacing: 1.25px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  margin: 0 5px 0 0;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover:before {
    opacity: 0.15;
  }

  &:before {
    content: "";
    display: block;
    pointer-events: none;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: inherit;
    background-color: currentColor;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &:focus {
    outline: none;

    &:before {
      opacity: 0.24;
    }
  }

  &.btn--with-icon {
    .material-icons {
      font-size: inherit;
    }
  }

  i,
  span {
    margin: 0 4px;
  }

  &.btn--rounded {
    border-radius: 20px;
  }

  &.btn--block {
    display: block;
    width: 100%;
  }

  &.btn--text {
    border: none;
  }

  &.btn--outlined {
    border: 1px solid currentColor;
  }

  &.btn--double-line {
    border: 4px double currentColor;
  }

  &.btn--text,
  &.btn--outlined {
    background-color: transparent;
  }

  &.btn--disabled,
  &:disabled {
    color: rgba(#000000, 0.26);
    cursor: not-allowed;

    &:focus:before {
      opacity: 0;
    }

    &:hover:before {
      opacity: 0;
    }
  }

  &.btn--primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-primary);
      background-color: transparent;
    }
  }

  &.btn--accent {
    color: var(--color-white);
    background-color: var(--color-accent); //#0d758e // #3D5467
    border-color: var(--color-accent);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-accent);
      background-color: transparent;
    }
  }

  &.btn--secondary {
    color: var(--color-white);
    background-color: var(--color-secondary); //#0d758e // #3D5467
    border-color: var(--color-secondary);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-secondary);
      background-color: transparent;
    }
  }

  &.btn--success {
    color: var(--color-white);
    background-color: var(--color-success); //#0d758e // #3D5467
    border-color: var(--color-success);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-success);
      background-color: transparent;
    }
  }

  &.btn--info {
    color: var(--color-white);
    background-color: var(--color-info); //#0d758e // #3D5467
    border-color: var(--color-info);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-info);
      background-color: transparent;
    }
  }

  &.btn--warning {
    color: var(--color-white);
    background-color: var(--color-warning); //#0d758e // #3D5467
    border-color: var(--color-warning);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-warning);
      background-color: transparent;
    }
  }

  &.btn--danger {
    color: var(--color-white);
    background-color: var(--color-danger); //#0d758e // #3D5467
    border-color: var(--color-danger);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-danger);
      background-color: transparent;
    }
  }

  &.btn--white-primary {
    color: var(--color-primary);
    background-color: var(--color-white); //#0d758e // #3D5467
    border-color: var(--color-white);

    &.btn--text,
    &.btn--outlined {
      color: var(--color-primary);
      background-color: transparent;
    }
  }

  &.btn--xs {
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    font-size: 10px;
  }

  &.btn--sm {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    font-size: 12px;

    .material-icons {
      font-size: 16px;
    }
  }

  &.btn--lg {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 16px;
  }

  &.btn--xl {
    height: 52px;
    line-height: 52px;
    padding: 0 24px;
    font-size: 20px;
  }

  &.btn--icon {
    width: 36px;
    min-width: 36px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    min-height: 36px;
    max-height: 36px;

    &.btn--xs {
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
    }

    &.btn--sm {
      min-width: 28px;
      min-height: 28px;
      width: 28px;
      height: 28px;
    }

    &.btn--lg {
      min-width: 44px;
      min-height: 44px;
      width: 44px;
      height: 44px;
    }

    &.btn--xl {
      min-width: 96px;
      min-height: 96px;
      width: 96px;
      height: 96px;
      text-align: center;
      padding: 29px;
    }

    &.btn--rounded {
      border-radius: 50%;
    }

    svg,
    i,
    span {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      [dir="rtl"] & {
        left: 50%;
      }
    }
  }

  &.btn--play {
    background-color: var(--color-white);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    text-align: center;

  }

  svg,
  i {
    // font-size: inherit;
    // margin: 0 5px;
  }

  &.btn--white {
    color: #fff;
  }
}

a.btn {
  display: inline-block;
}

.btn-group {
  margin: 5px;
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;

  &.btn-group--outlined {
    border: 1px solid var(--color-primary);

    .btn {
      border: none;
      border-right: 1px solid;

      &:last-of-type {
        border-right: 0;
        border-radius: inherit;
      }
    }
  }

  &.btn-group--rounded {
    border-radius: 30px;
  }

  .btn {
    white-space: nowrap;
    display: inline;
    margin: 0;
    border: none;
    border-radius: 0 !important;
  }
}

html[dir="rtl"] {
  .btn-group {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: right;

    .btn {
      margin: 0;
    }
  }

  .btn {
    &.btn--ml-auto {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

@media (max-width: 768.98px) {
  .btn--player {
    margin-top: 16px !important;
    margin-right: auto !important;
  }
}

html[dir="rtl"] {
  .btn {
    margin: 0 0 0 14px;

    &:last-of-type {
      margin: 0;
    }
  }
}


