a,
button,
input[type="button"] {
  &.btn-tool{
    color: #adb5bd;
    font-size: 20px;
    margin: 0;
    padding: 5px 10px;
  }
  &.btn {
    display: block;
    margin: 0 5px 5px 0;
    padding: 4px 16px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    &:hover {
    //   color: white;
      transition: 0.3s ease all;
    }
    
    &.btn--disabled,
    &:disabled {
      pointer-events: none;
      opacity: 0.6;
      background-color: $gray;
      border-color: $gray;
      color: black;
    }

    &.btn--default {
      color: $primary;
      border-color: $default;
      background-color: $default;
      &:hover{
        color: $primary;
        border-color: #B7B5B3;
        background-color: #B7B5B3;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($primary, 0.5);
      }
    }
    &.btn--primary {
      background-color: $primary; //#0d758e // #3D5467
      border-color: $primary;
      &:hover{
        color: white;
        background-color: #0385a5;
        border-color:#0385a5;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($primary, 0.5);
      }
    }
    &.btn--secondary {
      background-color: $secondary;
      border-color: $secondary;
      &:hover{
        color: white;
        background-color: #09aad6;//#1597BB
        border-color: #09aad6;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($secondary, 0.5);
      }
    }
    &.btn--success {
      background-color: $success;
      border-color: $success;
      &:hover{
        color: white;
        background-color: #45dd69 ;
        border-color: #45dd69;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($success, 0.5);
      }
    }
    &.btn--info {
      background-color: $info; //#5382a1
      border-color: $info;
      &:hover{
        color: white;
        background-color: #196ba1 ;
        border-color:  #196ba1;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($info, 0.5);
      }
    }
    &.btn--warning {
      background-color: $warning;
      border-color: $warning;
      &:hover{
        color: white;
        background-color: #e26415 ;
        border-color: #e26415;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($warning, 0.5);
      }
    }
    &.btn--danger {
      background-color: $primaryLight;
      border-color: $primaryLight;
      &:hover{
        color: white;
        background-color: #f1130f ;
        border-color: #f1130f;
      }
      &:focus{
        outline: 0;
        box-shadow: 0 1px 4px 3px rgba($danger, 0.5);
      }
    }
  
    &.btn--white {
      background-color: #fff;
      border-color: #fff;
    }

    &.btn--rounded {
      color: white;
      border-radius: 20px;
      &.btn--default {
        color: $primary;
      }
      &.btn--lg{
        border-radius: 40px;
      }
    }

    &.btn--outlined {
      background-color: transparent;
      &.btn--primary {
        color: $primary;
      }

      &.btn--secondary {
        color: $secondary;
      }

      &.btn--success {
        color: $success;
      }

      &.btn--info {
        color: $info;
      }

      &.btn--warning {
        color: $warning;
      }

      &.btn--danger {
        color: $primaryLight;
      }
      &:hover {
        color: #fff;
      //   &.btn--default {
      //     background-color: $default;
      //     color:$primary ;
      //   }
      //   &.btn--primary {
      //     background-color: $primary;
      //   }
      //   &.btn--secondary {
      //     background-color: $secondary;
      //   }
      //   &.btn--success {
      //     background-color: $success;
      //   }
      //   &.btn--info {
      //     background-color: $info;
      //   }
      //   &.btn--warning {
      //     background-color: $warning;
      //   }
      //   &.btn--danger {
      //     background-color: $primaryLight;
      //   }
      }
    }
    &.btn--ml-auto {
      margin-left: auto;
    }
    &.btn--text {
      border: none;
      background-color: transparent;
      transition: 0.3s ease all;
      &.btn--default {
        color: $primary;
      }
      &.btn--primary {
        color: $primary;
      }
      &.btn--secondary {
        color: $secondary;
      }
      &.btn--success {
        color: $success;
      }
      &.btn--info {
        color: $info;
      }
      &.btn--warning {
        color: $warning;
      }
      &.btn--danger {
        color: $primaryLight;
      }
      &:hover{
        color: white;
      }
    }
    &.link-color{
      &:hover{
        background-color: unset;
        transition: 0.3s ease all;
        &.btn--default {
          color: #B7B5B3;
        }
        &.btn--primary {
          color: #0385a5;
        }
        &.btn--secondary {
          color: #09aad6;
        }
        &.btn--success {
          color: #45dd69;
        }
        &.btn--info {
          color: #196ba1;
        }
        &.btn--warning {
          color: #e26415;
        }
        &.btn--danger {
          color: #f1130f;
        }
      }
    }
    &.icon--hover{
      width: 35px;
      height: 35px;
      border-radius: 100%;
      // padding: 5px 0px 4px 1px;
      text-align: center;
      font-size: 14px;
      transition: all 0.3s ease;
      position: relative;
      background-color: transparent;
      border: 0px;
      &.btn--lg{
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
      svg,
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // padding-left: 2px;
      }
      &:hover{ 
        color: white;
        &.btn--lg{
          padding: 0;
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
      //   &.btn--default {
      //     background-color: $light-gray;
      //   }
      //   &.btn--primary {
      //     background-color: $primary;
      //   }
      //   &.btn--secondary {
      //     background-color: $secondary;
      //   }
      //   &.btn--success {
      //     background-color: $success;
      //   }
      //   &.btn--info {
      //     background-color: $info;
      //   }
      //   &.btn--warning {
      //     background-color: $warning;
      //   }
      //   &.btn--danger {
      //     background-color: $primaryLight;
      //   }
      }
    }
    &.btn--hover{
      &:hover {
        transition: 0.3s ease all;
        color: #fff;
        &.btn--default {
          background-color: $default;
          color:$primary ;
        }
        &.btn--primary {
          background-color: $primary;
        }
        &.btn--secondary {
          background-color: $secondary;
        }
        &.btn--success {
          background-color: $success;
        }
        &.btn--info {
          background-color: $info;
        }
        &.btn--warning {
          background-color: $warning;
        }
        &.btn--danger {
          background-color: $primaryLight;
        }
      }
    }
    &.btn--hover-rounded{
      border-radius: 20px;
      &:hover {
        transition: 0.2s ease all;
        color: #fff;
        &.btn--default {
          background-color: $default;
          color:$primary ;
        }
        &.btn--primary {
          background-color: $primary;
        }
        &.btn--secondary {
          background-color: $secondary;
        }
        &.btn--success {
          background-color: $success;
        }
        &.btn--info {
          background-color: $info;
        }
        &.btn--warning {
          background-color: $warning;
        }
        &.btn--danger {
          background-color: $primaryLight;
        }
      }
    }
    &.btn--icon {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      // padding: 5px 0px 4px 1px;
      text-align: center;
      font-size: 14px;
      transition: all 0.3s ease;
      position: relative;
      svg,
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 2px;
      }
      &.btn--lg{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 0;
      }
    }
    &.btn--with-icon {
      svg,
      i {
        color: #fff;
        display: inline-block;
        margin-right: 5px;
      }

      &.btn--default {
        svg,
        i {
        color: $primary;
        }
      }

      // &.btn--primary {
      //   background-color: $primary;
      // }

      // &.btn--secondary {
      //   background-color: $secondary;
      // }

      // &.btn--success {
      //   background-color: $success;
      // }

      // &.btn--info {
      //   background-color: $info;
      // }

      // &.btn--warning {
      //   background-color: $warning;
      // }

      // &.btn--danger {
      //   background-color: $primaryLight;
      // }
    }

    &.btn--hover-dropdown {
      font-size: 18px;
      padding: 8px;
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 20px;
      background: transparent;
      color: #686f7a;
      border: 0;
      line-height: 20px;
      &:hover {
        background-color: #828a91;
        color: #fff !important;
      }
    }

    &.btn--link-text {
      background-color: transparent;
      padding: 0px;
      margin: 0px;
      border: none;
      text-align: left;
    }
    
    &.btn--center {
      display: block;
      margin: auto;
    }

    &.btn--lg {
      padding: 15px 25px;
      margin: 5px;
      font-size: 18px;
      font-weight: 600;
      // border-radius: 30px;
      line-height: 1.3;
    }

    &.btn--sm {
      padding: 7px 14px;
      margin: 5px;
      font-size: 12px;
      font-weight: 300;
    }

    &.btn--ripple {
      outline: none;
      background-position: center;
      transition: background 0.3s;

      &:hover {
        background-position: center;
        background-size: 15000%;
        background-image: radial-gradient(circle, transparent 1%, rgb(197, 194, 194) 1%);
        //   &.btn--default {
        //     background-image: radial-gradient(circle, transparent 1%, rgb(197, 194, 194) 1%);
        //   }
        //   &.btn--primary {
        //     background-image: radial-gradient(circle, transparent 1%, #9cb9c0 1%);
        //   }

        //   &.btn--secondary {
        //     background-image: radial-gradient(circle, transparent 1%, rgb(75, 125, 139) 1%);
        //   }

        //   &.btn--success {
        //     background-image: radial-gradient(circle, transparent 1%, #699673 1%);
        //   }

        //   &.btn--info {
        //     background-image: radial-gradient(circle, transparent 1%, #7498b1 1%);
        //   }

        //   &.btn--warning {
        //     background-image: radial-gradient(circle, transparent 1%, #8b5c3f 1%);
        //   }

        //   &.btn--danger {
        //     background-image: radial-gradient(circle, transparent 1%, #924343 1%);
        //   }
      }

      &:active {
        transition: background 0s;
        background-size: 100%;

        &.btn--default {
          background-color: $default;
        }

        &.btn--primary {
          background-color: $primary;
        }

        &.btn--secondary {
          background-color: $secondary;
        }

        &.btn--success {
          background-color: $success;
        }

        &.btn--info {
          background-color: $info;
        }

        &.btn--warning {
          background-color: $warning;
        }

        &.btn--danger {
          background-color: $primaryLight;
          color: $light-gray;
        }
      }
    }
    &.ripple-effect{
      position: relative;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      overflow: hidden;
      cursor: pointer;
      &::after{
        content: "";
        background: rgb(197, 194, 194);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s 
      }
      &:active::after{
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }
    
    }
    &.btn--error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
    &.btn--hover-line{
      &:after{
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      &:hover{
        color: unset;
        background-color: unset;
      }
      &:hover:after {
        width: 100%;
        background:$light-gray;
      }
    }
  }
  // a.btn {
  //   // // line-height: 1.7;
  //   // &.btn--text {
  //   //   text-decoration: none;
  //   // }
  //   // &:hover{
  //   //   color: white ;
  //   // }
  // }
}
//button {
//  cursor: pointer;
//  display: block;
//
//  &.btn--text-basic {
//    background-color: transparent;
//    color: black;
//    font-size: 14px;
//    padding: 0px;
//    margin: 0px;
//    border: none;
//  }
//}

// a.btn {
//   // line-height: 1.7;
//   &.btn--text {
//     text-decoration: none;
//   }
//   &:hover{
//     color: white !important;
//   }
//   &:active {
//     opacity: 1.8;
//   }
  // &.btn--hover-line{
  //   &:after{
  //     content: '';
  //     display: block;
  //     margin: auto;
  //     height: 1px;
  //     width: 0px;
  //     background: transparent;
  //     transition: width .5s ease, background-color .5s ease;
  //   }
  //   &:hover:after {
  //     width: 100%;
  //     background:$light-gray;
  //   }
  // }
// }

.btn-group {
  margin: 5px;

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn {
    margin: 0;
    border: unset;

    &.btn.btn--outlined {
      border: 1px solid $light-gray;

      &:hover {
        transition: 0.3s ease all;
      }
    }

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1;
    }

    &:nth-child(2) {
      border-radius: 0;
      margin-left: -1px;
      margin-right: -1px;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
// rtl
html[dir="rtl"] {
  .btn--with-icon {
    padding-right: 12px;

    svg,
    i {
      margin-left: 5px;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: right;

    &:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .btn {
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:nth-child(2) {
        border-radius: 0;
        border-right: 0px;
        border-left: 0px ;
      }
      &:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  .btn {
    &.btn--ml-auto {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

/*&.btn--hover {

      &:hover {
        &.btn {
          color: #fff;
          transition: 0.3s ease all;
        }

        &.btn--default {
          background-color: $light-gray;
        }

        &.btn--primary {
          background-color: $primary;
        }

        &.btn--secondary {
          background-color: $black;
        }

        &.btn--success {
          background-color: $gray;
        }

        &.btn--info {
          background-color: $info;
        }

        &.btn--warning {
          background-color: $warning;
        }

        &.btn--danger {
          background-color: $primaryLight;
          color: $light-gray;
        }
      }
    }*/

    .btn--player{
      margin: 0 !important;
      padding: 0 !important;
      width: 50px;
      height: 50px;
      color: $accent;
      position: relative;
      background-color: transparent;
      border-radius: 50% !important;
      border: 1px solid $accent !important;
      transition: .3s ease all;
      *{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
      }
      &::after{
        position: absolute;
        content: '';
        width: 43px;
        height: 43px;
        top: 3px;
        left: 3px;
        z-index: -1;
        // transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid $accent;
      }
      &:hover{
        cursor: pointer;
        &::after{
          background-color: rgba($color: $primary, $alpha: .3);
        }
      }
      &.btn--lg{
        margin: 0 ;
        padding: 0 ;
        width: 70px;
        height: 70px;
        &::after{
          width: 63px;
          height: 63px;
          top: 3px;
          left: 3px;
        }
      }
    }

    @media (max-width: 768.98px){
      .btn--player{
        margin-top: 16px !important;
        margin-right: auto !important;
      }
    }

.night-mode{
  .btn{
    &.btn--outlined{
      &.btn--default {
        color: $default;
      }
    } 
    &.btn--text{
      &.btn--default {
        color: $default;
      }
    }
  }
  a.btn{
    color: white;
    &.btn--default {
      color: $primary;
    }
    &.btn--outlined{
      &.btn--default {
        color: $default;
      }
    }
    &.btn--text{
      &.btn--default {
        color: $default;
      }
    }
  }
  &:focus-visible{
    outline: transparent;
  }
}