.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  height: auto;
  // border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      height: 1px;
      background-color: rgba($color: $darkBlack2, $alpha: 0.1);
    }
    &.card__collapse--toggle {
      transition: 0.3s ease all;
      font-size: 14px;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
  .card__title {
    text-transform: capitalize;
    font-size: 20px;
    color: $black;
  }
  .card__content {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow-y: scroll;
    transition: 0.5s ease all;
    & > * {
      margin-bottom: 10px;
      text-align: start;
    }
    &.active {
      max-height: 300px;
    }
  }
}
