/* src/assets/styles/components/_course-card.scss  */

.course-card {
  &.course-card--fixed-width {
    max-width: 24%;
    margin: 0 5px;
    animation: grid;
    animation-duration: 0.3s;
    @media (max-width: 1440.98px) {
      max-width: 32%;
    }
    @media (max-width: 1024.98px) {
      max-width: 31%;
      margin: 0 7px;
    }
    @media (max-width: 890.98px) {
      max-width: 49%;
      margin: 0;
    }
    @media (max-width: 768.98px) {
      max-width: 49%;
      margin: 0;
    }
    @media (max-width: 450.98px) {
      max-width: 99%;
      margin: auto;
    }
  }
  &.course-card--list-view {
    max-width: 100%;
    width: 100%;
    animation: list;
    animation-duration: 0.3s;
    .course-card__card-media {
      display: flex;
      width: 100%;
      .card-media__card-img {
        max-width: 35%;
      }
      .card-media__card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0;
      }
    }
    .card-auther__price {
      flex-direction: row-reverse;
      .course-card__actions {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
      .btn-wishlist {
        // display: inline-block !important;
        // margin: 0 10px;
        i {
          display: block;
          margin: 0 10px;
        }
      }
    }
  }
  .course-card__card-media {
    background: $white;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $light-white;
    transition: all 0.2s ease-in-out;
    @media (max-width: 1200.98px) {
      margin-bottom: 18px;
    }
    @media (max-width: 992.98px) {
      margin-bottom: 14px;
    }
    @media (max-width: 875.98px) {
      margin-bottom: 12px;
    }
    // .card-media__card-content {
      // .card-content__card-auther {
      // }
    // }
    // start card-img part1
    .card-media__card-img {
      width: 100%;
      height: 185px;
      float: left;
      position: relative;
      a {
        color: $twitter;
        text-decoration: none;
        background-color: transparent;
        &:hover {
          text-decoration: none !important;
          color: inherit !important;
        }
      }
      .card-img img {
        width: 100%;
        border-radius: 5px;
      }
      .card-img__card-overlay {
        position: absolute;
        top: 0;
        padding: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(
          transparent,
          rgba(51, 51, 51, 0.3) 90%
        );
        &:hover {
          span.card-overlay__play_btn1 {
            background-image: linear-gradient(
              transparent,
              rgba(51, 51, 51, 0.4) 90%
            );
            display: block;
            visibility: visible;
            opacity: 1;
            padding: 12px 12px;
            transition: all 0.5s ease;
            transform: translateY(-5px);
          }
        }
        .card-overlay__badge-seller {
          border-radius: 3px;
          font-size: 10px;
          position: absolute;
          padding: 2px 10px;
          background: $info;
          border: none;
          color: $white;
          font-family: $quicksand;
          font-weight: 600;
          line-height: 1.5;
          right: 0;
          text-align: center;
          text-transform: uppercase;
          top: 10px;
          z-index: 2;
          vertical-align: baseline;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
            0 3px 1px 0 rgba(20, 23, 28, 0.1);
          &::after {
            background: inherit;
            content: "";
            height: 12px;
            position: absolute;
            top: 3px;
            transform: rotate(45deg);
            width: 12px;
            z-index: 1;
            display: block;
            left: -5px;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
        .card-overlay__crd-reviews {
          color: $white;
          background: $warning;
          display: inline-block;
          padding: 3px 15px 3px 10px;
          border-radius: 20px;
          font-size: 14px;
          font-weight: 500;
          font-family: $quicksand;
          position: absolute;
          left: 10px;
          .crd-reviews i {
            margin-right: 2px;
            .uil-star::before {
              content: "\EBAF";
            }
            [class*=" uil-"]::before,
            [class^="uil-"]::before {
              font-family: unicons;
              font-style: normal;
              font-weight: 400;
              display: inline-block;
              text-decoration: inherit;
              width: 1em;
              margin-right: 0.2em;
              text-align: center;
              font-feature-settings: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1em;
              margin-left: 0.2em;
            }
          }
        }
        span.card-overlay__play_btn1 {
          display: none;
          border: 0;
          width: 50px;
          height: 50px;
          float: left;
          text-align: center;
          border-radius: 100%;
          padding: 15px 13px;
          font-size: 20px;
          top: 40%;
          right: 40%;
          opacity: 0;
          position: absolute;
          color: $white;
          background: rgba(51, 51, 51, 0.8);
          i.uil-play {
            &::before {
              font-family: unicons;
              font-style: normal;
              font-weight: 400;
              speak-as: none;
              display: inline-block;
              text-decoration: inherit;
              width: 1em;
              margin-right: 0.2em;
              text-align: center;
              -webkit-font-feature-settings: normal;
              font-feature-settings: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1em;
              margin-left: 0.2em;
            }
          }
        }
        .card-overlay__crd-timer {
          position: absolute;
          color: white;
          background: rgba(51, 51, 51, 0.8);
          bottom: 0;
          margin-bottom: 10px;
          right: 0;
          margin-right: 10px;
          display: inline-block;
          padding: 3px 10px;
          border-radius: 20px;
          font-size: 12px;
          font-weight: 500;
          font-family: $quicksand;
        }
      }
    }
    // start card-content part2
    .card-media__card-content {
      padding: 10px 5px 0 5px;
      float: left;
      width: 100%;
      position: relative;
      .card-content__card-details {
        margin-bottom: 10px;
        font-size: 12px;
        margin-top: 5px;
        font-weight: 400;
        font-family: $quicksand;
        color: $darkGray;
        text-align: left;
        display: block;
        span.card-details__card-view {
          &::after {
            content: "\2022";
            margin: 0 4px;
          }
          &:last-of-type {
            &::after {
              display: none;
              content: "";
            }
          }
        }
      }
      a.card-content__card-discription {
        display: block;
        font-size: 16px;
        font-weight: 600;
        font-family: $quicksand;
        color: $black;
        text-align: left;
        // margin-bottom: 7px;
        line-height: 24px;
      }
      a.card-content__card-title {
        display: block;
        font-family: $quicksand;
        text-align: left;
        font-size: 13px;
        font-weight: 400;
        color: $darkGray;
        padding-top: 2px;
        margin-bottom: 0.7rem;
      }
      p.card-auther__name-auth {
        // margin-right: 10px;
        margin: 0 10px 5px 0;
        float: left;
        font-size: 14px;
        font-family: $quicksand;
        color: $darkGray;
        text-align: left;
        line-height: 24px;
        a {
          color: $black;
          font-weight: 500;
          &:hover {
            color: $black !important;
            text-decoration: underline !important;
          }
        }
      }
      // .card-content__card-auther {
      //   width: 100%;

      // }
      .card-auther__price {
        // margin-top: 30px;
        padding-top: 10px;
        border-top: 1px solid $light-white;
        float: right;
        color: $black;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p {
          line-height: 1;
          color: $black;
          font-family: $quicksand;
          font-weight: 500;
          font-size: 18px;
        }
        .course-card__actions {
          display: flex;
          align-items: center;
        }
        .btn-wishlist {
          display: inline-block !important;
          margin: 0 10px;
          color: $primary;
          font-size: 20px;

          // i{
          //   display: block;
          //   margin: 0 10px;
          // }
        }
      }
    }
  }

  @keyframes grid {
    0% {
      transform: scale(0);
    }
    // 50%  {transform: scale(1.2);}
    100% {
      transform: scale(1);
    }
  }
  @keyframes list {
    0% {
      transform: scale(0);
    }
    // 50%  {transform: scale(1.2);}
    100% {
      transform: scale(1);
    }
  }
}
.enroll-btn {
  // opacity: 0;
  cursor: pointer;
  border: 2px solid $primary;
  padding: 8px 45px 9px;
  background-color: transparent;
  transition: 0.3s ease all;
  border-radius: 20px;
  color: $primary;
  font-family: $quicksand;
  font-size: 16px;
  font-weight: 500;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
