/* src/assets/styles/components/_course-card.scss  */
.course-card-container {
  position: relative;
  height: 400px;
}

.course-card {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: $white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $light-white;
  height: 100%;
  overflow: hidden;


  &.course-card--hover {
    padding: 0;
    transform: scaleX(1.5)  ;
    z-index: 10;
    border: none;
    box-shadow: 0 0 50px 0 rgba($primary, 0.5);

    .course-card__preview {
      height: 100%;
      max-height: 400px;
    }

    .course-card__content {
      height: 0;
      padding: 0;
      transform: translateY(100%);
    }
  }

  .course-card__preview {
    width: 100%;
    max-height: 200px;
    height: 100%;
    position: relative;
    transition: inherit;
  }

  .course-card__preview-video {
    background-color: $primary;
    width: 100%;
    height: 100%;
  }

  .course-card__preview-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .course-card__content {
    padding: 10px 5px 0 5px;
  }

  .course-card__rate {
    margin-left: auto;
    color: $accent;

    i {
      transform: translateY(-1px);
    }
  }

  .course-card__meta {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    :nth-child(1) {
      margin-right: 4px;
    }
  }

  .course-card__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-top: 1px solid #efefef;
    padding-top: 10px;
  }

  @media (max-width: 1200.98px) {
    margin-bottom: 18px;
  }

  @media (max-width: 875.98px) {
    margin-bottom: 12px;
  }

  &.course-card--grid-view {
    animation: grid;
    animation-duration: 0.3s;
  }

  &.course-card--list-view {
    max-width: 100%;
    width: 100%;
    animation: list;
    animation-duration: 0.3s;

    .course-card__card-media {
      display: flex;
      width: 100%;

      .card-media__card-img {
        max-width: 35%;
      }

      .card-media__card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0;
        transition: all 0.4s ease-in-out;
      }
    }

    .card-auth__price {
      flex-direction: row-reverse;
    }
  }
}

//dir rtl
html[dir="rtl"] {
  .course-card {
    .course-card__card-media {

      .card-media__card-img {
        .card-img__card-overlay {
          position: absolute;
          top: 0;
          padding: 10px;
          left: 0;
          right: 0;
          bottom: 4px;
          background-image: linear-gradient(
              transparent,
              rgba(51, 51, 51, 0.3) 90%
          );

          .card-overlay__badge-seller {
            right: 0;

            &::after {
              right: -5px;
              border-bottom-right-radius: 2px;
              border-top-right-radius: 3px;
              border-bottom-left-radius: 3px;
            }
          }

          span.card-overlay__play_btn1 {
            float: right;
            left: 40%;

            i.uil-play {
              &::before {
                margin-left: 0.2em;
                margin-right: 0.2em;
              }
            }
          }

          .card-overlay__crd-timer {
            left: 0;
            margin-right: 10px;
          }
        }
      }

      .card-overlay__reviews {
        padding: 3px 10px 3px 15px;
        left: 10px;
        right: unset;

        .crd-reviews i {
          margin-left: 2px;

          .uil-star::before {
            content: "\EBAF";
          }

          [class*=" uil-"]::before,
          [class^="uil-"]::before {
            margin-left: 0.2em;
            margin-right: 0.2em;
          }
        }
      }

      // start card-content part2
      .card-media__card-content {
        padding: 10px 5px 0 5px;
        float: right;

        .card-content__card-details {
          text-align: right;
        }

        a.card-content__card-description {
          text-align: right;
        }

        a.card-content__card-title {
          text-align: right;
        }

        p.card-auth__name-auther {
          margin: 0 0 5px 10px;
          float: right;
          text-align: right;
        }

        .card-auth__price {
          float: left;
          text-align: right;
        }
      }
    }
  }
}
