.data-card{
  position: relative;
  z-index: 3;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: $white;
  // margin: 25px 0;
  margin-bottom: 16px;
  display: flex;
  // @include normalizeTypo;
  overflow: hidden;
  // flex-wrap: wrap;
  // justify-content: space-between;
  padding: 16px;
  & > div{
    margin: 0 16px 0 0;
    max-width: 300px;
    transition: .3s ease all;
    &:last-of-type{
      margin-top: 30px;
    }
    
  }
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    // transform: translateX(-100%);
    text-align: right;
    height: 100%;
    width: 24px;
    background-color: $primary;
    font-family: "Material Icons";
    content: "\e945";
    align-items: center;
    color: $white;
    font-size: 24px;
    border-radius: 5px 0 0 5px;
    display: none;
    z-index: -1;
  }
  &.data-card--draggable{
    // border-radius: 0 5px 5px 0;
    padding-left: 40px;
    &::before{
      display: flex;
    }
  }
  .data-card__navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    span{
      width: 36px;
      height: 36px;
    }
  }
  .data-card__image{
    display: flex;
  }
  .data-card__details{
    .overline{
      display: block;
    }
    max-width: 500px;
    width: auto;
    text-align: left;
  }
  .data-card-actions{
    position: absolute;
    width: 120px;
    top: 10px;
    right: 0;
    transform: translateX(110%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 16px;
    transition: .3s ease all;
    span,i{
      color: $gray;
      font-size: 20px;
    }
  }
  &:hover{
    .data-card-actions{
      transform: translateX(0);
    }
  }
}
.description{
  display: flex;
  align-items: baseline;
  text-align: left;
  @include normalizeTypo;
  strong{
    margin: 0 4px;
  }
}

.night-mode{
  .data-card{
    background-color: $black;
    @include whiteTypo;
  }
  .description{
    strong{
      color: $white;
    }
  }
}

html[dir="rtl"]{
  .data-card{
    .data-card__details{
      @include textRight;
    }
    
    & > div{
      margin: 0 0 0 16px;
      &:last-of-type{
        margin-top: 30px;
      }
      
    }
    &.data-card--draggable{
      padding: 16px 40px 16px 16px;
      // border-radius: 5px 0 0 5px;
    }
    &::before{
      left: unset;
      right: 0;
      // transform: translateX(100%);
      border-radius: 0 5px 5px 0;
    }
    .data-card-actions{
      right: unset;
      left: 0;
      transform: translateX(-114%);
    }
    &:hover{
      .data-card-actions{
        transform: translateX(0);
      }
    }
  
  }
  .description{
    text-align: right;
  }
}