.display-card {
  position: relative;
  display: block;
  margin: 0 -8px 32px -8px;
  border-radius: 5px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: transform 300ms ease-in-out;

  &:hover {
    transform: translateY(-15px);
  }

  .display-card__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: -1; //1;
    border-radius: inherit;
  }

  .display-card__thumbnail-box {
    position: relative;
    width: 100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .display-card__thumbnail {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: 50% 50%;
    object-fit: cover;
  }

  .display-card__user-box {
    display: flex;
    margin-bottom: 16px;
    z-index: 2;
  }

  .display-card__user-avatar {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: inherit;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(var(--RGB-color-primary), 0.2);
    }
  }

  .display-card__user-data {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    z-index: inherit;


    span {
      font-size: 12px;
      font-weight: 600;
      z-index: inherit;
      margin-bottom: 2px;
      color: var(--color-gray);
    }

    p, a {
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      z-index: inherit;
      color: var(--color-primary);
    }
  }

  .display-card__content {
    padding: 12px;
    margin: 0;

  }

  .display-card__category {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-accent);
    margin-bottom: 4px;
    z-index: 2;

    a {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
      z-index: inherit;

      &[dir=rtl] {
        font-weight: 600;
      }

      &[dir=ltr] {
        font-weight: 700;
      }
    }
  }

  .display-card__title {
    margin: 0 0 8px 0;
    font-size: 18px;
    height: 44px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-primary);

    &[dir=rtl] {
      font-weight: 400;
      font-size: 16px;
    }

    &[dir=ltr] {
      font-weight: 500;
    }
  }

  .display-card__description {
    font-size: 14px;
    height: 44px;
    line-height: 1.2;

    &[dir=rtl] {
      font-weight: 400;
    }

    &[dir=ltr] {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .display-card__type {
    width: fit-content;
    padding: 4px 8px;
    margin: 0 0 4px auto;
    background-color: rgba(var(--RGB-color-accent), 0.5);
    color: rgba(var(--RGB-color-primary), 1);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
  }

  .display-card__date {
    font-size: 12px;
    color: var(--color-gray);
    width: fit-content;
  }
}


html[dir="rtl"] {
  .display-card {
    .display-card__user-avatar {
      margin-right: unset;
      margin-left: 8px;
    }

    .display-card__type {
      margin: 0 auto 4px 0;
    }
  }
}
