.drawer{
  // position: absolute;
  // top: 0;
  height:  100vh;
  width: 100%;
  max-width: 0;
  background-color: $white;
  transition: .3s ease all;
  &.drawer--left{
    // left: 0;
  }
  &.drawer--right{
    // right: 0;
  }
  &.open{
    max-width: 280px;
  }
  &.open--fluid{
    max-width: 50vw;
  }
}
.drawers-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}