.dropdown {
  position: relative;
  display: inline-block;
  &.dropdown--active{
    .dropdown__dropdown-content{
      display: block;
      transform: perspective(400px) rotateX(0deg);
    } 
  }
  .dropdown__dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform-origin: top;
    transform: perspective(400px) rotateX(-90deg);
    transition: 0.5s ease all;
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover{
        background-color: #ddd;
      }
    }
  }
}

.dropbtn {
  background-color: $primary;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

