@import "../utils/mixins";

.filter-list {

  @include media-sm-down {
    display: none;
  }



  .list {

    p {
      margin: 0;
    }

    .list-title,
    .list-item__content,
    .list-item__action {
      padding: 0;
    }
  }

  .field-wrapper {

    &.field-wrapper--collapsed {
      .field-wrapper__label:before {
        transform: translateY(-50%) rotate(135deg);
      }

      .check-field-group {
        height: 0;
      }
    }

    .field-wrapper__label {
      position: relative;
      padding: 6px 0;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;


      &:before {
        position: absolute;
        top: 50%;
        display: block;
        content: ' ';
        height: 6px;
        width: 6px;
        margin: 0 4px;
        transform: translateY(-50%) rotate(-45deg);
        border-left: 2px solid var(--color-gray);
        border-bottom: 2px solid var(--color-gray);
        transition: 300ms all ease-in-out;

        [dir=rtl] & {
          left: 0;
        }

        [dir=ltr] & {
          right: 0;
        }
      }

      &:after {
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 25%;
        content: ' ';
        display: block;
        background-color: var(--color-primary);

        [dir=rtl] & {
          right: 0;
        }

        [dir=ltr] & {
          left: 0;
        }
      }
    }

    .check-field-group {
      margin: 6px 0;
      max-height: 250px;
      max-width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      transition: 300ms all ease-in-out;

      .check-field {
        margin: 10px 0;
      }
    }
  }
}
