// .tb_145 
.filter-item{
  width: 100%;
  float: left;
  margin-bottom: 30px;
  // .panel-group
  .filter-item__filter-group {
    width: 100%;
    float: left;
	  margin-top: 20px;
    // .panel-default
    .filter-group__filter-list{
      float: left;
      width: 100%;
      border-top: 1px solid #efefef;
      &:first-of-type {
        border-top: 0;
      }
      // .panel-title10
      .filter-list__filter-title{
        vertical-align: middle;
        a.filter-title__collapsed{
          font-size: 18px;
          font-weight: 500;
          color: #333;
          font-family: 'Roboto', sans-serif;
          padding: 15px 0 18px;
          display: block;
          line-height: 26px;
          &::before{
            float: right !important;
            font-family: 'Roboto', sans-serif;
            content:"\-";
            padding-right: 0px;
            font-size: 20px;
            padding-top: 2px;
          }
          &:hover :active :focus {
            text-decoration:none;
          }
        }
      }
      //panel-body 
      .filter-list__filter-body{
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: #686f7a;
        line-height: 26px;
        padding-bottom: 20px;
        text-align: left;
        .ui.form{
          .ui.form.checkbox_sign {
            text-align: left;
            input {

            }
            label{
              
            }
          }
        }
      }
    }
  }
}