@import "../utils/mixins";

.filter {
  .filter__list {

    @include media-sm-down {
      display: none;
    }

    &.filter__list-open {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 8;
      margin: 16px;
      overflow: hidden;

      .filter__list-close {
        display: block;
      }
    }

    .filter__list-close {
      display: none;
    }

    .list {

      p {
        margin: 0;
      }

      .list-title,
      .list-item__content {
        padding: 0;
      }
    }

    .field-wrapper {
      .field-wrapper__label {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding: 6px 0 0 0;

        &:after {
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 25%;
          content: ' ';
          display: block;
          background-color: var(--color-primary);

          [dir=rtl] & {
            right: 0;
          }

          [dir=ltr] & {
            left: 0;
          }
        }
      }

      .check-field-group {
        margin: 6px 0;
        max-height: 250px;
        max-width: 100%;
        overflow: hidden;
        transition: 300ms all ease-in-out;
      }
    }
  }

  .filter__header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;


    @include media-md-up {
      flex-flow: row nowrap;
      justify-content: space-between;
    }


    .filter__options {
      display: flex;
      align-items: flex-start;
      flex-flow: column nowrap;
      width: 100%;
      margin-bottom: 8px;

      .field-wrapper {
        margin: 8px 0;
        display: flex;
        flex-flow: row nowrap;

        .switch {
          justify-content: space-between;
          flex-direction: row-reverse;
        }
      }

      @include media-md-up {
        margin-bottom: 0;
        flex-flow: row nowrap;
        flex-basis: 80%;
        align-items: center;

        .field-wrapper {
          margin: 0;

          .switch {
            justify-content: flex-start;
            flex-flow: row wrap;
            width: fit-content;
          }
        }
      }
    }

    .filter__toggles {
      display: flex;
      align-items: center;
    }

    .filter__list-toggle {
      display: none;
      @include media-sm-down {
        display: block;
      }
    }

    .filter__switch-display-type-toggle {

    }
  }
}

