.general-wrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
  .general-wrapper__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .05);
    h3{
      font-size: 30px;
      font-weight: 500;
      font-family: Roboto,sans-serif;
      text-align: left;
      margin-bottom: 15px;
      color: #333;
      text-transform: capitalize;
      margin-bottom: 0;
    }
    div{
      display: flex;
      align-items: center;
      svg{
        display: inline-block;
        font-size: 16px;
        &:last-child{
          margin: 0 0 0 10px;
        }
      }
    }
  }
  .general-wrapper__content{
    z-index: 0;
    .general-details__item{
      display: flex;
      margin-bottom: 10px;
      &.general-details__item--white{
        & > *{
          color: #fff;
        }
      }
    }
    .description__name{
      margin-right: 5px;
    }
    .description__details{
      line-height: 1.5;
    }
  }
}
html[dir="rtl"]{
  .general-wrapper{
    .general-wrapper__header{
      div{
        svg{
          display: inline-block;
          &:last-child{
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}