

.hero-slider {
  .static {
    position: static;
  }

  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .owl-slide {
    position: relative;
    height: calc(100vh - 60px);
    background-color: rgba(#333, 0.6);
    background-blend-mode: overlay;
  }


  .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }

  .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
  }

  .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
  }

  .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
  }

  .owl-dots {
    position: absolute;

    .owl-dot {
      outline: none;

      span {
        background: transparent;
        border: 1px solid $white;
        transition: all 0.2s ease;
      }

      &:hover {
        span {
          background: $white;
        }
      }
    }

    .owl-dot.active {
      span {
        background: $white;
      }
    }
  }

  .owl-nav {
    position: absolute;
    padding: 16px;
    width: 100%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: 0;


    [class*="owl-"] {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
      height: unset !important;
      width: unset !important;


      &:focus {
        outline: none;
      }

      &:hover {
        background: transparent;
      }
    }

    svg {
      opacity: 0.3;
      transition: opacity 0.3s;
    }

    button {
      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }
}


section {
  display: none;
}

@media screen and (max-width: 575px) {
  .hero-slider {
    &.owl-carousel {
      .owl-nav {
        top: 5%;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}


html[dir="rtl"] {
  .hero-slider {
    .owl-nav {
      svg {
        transform: rotateY(180deg);
      }
    }
  }
}
//
//
//.hero {
  //position: relative;
  // margin-bottom: 80px;
  //
  //z-index: 1;
  //overflow: hidden;
  // .title-h1{
  //   color: #fff;
  // }
  //.hero__bg {
  //  //position: absolute;
  //  //left: 0;
  //  //top: 0;
  //  //width: 100%;
  //  //height: 100%;
  //  //z-index: -1;
  //  //object-fit: cover;
  //  //opacity: .8;
  //}
  //.emoji{
  //	// position: ;
  //}
  //.hero__avatar {
  //  position: absolute;
  //  top: 50%;
  //  right: 24%;
  //	font-size: 200px;
  //	color: $primary;
  //  &:nth-of-type(2){
  //		top: 20%;
  //		right: 10%;
  //		font-size: 220px;
  //		transform: rotate(30deg);
  //	}
  //  &:nth-of-type(3){
  //		top: 40%;
  //		right: 10%;
  //		font-size: 220px;
  //		transform: rotate(30deg);
  //	}
  //}
  //
  //.hero-content {
  //  background-color: rgba(#333, .6);
  //  width: 100%;
  //  height: 100%;
  //  display: flex;
  //  align-items: center;
  //  @media(max-width: 992px) {
  //    // align-items: flex-start;
  //  }
  //}
//}

// .doners {
//   padding: 40px 0;
//   margin: 20px 0;

//   .owl-carousel {
//     display: flex;
//     align-items: center;
//   }

//   .item {
//     height: 180px;
//     display: flex;
//     align-items: center;
//   }
// }

// .doner-slider {
//   .item {

//   }
// }

// .rate-display {
//   display: flex;
//   flex-wrap: nowrap;
// }
