.field-wrapper {
  width: 100%;
  color: var(--color-gray);
  margin-bottom: 8px;

  &:focus-within {
    .field-wrapper__messages {
      display: block;
    }
  }

  @media (max-width: 768px) {
    min-width: unset;
  }

  &.field-wrapper--full {
    max-width: 100%;
  }

  &.field-wrapper--error {
    color: var(--color-danger);

    .field {
      border-color: var(--color-danger);

      &[type="checkbox"],
      &[type="radio"] {
        & + label:before {
          border: 1px solid #dc3545;
          background: #fff;
        }

        & + label {
          color: #dc3545;
        }
      }

      &[type="checkbox"] {
        &:checked + label:after {
          border-bottom: 3px solid #dc3545;
          border-right: 3px solid #dc3545;
        }

        & + label {
          color: #dc3545;

          span {
            background-color: #dc3545;
          }
        }
      }

      &[type="radio"] {
        &:not(:checked) + label:after {
          opacity: 0;
        }

        &:checked + label:after {
          border: 6px solid #dc3545;
        }

        & + label {
          span {
            background-color: #dc3545;
          }
        }
      }

      &[type="file"] {
        & + label {
          color: #dc3545;

          &:after {
            background-color: #dc3545;
          }
        }
      }

      &.field--underline {
        border: none;
        border-bottom: 1px solid rgba(#dc3545, 1);
      }
    }

    .field[type="file"] + label {
      color: var(--color-danger);
    }

    .field[type="file"] + label::after {
      background-color: var(--color-danger);
    }

    .check-field {
      &__input + label::before {
        color: var(--color-danger);
      }

      &__label {
        color: var(--color-danger);
      }

      &__input[type="radio"]:checked + label:after {
        background-color: var(--color-danger);
      }

      &__input[type="checkbox"]:checked + label:after {
        border-color: var(--color-danger);
      }

      &__input[type="checkbox"]:checked + label:before {
        background-color: transparent;
      }

      &__input:checked ~ span {
        color: var(--color-danger);
      }
    }

    .field-wrapper__label {
      color: #dc3545;
    }

    .field-wrapper__messages {
      li {
        color: #dc3545;
      }
    }
  }

  &.field-wrapper--accent {
    color: var(--color-accent);
  }

  &.field-wrapper--sm {
    .field {
      height: 34px;
      line-height: 34px;
    }

    .field[type="file"] + label {
      height: 32px;
      line-height: 32px;
    }

    .field[type="file"] + label::after {
      line-height: 32px;
    }
  }

  &.field-wrapper--lg {
    .field {
      height: 48px;
      line-height: 48px;
    }

    .field[type="file"] + label {
      height: 48px;
      line-height: 48px;
    }

    .field[type="file"] + label::after {
      line-height: 48px;
    }
  }

  &.field-wrapper--arrow {
    .field-wrapper__content::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 16px;
      width: 10px;
      height: 10px;
      border-bottom: 1px solid currentColor;
      border-right: 1px solid currentColor;
      transition: 0.3s ease all;
    }

    .field-wrapper__content:focus-within::after {
      border-bottom: none;
      border-right: none;
      border-left: 1px solid currentColor;
      border-top: 1px solid currentColor;
    }
  }

  .field-wrapper__label {
    font-size: 16px;
    font-weight: 600;
    padding: 6px 16px;
    color: currentColor;
    display: block;

    & + p {
      padding: 0 16px;
    }
  }

  .field-wrapper__content {
    position: relative;
    width: 100%;
  }

  .field-wrapper__content-inline {
    .field {
      position: relative;
      padding-left: 36px;
    }

    .field + .btn {
      position: absolute;
      top: 3px;
      right: 3px;
    }
  }

  .field-wrapper__icon {
    position: absolute;
    color: #aaaaaa;
    font-size: 24px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .field-wrapper__messages {
    display: none;

    li {
      font-size: 14px;
      font-weight: 600;
      padding: 6px 16px;
      color: currentColor;
    }
  }
}

.field {
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  padding: 0 16px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: var(--color-gray);
  line-height: 42px;
  height: 42px;
  // @include inputs;

  &:disabled {
    background-color: rgba(0, 0, 0, 0.06);
  }

  &.field--with-icon {
    padding-left: 48px;
  }

  &.field--underline {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);

    &:focus {
      border-bottom: 1px solid rgba(var(--color-primary), 0.5);
    }
  }

  &[type="file"] {
    display: none;

    & + label {
      display: block;
      cursor: pointer;
      z-index: 1;
      height: 42px;
      padding: 0 16px;
      font-weight: 400;
      line-height: 42px;
      color: var(--color-gray);
      background-color: var(--color-white);
      border: 1px solid #efefef;
      border-radius: 5px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      @media (max-width: 768px) {
      }
    }

    & + label::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      display: block;
      padding: 0 16px;
      line-height: 42px;
      color: var(--color-white);
      content: "Upload File";
      background-color: var(--color-primary);
      border-left: inherit;
      border-radius: 0 5px 5px 0;
      @media (max-width: 768px) {
        padding: 0 8px;
        font-size: 20px;
        font-family: "Material Icons";
        content: "note_add";
      }
    }
  }

  & ~ .select2-container .select2-selection {
    border: 1px solid #e5e5e5;
    min-height: 42px;
    padding: 0 16px;
    border-radius: 5px;

    &.select2-selection--single {
      height: 42px;

      .select2-selection__arrow,
      .select2-selection__rendered {
        padding: 0;
        height: inherit;
        line-height: 2.5;
        color: var(--color-gray);
      }
    }

    &.select2-selection--multiple {
      display: flex;
      flex-flow: row wrap;
      text-align: unset;
      align-items: center;

      .select2-search.select2-search--inline {
        height: 42px;

        .select2-search__field {
          font-size: 16px;
          height: 42px;
          line-height: 42px;
          margin-top: 0;
          color: var(--color-gray);
          text-align: left;
        }
      }

      .select2-selection__rendered {
        width: fit-content;

        .select2-selection__choice {
          display: inline-flex;
          flex-flow: row nowrap;
          flex-direction: row-reverse;
          width: fit-content;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
          margin: 4px 2px;
          background-color: rgba(var(--RGB-color-primary), 0.8);
          color: var(--color-white);
          border-radius: 20px;
          border: none;
          padding: 4px 8px;

          .select2-selection__choice__remove {
            color: var(--color-white);
            position: unset;
            border: none;
            top: unset;
            left: unset;
            right: unset;
            line-height: 1;

            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

textarea.field {
  height: unset;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  outline: none;
  font-size: 1em;
  background: var(--color-white);
  color: var(--color-gray);
  border-radius: 5px;
  padding: 1em;
  resize: none;
  border: 1px solid #e5e5e5;

  &:focus {
    // color: $input-color;
    border-bottom: 1px solid rgba(var(--RGB-color-primary), 0.5);
  }
}

.check-field-group {
  display: flex;
  flex-flow: column nowrap;

  &.check-field-group--horizontal {
    flex-flow: row wrap;
    //align-items: center;
  }
}

.check-field {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__control {
    align-self: flex-start !important;
    position: relative;
    min-width: 36px;
    line-height: 36px;
    min-height: 36px;
  }

  &__input {
    opacity: 0;

    & + label {
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        color: var(--color-gray);
        border: 2px solid currentColor;
        border-radius: 4px;
        background: transparent;
        transition: all 275ms;
        z-index: 1;

      }
    }

    &:not(:checked) + label:after {
      opacity: 0;
      background-color: transparent;
    }

    &:checked + label {
      &:before {
        color: var(--color-primary);
        background-color: currentColor;
      }

      &:after {
        content: "";
        position: absolute;
        height: 10px;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 1;
        z-index: 2;
      }
    }

    &[type="checkbox"]:checked + label:after {
      left: 50%;
      top: calc(50% - 1px);
      transform: translate(-50%, -50%) rotate(45deg);
      width: 6px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }

    &[type="radio"] {
      & + label {
        &:before {
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
      }

      &:not(:checked) + label:after {
        opacity: 0;
      }

      &:checked + label {
        &:before {
          background-color: transparent;
        }

        &:after {
          left: 50%;
          top: 50%;
          width: 12px;
          height: 12px;
          background-color: var(--color-primary);
          border-radius: 50%;
        }
      }
    }

    & ~ span {
      display: block;
      width: 36px;
      height: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      border-radius: 50%;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
      background-color: currentColor;
    }

    &:checked ~ span {
      color: var(--color-primary);
    }

    &:hover ~ span {
      opacity: 0.15;
    }

    &:focus ~ span {
      opacity: 0.24;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 600;

    [dir=ltr] & {
      padding-left: 2px;
      margin-right: 8px;
    }

    [dir=rtl] & {
      padding-right: 2px;
      margin-left: 8px;
    }
  }
}

.switch {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    & + label::before {
      background-color: rgba($color: var(--RGB-color-primary), $alpha: 0.3);
    }

    & + label::after {
      left: 18px;
      background-color: var(--color-primary);
    }
  }

  label {
    padding-left: 40px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 37px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 2px;
      background-color: rgba(#a9a9a9, 0.3);
      box-shadow: 0 0 3px rgba(#a9a9a9, 0.7);
      border-radius: 25px;
      transition: 0.5s ease all;
      z-index: 0;
    }

    &:after {
      position: absolute;
      content: "";
      width: 21px;
      height: 21px;
      top: 50%;
      transform: translateY(-50%);
      left: 2px;
      border-radius: 50%;
      background-color: #a9a9a9;
      transition: 0.5s ease all;
    }
  }
}

.rate-input {
  .jq-star {
    transform: rotateY(180deg);
  }
}

.rate-display {
  .jq-star {
    cursor: auto;
  }
}

.messages {
  padding: 0 16px;
  font-size: 14px;
  margin-top: 8px;
  color: #fff;
  // background-color: currentColor;
  // border: 1px solid currentColor;
  border-radius: 5px;
  margin-bottom: 0;
}

.select2-container {
  .select2-dropdown {
    border: 1px solid #e5e5e5;
    border-radius: 5px;

    .select2-search.select2-search--dropdown {
      padding: 0;

      .select2-search__field {
        height: 42px;
        line-height: 42px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 16px;
        color: var(--color-gray);
      }
    }

    .select2-results {
      .select2-results__options {
        max-height: 350px;
      }

      .select2-results__option {
        color: var(--color-gray);
        padding: 8px 16px;

        &.select2-results__option--selected {
          background-color: rgba(var(--RGB-color-primary), 0.7);
          color: var(--color-white);
        }

        &.select2-results__option--highlighted {
          background-color: rgba(var(--RGB-color-secondary), 0.3);
          color: var(--color-white);
        }
      }
    }
  }
}

.night-mode {
  .field-wrapper {
    // @include whiteTypo;

    &.field-wrapper--error {
      // @include redTypo;
    }
  }

  .field {
    background: #576874;
    color: var(--color-white);

    &[type="file"] + label {
      border: none;
      background-color: #576874;
    }

    & ~ .select2-container .select2-selection {
      background: #576874;
      color: var(--color-white);

      &.select2-selection--single {
        .select2-selection__arrow,
        .select2-selection__rendered {
          color: var(--color-white);
        }
      }

      &.select2-selection--multiple {

        .select2-search.select2-search--inline .select2-search__field {
          color: var(--color-white);
        }

        .select2-selection__rendered {
          .select2-selection__choice {
            background-color: rgba(var(--RGB-color-primary), 0.8);
            color: var(--color-white);

            .select2-selection__choice__remove {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }

  .select2-container .select2-dropdown {
    background-color: #576874;

    .select2-search.select2-search--dropdown {

      .select2-search__field {
        background: #576874;
        color: var(--color-white);
      }
    }

    .select2-results {
      .select2-results__options {
      }

      .select2-results__option {
        color: var(--color-white);

        &.select2-results__option--selected {
          background-color: rgba(var(--RGB-color-primary), 0.7);
        }

        &.select2-results__option--highlighted {
          background-color: rgba(var(--RGB-color-secondary), 0.3);
        }
      }
    }
  }
}

html[dir="rtl"] {
  .field {
    &.field--with-icon {
      padding: 0 52px 0 6px;
    }

    & ~ .select2-container .select2-selection.select2-selection--multiple {

      .select2-search.select2-search--inline .select2-search__field {
        text-align: right;
      }

      .select2-selection__rendered {
        width: fit-content;
      }
    }
  }

  span.material-icons.field-wrapper__icon {
    left: unset;
    right: 16px;
    transform: translateY(-50%) rotateY(180deg);
  }

  .iti__arrow {
    margin: 0 6px 0 0;
  }

  .field-wrapper {
    text-align: right;

    &.field-wrapper--arrow .field-wrapper__content::after {
      right: unset;
      left: 16px;
    }
  }

  .field[type="file"] {
    & + label::after {
      right: unset;
      left: 0;
      border-radius: 5px 0 0 5px;
    }
  }

  .field-wrapper__content-inline {
    .field {
      padding-right: 36px;
      padding-left: 16px;
    }

    .field + .btn {
      position: absolute;
      right: unset;
      left: 3px;
      transform: rotateY(180deg);
    }
  }
}
