@mixin label(){

}
@mixin labelBg($color){
  background-color: rgba($color,0.1);
}
.label-group{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  .btn{
    &:last-of-type{
      margin-left: auto;
    }
  }
}
.label{
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  height: 54px;
  border-radius: 5px;
  background-color: var(--color-white);
  margin: 0 5px 0 0;
  transition: .3s ease all;
  cursor: default;
  &:last-of-type{
    margin: 0;
  }

  .label__icon{
    display: block;
    font-size: 24px;
  }
  .label__content{
    margin: 0 0 0 16px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //@include normalizeTypo;
    //@include noLineHeight;
    *{
      white-space: nowrap;
    }
  }
  .overline{
    color: var(--color-black);
    font-size: 10px;
  }
  .subtitle{
    color: var(--color-black);
    font-size: 12px;
  }
  &.label--primary{
    color: var(--color-primary);
  }
  &.label--success{
    color: var(--color-success);
  }
  &.label--error{
   color: var(--color-danger);
  }
  &.label--info{
    color: var(--color-info);
  }
  &.label--accent{
    color: var(--color-accent)
  }
  &.label--active{
    border: 1px solid currentColor;
  }
  &.label--with-shadow{
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.06);
  }
}

a.label{
  cursor: pointer;
  color: var(--color-black);
  &:hover{
    @include labelBg(var(--color-black));
  }
  &.label--primary{
    &:hover{
      @include labelBg(var(--color-primary));
    }
  }
  &.label--success{
    &:hover{
      @include labelBg(var(--color-success));
    }
  }
  &.label--error{
   &:hover{
    @include labelBg(var(--color-danger));
  }
  }
  &.label--info{
    &:hover{
      @include labelBg(var(--color-info));
    }
  }
}

.spacer{
  padding: 16px 0;
}

html[dir="rtl"]{
  .label-group{
    flex-direction: row-reverse;
    .btn:last-of-type{
      margin-left: auto;
    }
  }
  .label{
    margin: 0 0 0 5px;
    .label__content{
      margin: 0 16px 0 0;
    }
  }
}

.night-mode{
  .label{
    background-color: var(--color-black);
    //@include whiteTypo;

  }
}

