.more-dropdown {
  display: inline-block;
  position: relative;
  .more-dropdown__link {
    font-size: 20px;
    color: #afafaf !important;
  }
  .more-dropdown__content {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    // box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
    border: 1px solid rgba(34, 36, 38, 0.15);
    z-index: 1;
    right: 0;
    border-radius: 5px;

    .content__item {
      color: $darkGray;
      font-size: 14px;
      font-weight: 400;
      font-family: $quicksand;
      padding: 10px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      .item__icon {
        margin-right: 6px;
        font-size: 115%;
      }
      &:hover {
        color: $darkBlack !important;
        background-color: #ffecec;
      }
    }
  }
  &:hover .more-dropdown__content {
    display: block;
  }
}
