.more-dropdown {
  display: inline-flex;
  justify-content: end;
  position: relative;
  width: 20px;
  height: 20px;


  .more-dropdown__link {
    font-size: 20px;
    color: #afafaf !important;
    margin-left: auto;
  }
  .more-dropdown__content {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    // box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
    border: 1px solid rgba(34, 36, 38, 0.15);
    z-index: 1;
    right: 0;
    top: 25px;
    border-radius: 5px;

    .content__item {
      color: $darkGray;
      font-size: 14px;
      font-weight: 400;
      font-family: $quicksand;
      padding: 10px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      .item__icon {
        margin-right: 6px;
        font-size: 115%;
      }
      &:hover {
        color: $darkBlack !important;
        background-color: #ffecec;
      }
    }
  }
  &:hover .more-dropdown__content {
    display: block;
  }
  &.more-dropdown--absolute {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    .more-dropdown__content {
      top: 38px;
    }
  }
}
// background: #DDD;
// padding: 8px;
// width: 38px;
// height: 38px;
// border-radius: 100%;
// color: #fff;
// text-align: center;
// transition: all .3s ease;
