@import "../utils/_utils";

.list {
  //display: flex;
  //background-color: var(--color-white);
  //flex-flow: column nowrap;
  //padding: 6px 0;
}

.list-title {
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

  p {
    font-size: inherit;
  }

  &.list-title--lg {
    font-size: 20px;
  }


}

a.list-item {
  margin: 0;
}

label.list-item {
  cursor: pointer;
}


.list-item {
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-bottom: 8px;
  color: var(--color-primary);

  @extend %before-hover;

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    [dir=ltr] & {
      padding-left: 8px;
    }

    [dir=rtl] & {
      padding-right: 8px;
    }
  }

  @each $color in $colors {
    &.list-item--#{$color} {
      color: var(--color-#{$color});
    }
  }

  &.list-item--active:before {
    opacity: 0.24;
  }

  &.list-item--hover:hover:before {
    opacity: 0.15;
  }
}


.list-group {
  @each $size in $sizes {
    &.list-group--#{$size}px {
      [dir=ltr] & {
        margin-left: #{$size}px;
      }

      [dir=rtl] & {
        margin-right: #{$size}px;
      }
    }
  }
}

