ol,
ul {
  list-style: none;
  margin-bottom: 0;
}
a:hover {
  // color: inherit !important;
  text-decoration: none;
}
input:focus {
  outline: 0;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: $primary !important;
}

input::placeholder {
  color: $primary;
  opacity: 1; /* Firefox */
}
textarea::placeholder {
  color: $primary;
  opacity: 1; /* Firefox */
}
select:focus-visible {
  border: none;
  outline: none;
}
// start auth style
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  z-index: 1;
  a {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  img {
    width: 100%;
    height: 100%;
    opacity: 1;
    // position: relative;
  }
  .title-1 {
    margin: 0 10px;
    line-height: 1;
  }
}
.wrapper-content {
  background: #fff;
  border-radius: 10px;
  padding: 50px 50px 30px;
  box-shadow: -0.083333333in 0.5pc 1.125pc -7px rgba(25, 42, 70, 0.13);
  flex: 1;
  float: left;
  width: 100%;
  margin-top: 0;
  h2 {
    font-family: Quicksand, sans-serif;
    text-align: center;
    margin-bottom: 40px;
  }
  p {
    font-family: Quicksand, sans-serif;
    text-align: center;
    margin: 15px 0px;
  }
}
.middle-or {
  align-items: center;
  justify-content: center;
  hr {
    width: 40%;
    color: #e1e1e1;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
}
// input field
.field-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  .field-wrapper__label {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 16px;
    color: $primary;
    margin-bottom: 10px;
  }
  &:focus-within {
    .messages {
      li {
        display: block;
      }
    }
  }
  &.field-wrapper--no-label {
    .text-field__label {
      display: none;
    }
  }
  // general label styling
  &.field-wrapper--no-margin {
    margin-top: 0;
  }
  .text-field__label {
    font-size: 14px;
    font-weight: 600;
    padding: 4px 16px;
    abbr {
      color: $primary;
    }
  }
  .field-wrapper__content {
    position: relative;
    .field-wrapper__icon {
      position: absolute;
      height: 100%;
      border-radius: 20%;
      background: none;
      border: 0;
      outline: none;
      padding-left: 14px;
      color: #aaaaaa;
      font-size: 18px;
      bottom: -12px;
      left: 0;
    }
  }
  // general message styling
  .messages {
    font-weight: 500;
    color: inherit;
    li {
      font-size: 12px;
      font-weight: 600;
      padding: 0.5em 1.3333333333333333em;
      display: none;
      color: $primary;
    }
  }

  // general text input details styling

  .text-field__content {
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    div[id^="cke_id_"] {
      width: 100% !important;
    }
    // height: 40px;
    &::placeholder {
      transition: 0.3s ease all;
    }
    .text-field__limit {
      background: $primaryLight;
      color: $white;
      font-weight: 500;
      position: absolute;
      right: 3px;
      border-radius: 100%;
      height: 35px;
      top: 2px;
      width: 35px;
      font-size: 12px;
      padding: 9px 11px;
      display: none;
    }
  }
  .field-wrapper__input {
    font-size: 14px !important;
    width: 100%;
    border-radius: 10px;
    padding: 12px 1em;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    color: $primary;
    // padding: 10px;
    &.field-wrapper__input--rounded {
      border-radius: 20px !important;
    }
    &.field-wrapper--left {
      padding: 0 1em !important;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
    }
    &.field-wrapper--icon {
      padding-left: 3em !important;
    }

    &:focus {
      &::placeholder {
        color: rgba(0, 0, 0, 0.95);
      }
      // border: 1px solid #333 !important;
      // box-shadow: none !important;
    }
    &.field-wrapper__input--border-none {
      border: none;
      padding: 12px 14px 12px 50px;
    }
  }
  // this class adds badge
  &.field-wrapper--limit {
    .field-wrapper__content {
      .field-wrapper__limit {
        display: block;
      }
    }
  }
  // this class adds styling of error message
  &.field-wrapper--error {
    input::placeholder {
      color: #dc3545;
      opacity: 1; /* Firefox */
    }
    textarea::placeholder {
      color: #dc3545;
      opacity: 1; /* Firefox */
    }
    .field-wrapper__label {
      color: #dc3545;
    }
    .check-field-group {
      .check-field__label {
        color: #dc3545;
        &:before {
          color: #dc3545;
          border-color: #dc3545;
        }
        &:after {
          color: #dc3545;
          border-color: #dc3545;
        }
        &.radio-field__label {
          color: #dc3545;
          &:before {
            color: #dc3545;
            border-color: #dc3545;
          }
          &:after {
            color: #dc3545;
            background-color: #dc3545;
          }
        }
      }
    }
    .messages {
      li {
        display: block;
        color: #dc3545;
      }
    }
    .field-wrapper__content {
      .field-wrapper__input {
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1) !important;
        border: 1px solid #dc3545 !important;
        color: $primary;
      }
    }
    &.field-wrapper__file-input {
      .file-input {
        // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        border: 0;
        padding: 0;
        color: #333;
        font-weight: 400;
        position: relative;
        text-align: left;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.2s ease 0s;
        width: 100%;
        height: 40px;
        input {
          display: none;
        }
      }
      .file-input__label {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 1.3rem 1rem;
        font-weight: 400;
        line-height: 0;
        color: #dc3545;
        background-color: $white;
        border: 1px solid #efefef;
        border-radius: 10rem;
        margin-bottom: 0;
        box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 3;
          display: block;
          height: calc(1.5em + 0.75rem);
          padding: 1.3rem 2rem;
          line-height: 0;
          color: $white;
          content: "Upload File";
          background-color: #dc3545;
          border-left: inherit;
          border-radius: 0 10rem 10rem 0;
        }
      }
    }
    input:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder {
      color: #dc3545 !important;
    }
  }
  // input type file
  &.field-wrapper__file-input {
    .file-input {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      border: 0;
      padding: 0;
      color: #333;
      font-weight: 400;
      position: relative;
      text-align: left;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.2s ease 0s;
      width: 100%;
      height: 40px;
      input {
        display: none;
      }
    }
    .file-input__label {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 1.3rem 1rem;
      font-weight: 400;
      line-height: 0;
      color: $darkGray;
      background-color: $white;
      border: 1px solid #efefef;
      border-radius: 10rem;
      margin-bottom: 0;
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
      &::after {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.5em + 0.75rem);
        padding: 1.3rem 2rem;
        line-height: 0;
        color: $white;
        content: "Upload File";
        background-color: $primary;
        border-left: inherit;
        border-radius: 0 10rem 10rem 0;
      }
    }
  }
  // input type select
  &.field-wrapper__select-input {
    .field-wrapper__content {
      height: 40px;
    }
    .select-menu {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center;
      position: relative;
      width: 100%;
      i.icon {
        width: 40px !important;
        top: 10px !important;
        font-size: 14px !important;
      }
    }
  }
  // ------New Checkbox------
  .ui.form.checkbox_sign {
    position: relative;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
  }

  .ui.checkbox.icon .box,
  .ui.checkbox.icon label {
    // font-family:  !important;
    color: #333;
    line-height: 20px;
    // width: 18px !important;
    // height: 18px !important;
    display: block;
  }

  .ui.checkbox.icon input:checked ~ .box:after,
  .ui.checkbox.icon input:checked ~ label:after {
    opacity: 1;
    color: #ed2a26 !important;
    font-size: 10px !important;
    margin-top: 0;
    width: 18px !important;
    height: 18px !important;
  }

  .ui.checkbox.icon .box:before,
  .ui.checkbox.icon label:before {
    width: 18px !important;
    height: 18px !important;
    margin-top: 1px;
  }
  ul.field-wrapper__radio-group {
    li.radio-item_1 {
      input {
        display: none;
      }
      label.radio-label-1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        padding: 5px;
        cursor: pointer;
        &::before {
          content: "";
          background: #f7f7f7;
          border-radius: 100%;
          border: 1px solid #b4b4b4;
          display: inline-block;
          width: 1em;
          height: 1em;
          top: 0px;
          position: relative;
          margin-right: 10px;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
        }
      }
    }
    .radio-item_1 input[type="radio"]:checked + .radio-label-1::before {
      background-color: $primaryLight;
      box-shadow: inset 0 0 0 2px #f4f4f4;
    }
  }
  // textarea
  .textarea {
    width: 100%;
    height: 150px;
    margin: 0;
    outline: none;
    font-size: 1em;
    background: $white;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    padding: 1em;
    border: none;
    resize: none;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
    &:focus {
      color: rgba(0, 0, 0, 0.95);
    }
  }

  // .field-wrapper__error{

  // }
  ul.radio--group-inline {
    li.radio-item_1 {
      label {
        padding: 5px;
      }
    }
  }
  .field-wrapper--alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  // input class border none
  .field-input-text {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    margin: 0 10px;
  }
}
/*  reset password    */
.verification {
  .verification__input {
    outline: none;
    display: block;
    height: 50px;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    min-width: 0;
    background: #fff !important;
    border: 1px solid #e5e5e5 !important;
    color: #333 !important;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1) !important;
  }
}
.hide {
  display: none;
}
.terms-link {
  padding: 10px 0 10px;
  margin-bottom: 0 !important;
  margin-top: 0px;
}
.iti--allow-dropdown {
  width: 100% !important;
  border: none !important;
  padding: 0;
}
.iti--allow-dropdown {
  .iti__flag-container {
    &:hover {
      .iti__selected-flag {
        background-color: transparent;
      }
    }
  }
}
.iti input,
.iti input[type="text"],
.iti input[type="tel"] {
  // border: none;
  padding: 12px 14px 12px 50px;
}

input[type="tel"] {
  padding: 0;
}
.iti-mobile {
  .iti__country-list {
    width: 300px;
    height: 300px;
  }
}
// index
// .section-index {
//   float: left;
//   width: 100%;
//   &.section-index--pt {
//     padding-top: 20px;
//   }
// }

section {
  &.section-index {
    width: 100%;
    margin-bottom: 50px;
    &.section-index--pt {
      padding-top: 20px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
  .section-index {
    // margin-top: 20px;
    width: 100%;
  }
}

// start custom select

.field-wrapper__select {
  position: relative;
  font-family: Arial;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 10px;
  select {
    display: none; /*hide original SELECT element:*/
  }
}

.select-selected {
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
  color: $primary;
  &:after {
    position: absolute;
    content: "";
    top: 45%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid $primary;
    border-color: $primary transparent transparent transparent;
    transition: all 0.4s ease;
  }
}

.select-selected-bottom-rounded {
  border-radius: 10px 10px 10px 10px;
}

.select-selected-bottom-square {
  border-radius: 10px 10px 0px 0px;
}

/*style the arrow inside the select element:*/

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff $primary;
  top: 25%;
  transform: rotate(-90deg);
  transition: all 0.4s ease;
}

/*set the styling and height for the list when the select box is open (active), the overflow-y property controls the scrolling:*/
.select-items {
  border-radius: 0px 0px 10px 10px;
  height: 110px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: $primary;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background: rgba(13, 117, 142, 0.1);
  color: #0d758e;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* scrollbar width */
.select-items::-webkit-scrollbar {
  width: 8px;
}

/* scrollbar track */
.select-items::-webkit-scrollbar-track {
  background: rgba(13, 117, 142, 0.1);
  border-radius: 0px 0px 10px 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* scrollbar handle */
// .select-items::-webkit-scrollbar-thumb {
//   background: #8ac5ff;
//   border-radius: 10px; /* optional rounded handle */
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-image: -webkit-linear-gradient(
//     45deg,
//     rgba(255, 255, 255, 0.2) 25%,
//     transparent 25%,
//     transparent 50%,
//     rgba(255, 255, 255, 0.2) 50%,
//     rgba(255, 255, 255, 0.2) 75%,
//     transparent 75%,
//     transparent
//   );
// }

/* scrollbar handle on hover */
// .select-items::-webkit-scrollbar-thumb:hover {
//   background: #6cb6ff;
//   background-image: -webkit-linear-gradient(
//     45deg,
//     rgba(255, 255, 255, 0.2) 25%,
//     transparent 25%,
//     transparent 50%,
//     rgba(255, 255, 255, 0.2) 50%,
//     rgba(255, 255, 255, 0.2) 75%,
//     transparent 75%,
//     transparent
//   );
// }
// end custom select
html[dir="rtl"] {
  //start rtl auth
  .field-wrapper {
    // general message styling
    // general text input details styling
    .field-wrapper__label {
      text-align: right;
    }

    .field-wrapper__content {
      .field-wrapper__limit {
        left: 3px;
        padding: 9px 11px;
      }
    }
    .field-wrapper__input {
      text-align: right;
      &.field-wrapper--icon {
        padding-right: 3em !important;
      }
      &.field-wrapper__input--border-none {
        padding: 12px 50px 12px 14px;
      }
    }

    // input type file
    &.field-wrapper__file-input {
      .file-input {
        .file-input__label {
          text-align: left;
        }
      }
      .file-input__label {
        text-align: right;
        &::after {
          border-right: inherit;
        }
      }
    }

    // input type select
    &.field-wrapper__select-input {
      .select-menu {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        position: relative;
        width: 100%;
      }
    }

    ul.field-wrapper__radio-group {
      li.radio-item_1 {
        input {
          display: none;
        }
        label.radio-label-1 {
          cursor: pointer;
          &::before {
            margin-left: 10px;
          }
        }
      }
    }
    .ui.checkbox.icon label {
      text-align: right;
    }
    // textarea
    .field-wrapper__label {
      text-align: right;
    }
    .messages {
      li {
        text-align: right;
      }
    }
  }

  .select2 {
    .select2-selection__choice {
      padding: 3px 18px 4px 6px !important;
    }

    .select2-selection__choice__remove {
      border-left: 0 !important;
      right: 3px !important;
    }
  }
  .iti__country-list {
    text-align: right;
    margin: 0 -1px 0 0px;
  }
  .field-wrapper--alert {
    text-align: right;
  }
  //End
  .field-wrapper {
    &.field-wrapper__select-input {
      .select-menu {
        i.icon {
          right: unset !important;
          left: 1em !important;
          width: 40px !important;
        }
        .menu {
          .item {
            text-align: start;
          }
        }
      }
    }
  }
  //select
  .select2 {
    text-align: right;
    .select2-selection__choice {
      padding: 3px 18px 4px 6px !important;
      position: relative;
    }

    .select2-selection__choice__remove {
      align-items: center;

      span {
        position: absolute;
        right: -60px !important;
      }
    }
    .select2-search__field {
      text-align: right;
    }
    .select2-selection__clear {
      right: unset;
      left: 10px;
    }
    .select2-selection--clearable {
      padding-right: 10px;
    }
  }
  //login
  // auth login
  .field-wrapper {
    .key-number {
      padding-right: 14px;
    }
    .field-wrapper__icon {
      padding-right: 14px;
    }
  }
  .iti input,
  .iti input[type="text"],
  .iti input[type="tel"] {
    padding: 12px 50px 12px 14px;
  }

  // index
  .section-index {
    float: right;
  }
  .iti__arrow {
    margin-right: 6px;
  }

  .select-selected {
    text-align: right;
    &:after {
      left: 10px;
      right: unset;
    }
  }
}
////////// night-mode

.night-mode {
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: #fff !important;
  }
  input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  textarea::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  .wrapper-content {
    background-color: #394851;
    box-shadow: 0px 2px 8px 5px #0d758e;
  }
  // input field
  .field-wrapper {
    .field-wrapper__label {
      color: #fff;
    }
    .field-wrapper__content {
      .field-wrapper__input {
        color: $primary-night-mode;
        background-color: #576874;
        border: 1px solid #576874;
        // box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
      }
    }
    .field-wrapper__input {
      color: $primary-night-mode;
    }
    .field-wrapper__content {
      position: relative;
      .field-wrapper__input {
        color: $primary-night-mode;
      }
    }
    .text-field__label {
      padding: 4px 16px;
      abbr {
        color: $primary-night-mode;
      }
    }
    // general message styling
    .messages {
      li {
        color: $primary-night-mode;
      }
    }

    // general text input details styling
    .text-field__content {
      color: rgba(0, 0, 0, 0.6);
      // height: 40px;
      .text-field__limit {
        background: $primary-night-mode;
        color: $white;
      }
    }
    // input type file
    &.field-wrapper__file-input {
      .file-input {
        color: #fff;
        // box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }
      .file-input__label {
        color: #fff;
        background-color: #576874;
        border: 1px solid #576874;
        // box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
        &::after {
          color: $white;
          background-color: #38444d;
          border: 1px solid #38444d;
          // box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
        }
      }
    }
    // this class adds styling of error message
    &.field-wrapper--error {
      input::placeholder {
        color: #dc3545;
        opacity: 1; /* Firefox */
      }
      textarea::placeholder {
        color: #dc3545;
        opacity: 1; /* Firefox */
      }
      .field-wrapper__label {
        color: #dc3545;
      }
      .check-field-group {
        .check-field__label {
          color: #dc3545;
          &:before {
            color: #dc3545;
            border-color: #dc3545;
          }
          &:after {
            color: #dc3545;
            border-color: #dc3545;
          }
          &.radio-field__label {
            color: #dc3545;
            &:before {
              color: #dc3545;
              border-color: #dc3545;
            }
            &:after {
              color: #dc3545;
              background-color: #dc3545;
            }
          }
        }
      }
      .messages {
        li {
          color: #dc3545;
        }
      }
      .field-wrapper__content {
        .field-wrapper__input {
          box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
          border: 1px solid #dc3545;
          color: $primary-night-mode;
          background-color: $default-night-mode;
        }
      }
      &.field-wrapper__file-input {
        .file-input {
          color: #fff;
        }
        .file-input__label {
          color: #dc3545;
          background-color: $white;
          box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
          &::after {
            color: $white;
            background-color: #dc3545;
          }
        }
      }
      input:focus::-webkit-input-placeholder,
      textarea:focus::-webkit-input-placeholder {
        color: #dc3545;
      }
    }
    // input type select
    // ------New Checkbox------
    // textarea
    .textarea {
      background: #576874;
      color: #fff;
      // box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
      &:focus {
        color: #fff;
      }
    }

    // .field-wrapper__error{

    // }
  }
  // start custom select
  .field-wrapper__select {
    border: 1px solid rgba(34, 36, 38, 0.15);
  }

  .select-selected {
    background-color: #43525c;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    &:after {
      position: absolute;
      content: "";
      top: 45%;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid $primary-night-mode;
      border-color: $primary-night-mode transparent transparent transparent;
      transition: all 0.4s ease;
    }
  }

  .select-selected-bottom-rounded {
    border-radius: 10px 10px 10px 10px;
  }

  .select-selected-bottom-square {
    border-radius: 10px 10px 0px 0px;
  }

  /*style the arrow inside the select element:*/

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent transparent $primary-night-mode;
    top: 25%;
    transform: rotate(-90deg);
    transition: all 0.4s ease;
  }

  /*set the styling and height for the list when the select box is open (active), the overflow-y property controls the scrolling:*/
  .select-items {
    border-radius: 0px 0px 10px 10px;
    height: 110px;
    overflow-y: auto;
    position: absolute;
    background-color: #43525c;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: $primary-night-mode;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background: rgba(13, 117, 142, 0.1);
    color: #0d758e;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  /* scrollbar width */
  .select-items::-webkit-scrollbar {
    width: 8px;
  }

  /* scrollbar track */
  .select-items::-webkit-scrollbar-track {
    background: rgba(13, 117, 142, 0.1);
    border-radius: 0px 0px 10px 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  /* scrollbar handle */
  // .select-items::-webkit-scrollbar-thumb {
  //   background: #8ac5ff;
  //   border-radius: 10px; /* optional rounded handle */
  //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //   background-image: -webkit-linear-gradient(
  //     45deg,
  //     rgba(255, 255, 255, 0.2) 25%,
  //     transparent 25%,
  //     transparent 50%,
  //     rgba(255, 255, 255, 0.2) 50%,
  //     rgba(255, 255, 255, 0.2) 75%,
  //     transparent 75%,
  //     transparent
  //   );
  // }

  /* scrollbar handle on hover */
  // .select-items::-webkit-scrollbar-thumb:hover {
  //   background: #6cb6ff;
  //   background-image: -webkit-linear-gradient(
  //     45deg,
  //     rgba(255, 255, 255, 0.2) 25%,
  //     transparent 25%,
  //     transparent 50%,
  //     rgba(255, 255, 255, 0.2) 50%,
  //     rgba(255, 255, 255, 0.2) 75%,
  //     transparent 75%,
  //     transparent
  //   );
  // }
  // end custom select
}
