.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.night-mode{
  .pagination{
    //@include whiteTypo;
    button.btn{
      &.btn--primary{
        color: $white;
      }
    }
  }
}
html[dir="rtl"]{
  .pagination{
    i,span.material-icons{
      transform: translate(-50%,-50%) rotateY(180deg);
    }
  }
}
