.panel {
  background: $white;
  border-radius: 5px;
  padding: 15px;

  .panel__loader {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;

    &.panel__loader-loading {
      padding: 20px 0;
    }
  }

  .card{
    &:last-of-type{
      border-bottom: 0;
    }
    &.card--transparent{
      padding: 0;
      margin-bottom: 20px;
    }
    &.replay-review{
      padding: 0 0 0 60px;
    }
  }
  
}
.form-review{
  margin-bottom: 30px;
}
.form-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.night-mode{
  .panel{
    background-color: $black;
  }
}

html[dir="rtl"]{
  .panel{
    .card{
      &.replay-review{
        padding: 0 60px 0 0;
      }
    }
  }
}
