@import "../utils/_mixins";

.service-excerpt {
  position: relative;
  left: 0;
  height: 100%;

  &.service-excerpt--inverted {
    display: flex;
    justify-content: flex-end;

    .service-excerpt__image {

      [dir="ltr"] & {
        border-radius: 4px 40px;
      }

      [dir="rtl"] & {
        border-radius: 40px 4px;
      }
    }

    &:before {
      [dir="rtl"] & {
        right: 10%;
      }

      [dir="ltr"] & {
        left: 10%;
        transform: rotate(90deg);
      }
    }

    &:after {
      [dir="ltr"] & {
        right: -30px;
        left: unset;
      }

      [dir="rtl"] & {
        left: -30px;
        right: unset;
      }
    }


    .service-excerpt__floating-label {
      [dir="ltr"] & {
        left: 0;
      }

      [dir="rtl"] & {
        right: 0;
      }
    }


  }


  &__image {
    width: 90%;
    height: 100%;
    max-width: 400px;
    max-height: 460px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.14);
    object-fit: cover;
    object-position: 50% 50%;

    [dir="rtl"] & {
      border-radius: 4px 40px;
    }

    [dir="ltr"] & {
      border-radius: 40px 4px;
    }
  }

  &__floating-label {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--color-white);
    position: absolute;
    bottom: 32px;
    width: 216px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    animation: wobble 3000ms infinite linear;

    [dir="ltr"] & {
      right: 0;
    }

    [dir="rtl"] & {
      left: 0;
    }
  }

  &::after,
  &::before {
    content: " ";
    display: block;
    position: absolute;
    z-index: -1;
  }

  &:before {
    top: -50px;
    background: url("../images/light-theme-puzzle.png") 0 0 no-repeat;
    background-size: cover;
    width: 152px;
    height: 152px;
    opacity: 0.6;


    [data-theme="dark"] & {
      background: url("../images/dark-theme-puzzle.png") 0 0 no-repeat;
    }

    [dir="rtl"] & {
      left: 10%;
    }

    [dir="ltr"] & {
      right: 10%;
      transform: rotate(90deg);
    }
  }

  &:after {
    bottom: -40px;
    width: 60px;
    height: 80px;
    opacity: 0.6;
    background: url('../images/excerpt-pattern.png') 0 0 no-repeat;
    background-size: cover;
    animation: roll-in-out 8000ms infinite linear;

    [dir="ltr"] & {
      left: -30px;
      //@media screen and (max-width: 767px) {
      //  left: 12px;
      //}
    }

    [dir="rtl"] & {
      right: -30px;
      //@media screen and (max-width: 767px) {
      //  right: 12px;
      //}
    }
  }
}

@include media-sm-down {
  .service-excerpt {
    width: 100%;
    height: 300px;

    &__image {
      max-width: unset;
    }
  }
}

@keyframes roll-in-out {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes wobble {
  0% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(-25%);
  }
  30% {
    transform: translateY(20%);
  }
  45% {
    transform: translateY(-15%);
  }
  60% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
