.social-icon{
  display: flex;
  justify-content: center;
  .social-icon__list{
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
    .social-icon__link{
      font-size: 14px;
      float: left;
      width: 35px;
      height: 36px;
      border-radius: 100%;
      text-align: center;
      padding: 9px 0;
      color: #fff;
      transition: all .3s ease;
      &.social-icon--fa-bg{
        background:#3b5998 ;
      }
      &.social-icon--tw-bg{
        background: #1da1f2 ;
      }
      &.social-icon--li-bg{
        background:#8d6cab ;
      }
      &.social-icon--yu-bg{
        background: red;
      }
    }
  }
}
