.status{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include textCenter;
  .status__img{
    font-size: 200px;
    color: $gray;
    width: 200px;
    height: 200px;
    display: block;
  }
}

.night-mode{
  .status{
    @include whiteTypo;
  }
}