.survey-check-field-group {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.survey-check-field {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: fit-content;
  cursor: pointer;
  color: $darkGray;
  position: relative;
  text-align: center;
	display: inline-block;
  &.survey-check-field--primary {
    color: $primary;
  }
	&.survey-check-field--secondary {
    color: $secondary;
  }
  &.survey-check-field--accent{
    color: $accent;
  }
  &.survey-check-field--danger{
    color: $danger;
  }
  &.survey-check-field--success{
    color: $success;
  }
  input {
    display: none;
  }

  input:checked + .survey-check-field__label {
    border-color: $accent;
		& + *{
			color: $accent;
		}
  }



  // .survey-check-field__input{
  //   display: none;

  //   &:checked  + .survey-check-field__label{
  //     // color: currentColor;
  //     border-color: currentColor;
  //     // & + * {
  //     //   color: $accent;
  //     // }

  //   }
  // }

  .survey-check-field__label {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: currentColor;
    border: 4px solid currentColor;
    cursor: pointer;
    position: relative;
		transition: .3s ease all;
    &:before {
      content: "";
      display: block;
      pointer-events: none;
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      color: inherit;
      background-color: $accent;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    }

    &:hover:before {
      opacity: 0.15;
    }
		&:hover{
			border-color: $accent;
			& + *{
				color: $accent;
			}
		}
    &:focus:before {
      opacity: 0.24;
    }

    & + * {
      color: currentColor;
      font-size: 24px;
      font-weight: 400;
      display: inline-block;
      transition: 0.2s ease all;
    }


    & + label {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
			white-space: nowrap;
    }
    &.survey-check-field__label--with-image {
      background-image: url("../images/get_img.jpg");
			// margin-top: 40px;
      & + label {
        position: relative;
				left: unset;
				transform: unset;
				top: unset;
				
      }
    }
  }
}
