.playlist{
  background: #38444d;
  padding: 10px 5px;
  color: #efefef;
  &.playlist--opened {
    box-shadow: -30px 0 30px 30px rgba(0, 0, 0, 0.2);
  }
  .playlist__menu {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: all 0.4s ease;
    object-fit: cover;
  }
  &.playlist--close {
    flex: 1 1 0em;
  }
  .playlist__header-section{
    background: #38444d;
    padding: 10px 15px;
    margin-bottom:0;
  }
}
.playlist__menu{
  background-color: lighten(#38444d, 5%);
  padding: 15px 10px;
  .playlist-name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}
.playlist__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 3px 0;

  .playlist__title {
    color: $white;
    font-size: 15px;
    margin: 0;
    letter-spacing: 1px;
  }

  .playlist__close {
    background: $accent;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.3;
  }

  .playlist__close-icon {
    color: #fff;
  }
}
.header {
  z-index: 5;
  width: 100%;
  height: 60px;
  display: flex ;
  align-items: center;
  .logo{
    padding: 14px 30px 2px 30px;
    position: relative;
    img{
      padding-left: 10px;
    }
    p{
      font-size: 16px;
      letter-spacing: .15px;
      font-weight: 400;
      line-height: 1.5;
      position: absolute;
      right: 0;
    }
  }
}
.outer-spinner {
  display: inline-flex;
  margin: 2rem 1.5rem;
  border: 1px solid #333;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  .chart{
    span{
      display: f;
      margin-bottom: 10px;
      line-height: 180px;
      text-align: center;
      margin-right: -20px;
      font-size: 5rem;
      font-weight: 500;
      letter-spacing: -2.45px;
    }
    canvas{
      display: block;
      position: absolute;
      top: -50px;
      right: 25px;
    }
  }
  .percent{
    position: absolute;
    top: 80px;
    right: 18.5rem;
    font-size: 2.8rem;
    font-weight: 500;
  }
  .step{
    position: absolute;
    top: 120px;
    right: 140px;
    font-size: 13px;
    font-weight: 500;
  }
}

.spinner{
  position: relative;
  canvas{
    display: block;
    position: absolute;
    top: 8px;
    right: 37px;
  }
}

button.btn{
  margin: auto;
  align-items: center;
  display: flex;
  margin-top: 10px;
  padding: 12px 30px;
  i{
    color: $accent;
  }
}



.list-item {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  .list-item__content{
    padding: 0px 10px 5px;
    .content__link{
      color: white;
      padding-top: 10px;
      padding-left: 3px;
    }
    .content__paragraph{
      margin: -0.75em 2px 0.75em;
    }
  }
  &:hover{
    cursor: pointer;
    color: $accent;
  }
	&:first-of-type{
		padding-top: 0;
	}
	&:last-of-type{
		padding-bottom: 0;
	}

  &.list-item--border-bottom {
    border-bottom: 1px solid rgba($darkBlack, 0.1);
    padding: 25px;
  }
  
}
.content{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.form-question{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap{
  display: flex;
  flex-direction: row;
  flex: 1;
}
.form-group{
  display: flex;
  margin: 1em;
  border: 1px solid $white;
  width: 9em;
  height: 9em;
  border-radius: 100%;
  flex-direction: row;
  .form-group__input{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .form-group__label{
    padding: 10px 15px;
    width: 9em;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 2.1em;
    font-weight: 300;
    color: $white;
    &:hover{
      color: $accent;
    }
  }
  &:hover{
    cursor: pointer;
    border: 1px solid $accent;
  }
  .form-group__label[type="radio"]:checked +label{
    border: 1px solid $accent;
    color: $accent;
  }
}
.question-form{
  display: flex; 
  flex-direction: column;
  flex: 2 ;
  // justify-content: center;
  h2{
    margin: 0;
  }
}
.direction-form{
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  .btn{
    padding: 10px 15px;
  }
  .btn-right{
    display: flex;
    flex-direction: row-reverse;
    i{
      padding-left: 10px;
    }
  }
  .btn-left{
    i{
      padding-right: 10px;
    }
  }
}
