*
.playlist{
  &.playlist--size{
    // display: flex;
    // width: 30%;
    // position: fixed;
    // z-index: 5px;
    // overflow-y: hidden;
    @media (min-width: 0px) and (max-width: 992px) {
      position: fixed;
      top: 60px;
      width:35% ;
      left: -100px;
      transition: all 0.3s ease-in;
      bottom: 0;
    }  
  }
  &.playlist--survey{
    padding: 10px 15px;
    color: $primary;
  }
  .playlist__header-section{
    padding: 10px 15px;
    margin-bottom:0;
    img{
      @media (min-width: 0px) and (max-width: 992px) {
        width: 200px;
        text-align: center;
        margin-top: 10px;
        float: none;
      }
    }
  }
  .playlist__list-item {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    .list-item__content{
      padding: 0px 10px 5px;
      .content__link{
        color: $primary;
        padding-top: 10px;
        padding-left: 3px;
      }
      .content__paragraph{
        color: $info;
        margin: -0.75em 2px 0.75em;
      }
    }
    &:hover{
      cursor: pointer;
      color: $accent;
    }
    &:first-of-type{
      padding-top: 0;
    }
    &:last-of-type{
      padding-bottom: 0;
    }
  
    &.list-item--border-bottom {
      border-bottom: 1px solid rgba($darkBlack, 0.1);
      padding: 25px;
    }
  }
}
.playlist-canvas{
  display: flex;
  justify-content: center;
}

.canvas-wrap {
  position: relative;
  width: 200px;
}
span#procent {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: $accent;
  &::after {
    content: '%';
  }
}

// survey-content
.content{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.form-question{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-question__question-form{
    display: flex; 
    flex-direction: column;
    // justify-content: center;
    h2{
      color: $primary;
      margin: 0;
    }
    p{
      color: $info;
    }
  }
  
  .form-question__wrap{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    .wrap__form-group{
      display: flex;
      flex-direction: row;
      .form-group__input{
        display: flex;
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .form-group__label{
          color: $accent;
          border: 1px solid $accent;
        }
      }
      input:is([type=checkbox], [type="radio"]) + .form-group__label{
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.1em;
        font-weight: 300;
        color: $primary;
        margin: 1em;
        border: 1px solid $primary;
        width: 5em;
        height: 5em;
        border-radius: 100%;
        position: relative;
        &:hover{
          color: $accent;
          cursor: pointer;
          border: 1px solid $accent;
        }
        &:focus{
          border-color: $primary;
          background-color: $info;
        }
      }
    }
    // .click-me{
    //   &::after{
    //     position: absolute;
    //     font-size: 100px;
    //     content: "😃"
    //   }
    // } 
    // input.control [type="checkbox"] + label.click-me:after{
    //   position: absolute;
    //   font-size: 100px;
    //   width: 50%;
    //   height: 50%;
    //   content: "😃"
    // } 
    // input[type="radio"]:checked + label.click-me:after{
    //   content: "😩";
    // } 
    [type=radio] { 
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* IMAGE STYLES */
    [type=radio] + img {
      cursor: pointer;
    }
    
    /* CHECKED STYLES */
    [type=radio]:checked + img {
      outline: 2px solid #f00;
    }
    @media (min-width: 0px) and (max-width: 650px) {
      display: flex;
    }  
  }
  .form-question__direction-form{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    button.btn{
      margin: auto;
      align-items: center;
      display: flex;
      margin-top: 10px;
      padding: 12px 30px;
    }
    // .btn{
    //   padding: 10px 15px;
    // }
    .btn-right{
      display: flex;
      flex-direction: row-reverse;
      i{
        padding-left: 10px;
      }
    }
    .btn-left{
      i{
        padding-right: 10px;
      }
    }
  }
}
.night-mode{
  .playlist{
    .playlist--survey{
      color: #efefef;
    }
  }
  .playlist__list-item {
    .list-item__content{
      .content__link{
        color: $white;
      }
      .content__paragraph{
        color: $white;
      }
    }
  }
  .form-question{
    .form-question__question-form{
      h2{
        color: $white;
      }
      p{
        color: $white;
      }
    }
    .form-question__wrap{
      .wrap__form-group{
        .form-group__input{
          &:checked + .form-group__label{
            color: $accent;
            border: 1px solid $accent;
          }
        }
        input[type=checkbox] + .form-group__label{
          color: $white;
          border: 1px solid $white;
          &:hover{
            color: $accent;
            cursor: pointer;
            border: 1px solid $accent;
          }
        }
      }
    }
  }
}
.table-responsive-survey{
  display: tabla;
  width: 50%;
  margin: auto;
  overflow-x: auto;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 10px;
  
  .table-survey{
    width: 100%;  
    thead {
      font-weight: 600;
      color: $primary;
      border-collapse: separate;
    }
    th, td {
      padding: 8px 8px;
      font-size: 14px;
      line-height: 1;
      text-align: center;
    }
    colgroup{
      &:first-child{
        opacity: 0;
      }
    } 
      
    // .th-survey{
    //   background-color: $white;
    //   font-weight: 600;
    //   color: $primary;
    // }
    .td-survey{
      color: $primary;
      font-weight: 600;
      border-collapse: separate;
    }
  }
}
.form-control{
  textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 50%;
    resize: none;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
}

.dropbtn {
  background-color: $primary;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform:rotateX(90deg);
  top: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover{
    .dropdown-content{
      transform: translateY(50px) rotateX(0deg);
      transition: 1s ease all ;
    } 
  }
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  &:hover{
    background-color: #ddd;
  }
}




