.tabs {
  display: flex;
  font-weight: bold;
  font-size: 14px;
}

.tab {
  border-radius: 0;
  margin: 14px 25px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  color: $primary;
  background: transparent;
  display: inline-block;
  font-family: $quicksand;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    bottom: 3px;
    background-color: $primary;
    transition: 0.3s ease all;
  }

  &:hover {
    color: $darkBlack;

    &::before {
      width: 100%;
    }
  }

  &.tab--active {
    position: relative;
    transition: 0.3s ease all;
    padding-bottom: 14px;
    border-radius: 0;
    font-weight: 600;
    line-height: 1;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      left: 0;
      bottom: 3px;
      background-color: $darkBlack;
      transition: 0.3s ease all;
      width: 100%;
    }
  }

  .tab__link {
    color: #000;
  }
}


.tab-panel {
  display: none;

  &.tab-panel--active {
    display: block;
  }
}
// End tabs
