.tabs {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  &.tabs--center {
    justify-content: center;
    margin-bottom: 20px;
  }

  margin-bottom: 20px;
}

.tab {
  font-size: 18px;
  border-radius: 0;
  // margin: 14px 25px;
  margin: 14px 25px 14px 15px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  color: $primary;
  background: transparent;
  display: inline-block;
  font-family: $quicksand;
  position: relative;
  &:first-of-type{
    // margin: 14px 25px 14px 15px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    bottom: -3px;
    background-color: $primary;
    transition: 0.3s ease-in;
  }
  
  &:hover {
    color: $darkBlack;

    &::before {
      width: 100%;
    }
  }

  &.tab--active {
    position: relative;
    transition: 0.3s ease all;
    border-radius: 0;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      left: 0;
      bottom: 3px;
      background-color: $darkBlack;
      transition: 0.3s ease all;
      width: 0;
    }
    &::after{
      position: absolute;
      content: '';
      width: 180%;
      height: 180%;
      border-radius: 5px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary;
      z-index: -1;
    }
  }

  .tab__link {
    color: #000;
  }
}

.tab-panel {
  display: none;

  &.tab-panel--active {
    display: block;
  }
}
// End tabs
