
.thread__header {
	.course-content__title{
		display: contents;
		font-size: 30px;
		&.thread--title-fs{
			font-size: 20px;
		}
	}
}
.info{
	padding: 5px 0px;
	display: flex;
	line-height: 8px;
	.info__details {
		margin-bottom: 8px;
		margin-right: 16px;
		.details__name{
			color: #333;
			padding-left: 5px;
		}
		.details__data{
			color: #686f7a;
			padding-left: 5px;
		}
	}
}
.thread__wrapper{
	margin-bottom: 10px;
	&.thread--replay{
		padding-left: 50px;
		.thread__post{
			background: unset;
			padding: 0px;
		}
		.user-acount--mt {
			margin-top: 0;
		}
		.qustion__text{
			font-size: 12px;
			padding-top: 0px;
		}
		.user-content__text{
			font-size: 14px;
		}
		.relativetime{
			font-size: 12px;
		}
	}
}
.thread__post{
	// display: flex;
	padding: 15px;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 10px;
	.post__votecell{
		width: auto;
		padding: 10px 20px 10px 0px;
		.votecell__icon{
			font-size: xx-large;
			color: #48a868;
			margin-bottom: 10px;
		}
		.votecell__number{
			font-size: 15px;
		}
	}
	&.best--answer{
		border: 2px solid rgba(253,204,13,0.5);
    background: rgba(253,204,13,0.1);
	}
	&.post--pb0{
		// padding-bottom: 0px;
		margin-top: 10px;
	}
  &:last-of-type{
    border-bottom: 0;
  }
}
.post__qustion{
	display: flex;
	flex-direction: column;
	.qustion__text{
		font-size: 18px;
		color: #333;
		padding: 10px 0px;
	}
 }
 .qustion__list{
	margin-bottom: 15px !important;
	list-style-type: disc !important;
	padding: 10px 0px;
	.qustion__item {
		display: block;
		margin-bottom: 5px;
		color: #686f7a;
		font-size: 15px;
	}
}
 .qustion__tags{
	//  margin-bottom: 15px;
	.qustion__taglist{
		.taglist__item{
			padding: 8px 10px;
			margin: 2px 6px 2px 0;
			line-height: 1;
			white-space: nowrap;
			text-decoration: none;
			text-align: center;
			color: #fff;
			background: #fdcc0d;
			display: inline-block;
			border-radius: 20px;
			font-size: 13px;
			font-weight: 500;
			font-family: 'Roboto', sans-serif;
			/* border-width: 1px; */
			border-style: solid;
			&.taglist--no-bg{
				background: none;
				color: #333;
				margin: 0px;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          width: 0;
          height: 1px;
          left: 0;
          bottom: 3px;
          background-color: #333;
          transition: 0.3s ease all;
        }
			  &:hover{
          color: #333;
          &::before {
            width: 100%;
          }
        }
			}
		}
	}
 }
 .answers-header{
	margin: 15px 0;
	display: flex;
	align-items: center;
 }
 .relativetime{
	 font-size: 14px;
 }
 .submit__thread{
	 margin-top: 10px;
   .submit__btn{
     float: right;
     height: 40px;
     padding: 10px 15px;
     border: 0;
     border-radius: 20px;
     color: #fff;
     font-family: Roboto,sans-serif;
     background: #ed2a26;
     font-size: 14px;
     font-weight: 500;
     display: inline-block;
   }
 }

.group__textarea {
	height: 40px;
	font-size: 14px;
	font-family: Roboto, sans-serif;
	border: 1px solid #efefef;
	width: 100%;
	overflow: hidden;
	word-wrap: break-word;
	resize: horizontal;
	font-weight: 400;
	color: #333;
	padding: 12px;
	border-radius: 10px;
	background: #f9f9f9;
	&.textarea--thread{
		resize: none;
	}
}
.form__action{
  width: 100%;
}
 .comment--remov-mb{
	 display: flex;
	 align-items: center;
}
.comment--remov-mb{
	.live-user__content{
		.content__user-img{
			.user-img__img{
				width: 50px!important;
				height: 50px!important;
				display: inline-block!important;
				border-radius: 100%;
				margin-right: 15px;
				border: 2px solid #fff;
			}
		}
	}
}
.textarea{
	resize: none;
}
.wrapper__tags{
	display: flex;
	align-items: center;
 }
 @media (max-width: 576px) {
	 .wrapper__tags{
		display: block;
	 }

	 .taglist__item{
		&.taglist--no-bg{
			margin-left: 0px;
			padding-left: 0;
		}
	}
}
.thread-question{
  font-weight: 500;
  font-size: 18px;
  position: relative;
  color: #333;
  &::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    left: 0;
    bottom: 3px;
    background-color: #333;
    transition: 0.3s ease all;
  }
  &:hover{
    color: #333;
    &::before {
      width: 100%;
    }
  }
}

// comments-card
.comments-card{
  margin-left: 60px;
}
