// typo
.title-h1{
	font-size: 36px;
	color: #333;
	line-height: 1;
	font-weight: 500;
}
.title-h2{
	font-size: 32px;
	color: #333;
	line-height: 1;
	font-weight: 500;
}
.title-h3{
	font-size: 28px;
	color: #333;
	line-height: 1;
	font-weight: 500;
}
.title-h4{
	font-size: 24px;
	color: #333;
	line-height: 1;
	font-weight: 500;
}
.title-h5{
	font-size: 20px;
	color: #333;
	line-height: 1;
	font-weight: 500;
}
.title-h6{
	font-size: 18px;
	color: #333;
	line-height: 1;
	font-weight: 500;
  &.title-h6--bolder{
    font-weight: 600;
  }
}

.text-1{
	font-size: 18px;
	font-weight: 400;
	color: #333;
	line-height: 1.3;
	&:hover{
		color: #333;
	}
}

.text-2{
	font-size: 16px;
	font-weight: 400;
	color: #333;
	line-height: 1.3;
	&:hover{
		color: #333;
	}
}

.text-3{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	line-height: 1.3;
	&:hover{
		color: #333;
	}
  &.text-3--bolder{
    font-weight: 600;
  }
}

.gray{
	color: #686f7a;
}
.white{
	color: #fff;
}
.primary{
	color: $primary;
}

.bold{
	font-weight: 700;
}
.semi-bold{
	font-weight: 600;
}
.medium{
	font-weight: 500;
}
.regular{
	font-weight: 400;
}
