.video-player {
  width: 100%;
  height: 100%;
  flex-grow: 2 2;
  iframe {
    width: 100%;
    height: calc(100vh - 60px);
  }
}
.iframe-parent-class {
  height: 100%;
}
.iframe-parent-class {
  height: 100% !important;
}
@media (min-width: 992px) {
  .video-player {
    height: 100%;
    flex-grow: 1 1;
  }
}
@media (max-width: 992px) {
  .video-player {
    height: 100%;
    flex-grow: 1 1;
  }
  .video-player {
    width: 100%;
    height: 100%;
    flex-grow: 2 2;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
