.check-group {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  &.check-group--horizontal {
    flex-direction: row;
  }
  .check-field {
    position: relative;
    width: 200px;
    padding: 0 5px 5px 0;
    width: 100%;
    input {
      display: none;
      &:checked {
        & + .check-field__label {
          &:after {
            display: block;
          }
        }
        & + .radio-field__label {
          &:after {
            display: block;
          }
        }
      }
    }
    .check-field__label {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 0;
      color: $primary;
      padding-left: 30px;
      display: flex;
      &:before {
        content: "";
        color: $primary;
        border: 1px solid $primary;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 50%;
        margin-right: 8px;
        border-radius: 3px;
        transform: translateY(-50%);
        position: absolute;
        left: 0;
      }
      &:after {
        position: absolute;
        left: 7px;
        content: "";
        background-color: transparent;
        height: 12px;
        width: 7px;
        border-bottom: 2px solid rgba(#0d758e, 0.9);
        border-right: 2px solid rgba(#0d758e, 0.9);
        display: none;
        transform: translateY(-52%) rotate(37deg);
        top: 50%;
        padding: 0;
      }
      &.radio-field__label {
        padding-left: 25px;
        &:before {
          content: "";
          color: #0d758e;
          border: 1px solid #0d758e;
          display: inline-block;
          width: 16px;
          height: 16px;
          top: 50%;
          margin-right: 8px;
          border-radius: 20px;
          transform: translateY(-50%);
          // transform: translate(7%, 18%);
          // transform: translateY(20%);
        }
        &:after {
          position: absolute;
          left: 3px;
          content: "";
          width: 10px;
          height: 10px;
          background-color: #0d758e;
          border-radius: 20px;
          transform: translateY(-50%);
          border: 0;
          display: none;
          top: 50%;
        }
      }
    }
  }
}
html[dir="rtl"] {
  .check-group {
    .check-field {
      position: relative;
      width: 200px;
      padding: 0 0 5px 5px;
      .check-field__label {
        padding-right: 35px;
        &:before {
          margin-right: 8px;
          position: absolute;
          right: 0;
        }
        &:after {
          right: 14px;
        }
        &.radio-field__label {
          &:before {
            margin-right: 8px;
          }
          &:after {
            right: 11px;
          }
        }
      }
    }
  }
}
// night-mode
.night-mode {
  .check-group {
    .check-field {
      .check-field__label {
        color: $primary-night-mode;
        &:before {
          color: $primary-night-mode;
          border: 1px solid $primary-night-mode;
        }
        &:after {
          border-bottom: 2px solid rgba($primary-night-mode, 0.9);
          border-right: 2px solid rgba($primary-night-mode, 0.9);
        }
        &.radio-field__label {
          &:before {
            color: $primary-night-mode;
            border: 1px solid $primary-night-mode;
            // transform: translate(7%, 18%);
            // transform: translateY(20%);
          }
          &:after {
            background-color: $primary-night-mode;
          }
        }
      }
    }
  }
}
