@mixin badge($name, $color) {
  .badge--#{$name} {
    background-color: $color;
    color: #fff;

    &.badge--outlined {
      background-color: transparent;
      color: $color;
    }
  }
}

.badge {
  //border-radius: 15px 5px 15px 5px;
  border-radius: 6px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
  white-space: nowrap;

  &.badge--lg {
    border-radius: 8px;
    font-size: 16px;
    padding: 0 16px;
    vertical-align: middle;
  }

}

@include badge("primary", var(--color-primary));

@include badge("accent", var(--color-accent));

@include badge("secondary", var(--color-secondary));

@include badge("success", var(--color-success));

@include badge("success", var(--color-info));

@include badge("warning", var(--color-warning));

@include badge("danger", var(--color-danger));
