.listing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  margin: 30px 0;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba($color: var(--RGB-color-black), $alpha: 0.05);
  background-color: var(--color-white);

  @media (max-width: 768px) {
    &.listing-filters--active {
      display: block;
    }
  }

  &__title {
    font-size: 16px;
    margin: 0;
    color: var(--color-primary);
    flex-basis: 10%;
  }

  &__filter {
    flex-basis: 53%;
    label {
      padding-left: 50px !important;
    }
    .field-wrapper {
      margin-bottom: 0;
    }
  }

  &__sort {
    flex-basis: 25%;
  }

  .listing-header__actions {
    flex-basis: 7%;
    .filters-toggle {
      display: none;
    }

    @media (max-width: 768px) {
      .filters-toggle {
        display: inline-block;
      }
    }

    .switch-view {
      margin: 0;
    }
  }
}

.listing-filters {
  .listing-header .btn {
    display: none;
  }

  @media (max-width: 768px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;

    .listing-header {
      margin: 0;
    }

    &.listing-filters--active {
      display: block;
      overflow-y: scroll;
      height: 100%;
    }

    .listing-header .btn {
      display: inline-block;
    }
  }
}

.filter-panel {
  margin-bottom: 16px;
  padding: 8px 16px;
  background: #fff;
  border-radius: 5px;

  .filter-panel__header {
    color: var(--color-primary);
  }

  .filter-panel__content {
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100% !important;

    .check-field {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.recommended-bar {
  margin-top: 30px;

  @media (max-width: 768px) {
    display: none;
  }
}

.night-mode {
  .listing-header {
    background-color: var(--color-black);
  }
}

html[dir="rtl"] {
  .listing-filters.listing-filters--mobile {
    @media (max-width: 768px) {
      left: unset;
      right: 0;
    }
  }
}
