.header__top-category.top-category
  .top-category--menu-dropdown.ui.compact.menu.cate-dpdwn
    .menu-dropdown--item.dropdown.simple.dropdown.item.ui
      a.option_links.item--option_links.p-0.option_links(href='#' title='categories')
        i.option_links__icon.uil-apps.uil
      .menu.dropdown_category5.item--menu
        a.menu--item.item.channel_item.item(href='#') Development
        a.menu--item.item.channel_item.item(href='#') Business
        a.menu--item.item.channel_item.item(href='#') Finance &amp; Accounting
        a.menu--item.item.channel_item.item(href='#') IT &amp; Software
        a.menu--item.item.channel_item.item(href='#') Office Productivity
        a.menu--item.item.channel_item.item(href='#') Personal Development
        a.menu--item.item.channel_item.item(href='#') Design
        a.menu--item.item.channel_item.item(href='#') Photography

