.top-category
  .ui.compact.menu.cate-dpdwn
    .ui.simple.dropdown.item
      a.option_links.p-0(href='#' title='categories')
        i.uil.uil-apps
      .menu.dropdown_category5
        a.item.channel_item(href='#') Development
        a.item.channel_item(href='#') Business
        a.item.channel_item(href='#') Finance &amp; Accounting
        a.item.channel_item(href='#') IT &amp; Software
        a.item.channel_item(href='#') Office Productivity
        a.item.channel_item(href='#') Personal Development
        a.item.channel_item(href='#') Design
        a.item.channel_item(href='#') Marketing
        a.item.channel_item(href='#') Lifestyle
        a.item.channel_item(href='#') Photography
        a.item.channel_item(href='#') Health &amp; Fitness
        a.item.channel_item(href='#') Music
        a.item.channel_item(href='#') Teaching &amp; Academics
