:root {
  --pg-color: #fff; // #EDF4FD;
  --RGB-pg-color: '255, 255, 255'; // 237, 244, 253;
  --color-default: #d3d9e1;
  --RGB-color-default: 211, 217, 225;
  --color-primary: #0d9bbd;
  --color-primary-darker: darken(#0d9bbd, 7%);
  --color-primary-lighter: lighten(#0d9bbd, 3%);
  --RGB-color-primary: 13, 155, 189;
  --color-accent: #ffce06;
  --RGB-color-accent: 255, 206, 6;
  --color-secondary: #2fbebd;
  --RGB-color-secondary: 47, 190, 189;
  --color-white: #fff;
  --RGB-color-white: 255, 255, 255;
  --color-black: #1c282c;
  --RGB-color-black: 28, 40, 44;
  --color-gray: #626262;
  --RGB-color-gray: 98, 98, 98;
  --color-success: #2bee38;
  --RGB-color-success: 43, 238, 56;
  --color-info: #1fcaff;
  --RGB-color-info: 31, 202, 255;
  --color-danger: #dc3545;
  --RGB-color-danger: 220, 53, 69;
  --color-warning: #f04e29;
  --RGB-color-warning: 240, 78, 41;
  --color-disabled: #a8a8a8;
  --RGB-color-disabled: 168, 168, 168;
  --box-shadow: 0 4px 12px 0 rgba(var(--RGB-color-gray), 0.2);
  --color-light: #f4f4f4;
  --RGB-color-light: 244, 244, 244;
}

[data-theme="dark"] {
  --pg-color: #edf4fd;
  --RGB-pg-color: 237, 244, 253;
  --color-default: #d3d9e1;
  --RGB-color-default: 242, 176, 30;
  --color-primary: #f2b01e;
  --RGB-color-primary: 242, 176, 30;
  --color-accent: #5abed5;
  --RGB-color-accent: 90, 190, 213;
  --color-secondary: #ffc6b4;
  --RGB-color-secondary: 255, 198, 180;
  --color-white: #1c282c;
  --RGB-color-white: 28, 40, 44;
  --color-black: #fff;
  --RGB-color-black: 255, 255, 255;
  --color-gray: #d7d4d4;
  --RGB-color-gray: 215, 212, 212;
  --color-success: #2bee38;
  --RGB-color-success: 43, 238, 56;
  --color-info: #1fcaff;
  --RGB-color-info: 31, 202, 255;
  --color-danger: #dc3545;
  --RGB-color-danger: 220, 53, 69;
  --color-warning: #f04e29;
  --RGB-color-warning: 240, 78, 41;
  --color-disabled: #a8a8a8;
  --RGB-color-disabled: 168, 168, 168;
  --color-light: #55656e;
  --RGB-color-light: 85, 101, 110;
}

$dimensions: (0, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130,
135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 200);

$sizes: (20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 100, 125, 150, 160, 175, 200);

$colors: ('primary', 'accent', 'secondary', 'success', 'danger', 'info', 'warning', 'white', 'black', 'gray');













