extends ../layouts/admin.pug
block title
	title Admin plan


block content
	include ../components/bread-crumbs.pug
	+pageTitle
	.container 
		.row 
			.col-md-6.col-12.offset-md-3 
				.card 
					h5.card__title Add Item 
					form.add-item
						.field-wrapper
							label.field-wrapper__label Start Select :
							.field-wrapper__content
								select#SelectPeriode.field
									option(value='AL') Alabama
									option(value='AL') Alabama
									option(value='AL') Alabama
									option(value='AL') Alabama

						div.check-field
							div.check-field__control
								input(class="check-field__input" type="checkbox" id="is_life_time" name="checkname")
								label(for="is_life_time")
								span
							label.check-field__label Is Life Time
						
						.field-wrapper
								label.field-wrapper__label number of usage*
								.field-wrapper__content
									input(class="field" type='number' placeholder='number of usage' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
								ul.field-wrapper__messages
									li
										| Please provide a valid city.

						.add-item__actions
							button.btn.btn--primary Save & finish
							button.btn.btn--primary Save & new
							a.btn.btn--text.btn--danger Cancel
						