extends ../layouts/admin.pug
block title
	title Admin plan


block content
	include ../components/bread-crumbs.pug
	+pageTitle("page-header--extension")
		.tabs.tabs--center.mb-0.mt-3
			a(class="tab tab--active" href='#nav-details') Plan Details
			a(class="tab" href='#nav-content') Plan Content
	.container
		.row
			.col-lg-6
				div(class="dialog" id="default-dialog")
					.card
						.card__title
							h3 Lorem ipsum dolor.
						.card__body
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis cumque
								| debitis dolore dolores ea fugiat magni odit optio sunt vel, voluptate. A alias
								| assumenda, deserunt dolorem expedita ipsum temporibus.
						.card__footer
							button.btn.btn--text.btn--danger.close-dialog Cancel
							button.btn.btn--primary.close-dialog Confirm
			.col-lg-12
				.tabs-panels
					#nav-details.tab-panel.tab-panel--active
						.row 
							.col-12.col-md-4
								.card.card--data
									.card__header
										h5.title-h5 details
									.card__content
										.description
											span.description__name
												| id
												strong :
											p.description__details 1
										.description
											span.description__name
												| name
												strong :
											p.description__details plan name
										.description
											span.description__name
												| is life time
												strong :
											p.description__details true
										.description
											span.description__name
												| period
												strong :
											p.description__details 2 months
										.description
											span.description__name
												| price
												strong :
											p.description__details 500 L.E
										.description
											span.description__name
												| level
												strong :
											p.description__details 2
										.description
											span.description__name
												| trial
												strong :
											p.description__details 3 days
										.description
											span.description__name
												| is recommended
												strong :
											p.description__details true
							.col-12.col-md-8
								.card
									h5.card__title Plan Icon
									img( class="image image--list-item" src="../../assets/images/icon-1.svg" alt="")
									.divider
									h5.card__title Plan Description
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi quidem totam commodi veritatis velit eveniet saepe. Inventore qui eum, deserunt atque nulla nam, possimus ducimus soluta quo mollitia, nostrum totam.
									.divider
									h5.card__title Plan Permissions
									div
										.label.label--primary.label--with-shadow
											span.label__icon.material-icons done
											.label__content
												p lorem lorem
										.label.label--primary.label--with-shadow
											span.label__icon.material-icons done
											.label__content
												p lorem lorem
										.label.label--primary.label--with-shadow
											span.label__icon.material-icons done
											.label__content
												p lorem lorem
										.label.label--primary.label--with-shadow
											span.label__icon.material-icons done
											.label__content
												p lorem lorem
					#nav-content.tab-panel
						.container 
							.row 
								
								.col-4
									.tabs.tabs--list
										a(class="tab tab--active" href='#nav-courses') courses
										a(class="tab" href='#nav-assessments') assessments
										a(class="tab" href='#nav-blogs') blogs
										a(class="tab" href='#nav-threads') threads
										a(class="tab" href='#nav-activities') activities

								.col-8
									#nav-courses.tab-panel.tab-panel--active
										.card
											h4.card__title Courses
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove 
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
			
									#nav-assessments.tab-panel
										.card
											h4.card__title assessments
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove 
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
			
									#nav-blogs.tab-panel
										.card
											h4.card__title blogs
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove 
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
			
									#nav-threads.tab-panel
										.card
											h4.card__title threads
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove 
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
			
									#nav-activities.tab-panel
										.card
											h4.card__title activities
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove 
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
											div(class="owl-carousel display-4 owl-theme")
												.item
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
												.item 
													.plane-item-card
														img(src="../../assets/images/get_img.jpg", alt="") 
														.plane-item-card__overlay
															h5 category
															p.body-2 test test test 
															button(class="btn btn--text btn--danger  toggle-dialog" data-target="#default-dialog") remove
			