extends ../layouts/auth.pug
block title
	title Authorization
block content
	.authorization
		h4.primary Itqadem
		h5 Wants to access your google account
		.list
			.list-title
				p.body-1.gray this will allaw itqadem to :
			.divider
			.list-item.list-item--one-line
				.list-item__icon 
					span.material-icons fiber_manual_record
				.list-item__content
					p.body-2.gray make some thing

			//- .divider

			.list-item.list-item--one-line
				.list-item__icon 
					span.material-icons fiber_manual_record
				.list-item__content
					p.body-2.gray make some thing
		
		p.body-2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque officia velit quod architecto assumendaea 
			a(href="#") Terms & Conditions
		