extends ../layouts/site.pug

block title
  title Blog list



//- block manifestBrowserconfigFiles
//-   link(rel='manifest', href='../manifest.json')
//-   meta(name='msapplication-config' content='../browserconfig.xml')

block content
  //- .container 
    .row 
      .col-12 
        .blog-list
          h2.title-h2 Blogs
          .course-card.course-card--list-view
            a.course-card__preview.youtube-activator(href='/course.html')
              img.course-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
              #course-1.course-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
              .course-card__preview-overlay
            .course-card__content
              a.title-link.text-2.semi-bold(href='/course.html') Complete Python Bootcamp1
              p.title-link.course-card__description.body-2.gray
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
              .course-card__meta
                p.body-2.gray Web Development | Python
                p.body-2.course-card__rate
                  i.fa.fa-star
                  | 4.5
          
          .course-card.course-card--list-view
            a.course-card__preview.youtube-activator(href='/course.html')
              img.course-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
              #course-1.course-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
              .course-card__preview-overlay
            .course-card__content
              a.title-link.text-2.semi-bold(href='/course.html') Complete Python Bootcamp1
              p.title-link.course-card__description.body-2.gray
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
              .course-card__meta
                p.body-2.gray Web Development | Python
                p.body-2.course-card__rate
                  i.fa.fa-star
                  | 4.5

          .course-card.course-card--list-view
            a.course-card__preview.youtube-activator(href='/course.html')
              img.course-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
              #course-1.course-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
              .course-card__preview-overlay
            .course-card__content
              a.title-link.text-2.semi-bold(href='/course.html') Complete Python Bootcamp1
              p.title-link.course-card__description.body-2.gray
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
              .course-card__meta
                p.body-2.gray Web Development | Python
                p.body-2.course-card__rate
                  i.fa.fa-star
                  | 4.5

          .course-card.course-card--list-view
            a.course-card__preview.youtube-activator(href='/course.html')
              img.course-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
              #course-1.course-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
              .course-card__preview-overlay
            .course-card__content
              a.title-link.text-2.semi-bold(href='/course.html') Complete Python Bootcamp1
              p.title-link.course-card__description.body-2.gray
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
              .course-card__meta
                p.body-2.gray Web Development | Python
                p.body-2.course-card__rate
                  i.fa.fa-star
                  | 4.5



