extends ../layouts/site.pug

block title
	title Blog list



//- block manifestBrowserconfigFiles
//-   link(rel='manifest', href='../manifest.json')
//-   meta(name='msapplication-config' content='../browserconfig.xml')

block content
	.container
		.row
			.col-12
				.blog-list
					h2 Blogs
					.display-card.display-card--list-view
						a.display-card__preview.youtube-activator(href='/blog.html')
							img.display-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
							#course-1.display-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
							.display-card__preview-overlay
						.display-card__content
							a.title-link.semi-bold(href='/blog.html') Complete Python Bootcamp1
							p.title-link.display-card__description.body-2.gray
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
							.display-card__meta
								p.body-2.gray Web Development | Python
								p.body-2.display-card__rate
									i.fa.fa-star
									| 4.5

					.display-card.display-card--list-view
						a.display-card__preview.youtube-activator(href='/blog.html')
							img.display-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
							#course-1.display-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
							.display-card__preview-overlay
						.display-card__content
							a.title-link.semi-bold(href='/blog.html') Complete Python Bootcamp1
							p.title-link.display-card__description.body-2.gray
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
							.display-card__meta
								p.body-2.gray Web Development | Python
								p.body-2.display-card__rate
									i.fa.fa-star
									| 4.5

					.display-card.display-card--list-view
						a.display-card__preview.youtube-activator(href='/blog.html')
							img.display-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
							#course-1.display-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
							.display-card__preview-overlay
						.display-card__content
							a.title-link.semi-bold(href='/blog.html') Complete Python Bootcamp1
							p.title-link.display-card__description.body-2.gray
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
							.display-card__meta
								p.body-2.gray Web Development | Python
								p.body-2.display-card__rate
									i.fa.fa-star
									| 4.5

					.display-card.display-card--list-view
						a.display-card__preview.youtube-activator(href='/blog.html')
							img.display-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
							#course-1.display-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
							.display-card__preview-overlay
						.display-card__content
							a.title-link.semi-bold(href='/blog.html') Complete Python Bootcamp1
							p.title-link.display-card__description.body-2.gray
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
							.display-card__meta
								p.body-2.gray Web Development | Python
								p.body-2.course-card__rate
									i.fa.fa-star
									| 4.5

			.col-lg-12
				include ../components/general-component/pagination.pug

