extends ../layouts/admin.pug
block title
	title Blogs


block content
	// page title bread-crumbs
	include ../components/bread-crumbs.pug
	+pageTitle()
	.container 
		.row 
			.col-12
				.data-card.data-card--draggabl
					.data-card-actions
						button.btn.btn--icon.btn--accent.btn--text
							span.material-icons edit
						button.btn.btn--icon.btn--primary.btn--text
							span.material-icons translate
						button.btn.btn--icon.btn--danger.btn--text
							span.material-icons delete
					div.data-card__navigation 
						span.body-2 1
					div.data-card__image
						img(class="image preview" src="../../assets/images/get_img.jpg", alt="")
					div.data-card__details
						span.overline 23 hours ago
						a(href="blog.html") 
							p.body-2.bold Types of autism
						p.body-2 Kanner Syndrome: This type appears at the age of two months, and is one of the most prevalent types of autism. The child is late in pronunciation, and the child does not pay attention to anyone, does not accept changes, and does not care about the emotions and feelings of others.
						.description 
							span.description__name category 
							strong :
							p.body-2 Academic skills
						.description 
							span.description__name slug 
							strong :
							p.body-2 autism types
						.chips-wrapper
							.chip-item.chip-item--primary.chip-item--sm 
								span.material-icons language 
								p.chip-item__content arabic
							.chip-item.chip-item--primary.chip-item--sm
								span.material-icons language 
								p.chip-item__content english
					div.data-card__actions
						.description 
							span.description__name published at 
							strong :
							p.body-2 1 week, 2 days ago
						.description 
							span.description__name created at 
							strong :
							p.body-2 1 week, 2 days ago
						.description 
							span.description__name updated at 
							strong :
							p.body-2 1 week, 2 days ago
						.description 
							span.description__name author 
							strong :
							p.body-2 JaniceNavarro
						.description 
							span.description__name privacy 
							strong :
							p.body-2 public
				.data-card.data-card--draggabl
					.data-card-actions
						button.btn.btn--icon.btn--accent.btn--text
							span.material-icons edit
						button.btn.btn--icon.btn--primary.btn--text
							span.material-icons translate
						button.btn.btn--icon.btn--danger.btn--text
							span.material-icons delete
					div.data-card__navigation 
						span.body-2 2
					div.data-card__image
						img(class="image preview" src="../../assets/images/get_img.jpg", alt="")
					div.data-card__details
						span.overline 23 hours ago
						a(href="blog.html") 
							p.body-2.bold Types of autism
						p.body-2 Kanner Syndrome: This type appears at the age of two months, and is one of the most prevalent types of autism. The child is late in pronunciation, and the child does not pay attention to anyone, does not accept changes, and does not care about the emotions and feelings of others.
						.description 
							span.description__name category 
							strong :
							p.body-2 Academic skills
						.description 
							span.description__name slug 
							strong :
							p.body-2 autism types
						.chips-wrapper
							.chip-item.chip-item--primary.chip-item--sm 
								span.material-icons language 
								p.chip-item__content arabic
							.chip-item.chip-item--primary.chip-item--sm
								span.material-icons language 
								p.chip-item__content english
					div.data-card__actions
						.description 
							span.description__name published at 
							strong :
							p.body-2 1 week, 2 days ago
						.description 
							span.description__name created at 
							strong :
							p.body-2 1 week, 2 days ago
						.description 
							span.description__name updated at 
							strong :
							p.body-2 1 week, 2 days ago
						.description 
							span.description__name author 
							strong :
							p.body-2 JaniceNavarro
						.description 
							span.description__name privacy 
							strong :
							p.body-2 public
