extends ../layouts/admin.pug


block title
  title Category-course

//- block menu-header
//- 	include ../components/menu-list.pug
block content
  section.page-header.page-header--transparent.m-0
    .container-fluid
      .page-header__content
        h1.mb-0 Category Item
  .container-fluid
    form.listing-filters#filters-mobile
    .row
      .col-md-3.col-xl-2
        form.listing-filters#filters
          .listing-header
            p.listing-header__title Filters
            .listing-header__actions
              button(type="reset" class="btn btn--icon btn--outlined btn--text btn--danger")
                i.material-icons close
              button(type="submit" class="btn btn--icon btn--outlined btn--text btn--primary")
                i.material-icons check
          .filter-panel
            .filter-panel__header Category
            .filter-panel__content
              ul#id_category
                li
                  .check-field
                    .check-field__control
                      input#id_category_0.check-field__input(type='radio' name='category' value='null')
                      label(for='id_category_0')
                      span
                    label.check-field__label(for='id_category_0') Uncategorized
                li
                  .check-field
                    .check-field__control
                      input#id_category_1.check-field__input(type='radio' name='category' value='1')
                      label(for='id_category_1')
                      span
                    label.check-field__label(for='id_category_1') &#x627;&#x644;&#x62A;&#x631;&#x628;&#x64A;&#x629; &#x627;&#x644;&#x646;&#x641;&#x633;&#x62D;&#x631;&#x643;&#x64A;&#x629;
                li
                  .check-field
                    .check-field__control
                      input#id_category_2.check-field__input(type='radio' name='category' value='2')
                      label(for='id_category_2')
                      span
                    label.check-field__label(for='id_category_2') &#x627;&#x644;&#x623;&#x646;&#x634;&#x637;&#x629; &#x627;&#x644;&#x62A;&#x631;&#x648;&#x64A;&#x62D;&#x64A;&#x629;
                li
                  .check-field
                    .check-field__control
                      input#id_category_3.check-field__input(type='radio' name='category' value='4')
                      label(for='id_category_3')
                      span
                    label.check-field__label(for='id_category_3') &#x627;&#x644;&#x645;&#x647;&#x627;&#x631;&#x627;&#x62A; &#x627;&#x644;&#x627;&#x643;&#x627;&#x62F;&#x64A;&#x645;&#x64A;&#x629;
                li
                  .check-field
                    .check-field__control
                      input#id_category_4.check-field__input(type='radio' name='category' value='3')
                      label(for='id_category_4')
                      span
                    label.check-field__label(for='id_category_4') &#x627;&#x644;&#x648;&#x631;&#x634;&#x629; &#x627;&#x644;&#x627;&#x646;&#x62A;&#x627;&#x62C;&#x64A;&#x629;


      .col-xs-12.col-md-6.col-xl-8
        .listing-header
          p.listing-header__title results (
            span.num-result 15)
          div(class="listing-header__actions" data-target=".display-card-container")
            button(class="btn btn--icon btn--text btn--primary filters-toggle")
              i.material-icons filter_list
            button(class="btn btn--icon btn--text btn--primary switch-view" data-view="list")
              i.material-icons list
            button(class="btn btn--icon btn--primary switch-view" data-view="grid")
              i.material-icons grid_view
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
            div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')
          .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
            div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')
          .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
            div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')
          .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
            div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')
          .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
            div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')
          .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
            div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')

        .row.justify-content-center
            include ../components/general-component/pagination.pug
      .col-md-3.col-xl-2.recommended-bar
        div(class="display-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","actions":{"action":"enroll","url":"#"}}')
