extends ../layouts/course-display.pug

block title
	title chapter-page
block courseVideo
	.col-xl-8.col-lg-5.col-md-6
		//- video#my-player.video-js()
		//- 	source(src='//vjs.zencdn.net/v/oceans.mp4' type='video/mp4')
			//- track(kind='captions' src='../assets/videos/en.vtt' srclang='en' label='English' default='')
			//- track(kind='captions' src='../assets/videos/ar.vtt' srclang='en' label='Arabic' default='')
		//- #transcript

		//- section.wrapper__preview-video
		//- 	a.preview-video__modiel-img(href='#'
		//- 	data-toggle='modal' data-target='#videoModal')
		//- 		img.modiel-img--img(src='images/courses/img-2.jpg' alt='')
		//- 		.modiel-img__course-overlay
		//- 			.course-overlay--seller Bestseller
		//- 			span.course-overlay--play
		//- 				i.uil.uil-play.play__fa
		//- 			span._215b02.course-overlay__title Preview this course
		//- .preview-video__action
		//- 	.action__save-video(href='#')
		//- 		span.save-video__icons
		//- 			i.uil.uil-heart.icons__fa
		//- 		| Save
		//- 	a.action__rebort-vedios(href='#')
		//- 		span.rebort-video__icons
		//- 			i.uil.uil-windsock.icons__fa
		//- 		| Report abuse
block userAccount
	.course_tabs
		#nav-tab.nav.nav-tabs.tab_crse.justify-content-center(role='tablist')
			a#nav-courses-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-comment' role='tab' aria-selected='false') Discussion
			a#nav-about-tab.nav-item.nav-link(data-toggle='tab' href='#nav-tranScript' role='tab' aria-selected='true') TranScript
			a#nav-reviews-tab.nav-item.nav-link(data-toggle='tab' href='#nav-reviews' role='tab' aria-selected='false') Reviews
block tabs
	.course_tab_content
		#nav-tabContent.tab-content
			#nav-comment.tab-pane.fade.show.active(role='tabpanel')
				include ../components/comments.pug
			//- start course list component
			//- include ../components/course.pug
			#nav-tranScript.tab-pane.fade(role='tabpanel')
				h2 TranScript
				//- include ../components/review-item.pug
			#nav-reviews.tab-pane.fade(role='tabpanel')
				.reviews
					.row
						.col-lg-5
							include ../components/review.pug
						.col-lg-7
							.review__header
								.header__header-content
									h3.header-content__title Reviews
									.header-content__search
										input.search__input(type='text' placeholder='Search reviews...')
										button.search__btn
											i.uil.uil-search
							.review__all-reviews
								include ../components/review-item.pug
								.all-reviews__review-item
									a.review-item__more-reviews(href='#') See More Reviews