extends ../layouts/course-display.pug


block title
	title chapter-page
block sidebar
	include ../components/sidebar-content.pug
block courseVideo
	.col-xl-5.col-sm-12
		section.wrapper__preview-video
			a.preview-video__modiel-img(href='#' data-toggle='modal' data-target='#videoModal')
				img.modiel-img--img(src='images/courses/img-2.jpg' alt='')
				.modiel-img__course-overlay
					.course-overlay--seller Bestseller
					span.course-overlay--play
						i.uil.uil-play.play__fa
					span._215b02.course-overlay__title Preview this course
		.preview-video__action
			.action__save-video(href='#')
				span.save-video__icons
					i.uil.uil-heart.icons__fa
				| Save
			a.action__rebort-vedios(href='#')
				span.rebort-video__icons
					i.uil.uil-windsock.icons__fa
				| Report abuse
	.col-xl-7.col-sm-12
		.course-content.chapter-lessons__list
			.course-content__course-list
				a.course-list__header(href='javascript:void(0)')
					.header__header-title
						span.header-title__title
							i.uil.uil-presentation-play.title__icone
							span.title__title-text Introduction fgdfg to this Course
					.header__header-details
						span.header-details__num-item 8 lectures
						span.header-details__length-item 22:08
				.course-list__list-content
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-file.content-name__icon
							.content-name__top-title
								.top-title__title A Note On Asking For Help
						.content-item__details
							span.details__content-summary 00:12
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Unit Objectives
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 01.40
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-file.content-name__icon
							.content-name__top-title
								.top-title__title A Note On Asking For Help
						.content-item__details
							span.details__content-summary 00:12
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-file.content-name__icon
							.content-name__top-title
								.top-title__title A Note On Asking For Help
						.content-item__details
							span.details__content-summary 00:12
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48	
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48	
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48	
					.list-content__content-item
						.content-item__content-name
							i.uil.uil-play-circle.content-name__icon
							.content-name__top-title
								.top-title__title Why This Course?
						.content-item__details
							a.details--preview-text(href='#') Preview
							span.details__content-summary 07:48			
block userAccount
	.course_tabs
		#nav-tab.nav.nav-tabs.tab_crse.justify-content-center(role='tablist')
			a#nav-reviews-tab.nav-item.nav-link(data-toggle='tab' href='#nav-about' role='tab' aria-selected='false') About
			//- a#nav-about-tab.nav-item.nav-link(data-toggle='tab' href='#nav-tranScript' role='tab' aria-selected='true') Transcript
			a#nav-courses-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-comment' role='tab' aria-selected='false') Discussion
block tabs
	.course_tab_content
		#nav-tabContent.tab-content
			//- include ../components/review-item.pug
			#nav-about.tab-pane.fade(role='tabpanel')
				include ../components/about.pug
			//- start course list component
			//- include ../components/course.pug
			//- #nav-tranScript.tab-pane.fade(role='tabpanel')
			//- 	h2 Transcript
			#nav-comment.tab-pane.fade.show.active(role='tabpanel')
				include ../components/comments.pug




