extends ../layouts/course-display.pug

block title
	title chapter-page
block courseVideo 

	.col-xl-8.col-lg-5.col-md-6
		//- video#my-player.video-js(controls='')
		//- 	source(src='video/1. Drawbacks of the Options API.mp4' type='video/mp4')
		//- 	track(kind='captions' src='video/1. Drawbacks of the Options API.vtt' srclang='en' label='English' default='')
		//- 	track(kind='captions' src='video/1. Drawbacks of the Options API.ar.vtt' srclang='en' label='Arabic' default='')
		//- #transcript
		//- section.wrapper__preview-video
		//- 	a.preview-video__modiel-img(href='#' 
		//- 	data-toggle='modal' data-target='#videoModal')
		//- 		img.modiel-img--img(src='images/courses/img-2.jpg' alt='')
		//- 		.modiel-img__course-overlay
		//- 			.course-overlay--seller Bestseller
		//- 			span.course-overlay--play
		//- 				i.uil.uil-play.play__fa
		//- 			span._215b02.course-overlay__title Preview this course
		//- .preview-video__action
		//- 	.action__save-video(href='#')
		//- 		span.save-video__icons
		//- 			i.uil.uil-heart.icons__fa
		//- 		| Save
		//- 	a.action__rebort-vedios(href='#')
		//- 		span.rebort-video__icons
		//- 			i.uil.uil-windsock.icons__fa
		//- 		| Report abuse