extends ../layouts/admin.pug
block title
	title collections


block content
	// page title bread-crumbs
	include ../components/bread-crumbs.pug
	+pageTitle("page-header--extension")
		.tabs.tabs--center.mb-0.mt-3
			a(class="tab tab--active" href='#nav-recommendation') recommendation
			a(class="tab" href='#nav-classification') classification
	.container
		.row
			.col-lg-12
				.tabs-panels
					#nav-recommendation.tab-panel.tab-panel--active
						.row 
							.col-md-6
								form(class="card" action="" method="")
									.field-wrapper.field-wrapper--full 
										label(class="field-wrapper__label" for="recommendations-name") Name *
										.field-wrapper__content 
											input(class="field" type="text" placeholder="Recommendations" name="name" id="recommendation-name" value="recommendation") 
									.field-wrapper.field-wrapper--full
										label(class="field-wrapper__label" for="recommendations-description") Description *
										.field-wrapper__content
											textarea(class="field" required name="description" id="recommendations-description" placeholder="Recommendation Description")
									.form-actions
										button.btn.btn--primary.btn--text(type='reset') Cancel
										button.btn.btn--primary.btn--rounded Save

							.col-md-6
								.card 
									.card__header 
										h4 recommendation name 
										.card__tools 
											include ../components/list-dropdown.pug
											+dropdown
												i.fas.fa-ellipsis-h
									.card__content
										p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, harum? Repellat accusantium id laborum eius repudiandae voluptas magni sequi error nihil natus blanditiis corporis alias repellendus possimus reprehenderit, voluptatum cumque.
						
								.card 
									.card__header 
										h4 recommendation name 
										.card__tools 
											include ../components/list-dropdown.pug
											+dropdown
												i.fas.fa-ellipsis-h
									.card__content
										p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, harum? Repellat accusantium id laborum eius repudiandae voluptas magni sequi error nihil natus blanditiis corporis alias repellendus possimus reprehenderit, voluptatum cumque.
						//tab 1
					#nav-classification.tab-panel
						.row 
							.col-md-6
								form(class="card" action="" method="")
									.field-wrapper.field-wrapper--full 
										label(class="field-wrapper__label" for="classifications-name") Name *
										.field-wrapper__content 
											input(class="field" type="text" placeholder="Classification" name="name" id="classifications-name" required value="classification")
									.field-wrapper.field-wrapper--full 
										label(class="field-wrapper__label" for="classifications-description") Score *
										.field-wrapper__content
											input(type="number" class="field" name="score" id="classifications-description" placeholder="Classification Score" value="0")
									.form-actions
										button.btn.btn--primary.btn--text(type='reset') Cancel
										button.btn.btn--primary.btn--rounded Save
							.col-md-6 
								.list
									.list-item
										.list-item__icon 
											span.material-icons tag 
										.list-item__content 
											p classification-1 
										.list-item__action
											+dropdown
												i.fas.fa-ellipsis-h

									.list-item
										.list-item__icon 
											span.material-icons tag 
										.list-item__content 
											p classification-2 
										.list-item__action
											+dropdown
												i.fas.fa-ellipsis-h

									.list-item
										.list-item__icon 
											span.material-icons tag 
										.list-item__content 
											p classification 
												strong 3 
										.list-item__action
											+dropdown
												i.fas.fa-ellipsis-h
						//tab 2

	//- .card.card--data.flex-column
