extends ../layouts/admin.pug
block title
	title collections


block content
	include ../components/bread-crumbs.pug
	+pageTitle()
	.container
		.row
			.col-12
				.data-card.data-card--draggabl
					.data-card-actions
						button.btn.btn--icon.btn--accent.btn--text
							span.material-icons edit
						button.btn.btn--icon.btn--primary.btn--text
							span.material-icons translate
						button.btn.btn--icon.btn--danger.btn--text
							span.material-icons delete
					div.data-card__navigation
						span.body-2 1
					div.data-card__image
						img(class="image preview" src="../../assets/images/get_img.jpg", alt="")
					div.data-card__details
						span.overline 23 hours ago
						a(href="collection.html")
							p.body-2.bold منهج التوحد
						p.body-2 منهج التوحد منهج التوحد منهج التوحد منهج التوحد منهج التوحد منهج التوحد منهج التوحد منهج التوحد
						p.body-2.bold recreational activities
						.d-flex
							.chip.chip--primary.chip--sm
								span.material-icons language
								p.chip__content arabic
							.chip.chip--primary.chip--sm
								span.material-icons language
								p.chip__content english
					div.data-card__actions
						.description
							span.description__name published at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name created at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name updated at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name partner
							strong :
							p.body-2 AL-Ahly Bank
						.description
							span.description__name status
							strong :
							p.body-2 published

				.data-card.data-card--draggabl
					.data-card-actions
						button.btn.btn--icon.btn--accent.btn--text
							span.material-icons edit
						button.btn.btn--icon.btn--primary.btn--text
							span.material-icons translate
						button.btn.btn--icon.btn--danger.btn--text
							span.material-icons delete
					div.data-card__navigation
						span.body-2 2
					div.data-card__image
						img(class="image preview" src="../../assets/images/get_img.jpg", alt="")
					div.data-card__details
						span.overline 23 hours ago
						a(href="collection.html")
							p.body-2.bold تقييم الإستعداد للتعليم الدمجي
						p.body-2 فيما يلي مجموعة من العبارات التي تعكس المهارات والمعارف االتي تمثل متطلبات سابقة أو مؤشرات لقياس الإستعداد للتعليم الدمجي للأطفال ذوي اضطراب طيف التوحد والإعاقة الذهنية
						p.body-2.bold psychokinetic education
						.d-flex
							.chip.chip--primary.chip--sm
								span.material-icons language
								p.chip__content arabic
							.chip.chip--primary.chip--sm
								span.material-icons language
								p.chip__content english
					div.data-card__actions
						.description
							span.description__name published at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name created at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name updated at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name partner
							strong :
							p.body-2 Drosos
						.description
							span.description__name status
							strong :
							p.body-2 published
