extends ../layouts/course-display.pug
block content
	include ../components/test.pug
		block head1
			p.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae qui dolorem saepe consequatur cum ut doloremque nihil architecto iusto, neque, dolore itaque quia necessitatibus et non, accusantium sapiente eum.
		block lorem
			p.mb-5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quia adipisci dolorem fuga perferendis tempore corrupti suscipit, sit eius! Laudantium omnis dolor, earum voluptatem quisquam temporibus id aut culpa? Esse?
		//- block down
		//- 	p.mb-5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quia adipisci dolorem fuga perferendis tempore corrupti suscipit, sit eius! Laudantium omnis dolor, earum voluptatem quisquam temporibus id aut culpa? Esse?
