extends ../layouts/master.pug

block title
  title single-course

block content

  // Menu
  +menu('home')
    //- Desktop page
  .wrapper._bg4586
    //- course viewe
    //- course video
    include ../components/coures-video.pug
    ._215b15._byt1458
      .container-fluid
        .row
          .col-lg-12
            .user-wrapper
              include ../components/single-course/user-acount.pug
              include ../components/single-course/btn.pug
              +user-acount("Johnson Smith", "Subscribe")
                +btn('user-content__subscribe-btn', 'subscribe')
              include ../components/single-course/interaction.pug
              +interactions(
              "uil uil-eye box--fa",'1452',
              "uil uil-thumbs-up box--fa", '100',
              "uil uil-thumbs-down box--fa", '20',
              "uil uil-share-alt box--fa" , '9'
              )
            .course_tabs
                #nav-tab.nav.nav-tabs.tab_crse.justify-content-center(role='tablist')
                  a#nav-about-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-about' role='tab' aria-selected='true') About
                  a#nav-courses-tab.nav-item.nav-link(data-toggle='tab' href='#nav-courses' role='tab' aria-selected='false') Courses Content
                  a#nav-reviews-tab.nav-item.nav-link(data-toggle='tab' href='#nav-reviews' role='tab' aria-selected='false') Reviews
    ._215b17
      .container-fluid
        .row
          .col-lg-12
            .course_tab_content
              #nav-tabContent.tab-content
                #nav-about.tab-pane.fade.show.active(role='tabpanel')
                  include ../components/about.pug
                #nav-courses.tab-pane.fade(role='tabpanel')
                    //- start course list component
                    include ../components/course.pug
                    a.btn1458(href='#') 20 More Sections
                #nav-reviews.tab-pane.fade(role='tabpanel')
                  //- start reviews
                  .reviews
                    .row
                      .col-lg-5
                        include ../components/review.pug
                      .col-lg-7
                        .review__header
                          .header__header-content
                            h3.header-content__title Reviews
                            .header-content__search
                              input.search__input(type='text' placeholder='Search reviews...')
                              button.search__btn
                                i.uil.uil-search
                        .review__all-reviews
                          include ../components/review-item.pug
                          .all-reviews__review-item
                            a.review-item__more-reviews(href='#') See More Reviews

    include ../components/footer.pug
