extends ../layouts/admin.pug
block title
	title courses
//- block btn-toggle
//- 	include ../components/general-component/toggle-menu.pug
block content
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas quidem molestiae hic blanditiis sunt facere at tempore atque, inventore doloremque repellendus incidunt ab officiis cum. Magni aliquam delectus temporibus?

