extends ../layouts/master.pug
block title
	title courses
block content
	include ../components/course-wrapper.pug
		block title
			| test title
		block content
			.owl-carousel.featured_courses.owl-theme
				.item
					include ../components/course-card.pug
				.item
					include ../components/course-card.pug
				.item
					include ../components/course-card.pug
				.item
					include ../components/course-card.pug
				.item
					include ../components/course-card.pug
        .item
					include ../components/course-card.pug
				.item
					include ../components/course-card.pug
