extends ../layouts/site.pug
include ../components/widgets/display-cards
include ../components/filter-list


block title
    title Courses
block content
  div.courses
    .page__cover
      img(src="../../assets/images/courses-header-img.png", alt="", srcset="")
      .container
        .page__cover__content
          h2.mt-0.text-white.mb-2 Courses
          span.page__cover__content__badge.p-2.text-white.mb-5 14 courses

    .container
      .listing-header.my-5
        p.listing-header__title results (
          span.num-result 15)

        div.d-flex.align-items-center.listing-header__filter
          .field-wrapper
            .switch
              input#label(class="field" type="checkbox", name="")
              label(for="label") label

          .field-wrapper
            .switch
              input#label2(class="field" type="checkbox", name="")
              label(for="label2") label 2

          .field-wrapper
            .switch
              input#label3(class="field" type="checkbox", name="")
              label(for="label3") label 3

          .field-wrapper
            .switch
              input#label4(class="field" type="checkbox", name="")
              label(for="label4") label 4

        div.listing-header__sort
          .field-wrapper__content
            select.field
              option(value='') Select option
              option(value='1') option 1
              option(value='2') option 2
              option(value='3') option 3
              option(value='4') option 4
              option(value='5') option 5

        div(class="listing-header__actions" data-target=".display-card-container")
          button(class="btn btn--icon btn--text btn--primary filters-toggle")
            i.material-icons filter_list
          button(class="btn btn--icon btn--text btn--primary switch-view" data-view="list")
            i.material-icons list
          button(class="btn btn--icon btn--primary switch-view" data-view="grid")
            i.material-icons grid_view

      .row.mt-4
        .col.lg-3
          .filter-list
            form
              +checkbox-filter(["type1", "type2", "type3", "type4"], "Type")
              +checkbox-filter(["الاختيار الاول", "الاختيار الثانى", "الاختيار الثالث", "الاختيار الرابع"], "اختيارات اخرى")
              button.btn.btn--primary.filter-list__action filter items

        .col-lg-9
          .row
            .col-12.col-sm-6.col-md-4
              +course-card('Lorem ipsum dolor sit amet, quae sequi?', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.', 'التوحد')
            .col-12.col-sm-6.col-md-4
              +course-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!')
            .col-12.col-sm-6.col-md-4
              +course-card('عنوان افتراضى للمدونة', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة')
            .col-12.col-sm-6.col-md-4
              +course-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد')
          .row.justify-content-center
            include ../components/general-component/pagination.pug
