extends ../layouts/admin.pug
block title
	title courses


block content
	include ../components/bread-crumbs.pug
	+pageTitle()
	.container
		.row
			.col-12
				.data-card.data-card--draggabl
					.data-card-actions
						button.btn.btn--icon.btn--accent.btn--text
							span.material-icons edit
						button.btn.btn--icon.btn--primary.btn--text
							span.material-icons translate
						button.btn.btn--icon.btn--danger.btn--text
							span.material-icons delete
					div.data-card__navigation
						span.body-2 1
					div.data-card__image
						img(class="image preview" src="../../assets/images/get_img.jpg", alt="")
					div.data-card__details
						span.overline 23 hours ago
						a(href="admin-course-chapter.html")
							p.body-2.bold الدورة التدريبية للعمل على المنصة
						p.body-2 Kanner Syndrome: This type appears at the age of two months, and is one of the most
						.description
							span.description__name category
							strong :
							p.body-2 psychokinetic education
						.description
							span.description__name rate
							strong :
							p.body-2 0.4
						.d-flex
							.chip.chip--primary.chip--sm
								span.material-icons language
								p.chip__content arabic
							.chip.chip--primary.chip--sm
								span.material-icons language
								p.chip__content english
					div.data-card__actions
						.description
							span.description__name created at
							strong :
							p.body-2 1 week, 2 days ago
						.description
							span.description__name no.of chapters
							strong :
							p.body-2 2
						.description
							span.description__name duration
							strong :
							p.body-2 0:36:32
						.description
							span.description__name subscribers
							strong :
							p.body-2 1
						.description
							span.description__name privacy
							strong :
							p.body-2 public
