extends ../layouts/admin.pug

block title
	title Delete
block button-collapsed 
	include ../components/general-component/toggle-menu.pug 
block content
	.action-wrapper
		i.far.fa-meh-rolling-eyes.emoji
		form.actions-form
			div
				h3.item-item Are you sure ?
				p.card-content__card-description test test test test test

				h3.item-item Summary
				p.card-content__card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi deserunt quam accusamus culpa, dolore aut, quisquam ipsam id quidem voluptates, tempore molestiae quas aperiam consequuntur nam at earum sit voluptatem?
			div
				include ../components/general-component/btn.pug
				+btn-input('btn1542 mt-4 ml-auto', 'submit', 'submit') 
				+btn-link('cancel', 'cancel' , '#create_new_course.html')
