extends ../layouts/drawer.pug


block title
	title exam page
block right 
	.drawer.drawer--right
		button.btn.btn--small.btn--icon.btn--primary X
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, eius vero dicta animi ut soluta totam doloribus culpa sint perferendis optio velit voluptates illum necessitatibus sequi reprehenderit tenetur consequuntur fuga?
block left 
	.drawer.drawer--left
block content
	//- include ../components/modal-dialog.pug
	//- .drawers-container
	.container
		.row 
			.col-lg-6 
				p.body-1 open modal under header and sidebar 
				button.btn.btn--primary open modal
			.col-lg-6 
				p.body-1 open modal above header and sidebar 
				button.btn.btn--primary open modal
		.row 
			.col-lg-6 
				p.body-1 open from left
				button.btn.btn--primary.right-open open drawer left
			.col-lg-6
				p.body-1 open from right
				button.btn.btn--primary.left-open open drawer right
		.row 
			.col-lg-6 
				p.body-1 open from left half page
				button.btn.btn--primary.right-open-half open drawer left
			.col-lg-6
				p.body-1 open from right half page
				button.btn.btn--primary.left-open-half open drawer right

	//- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus suscipit commodi sequi culpa ea maiores repellat quo quasi cupiditate. Aut facilis modi odio asperiores excepturi voluptatem. Laborum, omnis sint?

