extends ../layouts/player-course.pug


block title
	title exam Answer page

block content
	include ../components/sidebar-play-list.pug
	+playlist
	.exam.video-player
		.container-fluid
			.row
				.col-lg-12
					.card.answer 
						.card__header 
							h3.header__title.title-h3.mt-0.mb-1 the flowchart has one output variable
						.card__header__content
							.field-wrapper
								.check-group
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-1" name="checkboxName")
										label.check-field__label(for="checkbox-1" name="checkboxName") Lorem ipsum dolor.
									.messages
										ul 
											li Please provide a valid city.
										//- i.fas.fa-check.icon
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-2" name="checkboxName")
										label.check-field__label(for="checkbox-2" ) Lorem ipsum dolor.
									.messages
										ul 
											li Please provide a valid city.
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-3" name="checkboxName")
										label.check-field__label(for="checkbox-3" ) Lorem ipsum dolor.
									.messages
										ul 
											li Please provide a valid city.
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-4" name="checkboxName")
										label.check-field__label(for="checkbox-4" ) Lorem ipsum dolor.
								.messages
									ul 
										li Please provide a valid city. 
				.col-lg-12
					.card.answer 
						.card__header 
							h3.header__title.title-h3.mt-0.mb-1 the flowchart has one output variable
						.card__content
							.field-wrapper
								.check-group
									.check-field
										input.check-field__input(type="radio" id="radio-1" name="radioName")
										label.check-field__label.radio-field__label(for="radio-1" name="radioName") Lorem ipsum dolor.
									.check-field
										input.check-field__input(type="radio" id="radio-2" name="radioName")
										label.check-field__label.radio-field__label(for="radio-2" ) Lorem ipsum dolor. 
									.check-field
										input.check-field__input(type="radio" id="radio-3" name="radioName")
										label.check-field__label.radio-field__label(for="radio-3" ) Lorem ipsum dolor. 
									.check-field
										input.check-field__input(type="radio" id="radio-4" name="radioName")
										label.check-field__label.radio-field__label(for="radio-4" ) Lorem ipsum dolor. 
								.messages
									ul 
										li Please provide a valid city. 		
				.col-lg-12
					.card.answer 
						.card__header  
							h3.header__title.title-h3.mt-0.mb-1the flowchart has one output variable
						.image.preview
							img(src="../../assets/images/sign.svg", alt="")
						.card__content
							.field-wrapper
								.check-group
									.check-field
										input.check-field__input(type="radio" id="radio-5" name="radioName")
										label.check-field__label.radio-field__label(for="radio-5" name="radioName") Lorem ipsum dolor.Lorem ipsum dolor.
									.check-field
										input.check-field__input(type="radio" id="radio-6" name="radioName")
										label.check-field__label.radio-field__label(for="radio-6" ) Lorem ipsum dolor. Lorem ipsum dolor.
									.check-field
										input.check-field__input(type="radio" id="radio-7" name="radioName")
										label.check-field__label.radio-field__label(for="radio-7" ) Lorem ipsum dolor Lorem ipsum dolor. 
									.check-field
										input.check-field__input(type="radio" id="radio-8" name="radioName")
										label.check-field__label.radio-field__label(for="radio-8" ) Lorem ipsum dolor Lorem ipsum dolor. 
								.messages
									ul 
										li Please provide a valid city. 		
				.col-lg-12
					.card.answer 
						.card__header  
							h3.header__title.title-h3.mt-0.mb-1the flowchart has one output variable 
						.card__content 
							.answer__item
								.image.preview
									img(src="../../assets/images/sign.svg", alt="")
								.check-group 	
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-11" name="checkboxName")
										label.check-field__label(for="checkbox-11" name="checkboxName") Lorem ipsum dolor.
							.answer__item  
								.image.preview
									img(src="../../assets/images/sign.svg", alt="")
								.check-group 	
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-12" name="checkboxName")
										label.check-field__label(for="checkbox-12" name="checkboxName") Lorem ipsum dolor.
							.answer__item  
								.image.preview
									img(src="../../assets/images/sign.svg", alt="")
								.check-group 	
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-13" name="checkboxName")
										label.check-field__label(for="checkbox-13" name="checkboxName") Lorem ipsum dolor.
							.answer__item  
								.image.preview
									img(src="../../assets/images/sign.svg", alt="")
								.check-group 	
									.check-field
										input.check-field__input(type="checkbox" id="checkbox-14" name="checkboxName")
										label.check-field__label(for="checkbox-14" name="checkboxName") Lorem ipsum dolor. 
					.exam__footer
						.card__footer-actions  
							a(href="#" class="btn btn--primary hover btn--ripple") Next
							a(href="#" class="btn btn--default hover btn--ripple") Previous