extends ../layouts/master.pug


block title
	title exam page

block content
	.mt-5
		.container
			.row
				.col-lg-8.offset-lg-2
					.card.card--exam.mb-4
						.card--drag-vertical 
							i.fas.fa-grip-horizontal
						.card__content 
							.field-wrapper
								//- label.text-field__label Insert you question *
								.text-field__content
									input.text-field__input(type='text' placeholder='Insert your question here.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
								ul.messages
									li.gray
										| hint message for question.
							select.question__type
								option(value='one') First
								option(value='two' disabled='disabled') Second (disabled)
								option(value='three') Third
						.field-wrapper
							//- label.text-field__label Course Description*
							.text-field__content
								textarea.textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
							ul.messages
								li
									| Please provide a valid city.
						
						.field-wrapper.text-field__input--text
								//- label.text-field__label Insert you question *
								.text-field__content
									//- .drag-vertical
									i.fas.fa-grip-vertical.exam__icon
									//- input(type="checkbox", name="" id="checkbox-mcq")
									.checkbox-mcq(for="checkbox-mcq")
										i.fas.fa-check
									input.text-field__input(type='text' placeholder='Insert your question here.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
									input(type="file", name="" id="file-input")
									label.file-input(for="file-input") 
										i.far.fa-image.exam__icon
								ul.messages
									li.gray
										| hint message for question.
								.preview
									img(src="../../assets/images/sign.svg", alt="")
						
						.field-wrapper.text-field__input--text
								//- label.text-field__label Insert you question *
								.text-field__content
									//- .drag-vertical
									i.fas.fa-grip-vertical.exam__icon
									//- input(type="checkbox", name="" id="checkbox-mcq")
									.checkbox-mcq.checkbox-mcq--radio(for="checkbox-mcq")
										//- i.fas.fa-check
									input.text-field__input(type='text' placeholder='Insert your question here.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
									//- input(type="radio", name="" id="file-input")
									label.file-input(for="file-input") 
										i.far.fa-image.exam__icon
								ul.messages
									li.gray
										| hint message for question.
								.preview
									img(src="../../assets/images/sign.svg", alt="")


				.col-lg-8.offset-lg-2
					.card.card--exam.mb-4
						//- .card--drag-vertical 
						//- 	i.fas.fa-grip-horizontal
						.card__header 
							h3.title-3.mt-0 Question title
						.card__content
							.field-wrapper
								ul.radio--group-inline
									li.radio-item_1
										input#radio-1(value="radio-1" name="paymentmethod" type="radio" data-minimum="50.0")
										label.radio-label-1(for="radio-1")  Radio
									li.radio-item_1
										input#radio-2(value="radio-2" name="paymentmethod" type="radio" data-minimum="50.0")
										label.radio-label-1(for="radio-2")  Radio
							//- .field-wrapper
								//- label.text-field__label Insert you question *
								//- .text-field__content
									input.text-field__input(type='text' placeholder='Insert your question here.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
								//- ul.messages
									li.gray
										| hint message for question.
							//- select.question__type
								option(value='one') First
								option(value='two' disabled='disabled') Second (disabled)
								option(value='three') Third
						//- .field-wrapper
							//- label.text-field__label Course Description*
							.text-field__content
								textarea.textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
							ul.messages
								li
									| Please provide a valid city.			
					//- select.js-example-basic-single.select2(name='state')
								option(value='eg') Egypt
								option(value='AL') Alabama
								option(value='WY') Wyoming


							
							


