extends ../layouts/site
include ../components/widgets/user-label

block title
  title Results

block content
  .page__cover
    img(src="../../assets/images/hero_shape.png")
  .container
    .card.card--lifted-up-264
      .card__header
        h1.card__title Assessment Title:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, placeat.
      .card__content.p-0
        .row
          .col-sm-9
            a(href="#" class="subtitle") Go to assessment
            p
              strong Submitted At:
              | يوليو 6, 2022, 8:47 ص
              strong Evaluated At:
              | يوليو 6, 2022, 8:47 ص

            .mt-auto
              +user-label('primary', true, true)

          .col-sm-3
            .score
              span.score__title Score
              span.score__content 40


    .tabs.tabs--center
      a.tab.tab--active Results
      a.tab Answers

    .card
      .card__header
        h1.card__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, placeat.

    .card
      .card__header
        h1.card__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, placeat.

