extends ../layouts/master.pug
block title
  title Explore Page 
block content

  // Menu
  +menu('Explore')
    //- Desktop page
  
  .wrapper
    .sa4d25
      .container-fluid
        .row
          .col-xl-12.col-lg-12
            section.section3125 
              .explore_search
                .ui.search.focus
                  .ui.left.icon.input.swdh11
                    input.prompt.srch_explore(type="text",placeholder="Search for Tuts Videos, Tutors, Tests and more..")
                    i.uil.uil-search-alt.icon.icon2
          section.section3125.mb-15.mt-25
        .row
          .col-xl-3.col-lg-4.col-md-4.col-sm-6 
            include ../components/course-card.pug
          .col-xl-3.col-lg-4.col-md-4.col-sm-6
            .item
              .fcrse_1.mb-20
                a.fcrse_img(href='course_detail_view.html')
                  img(src='../assets/images/courses/img-1.jpg' alt='')
                  .course-overlay
                    .badge_seller Bestseller
                    .crse_reviews
                      i.uil.uil-star
                      | 4.5
                    span.play_btn1
                      i.uil.uil-play
                    .crse_timer
                      | 25 hours
                .fcrse_content
                  .eps_dots.more_dropdown
                    a(href='#')
                      i.uil.uil-ellipsis-v
                    .dropdown-content
                      span
                        i.uil.uil-share-alt
                        | Share
                      span
                        i.uil.uil-heart
                        | Save
                      span
                        i.uil.uil-ban
                        | Not Interested
                      span
                        i.uil.uil-windsock
                        | Report
                  .vdtodt
                    span.vdt14 109k views
                    span.vdt14 15 days ago
                  a.crse14s(href='course_detail_view.html')
                    | Complete Python Bootcamp: Go from zero to hero
                    | in Python 3
                  a.crse-cate(href='#') Web Development | Python
                  .auth1lnkprce
                    p.cr1fot
                      | By
                      a(href='#') John Doe
                    .prce142 $10
                    button.shrt-cart-btn(title='cart')
                      i.uil.uil-shopping-cart-alt              
          .col-xl-3.col-lg-4.col-md-4.col-sm-6
            .item
                .fcrse_1.mb-20
                  a.fcrse_img(href='course_detail_view.html')
                    img(src='../assets/images/courses/img-1.jpg' alt='')
                    .course-overlay
                      .badge_seller Bestseller
                      .crse_reviews
                        i.uil.uil-star
                        | 4.5
                      span.play_btn1
                        i.uil.uil-play
                      .crse_timer
                        | 25 hours
                  .fcrse_content
                    .eps_dots.more_dropdown
                      a(href='#')
                        i.uil.uil-ellipsis-v
                      .dropdown-content
                        span
                          i.uil.uil-share-alt
                          | Share
                        span
                          i.uil.uil-heart
                          | Save
                        span
                          i.uil.uil-ban
                          | Not Interested
                        span
                          i.uil.uil-windsock
                          | Report
                    .vdtodt
                      span.vdt14 109k views
                      span.vdt14 15 days ago
                    a.crse14s(href='course_detail_view.html')
                      | Complete Python Bootcamp: Go from zero to hero
                      | in Python 3
                    a.crse-cate(href='#') Web Development | Python
                    .auth1lnkprce
                      p.cr1fot
                        | By
                        a(href='#') John Doe
                      .prce142 $10
                      button.shrt-cart-btn(title='cart')
                        i.uil.uil-shopping-cart-alt 
          .col-xl-3.col-lg-4.col-md-4.col-sm-6  
            .item
                .fcrse_1.mb-20
                  a.fcrse_img(href='course_detail_view.html')
                    img(src='../assets/images/courses/img-1.jpg' alt='')
                    .course-overlay
                      .badge_seller Bestseller
                      .crse_reviews
                        i.uil.uil-star
                        | 4.5
                      span.play_btn1
                        i.uil.uil-play
                      .crse_timer
                        | 25 hours
                  .fcrse_content
                    .eps_dots.more_dropdown
                      a(href='#')
                        i.uil.uil-ellipsis-v
                      .dropdown-content
                        span
                          i.uil.uil-share-alt
                          | Share
                        span
                          i.uil.uil-heart
                          | Save
                        span
                          i.uil.uil-ban
                          | Not Interested
                        span
                          i.uil.uil-windsock
                          | Report
                    .vdtodt
                      span.vdt14 109k views
                      span.vdt14 15 days ago
                    a.crse14s(href='course_detail_view.html')
                      | Complete Python Bootcamp: Go from zero to hero
                      | in Python 3
                    a.crse-cate(href='#') Web Development | Python
                    .auth1lnkprce
                      p.cr1fot
                        | By
                        a(href='#') John Doe
                      .prce142 $10
                      button.shrt-cart-btn(title='cart')
                        i.uil.uil-shopping-cart-alt 
          .col-xl-3.col-lg-4.col-md-4.col-sm-6  
            .item
                .fcrse_1.mb-20
                  a.fcrse_img(href='course_detail_view.html')
                    img(src='../assets/images/courses/img-1.jpg' alt='')
                    .course-overlay
                      .badge_seller Bestseller
                      .crse_reviews
                        i.uil.uil-star
                        | 4.5
                      span.play_btn1
                        i.uil.uil-play
                      .crse_timer
                        | 25 hours
                  .fcrse_content
                    .eps_dots.more_dropdown
                      a(href='#')
                        i.uil.uil-ellipsis-v
                      .dropdown-content
                        span
                          i.uil.uil-share-alt
                          | Share
                        span
                          i.uil.uil-heart
                          | Save
                        span
                          i.uil.uil-ban
                          | Not Interested
                        span
                          i.uil.uil-windsock
                          | Report
                    .vdtodt
                      span.vdt14 109k views
                      span.vdt14 15 days ago
                    a.crse14s(href='course_detail_view.html')
                      | Complete Python Bootcamp: Go from zero to hero
                      | in Python 3
                    a.crse-cate(href='#') Web Development | Python
                    .auth1lnkprce
                      p.cr1fot
                        | By
                        a(href='#') John Doe
                      .prce142 $10
                      button.shrt-cart-btn(title='cart')
                        i.uil.uil-shopping-cart-alt 
          .col-xl-3.col-lg-4.col-md-4.col-sm-6  
            .item
                .fcrse_1.mb-20
                  a.fcrse_img(href='course_detail_view.html')
                    img(src='../assets/images/courses/img-1.jpg' alt='')
                    .course-overlay
                      .badge_seller Bestseller
                      .crse_reviews
                        i.uil.uil-star
                        | 4.5
                      span.play_btn1
                        i.uil.uil-play
                      .crse_timer
                        | 25 hours
                  .fcrse_content
                    .eps_dots.more_dropdown
                      a(href='#')
                        i.uil.uil-ellipsis-v
                      .dropdown-content
                        span
                          i.uil.uil-share-alt
                          | Share
                        span
                          i.uil.uil-heart
                          | Save
                        span
                          i.uil.uil-ban
                          | Not Interested
                        span
                          i.uil.uil-windsock
                          | Report
                    .vdtodt
                      span.vdt14 109k views
                      span.vdt14 15 days ago
                    a.crse14s(href='course_detail_view.html')
                      | Complete Python Bootcamp: Go from zero to hero
                      | in Python 3
                    a.crse-cate(href='#') Web Development | Python
                    .auth1lnkprce
                      p.cr1fot
                        | By
                        a(href='#') John Doe
                      .prce142 $10
                      button.shrt-cart-btn(title='cart')
                        i.uil.uil-shopping-cart-alt 
          .col-xl-3.col-lg-4.col-md-4.col-sm-6  
            .item
                .fcrse_1.mb-20
                  a.fcrse_img(href='course_detail_view.html')
                    img(src='../assets/images/courses/img-1.jpg' alt='')
                    .course-overlay
                      .badge_seller Bestseller
                      .crse_reviews
                        i.uil.uil-star
                        | 4.5
                      span.play_btn1
                        i.uil.uil-play
                      .crse_timer
                        | 25 hours
                  .fcrse_content
                    .eps_dots.more_dropdown
                      a(href='#')
                        i.uil.uil-ellipsis-v
                      .dropdown-content
                        span
                          i.uil.uil-share-alt
                          | Share
                        span
                          i.uil.uil-heart
                          | Save
                        span
                          i.uil.uil-ban
                          | Not Interested
                        span
                          i.uil.uil-windsock
                          | Report
                    .vdtodt
                      span.vdt14 109k views
                      span.vdt14 15 days ago
                    a.crse14s(href='course_detail_view.html')
                      | Complete Python Bootcamp: Go from zero to hero
                      | in Python 3
                    a.crse-cate(href='#') Web Development | Python
                    .auth1lnkprce
                      p.cr1fot
                        | By
                        a(href='#') John Doe
                      .prce142 $10
                      button.shrt-cart-btn(title='cart')
                        i.uil.uil-shopping-cart-alt 
          .col-xl-3.col-lg-4.col-md-4.col-sm-6  
            .item
                .fcrse_1.mb-20
                  a.fcrse_img(href='course_detail_view.html')
                    img(src='../assets/images/courses/img-1.jpg' alt='')
                    .course-overlay
                      .badge_seller Bestseller
                      .crse_reviews
                        i.uil.uil-star
                        | 4.5
                      span.play_btn1
                        i.uil.uil-play
                      .crse_timer
                        | 25 hours
                  .fcrse_content
                    .eps_dots.more_dropdown
                      a(href='#')
                        i.uil.uil-ellipsis-v
                      .dropdown-content
                        span
                          i.uil.uil-share-alt
                          | Share
                        span
                          i.uil.uil-heart
                          | Save
                        span
                          i.uil.uil-ban
                          | Not Interested
                        span
                          i.uil.uil-windsock
                          | Report
                    .vdtodt
                      span.vdt14 109k views
                      span.vdt14 15 days ago
                    a.crse14s(href='course_detail_view.html')
                      | Complete Python Bootcamp: Go from zero to hero
                      | in Python 3
                    a.crse-cate(href='#') Web Development | Python
                    .auth1lnkprce
                      p.cr1fot
                        | By
                        a(href='#') John Doe
                      .prce142 $10
                      button.shrt-cart-btn(title='cart')
                        i.uil.uil-shopping-cart-alt 
    include ../components/footer.pug 