extends ../layouts/auth.pug

block title
	title My Page - Home

block content
	.auth-forms__alert.auth-forms__alert-invalid(role='alert') 
		| Author Form Content
	form
		//- .col-lg-12.col-md-6.col-sm-12
		//- 	.ui.search.focus
		//-   	.icon.input.lbel25
		//-     	label(for="validationServeriPassword" class="form-label") Password *
		//-     	.ui.left.icon.input.swdh95.w-100
		//-       	input(
		//-           class="prompt srch_explore form-control is-invalid"
		//-         	type="password"
		//-         	name="password"
		//-         	required maxlength="64"
		//-         	id="validationServeriPassword"
		//-         	aria-describedby="validationServer05Feedback"
		//-         	placeholder="Password"
		//-           )
		//-       	i.uil.uil-key-skeleton-alt.icon.icon2
		//-     	.invalid-feedback.my-2#validationServer05Feedback Requerd

		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--error
				label.text-field__label Course Title*
				.text-field__content
					//- input.prompt.srch_explore.form-control.is-invalid(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					input.text-field__input(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					.text-field__limit 60
				.message this is for hint
				.messages
					ul 
						li 
							| Please provide a valid city.


		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Course Title*
				.text-field__content
					input.text-field__input(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
				.message this is for hint
				.messages
					ul 
						li 
							| Please provide a valid city.
	 
		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper__file-input.field-wrapper--error
				label.text-field__label File*
				.input-group
					.file-input
						input#inputGroupFile06.custom-file-input(type='file')
						label.file-input__label(for='inputGroupFile06') No Choose file - (Pdf, Video)
				.message this is for hint
				.messages
					ul 
						li 
							| Please provide a valid city.


		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper__select-input
				label.text-field__label Language*
				.text-field__content
					select.ui.hj145.dropdown.cntry152.prompt.srch_explore.select-menu
						option(value='') Select Language
						option(value='1') English
						option(value='2') Espa&ntilde;ol
						option(value='3') Portugu&ecirc;s
						option(value='4') &#x65E5;&#x672C;&#x8A9E;
						option(value='5') Deutsch
						option(value='6') Fran&ccedil;ais
						option(value='7') T&uuml;rk&ccedil;e
						option(value='8') &#x939;&#x93F;&#x928;&#x94D;&#x926;&#x940;
						option(value='9') Italiano
						option(value='10') Polski
						option(value='11') &#xE20;&#xE32;&#xE29;&#xE32;&#xE44;&#xE17;&#xE22;
						option(value='12') Rom&acirc;n&abreve;
						option(value='13') Telugu
						option(value='14') &#x92E;&#x930;&#x93E;&#x920;&#x940;
						option(value='15') &#xA2A;&#xA70;&#xA1C;&#xA3E;&#xA2C;&#xA40;
				.message this is for hint
				.messages
					ul 
						li Please provide a valid city.
		
		
		.col-lg-12.mb-4
			h4.item__title General card
			include ../components/card.pug
		.col-lg-12
			h4.item__title collaps card
			include ../components/card.pug

		.btn-general submit

		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--error
				label.text-field__label Course checkbox*
				.ui.form.checkbox-sign
					.inline.field
						.ui.checkbox.mncheck
							input(type="checkbox" tabindex="0" class="hidden" id="checkbox-1")
							label(for="checkbox-1") checkbox
					.inline.field
						.ui.checkbox.mncheck
							input(type="checkbox" tabindex="0" class="hidden" id="checkbox-2")
							label(for="checkbox-1") checkbox
				.message this is for hint
				.messages
					ul 
						li 
							| Please provide a valid city.

		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--error
				label.text-field__label Course Radio Button*
				ul.field-wrapper__radio-group
					li.radio-item_1
						input.radio-input-1#radio-1(value="radio-1" name="paymentmethod" type="radio" data-minimum="50.0")
						label.radio-label-1(for="radio-1")  Radio
					li.radio-item_1
						input.radio-input-1#radio-2(value="radio-2" name="paymentmethod" type="radio" data-minimum="50.0")
						label.radio-label-1(for="radio-2")  Radio  
				.message this is for hint
				.messages
					ul 
						li 
							| Please provide a valid city.

		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper
				label.text-field__label Course Description*
				.text-field__content
					textarea.textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
				.messages
					ul 
						li
							| Please provide a valid city.
		//- input__date
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label(for='start Date') start Date :
				.text-field__content
					input.text-field__input(type='date' name='start Date' data-purpose='edit-start-date' maxlength='60' id='start Date' value='' required)
				.messages
					ul 
						li 
							| Please provide a valid city.
		//- input__time
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label start Time :
				.text-field__content
					input.text-field__input(type='time' placeholder='Insert your content.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
				.messages
					ul 
						li 
							| Please provide a valid content.
		//- input__datetime-local
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label start Date and Time :
				.text-field__content
					input.text-field__input(type="datetime-local" id="meeting-time" name="meeting-time" value="2021-08-15T03:30PM" min="2000-06-07T00:00" max="2030-06-14T00:00" required)
				.messages
					ul 
						li 
							| Please provide a valid content.
		//- input__password
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label start password :
				.text-field__content
					//- input.prompt.srch_explore.form-control.is-invalid(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					input.text-field__input(type='password' placeholder='Insert Your Password.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
				.messages
					ul 
						li 
							| Please provide a valid content.
		//- input__number
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label(for='number').text-field__label Start Number :
				.text-field__content
					//- input.prompt.srch_explore.form-control.is-invalid(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					input.text-field__input(type='number' placeholder='Insert Your Num.' name='number' data-purpose='edit-course-number' maxlength='60' id='main[number]' value='' min="0" max="100" required)
				.messages
					ul 
						li 
							| Please provide a valid content.
		//- input__email
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Email :
				.text-field__content
					//- input.prompt.srch_explore.form-control.is-invalid(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					input.text-field__input(type='email' placeholder='Insert Your Email.' name='e-mail' data-purpose='edit-email' maxlength='60' id='main[email]' value='' required)
				.messages
					ul 
						li 
							| Please provide a valid content.	
		//- input__tel
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Telephone :
				.text-field__content
					//- input.prompt.srch_explore.form-control.is-invalid(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					input.text-field__input(type='tel' placeholder='Insert Your Telephone.' name='telephone' data-purpose='edit-telephone' maxlength='60' id='main[tel]' value='' required)
				.messages
					ul 
						li 
							| Please provide a valid content.
			//- input__url
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Url :
				.text-field__content
					//- input.prompt.srch_explore.form-control.is-invalid(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
					input.text-field__input(type='url' placeholder="https://example.com" name='link' data-purpose='edit-course-link' maxlength='60' id='main[link]' pattern="https://.*" value='' required)
				.messages
					ul 
						li 
							| Please provide a valid content.
		//- input__select
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Select :
				.text-field__content
					select.ui.dropdown.text-field__input
						option(value='') Select option
						option(value='1') option 1
						option(value='2') option 2
						option(value='3') option 3
						option(value='4') option 4
						option(value='5') option 5
				.messages
					ul 
						li 
							| Please provide a valid content.	
		//- input__select
		.col-md-6.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Select 2 :
				.text-field__content
					select.ui.dropdown.text-field__input.js-example-basic-single(multiple="multiple" data-tags="true" data-placeholder="Select an option" data-allow-clear="true")
						option(value='1') purple
						option(value='2')  white
						option(value='3') black
						option(value='4') red
						option(value='5') blue
						option(value='6') green
						option(value='7') yellow
						option(value='8') gray
						option(value='9') pink
						option(value='10') brown
				.messages
					ul 
						li 
							| Please provide a valid content.																				

		//- .col-lg-12.col-md-6.col-sm-12
		//-   .ui.search.focus.mt-30.lbel25
		//-     label Volume*
		//-     .ui.left.icon.input.swdh19.swdh95
		//-       input.prompt.srch_explore(type='number' min='0' name='size' required='' placeholder='0')
		//-       .badge_mb MB

		//- .col-lg-12.col-md-6.col-sm-12
		//-   .ui.form.mt-30.checkbox_sign
		//-     .inline.field
		//-       .ui.checkbox.mncheck
		//-         input(
		//-           type="checkbox"
		//-           tabindex="0"
		//-           class="hidden"
		//-           id="remembr-signup"
		//-           )
		//-         label(for="remembr-signup") checkbox


		//- .col-lg-12
		//-   .course_des_textarea.mt-30.lbel25
		//-     label Course Description*
		//-     .course_des_bg
		//-       ul.course_des_ttle
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-bold
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-italic
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-list-ul
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-left-to-right-text-direction
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-right-to-left-text-direction
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-list-ui-alt
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-link
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-text-size
		//-         li
		//-           a(href='#')
		//-             i.uil.uil-text
		//-       .textarea_dt
		//-         .ui.form.swdh339
		//-           .field
		//-             textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
