extends ../layouts/auth.pug

block title
	title My Page - Home

block content
	.auth-forms__alert.auth-forms__alert-invalid(role='alert')
		| Author Form Content
	form
		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--error
				label.text-field__label Course Title*
				.text-field__content
					input.text-field__input(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
				ul.messages
					li
						| Please provide a valid city.
		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Course Title*
				.text-field__content
					input.text-field__input(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
				ul.messages
					li
						| Please provide a valid city.

		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper__file-input.field-wrapper--error
				label.text-field__label File*
				.input-group
					.file-input
						input#inputGroupFile06.custom-file-input(type='file')
						label.file-input__label(for='inputGroupFile06') No Choose file - (Pdf, Video)
				ul.messages
					li
						| Please provide a valid city.


		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper__select-input
				label.text-field__label Language*
				.text-field__content
					select.ui.hj145.dropdown.cntry152.prompt.srch_explore.select-menu
						option(value='') Select Language
						option(value='1') English
						option(value='2') Espa&ntilde;ol
						option(value='3') Portugu&ecirc;s
						option(value='4') &#x65E5;&#x672C;&#x8A9E;
						option(value='5') Deutsch
						option(value='6') Fran&ccedil;ais
						option(value='7') T&uuml;rk&ccedil;e
						option(value='8') &#x939;&#x93F;&#x928;&#x94D;&#x926;&#x940;
						option(value='9') Italiano
						option(value='10') Polski
						option(value='11') &#xE20;&#xE32;&#xE29;&#xE32;&#xE44;&#xE17;&#xE22;
						option(value='12') Rom&acirc;n&abreve;
						option(value='13') Telugu
						option(value='14') &#x92E;&#x930;&#x93E;&#x920;&#x940;
						option(value='15') &#xA2A;&#xA70;&#xA1C;&#xA3E;&#xA2C;&#xA40;
				ul.messages
					li
						| Please provide a valid city.  
		// input checkbox 
		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--error
				label.text-field__label Course checkbox*
				.check-group
					.check-field
						input.check-field__input(type="checkbox" id="checkbox-1" name="checkboxName")
						label.check-field__label(for="checkbox-1" name="checkboxName") Lorem ipsum dolor.
					.messages
						ul 
							li Please provide a valid city.
						//- i.fas.fa-check.icon
					.check-field
						input.check-field__input(type="checkbox" id="checkbox-2" name="checkboxName")
						label.check-field__label(for="checkbox-2" ) Lorem ipsum dolor.
					.messages
						ul 
							li Please provide a valid city.
					.check-field
						input.check-field__input(type="checkbox" id="checkbox-3" name="checkboxName")
						label.check-field__label(for="checkbox-3" ) Lorem ipsum dolor.
					.messages
						ul 
							li Please provide a valid city.
					.check-field
						input.check-field__input(type="checkbox" id="checkbox-4" name="checkboxName")
						label.check-field__label(for="checkbox-4" ) Lorem ipsum dolor.
				.messages
					ul 
						li Please provide a valid city.
		// input radio
		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper.field-wrapper--error
				label.text-field__label Course checkbox*
				.check-group
					.check-field
						input.check-field__input(type="radio" id="radio-1" name="radioName")
						label.check-field__label.radio-field__label(for="radio-1" name="radioName") Lorem ipsum dolor.
					.check-field
						input.check-field__input(type="radio" id="radio-2" name="radioName")
						label.check-field__label.radio-field__label(for="radio-2" ) Lorem ipsum dolor. 
				.messages
					ul 
						li Please provide a valid city. 
		// 	textarea
		.col-lg-12.col-md-12.col-sm-12
			.field-wrapper
				label.text-field__label Course Description*
				.text-field__content
					textarea.textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
				ul.messages
					li
						| Please provide a valid city.
		// input__date
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label(for='start Date') start Date :
				.text-field__content
					input.text-field__input(type='date' name='start Date' data-purpose='edit-start-date' maxlength='60' id='start Date' value='' required)
				ul.messages
					li
						| Please provide a valid city.
		// input__time
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label start Time :
				.text-field__content
					input.text-field__input(type='time' placeholder='Insert your content.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
				ul.messages
					li
						| Please provide a valid city.
		// input__datetime-local
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label start Date and Time :
				.text-field__content
					input.text-field__input(type="datetime-local" id="meeting-time" name="meeting-time" value="2021-08-15T03:30PM" min="2000-06-07T00:00" max="2030-06-14T00:00" required)
				ul.messages
					li
						| Please provide a valid city.
		// input__password
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label start password :
				.text-field__content
					input.text-field__input(type='password' placeholder='Insert Your Password.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
				ul.messages
					li
						| Please provide a valid city.
		// input__number
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label(for='number').text-field__label Start Number :
				.text-field__content
					input.text-field__input(type='number' placeholder='Insert Your Num.' name='number' data-purpose='edit-course-number' maxlength='60' id='main[number]' value='' min="0" max="100" required)
				ul.messages
					li
						| Please provide a valid city.
		// input__email
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Email :
				.text-field__content
					input.text-field__input(type='email' placeholder='Insert Your Email.' name='e-mail' data-purpose='edit-email' maxlength='60' id='main[email]' value='' required)
				ul.messages
					li
						| Please provide a valid city.
		// input__tel
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Telephone :
				.text-field__content
					input.text-field__input(type='tel' placeholder='Insert Your Telephone.' name='telephone' data-purpose='edit-telephone' maxlength='60' id='main[tel]' value='' required)
				ul.messages
					li
						| Please provide a valid city.
			// input__url
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Url :
				.text-field__content
					input.text-field__input(type='url' placeholder="https://example.com" name='link' data-purpose='edit-course-link' maxlength='60' id='main[link]' pattern="https://.*" value='' required)
				ul.messages
					li
						| Please provide a valid city.
		// input__select
		.col-md-12.col-sm-6
			.field-wrapper.field-wrapper--no-message
				label.text-field__label Start Select :
				.text-field__content
					select.ui.dropdown.text-field__input
						option(value='') Select option
						option(value='1') option 1
						option(value='2') option 2
						option(value='3') option 3
						option(value='4') option 4
						option(value='5') option 5
				ul.messages
					li
						| Please provide a valid city.
		// input__select 
		.col-lg-12
			.filter_selector
				.ui.inline.dropdown.ftl145
					.text Sort
					i.dropdown.icon
					.menu
						.item item 1
						.item item 2
						.item item 3
						.item item 4
						.item item 5
						.item item 6
		.row
			.col-lg-12.col-md-6.col-sm-12
				.field-wrapper.field-wrapper--error
					label.text-field__label Course Title*
					.text-field__content
						input.text-field__input(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
						.text-field__limit 60
					ul.messages
						li
							| Please provide a valid city.
			.col-lg-12.col-md-6.col-sm-12
				.field-wrapper.field-wrapper--no-message
					label.text-field__label Course Title*
					.text-field__content
						input.text-field__input(type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
					ul.messages
						li
							| Please provide a valid city.
			.col-lg-12.col-md-6.col-sm-12
				.field-wrapper.field-wrapper__file-input.field-wrapper--error
					label.text-field__label File*
					.input-group
						.file-input
							input#inputGroupFile06.custom-file-input(type='file')
							label.file-input__label(for='inputGroupFile06') No Choose file - (Pdf, Video)
					ul.messages
						li
							| Please provide a valid city.
			.col-lg-12.col-md-12.col-sm-12
				.field-wrapper
					label.text-field__label Course Radio Button*
					.text-field__content
						textarea.textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
					ul.messages
						li
							| Please provide a valid city.  
			.col-lg-12
				.filter_selector
					.ui.inline.dropdown.ftl145
						.text Sort
						i.dropdown.icon
						.menu
							.item item 1
							.item item 2
							.item item 3
							.item item 4
							.item item 5
							.item item 6

			.col-lg-12
				select.js-example-basic-single.select2(name='state' multiple='multiple')
					option(value='eg') Egypt
					option(value='AL') Alabama
					option(value='WY') Wyoming
