extends ../layouts/master.pug

block title
  title My Page - Home
block menu-header
  include ../components/menu-list.pug

block content
  form
    .container
      .row
        .col-12
          .card.my-4
            .card__title
              h3 inputs field
            .card__content
              .field-wrapper.field-wrapper--error
                label.field-wrapper__label Course Title*
                .field-wrapper__content
                  input(class="field" type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
                ul.field-wrapper__messages
                  li
                    | Please provide a valid city.
              .field-wrapper.field-wrapper--sm
                label.field-wrapper__label Course Title*
                .field-wrapper__content
                  input(class="field" type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
                ul.field-wrapper__messages
                  li
                    | Please provide a valid city.
              .field-wrapper.field-wrapper--lg
                label.field-wrapper__label Course Title*
                .field-wrapper__content
                  input(class="field" type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
                ul.field-wrapper__messages
                  li
                    | Please provide a valid city.
              .field-wrapper
                label.field-wrapper__label Course Title*
                .field-wrapper__content
                  input(class="field" type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
                ul.field-wrapper__messages
                  li
                    | Please provide a valid city.
              .field-wrapper
                label.field-wrapper__label Course Title*
                .field-wrapper__content
                  input(class="field field--underline" type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='' id='main[title1]' value='')
                ul.field-wrapper__messages
                  li
                    | Please provide a valid city.
          .card.my-4
            .card__title
              h3 input field file
            .card__content
              .row
                .col-lg-6.col-md-12.col-sm-12
                  .field-wrapper.field-wrapper--error
                    label.field-wrapper__label File*
                    .input-group.field-field-group
                      .file-input
                        input(id="inputGroupFile06" class="field" type='file')
                        label(class="file-input__label" for='inputGroupFile06') No Choose file - (Pdf, Video)
                    ul.field-wrapper__messages
                      li
                        | Please provide a valid city.
                .col-lg-6.col-md-12.col-sm-12
                  .field-wrapper
                    label.field-wrapper__label File*
                    .input-group.field-field-group
                      .file-input
                        input(id="inputGroupFile06" class="field" type='file')
                        label(class="file-input__label" for='inputGroupFile06') No Choose file - (Pdf, Video)
                    ul.field-wrapper__messages
                      li
                        | Please provide a valid city.
        // input checkbox
      .row
        .col-12
          .card.my-4
            .card__title
              h3 input checkbox
            .card__content
              .row
                .col-lg-6.col-md-6.col-sm-6
                  .field-wrapper.field-wrapper--error
                    label.field-wrapper__label checkbox *
                    .check-field-group.check-field-group--horizontal
                      div
                        input(class="field" type="checkbox" id="checkbox-1" name="checkname")
                        label(for="checkbox-1") Lorem ipsum dolor.
                      div
                        input(class="field" type="checkbox" id="checkbox-2" name="checkname")
                        label(for="checkbox-2") Lorem ipsum dolor.
                      div
                        input(class="field" type="checkbox" id="checkbox-3" name="checkname")
                        label(for="checkbox-3") Lorem ipsum dolor.
                    ul.field-wrapper__messages
                      li Please provide a valid city.
                .col-lg-6.col-md-6.col-sm-6
                  .field-wrapper
                    label.field-wrapper__label checkbox *
                    .check-field-group
                      div
                        input(class="field" type="checkbox" id="checkbox-4" name="checkname")
                        label(for="checkbox-4") Lorem ipsum dolor.
                      div
                        input(class="field" type="checkbox" id="checkbox-5" name="checkname")
                        label(for="checkbox-5") Lorem ipsum dolor.
                      div
                        input(class="field" type="checkbox" id="checkbox-6" name="checkname")
                        label(for="checkbox-6") Lorem ipsum dolor.
                    ul.field-wrapper__messages
                      li Please provide a valid city.
                  .field-wrapper
                    div
                      input(class="field" type="checkbox" id="checkbox-42" name="checkname")
                      label(for="checkbox-42")
                    div
                      input(class="field" type="checkbox" id="checkbox-433" name="checkname")
                      label(for="checkbox-433")
      .row
        .col-12
          .card.my-4
            .card__title
              h3 input radio
            .card__content
              .row
                // input radio
                .col-lg-6.col-md-6.col-sm-6
                  .field-wrapper
                    label.field-wrapper__label Course checkbox*
                    .check-field-group.check-field-group--horizontal
                      div
                        input(class="field" type="radio" id="radio-1" name="radioName")
                        label(for="radio-1") Lorem ipsum dolor.
                      div
                        input(class="field" type="radio" id="radio-2" name="radioName")
                        label(for="radio-2") Lorem ipsum dolor.
                      div
                        input(class="field" type="radio" id="radio-3" name="radioName")
                        label(for="radio-3") Lorem ipsum dolor.
                    ul.field-wrapper__messages
                      li Please provide a valid city.
                .col-lg-6.col-md-6.col-sm-6
                  .field-wrapper
                    label.field-wrapper__label Course checkbox*
                    .check-field-group
                      div
                        input(class="field" type="radio" id="radio-4" name="radioName")
                        label(for="radio-4") Lorem ipsum dolor.
                      div
                        input(class="field" type="radio" id="radio-5" name="radioName")
                        label(for="radio-5") Lorem ipsum dolor.
                      div
                        input(class="field" type="radio" id="radio-6" name="radioName")
                        label(for="radio-6") Lorem ipsum dolor.
                    ul.field-wrapper__messages
                      li Please provide a valid city.
                  .field-wrapper 
                    div
                      input(class="field" type="radio" id="radio-75" name="radioName")
                      label(for="radio-75")
                    div
                      input(class="field" type="radio" id="radio-577" name="radioName")
                      label(for="radio-577") 
                      //check-field out wrapper
      .row
        .col-12
          .card.my-4
            .card__title
              h3 input select
            .card__content
              .row
                // input__select
                .col-md-6.col-sm-6
                  .field-wrapper
                    label.field-wrapper__label Start Select :
                    .field-wrapper__content
                      select.field
                        option(value='') Select option
                        option(value='1') option 1
                        option(value='2') option 2
                        option(value='3') option 3
                        option(value='4') option 4
                        option(value='5') option 5
                    ul.field-wrapper__messages
                      li
                        | Please provide a valid city.
                .col-md-6.col-sm-6
                  .field-wrapper.field-wrapper--error
                    label.field-wrapper__label Start Select :
                    .field-wrapper__content
                      select.field
                        option(value='') Select option
                        option(value='1') option 1
                        option(value='2') option 2
                        option(value='3') option 3
                        option(value='4') option 4
                        option(value='5') option 5
                    ul.field-wrapper__messages
                      li
                        | Please provide a valid city.
                .col-md-6.col-sm-6
                  .field-wrapper
                    label.field-wrapper__label Course Title*
                    .field-wrapper__content
                      input(class="field" type='text' placeholder='Insert your course title.' name='title' data-purpose='edit-course-title' maxlength='60' id='main[title]' value='' required)
                    ul.field-wrapper__messages
                      li
                        | Please provide a valid city.
      .row
        .col-12
          .card.my-4
            .card__title
              h3 Default
            .card__content
              .row
                .col-lg-12.col-md-12.col-sm-12
                  .field-wrapper
                    label.field-wrapper__label Course Radio Button*
                    .field-wrapper__content
                      textarea( id="id_course_description" class="textarea field" rows='5' name='description' placeholder='Insert your course description')
                    ul.field-wrapper__messages
                      li
                        | Please provide a valid city.
