extends ../layouts/admin.pug
block title
	title Media-library
block sidebar
	include ../components/sidebar-content.pug

block content
	.container-fluid
		.row
			.col-lg-12
				.d-flex.flex-column.my-3
					.d-flex.justify-content-between.align-items-center
						h1.title-h1.mb-0 Media
		.row
			.col-lg-12
				.d-flex.flex-column
					.d-flex.justify-content-between.align-items-center
						h2.title-h2 Media Library
						a(class="btn btn--primary btn--rounded" href="#") create
		.row
			.col-lg-9
				.row
					.col-lg-4.col-md-4
						.media-card
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="iframe" data-gall="myGallery" href="https://www.youtube.com/embed/3ULUohpQqMU")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								//- a.example-image-link(href='http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg' data-lightbox='example-set' data-title='Click the right half of the image to move forward.')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.col-lg-4.col-md-4
						.media-card
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="img" data-gall="myGallery" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.col-lg-4.col-md-4
						.media-card
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="img" data-gall="myGallery" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.col-lg-4.col-md-4
						.media-card
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="img" data-gall="myGallery" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.col-lg-4.col-md-4
						.media-card
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="img" data-gall="myGallery" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.col-lg-4.col-md-4
						.media-card
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="img" data-gall="myGallery" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.

			.col-lg-3
				.general-wrapper.general-wrapper--card-details
					.general-wrapper__content
						.d-flex
							span.description__name Id
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 
						.d-flex
							span.description__name Author
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 
						.d-flex
							span.description__name Author
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 

				// cover bg or video
		.row
			.col-lg-12
				.d-flex.flex-column
					.d-flex.justify-content-between.align-items-center
						h2.title-h2.mt-0 Media Library
						a(class="btn btn--primary btn--rounded" href="#") create
		.row
			.col-lg-9
				.row
					.col-lg-12
						.media-card.media-card--cover
							.media-card__image
								a(class="venobox" data-autoplay="true" data-vbtype="iframe" data-gall="myGallery" href="https://www.youtube.com/embed/3ULUohpQqMU")
									img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
								.more-dropdown.more-dropdown--absolute
									button.btn.btn--hover-dropdown
										i.fas.fa-ellipsis-v.more-dropdown__icon
									.more-dropdown__content
										a(href="#" class="content__item")
											i.item__icon.uil.uil-comment-alt-edit
											| Edit
										a(href="#" class="content__item")
											i.item__icon.uil.uil-trash-alt
											| Delete
							.media-card__description 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
			.col-lg-3
				.general-wrapper.general-wrapper--card-details
					.general-wrapper__content
						.d-flex
							span.description__name Id
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 
						.d-flex
							span.description__name Author
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 
						.d-flex
							span.description__name Author
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 

		.row
			.col-lg-12
				.d-flex.flex-column
					.d-flex.justify-content-between.align-items-center
						h2.title-h2 Download File
						a(class="btn btn--primary btn--rounded" href="#") create
		.row
			.col-lg-9
				.row
					.col-lg-6
						.card.card--card-file 
							.card__content
								.file-card
									i.far.fa-file-pdf.file-icon.gray
								.card__body
									.card__content-header
										.user-data
											h3.text-h3 file Item
									.card__content--details
										.card__info
											h4.text-3  Size :
											span.text-3.gray 45m
										.card__info
											h4.text-3  Type :
											span.text-3.gray Pdf
							.more-dropdown
								button.btn.btn--hover-dropdown
									i.fas.fa-ellipsis-v.more-dropdown__icon
								.more-dropdown__content
									a(href="#" class="content__item")
										i.item__icon.uil.uil-comment-alt-edit
										| Edit
									a(href="#" class="content__item")
										i.item__icon.uil.uil-trash-alt
										| DownLoad
					.col-lg-6
						.card.card--card-file 
							.card__content
								.file-card
									i.far.fa-file-pdf.file-icon.gray
								.card__body
									.card__content-header
										.user-data
											h3.text-h3 file Item
									.card__content--details
										.card__info
											h4.text-3  Size :
											span.text-3.gray 45m
										.card__info
											h4.text-3  Type :
											span.text-3.gray Pdf
							.more-dropdown
								button.btn.btn--hover-dropdown
									i.fas.fa-ellipsis-v.more-dropdown__icon
								.more-dropdown__content
									a(href="#" class="content__item")
										i.item__icon.uil.uil-comment-alt-edit
										| Edit
									a(href="#" class="content__item")
										i.item__icon.uil.uil-trash-alt
										| DownLoad
					.col-lg-6
						.card.card--card-file 
							.card__content
								.file-card
									i.far.fa-file-pdf.file-icon.gray
								.card__body
									.card__content-header
										.user-data
											h3.text-h3 file Item
									.card__content--details
										.card__info
											h4.text-3  Size :
											span.text-3.gray 45m
										.card__info
											h4.text-3  Type :
											span.text-3.gray Pdf
							.more-dropdown
								button.btn.btn--hover-dropdown
									i.fas.fa-ellipsis-v.more-dropdown__icon
								.more-dropdown__content
									a(href="#" class="content__item")
										i.item__icon.uil.uil-comment-alt-edit
										| Edit
									a(href="#" class="content__item")
										i.item__icon.uil.uil-trash-alt
										| DownLoad
					.col-lg-6
						.card.card--card-file 
							.card__content
								.file-card
									i.far.fa-file-pdf.file-icon.gray
								.card__body
									.card__content-header
										.user-data
											h3.text-h3 file Item
									.card__content--details
										.card__info
											h4.text-3  Size :
											span.text-3.gray 45m
										.card__info
											h4.text-3  Type :
											span.text-3.gray Pdf
							.more-dropdown
								button.btn.btn--hover-dropdown
									i.fas.fa-ellipsis-v.more-dropdown__icon
								.more-dropdown__content
									a(href="#" class="content__item")
										i.item__icon.uil.uil-comment-alt-edit
										| Edit
									a(href="#" class="content__item")
										i.item__icon.uil.uil-trash-alt
										| DownLoad
			.col-lg-3
				.general-wrapper.general-wrapper--card-details
					.general-wrapper__content
						.d-flex
							span.description__name Id
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur
						.d-flex
							span.description__name Author
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur 
						.d-flex
							span.description__name Author
								strong :
							p.description__details Lorem ipsum, dolor sit amet consectetur
