extends ../layouts/site.pug

block title
	title Pricing
block content
	section.assessment.plan
		.container
			.row.justify-content-between
				.col-md-8.col-sm-6 
					.assessment__title
						h3 plane name 
						p.body-1 $49/month
						p.body-2 Details about this plan Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero rem beatae sunt possimus eius quas magnam? Maiores eaque deserunt, alias officia, itaque ea dolores adipisci soluta distinctio unde dolorum.
						a(href="checkout.html" class="btn btn--primary" ) Checkout
				//- .col-md-4.col-sm-6 
				img(class="image preview" src="../../assets/images/icon-1.svg", alt="")
	.container
		.row
			//- .col-12
				.section.section--with-margins
					.d-flex.justify-content-between
						div
							h2 plane name 
							p.body-1 $49/month
							p.body-2 Details about this plan
						img(src="../../assets/images/icon-1.svg" alt="" class="image preview")
			.col-12 
				h2 courses 
			.col-12 
				div(class="owl-carousel display-4 owl-theme")
					.item 
						div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
					.item 
						div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
					.item 
						div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
					.item 
						div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
					.item 
						div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
					.item 
						div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
			.col-12 
				h2 surveys 
			.col-12 
				div(class="owl-carousel display-4 owl-theme")
					.item 
						div(class="survey-card-container" data-data='{"id":1,"title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"","url":"survey-details.html","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Wnbe.svg"},"type": "curriculum"}')
					.item 
						div(class="survey-card-container" data-data='{"id":1,"title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"","url":"survey-details.html","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Wnbe.svg"},"type": "curriculum"}')
					.item 
						div(class="survey-card-container" data-data='{"id":1,"title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"","url":"survey-details.html","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Wnbe.svg"},"type": "curriculum"}')
					.item 
						div(class="survey-card-container" data-data='{"id":1,"title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"","url":"survey-details.html","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Wnbe.svg"},"type": "curriculum"}')
					.item 
						div(class="survey-card-container" data-data='{"id":1,"title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"","url":"survey-details.html","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Wnbe.svg"},"type": "curriculum"}')
					.item 
						div(class="survey-card-container" data-data='{"id":1,"title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"","url":"survey-details.html","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Wnbe.svg"},"type": "curriculum"}')
			.col-12 
				h2 Blogs 
			.col-12 
				div(class="owl-carousel display-4 owl-theme")
					.item 
						div(class="blog-card-container" data-data='{"id":1,"publish_at":"12/12/2012","author":"../../assets/images/profile.png","author_name":"advance","status":"puplic","title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"Web Development | Python","url":"#","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Nbe2.svg"},"type": "Type"}')
					.item 
						div(class="blog-card-container" data-data='{"id":1,"publish_at":"12/12/2012","author":"../../assets/images/profile.png","author_name":"advance","status":"puplic","title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"Web Development | Python","url":"#","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Nbe2.svg"},"type": "Type"}')
					.item 
						div(class="blog-card-container" data-data='{"id":1,"publish_at":"12/12/2012","author":"../../assets/images/profile.png","author_name":"advance","status":"puplic","title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"Web Development | Python","url":"#","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Nbe2.svg"},"type": "Type"}')
					.item 
						div(class="blog-card-container" data-data='{"id":1,"publish_at":"12/12/2012","author":"../../assets/images/profile.png","author_name":"advance","status":"puplic","title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"Web Development | Python","url":"#","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Nbe2.svg"},"type": "Type"}')
					.item 
						div(class="blog-card-container" data-data='{"id":1,"publish_at":"12/12/2012","author":"../../assets/images/profile.png","author_name":"advance","status":"puplic","title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"Web Development | Python","url":"#","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Nbe2.svg"},"type": "Type"}')
					.item 
						div(class="blog-card-container" data-data='{"id":1,"publish_at":"12/12/2012","author":"../../assets/images/profile.png","author_name":"advance","status":"puplic","title":"article-title","short_description":"نظرا للفروق الفرديه بين الطلاب ( الموظفين المحتملين ) ذو الاعاقه النمائيه من ذوي الاعاقه الذهنيه والتوحد ، فإنه من الضروري بمكان مراجعة بعض الإعتبارات الوظيفية الخاصة بالموظفين المحتملين قبل إلحاقهم بالوظيفة لتأثير ىذه الإعتبارات على أدائهم المهني..","thumb":"../../assets/images/exam.png","category":"Web Development | Python","url":"#","language":"ar","sponsor":{"id":1,"title":"sponcer title","cover":"../../assets/images/NBE.svg","inverted_cover": "../../assets/images/Nbe2.svg"},"type": "Type"}')