extends ../layouts/site.pug

block title
	title Pricing
block content
	section.assessment.plan
		.container
			.row.justify-content-between
				.col-md-8.col-sm-6 
					.assessment__title
						h3 plane name 
						p.body-1 $49/month
						p.body-2 Details about this plan Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur libero rem beatae sunt possimus eius quas magnam? Maiores eaque deserunt, alias officia, itaque ea dolores adipisci soluta distinctio unde dolorum.
						//- .plan-item
						//- 	span.material-icons done
						//- 	p.body-1 Feature One Feature 
						//- .plan-item
						//- 	span.material-icons done
						//- 	p.body-1 Feature One Feature 
						//- .plan-item
						//- 	span.material-icons done
						//- 	p.body-1 Feature One Feature 
						//- .plan-item
						//- 	span.material-icons done
						//- 	p.body-1 Feature One Feature 
				//- .col-md-4.col-sm-6 
				div.plan__left-side
					a(href="checkout.html" class="btn btn--primary btn--xl" ) Checkout
					img(class="image preview" src="../../assets/images/icon-1.svg", alt="")
	.container
		.row
			.col-12 
				h2 Features
			.col-12 
				.label.label--primary
					span.label__icon.material-icons done
					.label__content
						p lorem lorem
				.label.label--primary
					span.label__icon.material-icons done
					.label__content
						p lorem lorem
				.label.label--primary
					span.label__icon.material-icons done
					.label__content
						p lorem lorem
				.label.label--primary
					span.label__icon.material-icons done
					.label__content
						p lorem lorem
			.col-12 
				h2 courses 
			.col-12 
				div(class="owl-carousel display-5 owl-theme")
					.item
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
						//- div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
			
			.col-12 
				h2 surveys 
			.col-12 
				div(class="owl-carousel display-5 owl-theme")
					.item
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
			
			.col-12 
				h2 Blogs 
			.col-12 
				div(class="owl-carousel display-5 owl-theme")
					.item
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
					.item 
						.plane-item-card
							img(src="../../assets/images/get_img.jpg", alt="") 
							.plane-item-card__overlay
								h5 category
								p.body-2 test test test 
