extends ../layouts/player-course.pug

block title
	title video-player
//- block listVideo
block content
	include ../components/sidebar-play-list.pug
	+playlist
		include ../components/list-video.pug
	.video-player 
		iframe(src="https://www.youtube.com/embed/tgbNymZ7vqY")
