extends ../layouts/player-course.pug

block title
	title video-player
block content
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia iusto libero deserunt minus, dolores natus sapiente. Quia tempore enim corporis vitae eos eaque dolor harum corrupti, sunt illum similique repellat?
