extends ../layouts/admin.pug
block title
	title Admin course chapter
block button-collapsed
	include ../components/general-component/toggle-menu.pug
block content


	.container-fluid
		.row
			.col-lg-12
				.d-flex.justify-content-between.align-items-center
					h3.bold.title-h3 Recommendation
				div(class='recommendations-list' data-link="http://localhost:3000/recommendations/")