extends ../layouts/auth.pug


block title

	title forget

block content
  h2.title-h6.semi-bold  Mobile Phone Verification
  p.text-4.gray semi-bold gray  Enter the code we just send on your mobile phone
    span  +20155028165
    form.my-2(name="verify")
      .verification.d-flex.my-2#verification
        input.vcode-input#vcode1(type="tel" maxlength="1" pattern="[0-9]")
        input.vcode-input#vcode2(type="tel" maxlength="1" pattern="[0-9]")
        input.vcode-input#vcode3(type="tel" maxlength="1" pattern="[0-9]")
        input.vcode-input#vcode4(type="tel" maxlength="1" pattern="[0-9]")
        input.vcode-input#vcode5(type="tel" maxlength="1" pattern="[0-9]")
        input.vcode-input#vcode6(type="tel" maxlength="1" pattern="[0-9]")  
      button.btn.btn--primary.btn--rounded.btn--center.medium.text-2.px-5.mt-4(type="submit") Reset
      p.title-2.terms-link  don't receive the code ?
        a.btn.btn--success.btn--text.p-0.m-0   Reset
