extends ../layouts/site.pug

block title
	title My Page - Blog

block content
	.container 
		.row 
			.col-md-8 
				.blog 
					.blog__header 
					.blog__media 
					.blog__content 
					.blog__footer
			.col-md-4