extends ../layouts/site.pug

block title
	title single survey

block content
	.container 
		.row 
			.col-md-8 
				.blog 
					.blog__header 
						p.body-2 published at ....
						h2.title-2 survey title here 
						p.body-1 category here
					.blog__media.owl-carousel.owl-theme
						.item
							img(src="../../assets/images/hero_bg.jpg", alt="")
						.item
							img(src="../../assets/images/hero_bg.jpg", alt="")
						.item
							img(src="../../assets/images/hero_bg.jpg", alt="")
					.blog__content 
						p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque ab ipsa assumenda labore laborum accusamus quis! Sed, eaque, atque at sapiente ipsa cumque explicabo harum quidem nobis possimus aliquam.
						p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque ab ipsa assumenda labore laborum accusamus quis! Sed, eaque, atque at sapiente ipsa cumque explicabo harum quidem nobis possimus aliquam.
						p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque ab ipsa assumenda labore laborum accusamus quis! Sed, eaque, atque at sapiente ipsa cumque explicabo harum quidem nobis possimus aliquam.
						p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque ab ipsa assumenda labore laborum accusamus quis! Sed, eaque, atque at sapiente ipsa cumque explicabo harum quidem nobis possimus aliquam.
						p.body-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloremque ab ipsa assumenda labore laborum accusamus quis! Sed, eaque, atque at sapiente ipsa cumque explicabo harum quidem nobis possimus aliquam.
					.blog__tags
						a(class="body-2" href="#") 
							| tag1
						a(class="body-2" href="#")
							| tag2
					//- .blog__author
						img(src="../../assets/images/profile.jpg", alt="")
						div 
							h5.title-h5 author name
							p.body-1 this line about author
					.blog__sponsor 
						.row
							.col-12
								img(class="image image--sponsor" src="../../assets/images/DrososLogoPrint.svg", alt="")
							.col-12
								p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi quibusdam harum consequatur soluta dolore, repudiandae ipsam cum perspiciatis animi aspernatur aut nulla fugiat consectetur doloremque eum, error cupiditate a. At!
			.col-md-4
				.list.list--with-top-space
					.list-title.list-title--lg
						p Related articles 
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com

				.list.list--with-top-space
					.list-title.list-title--lg
						p Related courses 
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
				
				.list.list--with-top-space
					.list-title.list-title--lg
						p Related surveys 
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
					.list-item.list-item--multiple.list-item--with-border
						.list-item__avatar
							img(class="image image--list-item" src="../../assets/images/get_img.jpg")
						.list-item__content
							span.overline lorem lorem
							a(href="#" class="body-2 bold") Jose Portilla
							p.subtitle-1.gray Jose_Portilla@test.com
							
										
					