extends ../layouts/admin.pug
block title
	title Admin course details
block sidebar
	include ../components/sidebar-content.pug

block content
	.container-fluid
		.d-flex.flex-column.my-3
			.d-flex.justify-content-between.align-items-center.mb-2
				h3.title-h2 Thread Chapter content
			.info
				.info__wrapper
					.info__name Asked
					.info__data 3 years
				.info__wrapper
					.info__name Asked
					.info__data 3 years
		.general-card.general-card--interactive.general-card--with-actions.mb-3
			.general-card__title
				h4.title-h4 card title
			.general-card__content
				.general-card__content--header
					.d-flex.w-100
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.user-data
							a.text-1(href="#") Jose Portilla
							time.text-3.gray Jan 15 '18 at 13:56
					include ../components/list-dropdown.pug
				.general-card__content--details
					//-question content
					p.text-1 lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi deserunt quam accusamus culpa, dolore aut, quisquam ipsam id quidem voluptates, tempore molestiae quas aperiam consequuntur nam at earum sit voluptatem?
		//- .comments__add-comment.comment--remov-mb
		//- 	.live-user__content
		//- 		.content__user-img
		//- 			img.user-img__img(src=" images/left-imgs/img-1.jpg")
		//- 	form.form__action(action="")
		//- 		input.group__textarea.textarea--thread(placeholder="Add a public comment")
		.general-card.general-card--interactive.general-card--with-actions.mb-3
			.general-card__title
				h4.title-h4 card title
			.general-card__content
				.general-card__content--header
					.d-flex.w-100
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.user-data
							a.text-1(href="#") Jose Portilla
							time.text-3.gray Jan 15 '18 at 13:56
					include ../components/list-dropdown.pug
				.general-card__content--details
					p.text-1 lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi deserunt quam accusamus culpa, dolore aut, quisquam ipsam id quidem voluptates, tempore molestiae quas aperiam consequuntur nam at earum sit voluptatem?
		.answers-header
			h3.course-content__title 5
				span Answer
		.thread__wrapper
			.thread__post.best--answer
				.post__qustion
					.user-wrapper__account
						.account__live-user
							.live-user__content
								a.content__user-img(href='#')
									img.user-img__img(src="images/left-imgs/img-1.jpg" alt='')
							.live-user__user-content
								.wrapper-account.d-flex.justify-content-between.align-items-center
									a.user-content__text.user-content--mb(href='#') Johnson Smith
									include ../components/list-dropdown.pug
								time.relativetime(datetime="2018-01-15 13:56:28Z") Jan 15 '18 at 13:56
								p.qustion__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusantium vel beatae sequi ducimus ipsa perferendis! Suscipit eum fugiat, debitis ducimus corrupti aperiam ipsa tenetur, laudantium distinctio obcaecati asperiores a.
		.thread__wrapper.thread--replay
			.thread__post
				.post__qustion
					.user-wrapper__account
						.account__live-user
							.live-user__content
								a.content__user-img(href='#')
									img.user-img__img(src="images/left-imgs/img-1.jpg" alt='')
							.live-user__user-content
								.wrapper-account.d-flex.justify-content-between.align-items-center
									a.user-content__text.user-content--mb(href='#') Johnson Smith
									include ../components/list-dropdown.pug
								time.relativetime(datetime="2018-01-15 13:56:28Z") Jan 15 '18 at 13:56
								p.qustion__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusantium vel beatae sequi ducimus ipsa perferendis! Suscipit eum fugiat, debitis ducimus corrupti aperiam ipsa tenetur, laudantium distinctio obcaecati asperiores a.
		.comments__add-comment.comment--remov-mb
			.live-user__content
				.content__user-img
					img.user-img__img(src=" images/left-imgs/img-1.jpg")
			form.form__action(action="")
				input.group__textarea.textarea--thread(placeholder="Add a public comment")
		.field-wrapper
			.answers-header
				h3.course-content__title Your Answer
			.text-field__content
				form.form__action(action="")
					textarea.textarea#id_course_description(rows='5' name='description' placeholder='Insert your course description')
					.submit__thread
						include ../components/general-component/btn.pug
						+btn-link('submit__btn', 'Submit' , '#create_new_course.html')
		#rich-textarea
