extends ../layouts/admin.pug

block title
	title typo
block content
	.p-2 
		.container
			.row
				.col-lg-12.py-2
					h1.title-h1.gray TITLES
				.col-lg-12.py-1
					h1.title-h1.primary This is title
				.col-lg-12.py-1
					h2.title-h2 This is title
				.col-lg-12.py-1
					h3.title-h3 This is title
				.col-lg-12.py-1
					h4.title-h4 This is title
				.col-lg-12.py-1
					h5.title-h5 This is title
				.col-lg-12.py-1
					h6.title-h6 This is title
				.col-lg-12.py-1
					p.text-1 text-1
				.col-lg-12.py-1
					p.text-2 text-2
				.col-lg-12.py-1
					p.text-3 text-3