extends ../layouts/site.pug

block title
  title typo
//- block menu-header
//-   include ../components/menu-list.pug

block content
  .container-fluid
    .row
      .col-md-6(dir="rtl")
        h1 H1 لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت
        h2 H2 لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت
        h3 H3 لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت
        h4 H4 لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت
        h5 H5 لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت
        h6 H6 لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت
        p
          | لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
          | أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
          | أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
          | أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت
          | نيولا باراياتيور. أيكسسيبتيور ساينت أوككايكات كيوبايداتات نون بروايدينت ,سيونت ان كيولبا
          | كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم.

        p.body-2
          | لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
          | أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
          | أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
          | أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت
          | نيولا باراياتيور. أيكسسيبتيور ساينت أوككايكات كيوبايداتات نون بروايدينت ,سيونت ان كيولبا
          | كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم.

        .m-3
          p.overline.overline--xl يسكينج أليايت
          h1 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline.overline--xl يسكينج أليايت
          h1 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-2 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline.overline--lg يسكينج أليايت
          h2 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline.overline--lg يسكينج أليايت
          h3 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline يسكينج أليايت
          h4 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline يسكينج أليايت
          h5 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline يسكينج أليايت
          h6 يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-2 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

        .m-3
          p.overline يسكينج أليايت
          p يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم
        .m-3
          p.overline يسكينج أليايت
          a يللأمكو لابورأس نيسي يت أليكيوب أكس
          p.subtitle-1 كيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم

      .col-md-6(dir="ltr")
        h1 H1 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        h2 H2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        h3 H3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        h4 H4 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        h5 H5 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        h6 H6 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        p
          | Bluetooth works in most situations, regardless of what phone you use. Earbuds pair, watches still pass some data,
          | but some devices just don&rsquo;t play as nicely. For example, I have a smart in-window air conditioner. While still
          | on Android, I had no issues pairing, updating, or controlling it, it just works. When I switched to iOS, I was going
          | through and pair all my smart devices, this air conditioner though it supports HomeKit has issues. Frequent
          | communication drops, updating just doesn&rsquo;t work, and while the control scheme is much nicer in the Home app on
          | iPhone, the communication drops make it impractical. This is an isolated issue, 90% of my devices paired up with no
          | issues, but a few just handle things differently.

        p.body-2
          | Bluetooth works in most situations, regardless of what phone you use. Earbuds pair, watches still pass some data,
          | but some devices just don&rsquo;t play as nicely. For example, I have a smart in-window air conditioner. While still
          | on Android, I had no issues pairing, updating, or controlling it, it just works. When I switched to iOS, I was going
          | through and pair all my smart devices, this air conditioner though it supports HomeKit has issues. Frequent
          | communication drops, updating just doesn&rsquo;t work, and while the control scheme is much nicer in the Home app on
          | iPhone, the communication drops make it impractical. This is an isolated issue, 90% of my devices paired up with no
          | issues, but a few just handle things differently.

        .m-3
          p.overline.overline--xl Lorem ipsum.
          h1 Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline.overline--xl Lorem ipsum.
          h1 Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline.overline--lg Lorem ipsum.
          h2.text-primary Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline.overline--lg Lorem ipsum.
          h3 Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline Lorem ipsum.
          h4 Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline Lorem ipsum.
          h5 Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline Lorem ipsum.
          h6 Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline Lorem ipsum.
          p Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.

        .m-3
          p.overline Lorem ipsum.
          a Lorem ipsum dolor sit amet, consectetur.
          p.subtitle-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, voluptate.
