extends ../layouts/admin.pug

block title
	title typo
block content
	.p-2 
		.container
			.row
				.col-lg-8
					.ad-card.ad-card--shows-on-hover
						.ad-card__title
							h4.title-h4 card title
						.ad-card__content
							.ad-card__content--header
								.d-flex
									.user-image
										img(src="./images/sign.svg" alt="")
										i.uil.uil-check-circle
									.user-data
										a.text-2(href="#") Jose Portilla
										p.text-3.gray Jose Portilla Jose Portilla Jose
										a.text-3.gray(href="#") Jose Portilla
								include ../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet 