extends ../layouts/admin.pug
block title
	title User Dashboard


block content

	.container
		//- .row
			//- .col-lg-9.col-md-12
		.row
			.col-12
				section.section-index
					.section__header
						h3.title-h3.semi-bold Live Streams
						a(href="#").body-2--bolder.gray See all
					.section__content
						.owl-carousel.carousel
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.body-2.semi-bold.my-0.white(href="#") Jose Portilla
													p.body-2.white
														span
														| Live

			.col-12
				section.section-index.section-index--pt
					.section__header
						h3.title-h3.semi-bold My Courses
						a(href="category.html").body-2--bolder.gray See all
					.carousel.owl-carousel
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')

			.col-12
				section.section-index.section-index--pt
					.section__header
						h3.title-h3.semi-bold Featured Courses
						a(href="category.html").body-2--bolder.gray See all
					.carousel.owl-carousel
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')
						.item
							div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id":"S7YqVez2sUw","title":"Complete Python Bootcamp1","url":"/course.html","category":"Web Development | Python","subscribers":"1 subscriber","total_rate":4.5,"is_favorite":true,"duration":"4 minutes","short_description":"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam","language":"en","actions":{"action":"enroll","url":"course.html"}}')

			.col-12
				section.section-index.section-index--pt
					.section__header
						h3.title-h3.semi-bold My Blogs
						a(href="blogs.html").body-2--bolder.gray See all
					.row
						.col-md-6.col-sm-12
							.course-card.course-card--list-view
								a.course-card__preview.youtube-activator(href='/blog.html')
									img.course-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
									#course-1.course-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
									.course-card__preview-overlay
								.course-card__content
									a.title-link.semi-bold(href='/blog.html') Complete Python Bootcamp1
									p.title-link.course-card__description.body-2.gray
										| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
									.course-card__meta
										p.body-2.gray Web Development | Python
										p.body-2.course-card__rate
											i.fa.fa-star
											| 4.5
						.col-md-6.col-sm-12
							.course-card.course-card--list-view
								a.course-card__preview.youtube-activator(href='/blog.html')
									img.course-card__preview-cover(src='../../assets/images/get_img.jpg' alt='Complete Python Bootcamp1')
									#course-1.course-card__preview-video.youtube-player(data-video-id='S7YqVez2sUw')
									.course-card__preview-overlay
								.course-card__content
									a.title-link.semi-bold(href='/blog.html') Complete Python Bootcamp1
									p.title-link.course-card__description.body-2.gray
										| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
									.course-card__meta
										p.body-2.gray Web Development | Python
										p.body-2.course-card__rate
											i.fa.fa-star
											| 4.5

			.col-12
				section.section-index.section-index--pt
					.section__header
						h3.title-h3.semi-bold My Threads
						a(href="threads.html").body-2--bolder.gray See all
					.row
						.col-md-6.col-sm-12
							include ../components/thread-card.pug
						.col-md-6.col-sm-12
							include ../components/thread-card.pug

			.col-12
				section.section-index.section-index--pt
					.section__header
						h3.title-h3.semi-bold
						a(href="category.html").body-2--bolder.gray See all
					.carousel.owl-carousel
						.item
							include ../components/instructor-card.pug
						.item
							include ../components/instructor-card.pug
						.item
							include ../components/instructor-card.pug
						.item
							include ../components/instructor-card.pug

			//- .col-lg-3
				aside
					include ../components/instructor-card.pug

					.card.card--with-title.card--centered.card--live-stream
						.card__title
							h6.title-h6.semi-bold Live Streaming
						.card__content
							.user-image
								img( class="image image--profile"  src="../../assets/images/profile.png" alt="")
							.card__body
								.card__content-header
									.user-data
										p.body-2.gray Set up your channel and stream live to your students
										.card__btn
											a(href="#").btn.btn--primary.btn--rounded.my-2  Get Started
								.card__content--details
									p.gray Info : This feature only for 'Instructors'.

			.col-12
				section.section-index
					.section__header
						h3.title-h3.semi-bold Bubbliest Articles
					.carousel.owl-carousel
						.item
							.card.card--side-col.card__testimonial
								.card__side-col
									img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
								.card__content
									.card__header
										.card__header-multiline
											a(href='#' class="bold")
												| Jose Portilla
												i.fa.fa-check-circle.ml-1
											time.subtitle-2.gray Jan 15 &apos;18 at 13:56
									p.mb-0
										| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
										| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?

						.item
							.card.card--side-col.card__testimonial
								.card__side-col
									img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
								.card__content
									.card__header
										.card__header-multiline
											a(href='#' class="bold")
												| Jose Portilla
												i.fa.fa-check-circle.ml-1
											time.subtitle-2.gray Jan 15 &apos;18 at 13:56
									p.mb-0
										| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
										| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?

						.item
							.card.card--side-col.card__testimonial
								.card__side-col
									img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
								.card__content
									.card__header
										.card__header-multiline
											a(href='#' class="bold")
												| Jose Portilla
												i.fa.fa-check-circle.ml-1
											time.subtitle-2.gray Jan 15 &apos;18 at 13:56
									p.mb-0
										| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
										| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?

						.item
							.card.card--side-col.card__testimonial
								.card__side-col
									img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
								.card__content
									.card__header
										.card__header-multiline
											a(href='#' class="bold")
												| Jose Portilla
												i.fa.fa-check-circle.ml-1
											time.subtitle-2.gray Jan 15 &apos;18 at 13:56
									p.mb-0
										| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
										| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
