html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  background-color: $bgcolor;
  //background-color: rgba($secondary, 0.02);

  &.with--overlay-full {
    .modal-overlay {
      display: block;
      position: fixed;
      z-index: 7;
    }
  }

  &.with--overlay {
    .modal-overlay {
      display: block;
      position: fixed;
      z-index: 4;
    }
  }
}

.wrapper {
  height: 100%;
}

.drawers-container {
  padding-top: 60px;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  //justify-content: space-between;
  //flex-direction: row;
  //
  //.page-content {
  //  padding-top: 0;
  //  width: 100%;
  //}
  @media (max-width: 768px){
    &.drawers-container--mobile{
      flex-direction: column-reverse;
      .drawer{
        position: inherit;
        width: 100%;
        max-width: 100%;
        height: 0;
        &.drawer--open{
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

.night-mode {
  body {
    background-color: #43525c ;
  }
}
