/* src/assets/styles/components/_footer.scss  */
.footer {
  margin-top: 30px;
  background: darken($secondary, 5%);
  width: 100%;
  padding-top: 50px;
  position: relative;

  .footer__footer-content {
    a.footer-content__link {
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding-bottom: 10px;
      color: $white;
      padding-right: 20px;

      &:hover {
        color: $light-white;
      }
    }
  }

  // .item_f3
  .footer__footer-buttons {
    // padding-top: 50px;
    display: flex;
    flex-direction: column;
    //  .btn1542
    .footer-buttons__link {
      height: 40px;
      padding: 10px 15px;
      border: 0;
      border-radius: 20px;
      text-align: center;
      // margin-left: auto;
      color: #fff;
      background: $primary;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;

      &:hover {
        color: #fff !important;
        background: $accent;
      }
    }

    // .lng_btn
    .footer-buttons__btn-language {
      margin-top: 20px;

      .btn-language__link {
        height: 40px;
        padding: 10px 15px;
        border: 1px solid $white;
        border-radius: 20px;
        color: $white;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;

        &:hover {
          color: $white !important;
        }
      }
    }
  }

  &.footer--auth {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    padding: 50px 0;
    display: block;
    float: left;
    width: 100%;
    background: transparent;
    margin: 0;
  }
}

// .footer_bottm
.footer-line {
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid $accent;
  @media (max-width: 560px) {
    margin-top: 30px;
  }
}

// .fotb_left
.copy-right {
  margin-top: 0px;
  @media (max-width: 560px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy-right__list {
    display: inline-block;
    vertical-align: middle;

    a.list__link {
      .footer-logo {
        img {
          width: 30px;
          margin-right: 20px;
          line-height: 24px;
          padding-top: 10px;
        }
      }
    }

    p.list__paragraph {
      font-size: 14px;
      font-weight: 400;
      color: #f7f7f7;
      text-align: left;
      line-height: 24px;
      padding-top: 10px;

      // padding-top: 10px;
      margin: 0;

      strong {
        font-weight: bold;
      }
    }
  }
}


.social-links {
  text-align: right;
  // margin-left: -10px;

  .social-links__link {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    display: inline-block;
    color: #f7f7f7;
    transition: all 0.2s ease-in-out;
    margin: 0;

    &:hover {
      color: #fff !important;
      transform: scale(1.1);
    }
  }
}

/*
  Responsive
*/

@media (min-width: 0px) and (max-width: 720px) {
  // .container {
  // padding-right: 0px !important;
  // padding-left: 0px !important;
  // }
}

@media (min-width: 0px) and (max-width: 768px) {
  .social-links {
    text-align: center;
    // margin-top: 10px;
  }
}

html[dir="rtl"] {
  .footer {
    padding: 0;
    float: right;
    bottom: 0;

    .footer__footer-content {
      a.footer-content__link {
        padding-left: 20px;
      }
    }

    .footer__footer-buttons {
      .footer-buttons__link {
        padding: 10px 15px;
      }

      .footer-buttons__btn-language {
        margin-top: 20px;

        a {
          padding: 10px 15px;
        }
      }
    }

    &.footer--auth {
      padding: 50px 0;
    }
  }

  .footer-line {
    margin-top: 50px;
    padding: 20px 0;
  }

  .copy-right {
    .copy-right__list {
      display: inline-block;
      vertical-align: middle;

      a.list__link {
        .footer-logo {
          img {
            margin-left: 20px;
          }
        }
      }
    }
  }


  .social-links {
    text-align: left;

    .social-links__link {
      padding-top: 10px;
    }
  }

  @media (min-width: 0px) and (max-width: 720px) {
    // .container {
    // padding-left: 0px !important;
    // padding-right: 0px !important;
    // }
  }
  @media (min-width: 0px) and (max-width: 768px) {
    .social-links {
      text-align: right !important;
      margin-top: 10px;
      margin-right: 20px;
    }
  }
}

//footer Admin
.footer-admin {
  margin-top: 30px;
  background: $darkBlack;
  width: 100%;
  padding: 0;
  float: left;
  bottom: 0;
  z-index: 10;

  .footer-admin__admin-content {
    display: flex;
    padding-top: 30px;

    .admin-content__link {
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding-bottom: 10px;
      color: $white;
      padding-right: 20px;

      &:hover {
        color: $white;
      }
    }
  }

  .footer-admin__admin-line {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #454545;
  }

  .admin-copyRight {
    margin-top: 0px;

    .admin-copyRight__list {
      display: inline-block;
      vertical-align: middle;

      .list__link {
        .link__logo {
          img {
            width: 30px;
            margin-right: 20px;
            line-height: 24px;
          }
        }
      }

      p.list__paragraph {
        font-size: 14px;
        font-weight: 400;
        color: #f7f7f7;
        text-align: left;
        line-height: 24px;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  .admin-socialMedia {
    text-align: right;
    margin-left: -10px;

    .admin-socialMedia__links {
      padding-top: 10px;
      padding-left: 15px;
      font-size: 16px;
      display: inline-block;
      color: $light-white;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #fff !important;
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .admin-socialMedia {
    text-align: left !important;
    margin-top: 10px;
  }
}

html[dir="rtl"] {
  .footer-admin {
    float: right;

    .footer-admin__admin-content {
      .admin-content__link {
        padding-left: 20px;
      }
    }

    .footer-admin__admin-line {
      padding: 20px 0;
    }

    .admin-copyRight {
      float: right;

      .admin-copyRight__list {
        .list__link {
          .link__logo {
            img {
              margin-left: 20px;
            }
          }
        }
      }
    }

    .admin-socialMedia {
      margin-left: 0px;
      text-align: left;

      .admin-socialMedia__links {
        padding-top: 10px;
      }
    }
  }

  @media (min-width: 0px) and (max-width: 768px) {
    .admin-socialMedia {
      text-align: right !important;
      margin-top: 10px;
    }
  }
}
