.header-player {
  background: #222222;
  position: relative;
  display: flex;
  padding: 8px;
  justify-content: flex-start;
}
.header-player__logo {
  display: block;
  margin: 0;
  line-height: 1;
  height: fit-content;
  padding: 6px 10px 5px 4px;
  .logo__img {
    width: 38px;
  }
}

.header-player__courses {
  background: #1597bb;
  margin: 0;
  line-height: 1;
  height: 56px;
  padding: 20px;
  text-align: center;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  &:hover {
    color: #fff;
  }
  //  display: grid;

  .courses__name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0px;
  }
}
.header-player__course-name {
  margin: 0;
  line-height: 1;
  height: 56px;
  padding: 20px;
  text-align: center;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    background-color: #fab01c;
    color: $white;
  }
  .course-name__title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .header-player__logo {
    width: 80px;
  }
}

html.night-mode {
  body {
    background-color: #333333;
  }
}
html[dir="rtl"] {
  .header-player__logo {
    padding: 6px 4px 5px 10px;
  }
}
