.page-content {
  padding: 60px 0 0;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;

	&.page-content--video-player{
		padding: 45px 0 0;
	}
	&.page-content--padding{
		padding: 45px 0 0;
	}
  &.page-content--display-2 {
    margin-left: 0;
  }
 

  &.page-content-pt {
    padding: 45px 0;
  }
  &.page-content--auth {
    padding: 0;
    img {
      background: rgba(#fff, 0.3) !important;
      position: absolute;
      z-index: 0;
      z-index: 0;
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: cover;
      object-fit: cover;
      opacity: 0.04;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 992px) {
  .page-content {
    // margin-left: 240px;

    &.page-content--video-player {
      margin-left: 285px;
    }
  }

  .page-content__minify-admin {
    margin-left: 60px;
  }
}

@media (max-width: 992px) {
  .page-content {
    &.page-content--video-player {
      margin-left: 0;
    }
  }
}
