.playlist {
  position: fixed;
  left: -285px;
  top: 45px;
  bottom: 0;
  background: #222;
  overflow: hidden;
  width: 285px;
  z-index: 995;
	transition: all 0.3s ease;

  &.playlist--opened {
    left: 0;
    box-shadow: -30px 0 30px 30px rgba(0, 0, 0, 0.2);
  }

  .playlist__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
		transition: all 0.4s ease;
  } 
}
.playlist__header-section{
	background: #333;
	padding: 10px 5px;
	margin-bottom: 15px;
}
.playlist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin: 3px 0;

  .playlist__title {
    color: $white;
    font-size: 15px;
		margin: 0;
  }

  .playlist__close {
    background: #ddd;
    padding: 2px 6px;
    border-radius: 10px;
  }

  .playlist__close-icon {
    color: $darkBlack;
  }
}

@media (min-width: 992px) {
  .playlist {
    left: 0px;
  }
  .vertical--minify {
    width: 0;
  }
}
