.playlist {
  // background-color: lighten(#38444d, 5%);
  background-color: #fff;
  overflow-y: auto;
  z-index: 9;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  flex: 1 1 35em;

  // height: 56px;
  &.playlist--opened {
    box-shadow: -30px 0 30px 30px rgba(0, 0, 0, 0.2);
  }

  .playlist__menu {
    // position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
  }
  &.playlist--close {
    flex: 1 1 0em;
  }
}

.playlist__header-section {
  background: $primary;
  padding: 10px 5px;
  margin-bottom: 15px;
  .playlist-name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}
.night-mode {
  .playlist__header-section {
    background-color: $primary-darkmode;
  }
}
.playlist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 3px 0;

  .playlist__title {
    color: $primary;
    font-size: 15px;
    margin: 0;
    letter-spacing: 1px;
  }

  .playlist__close {
    background: $accent;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.3;
  }

  .playlist__close-icon {
    color: #fff;
  }
}

@media (min-width: 992px) {
  .playlist {
    flex: 1 1 35em;
  }
  .vertical--minify {
    width: 0;
  }
}

.night-mode {
  .playlist {
    background-color: lighten($primary-darkmode, 5);
  }
  .playlist__header {
    .playlist__title {
      color: $white;
    }
  }
}
