mixin default-banner(title, desc, color)
  .banner(class= color).d-md-flex
    .banner__image
      img(src=require("@/images/articles.png"), alt="", srcset="")
    .banner__content
      h3.my-0.text-white= title
      p.text-white.mt-2= desc
