mixin service-excerpt(title, desc, action, inverted=false)
  - var invertedClass= ''
  - var invertedRow = ''
  if inverted
    - invertedClass = ' service-excerpt--inverted'
    - invertedRow = ' flex-row-reverse'
  div(class="row align-items-center" + invertedRow)
    .col-12.col-md-6
      div
        h2.text-primary.text-weight-500= title
          p.partners__details= desc
          div.d-flex.justify-content-sm-center.justify-content-md-start
            button.btn.btn--primary.btn--lg.mt-3= action

    .col-12.col-md-6
      div(class="service-excerpt" + invertedClass)
        img(src="../../../assets/images/become_instructor_banner.jpg", alt="", srcset="", class="service-excerpt__image")
        block
