mixin home-slide(image)
  .slide
    .slide__content
      .slide__image
        img(src=image class="slide__image")
      .slide__details
        h1.text-weight-500.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti inventore nihil quae.
        button.btn.btn--primary.btn--outlined.btn--rounded Register Now

mixin home-main-slider
  .slider.owl-carousel.home-main-slider
    +home-slide(require('@/images/heroSliders/1.svg'))
    +home-slide(require('@/images/heroSliders/2.svg'))
    +home-slide(require('@/images/heroSliders/3.svg'))
    +home-slide(require('@/images/heroSliders/4.svg'))


mixin iframe-slide()
  .slide
    .slide__content
      .slide__image
        iframe(width='560' height='315' src='https://www.youtube.com/embed/p5M1sWA0J0Y' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


mixin video-slide()
  .slide
    .slide__content
      .slide__image
        iframe(src='https://www.youtube.com/embed/p5M1sWA0J0Y' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


mixin videos-slider()
  .slider.owl-carousel
    +video-slide
    +iframe-slide
    +video-slide
    +iframe-slide
