extends ./layouts/master.pug

block title
	title My Page - Home
block category
	//- include ./components/header-blocks/selectCategory.pug
block btn-link
	//- .nav
	//- include ./components/general-component/btn.pug
	//- +btn-link('btn btn--primary btn--rounded semi-bold', 'Create New Course' , '#create_new_course.html')
block content

	// Menu
	//- +menu('home')
		//- Desktop page
	.container-fluid
		.row
			.col-xl-9.col-lg-8
				section.section-index.section-index--pt
					.d-flex.flex-column.my-2
						.d-flex.justify-content-between.align-items-center.w-100
							h3.title-h6.title-h6--bolder.semi-bold Live Streams
							a(href="#").text-3.text-3--bolder.gray See all
					//- h4.item_title Live Streams
					//- a.see150(href='live_streams.html') See all
					.section-index
						.owl-carousel.live_stream.owl-theme
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
													p.text-3.gray
														span
														| Live
				section.section-index
					.d-flex.flex-column.my-2
						.d-flex.justify-content-between.align-items-center.w-100
							h3.title-h6.title-h6--bolder.semi-bold Newest Courses
							a(href="#").text-3.text-3--bolder.gray.mt-0 See all
					.section-index.section-index--pt
						block content
							include ./components/course-wrapper.pug
								block category-header
								block content
									.owl-carousel.featured_courses.owl-theme
										.item
											include ./components/course-card.pug
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
					//- h4.item_title Newest Courses
					//- a.see150(href='#') See all
					//- .la5lo1
					//- 	.owl-carousel.featured_courses.owl-theme
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-14.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 12 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 15 views
					//- 						span.vdt14 10 min ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Build Responsive Real World Websites with
					//- 						| HTML5 and CSS3
					//- 					a.crse-cate(href='#') Development | CSS
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') John Doe
					//- 						.prce142 $4
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-11.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 28 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 5 views
					//- 						span.vdt14 15 Min ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| The Complete JavaScript Course 2020: Build
					//- 						| Real Projects!
					//- 					a.crse-cate(href='#') Development | JavaScript
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Jassica William
					//- 						.prce142 $5
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-18.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 15 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 25 views
					//- 						span.vdt14 2 Hour ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| The Complete Front-End Web Development
					//- 						| Course!
					//- 					a.crse-cate(href='#') Development | Web Development
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Joginder Singh
					//- 						.prce142 $9
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-19.jpg' alt='')
					//- 					.course-overlay
					//- 						.crse_reviews
					//- 							i.uil.uil-star
					//- 							| 5.0
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 1 hour
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 15 views
					//- 						span.vdt14 6 hours ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Ethical Hacking - Most Advanced Level
					//- 						| Penetration Testing
					//- 					a.crse-cate(href='#') IT &amp; Software | Ethical Hacking
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Poonam Verma
					//- 						.prce142 $10
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='#')
					//- 					img(src='../assets/images/courses/img-12.jpg' alt='')
					//- 					.course-overlay
					//- 						.crse_reviews
					//- 							i.uil.uil-star
					//- 							| 3.5
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 28 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 45 views
					//- 						span.vdt14 20 hours ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Advanced CSS and Sass: Flexbox, Grid,
					//- 						| Animations and More!
					//- 					a.crse-cate(href='#') Development | Sass
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Rock William
					//- 						.prce142 $6
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='#')
					//- 					img(src='../assets/images/courses/img-13.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 30 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 20 Views
					//- 						span.vdt14 1 day ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| The Complete Node.js Developer Course (3rd
					//- 						| Edition)
					//- 					a.crse-cate(href='#') Development | Node.js
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') John Doe
					//- 						.prce142 $3
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='#')
					//- 					img(src='../assets/images/courses/img-20.jpg' alt='')
					//- 					.course-overlay
					//- 						.crse_reviews
					//- 							i.uil.uil-star
					//- 							| 5.0
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 21 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 200 Views
					//- 						span.vdt14 4 days ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| WordPress Development - Themes, Plugins &amp;
					//- 						| Gutenberg
					//- 					a.crse-cate(href='#') Design | Wordpress
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Joy Dua
					//- 						.prce142 $14
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-16.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 22 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 11 Views
					//- 						span.vdt14 5 Days ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Vue JS 2 - The Complete Guide (incl. Vue
					//- 						| Router &amp; Vuex)
					//- 					a.crse-cate(href='#') Development | Vue JS
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Manreet Kaur
					//- 						.prce142 $10
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
				section.section-index.section-index--pt
					.row
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image
										i.fas.fa-history.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold 100,000 online courses
										.card__content--details
											p.text-1.gray lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image
										i.fas.fa-user-check.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold 100,000 online courses
										.card__content--details
											p.text-1.gray lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image
										i.fas.fa-video.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold 100,000 online courses
										.card__content--details
											p.text-1.gray lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image
										i.far.fa-play-circle.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold 100,000 online courses
										.card__content--details
											p.text-1.gray lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
				section.section-index.section-index--pt
					.d-flex.justify-content-between.align-items-center.w-100
						h3.title-h6.semi-bold.mb-0  Popular Instructors
						a(href="#").text-3.text-3--bolder.gray.mt-0 See all
					.section-index.section-index--pt
						.owl-carousel.top_instrutors.owl-theme
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.uil.uil-check-circle
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.uil.uil-check-circle
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.uil.uil-check-circle
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.uil.uil-check-circle
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.uil.uil-check-circle
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
														i.uil.uil-check-circle
													p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-3(href="#") Go To Profile
			.col-xl-3.col-lg-4
				aside.right_side.mt-5
					.card.card--centered.card--user
						.card__content
							.user-image
								img(src="../../assets/images/hd_dp.jpg" alt="")
								i.far.fa-check-circle.pl-1
							.card__body
								.card__content-header
									.user-data
										a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
											i.far.fa-check-circle.pl-1
										p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
										ul.social-icon
											li.social-icon__list
												a.social-icon__link.social-icon--fa-bg(href="#")
													i.fab.fa-facebook-f
											li.social-icon__list
												a.social-icon__link.social-icon--tw-bg(href="#")
													i.fab.fa-twitter
											li.social-icon__list
												a.social-icon__link.social-icon--li-bg(href="#")
													i.fab.fa-linkedin-in
											li.social-icon__list
												a.social-icon__link.social-icon--yu-bg(href="#")
													i.fab.fa-youtube
										.details
											span.total-students 615K Students
											span.total-course 12 Courses
										a.text-2.profile.mt-3(href="#") Go To Profile
					.card.card--with-title.card--centered.card--live-stream
						.card__title.mb-2
							h5.text-3.semi-bold Live Streaming
						.card__content
							.user-image
								img(src="../../assets/images/hd_dp.jpg" alt="")
								i.far.fa-check-circle.pl-1
							.card__body
								.card__content-header
									.user-data
										p.text-3.gray Set up your channel and stream live to your students
										.card__btn
											button.btn.btn--primary.btn--rounded.semi-bold.my-2  Get Started
								.card__content--details
									p.text-2.gray Info : This feature only for 'Instructors'.
					//- section.get1452
					//- 	img(src="../assets/images/get_img.jpg", alt="", srcset="")
					//- 	h4 Get personalized recommendations
					//- 	p Answer a few questions for your top picks
					//- 	button.Get_btn(onclick="window.location.href = '#';") Get Started
					.card.card--with-title.card--top-category
						.card__title.mb-2
							h5.text-3.semi-bold Top Categories
						.card__content
							.card__body
								.card__content--details
									ul.card__list
										li.card__list-item
											a.card__item-link(href="#")
												i.uil.uil-arrow
												| Development
										li.card__list-item
											a.card__item-link(href="#")
												i.uil.uil-graph-bar
												| Business
										li.card__list-item
											a.card__item-link(href="#")
												i.uil.uil-graph-bar
												| IT and Software
										li.card__list-item
											a.card__item-link(href="#")
												i.uil-ruler
												| Design
					.card.card--centered.card--live-stream.card--no-bg
						.card__content
							.card__body
								.card__content-header
									.user-data
										h2.text-2 Become an Instructor
										p.text-3.gray Set up your channel and stream live to your students Set up your channel and stream live to your students
										.card__btn
											button(type="submit").btn.btn--primary.btn--rounded.semi-bold.my-2  Get Started
			.col-xl-12.col-lg-12
				section.section-index
					.d-flex.flex-column.my-2
						.d-flex.justify-content-between.align-items-center.w-100
							h3.title-h6.title-h6--bolder.semi-bold What Our Student Have Today
					.la5lo1
						.owl-carousel.Student_says.owl-theme
							.item
								.card.card__testimonial
									.card__title
										p.text-2.gray  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolor vitae, error repellat tenetur obcaecati totam mollitia id rerum aliquam sequi atque sunt repudiandae officiis asperiores! Fugiat optio ea facere.
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
							.item
								.card.card__testimonial
									.card__title
										p.text-2.gray  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolor vitae, error repellat tenetur obcaecati totam mollitia id rerum aliquam sequi atque sunt repudiandae officiis asperiores! Fugiat optio ea facere.
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
							.item
								.card.card__testimonial
									.card__title
										p.text-2.gray  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolor vitae, error repellat tenetur obcaecati totam mollitia id rerum aliquam sequi atque sunt repudiandae officiis asperiores! Fugiat optio ea facere.
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
							.item
								.card.card__testimonial
									.card__title
										p.text-2.gray  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolor vitae, error repellat tenetur obcaecati totam mollitia id rerum aliquam sequi atque sunt repudiandae officiis asperiores! Fugiat optio ea facere.
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
							.item
								.card.card__testimonial
									.card__title
										p.text-2.gray  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolor vitae, error repellat tenetur obcaecati totam mollitia id rerum aliquam sequi atque sunt repudiandae officiis asperiores! Fugiat optio ea facere.
									.card__content
										.user-image
											img(src="../../assets/images/hd_dp.jpg" alt="")
											i.far.fa-check-circle.pl-1
										.card__body
											.card__content-header
												.user-data
													a.btn.btn--secondary.btn--link-text.text-4.semi-bold(href="#") Jose Portilla
