section.wrapper__preview-video
	a.preview-video__modiel-img(href='#' data-toggle='modal' data-target='#videoModal')
		img.modiel-img--img(src='../../assets/images/courses/img-2.jpg' alt='')
		.modiel-img__course-overlay
			.course-overlay--seller Bestseller
			span.course-overlay--play
				i.uil.uil-play.play__fa
			span._215b02.course-overlay__title Preview this course
