mixin interactions( icon, Number)
  section.interactions-course
    ul.interactions-course__list
      li.list__list-item
        a.list-item__box.mr-1(href='#')
          i(class=icon)
          span(class="box--number")= Number
