.pagination 
	button.btn.btn--text.btn--icon.btn--primary.icon--hover(href='#' aria-label='Previous')
		span.material-icons chevron_left
	button.btn.btn--text.btn--primary.icon--hover.btn--icon(href='#') 1
	button.btn.btn--text.btn--primary.icon--hover.btn--icon(href='#') 2
	button.btn.btn--text.btn--primary.icon--hover.btn--icon(href='#') 3
	button.btn.btn--text.btn--primary.icon--hover.btn--icon(href='#') ...
	button.btn.btn--text.btn--icon.btn--primary.icon--hover(href='#' aria-label='Next')
		span.material-icons chevron_right
