.pagination
  nav.pagination__navbar(aria-label='Page navigation example')
    ul.pagnation__list
      li.Pagnation__item
        a.pagnation__link(href='#' aria-label='Previous')
           i.fas.fa-chevron-left.pagnation-icone
      li.Pagnation__item
        a.pagnation__link.active(href='#') 1
      li.Pagnation__item
        a.pagnation__link(href='#') 2
      li.Pagnation__item
        a.pagnation__link(href='#') 3
      li.Pagnation__item
        a.pagnation__link(href='#') ...
      li.Pagnation__item
        a.pagnation__link(href='#' aria-label='Next')
           i.fas.fa-chevron-right.pagnation-icone

