.pagination
	nav.pagination__navbar(aria-label='Page navigation example')
		ul.pagnation__list
			li.pagnation__item
				a.pagnation__link(href='#' aria-label='Previous')
					i.fas.fa-chevron-left.pagnation-icone
			li.pagnation__item
				a.pagnation__link.active(href='#') 1
			li.pagnation__item
				a.pagnation__link(href='#') 2
			li.pagnation__item
				a.pagnation__link(href='#') 3
			li.pagnation__item
				a.pagnation__link(href='#') ...
			li.pagnation__item
				a.pagnation__link(href='#' aria-label='Next')
					i.fas.fa-chevron-right.pagnation-icone

