mixin progress(widthProgres,valuenow ,valuemin , valuemax)
  .rating__progress
    .progress--progress-bar(class=widthProgres)(role='progressbar' aria-valuenow=valuenow aria-valuemin=valuemin aria-valuemax=valuemax)
