.table-responsive
	table.table.table-dashboard
		thead.thead-dashboard
			tr
				th.text-center(scope="col") Item No.
				th Title
				th.text-center(scope="col") Publish Date
				th.text-center(scope="col") Sales
				th.text-center(scope="col") Parts
				th.text-center(scope="col") Category
				th.text-center(scope="col") Status
				th.text-center(scope="col") Action
		tbody
			tr
				td.text-center IT-001
				td Course Title Here
				td.text-center 06 April 2020 | 08:31
				td.text-center 15
				td.text-center 5
				td.text-center
					a( href="#") Web Development
				td.text-center
					b.course_active Active
				td.text-center
					a.icon(href="#" title="Edit") 
						i.far.fa-edit
					a.icon(href="#" title="Delete") 
						i.far.fa-trash-alt
			tr
				td.text-center IT-002
				td Course Title Here
				td.text-center 05 April 2020 | 05:15
				td.text-center 30
				td.text-center 3
				td.text-center 
					a(href="#") Graphic Design
				td.text-center
					b.course_active Active
				td.text-center
					a.icon(href="#" title="Edit") 
						i.far.fa-edit
					a.icon(href="#" title="Delete") 
						i.far.fa-trash-alt
			tr
				td.text-center IT-003
				td Course Title Here
				td.text-center 03 April 2020 | 01:30
				td.text-center 14
				td.text-center 5
				td.text-center 
					a( href="#") Bootstrap
				td.text-center 
					b.course_active Active
				td.text-center
					a.icon(href="#" title="Edit")
						i.far.fa-edit
					a.icon(href="#" title="Delete") 
						i.far.fa-trash-alt
			tr
				td.text-center IT-004
				td Course Title Here
				td.text-center 02 April 2020 | 05:15
				td.text-center 110
				td.text-center 9
				td.text-center 
					a(href="#") Game Development
				td.text-center
					b.course_active Active
				td.text-center
					a.icon(href="#" title="Edit")
						i.far.fa-edit
					a.icon(href="#" title="Delete") 
						i.far.fa-trash-alt
			tr
				td.text-center IT-002
				td Course Title Here
				td.text-center 28 March 2020 | 05:15
				td.text-center 185
				td.text-center 10
				td.text-center
					a(href="#") C++
				td.text-center
					b.course_active Active
				td.text-center
					a.icon(href="#" title="Edit")
						i.far.fa-edit
					a.icon(href="#" title="Delete") 
						i.far.fa-trash-alt
				