.preview-video__action
  .action__save-video(href='#')
    span.save-video__icons
      i.uil.uil-heart.icons__fa
    | Save
  a.action__rebort-vedios(href='#')
    span.rebort-video__icons
      i.uil.uil-windsock.icons__fa
    | Report abuse
