.header__search
  .search__wrapper
    .wrapper__inputs-form
      input.inputs-form--input(type='text' placeholder='Search for Tuts Videos, Tutors, Tests and more..')
      i.fas.fa-search.inputs-form--icon
