// .auth-forms__alert{
//   width: 100%;
//   padding: 10px;
//   border-radius: 25px;
//   text-align: center;
//   box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
//   margin: 15px 0;
//   font-size: 16px;
//   &.auth-forms__alert-invalid{
//     border: 1px solid #dc3545;
//     color: #dc3545;
//   }
//   &.auth-forms__alert-valid{
//     border: 1px solid #198754;
//     color: #198754;
//   }
// }
.auth-forms__alert {
  background-color: rgba(220, 17, 1, 0.16);
  box-shadow: 0px 0px 2px #ff0303;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  color: #ff0303;
  transition: 0.5s;
  margin: 15px 0;
  font-family: montserrat;
  font-size: 16px;
  font-weight: lighter;
  &.auth-forms__alert-invalid {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.09);
    transition: 0.5s;
  }
  &:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition: 0.5s;
  }
  &.auth-forms__alert-valid {
    background-color: #198754;
    color: $white;
  }
}

.auth-form {
  background: #f7f7f7 !important;
  position: relative;
  width: 100%;
  z-index: 0;
  height: 100%;
  // &::before {
  //   content: "";
  //   background: url("/assets/images/sign.svg") no-repeat center;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   background-size: cover;
  //   opacity: 0.04;
  //   z-index: -1;
  // }
}

// input field

.field-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  &:focus-within {
    .messages {
      li {
        display: block;
      }
    }
  }
  &.field-wrapper--no-label {
    .text-field__label {
      display: none;
    }
  }
  // general label styling
  &.field-wrapper--no-margin {
    margin-top: 0;
  }
  .text-field__label {
    font-size: 14px;
    font-weight: 600;
    padding: 4px 16px;
    abbr {
      color: $primary;
    }
  }
  // general message styling
  .messages {
    font-weight: 500;
    color: inherit;
    li {
      font-size: 12px;
      font-weight: 600;
      padding: 0.5em 1.3333333333333333em;
      display: none;
    }
  }
  // general text input details styling
  .text-field__content {
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    div[id^="cke_id_"] {
      width: 100% !important;
    }
    // height: 40px;
    &::placeholder {
      transition: 0.3s ease all;
    }
    .text-field__limit {
      background: $primaryLight;
      color: $white;
      font-weight: 500;
      font-family: $quicksand;
      position: absolute;
      right: 3px;
      border-radius: 100%;
      height: 35px;
      top: 2px;
      width: 35px;
      font-size: 12px;
      padding: 9px 11px;
      display: none;
    }
  }
  .text-field__input {
    font-size: 14px !important;
    width: 100%;
    border-radius: 10px;
    padding: 12px 1em;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #e5e5e5 !important;
    // padding: 10px;
    &.text-field__input--rounded {
      border-radius: 20px !important;
    }
    &.text-field--left {
      padding: 0 1em !important;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
      font-family: $quicksand;
    }
    &.text-field--icon {
      padding-left: 3em !important;
    }

    &:focus {
      &::placeholder {
        color: rgba(0, 0, 0, 0.95);
      }
      // border: 1px solid #333 !important;
      // box-shadow: none !important;
    }
    &.text-field__input--border-none {
      border: none;
      padding: 12px 14px 12px 50px;
    }
  }
  // this class adds badge
  &.field-wrapper--limit {
    .text-field__content {
      .text-field__limit {
        display: block;
      }
    }
  }
  // this class adds styling of error message
  &.field-wrapper--error {
    .text-field__label {
      color: #dc3545;
    }
    .messages {
      color: $primaryLight;
      li {
        display: block;
      }
    }
    .text-field__content {
      .text-field__input {
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1) !important;
        border: 1px solid #dc3545 !important;
      }
    }
  }

  // this class hides messages
  // &.field-wrapper--no-message{
  //   .field-wrapper__message{
  //     display: none;
  //   }
  // }

  // input type file
  &.field-wrapper__file-input {
    .file-input {
      // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      border: 0;
      padding: 0;
      font-family: $quicksand;
      color: #333;
      font-weight: 400;
      position: relative;
      text-align: left;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.2s ease 0s;
      width: 100%;
      height: 40px;
      input {
        display: none;
      }
    }
    .file-input__label {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 1.3rem 1rem;
      font-weight: 400;
      line-height: 0;
      color: $darkGray;
      background-color: $white;
      border: 1px solid #efefef;
      border-radius: 10rem;
      margin-bottom: 0;
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        height: calc(1.5em + 0.75rem);
        padding: 1.3rem 2rem;
        line-height: 0;
        color: $white;
        content: "Upload File";
        background-color: $primaryLight;
        border-left: inherit;
        border-radius: 0 10rem 10rem 0;
      }
    }
  }

  // input type select
  &.field-wrapper__select-input {
    .text-field__content {
      height: 40px;
    }
    .select-menu {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center;
      position: relative;
      width: 100%;
      i.icon {
        width: 40px !important;
        top: 10px !important;
        font-size: 14px !important;
      }
    }
  }
  // ------New Checkbox------
  .ui.form.checkbox_sign {
    position: relative;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
  }

  .ui.checkbox.icon .box,
  .ui.checkbox.icon label {
    font-family: $quicksand !important;
    color: #333;
    line-height: 20px;
    // width: 18px !important;
    // height: 18px !important;
    display: block;
  }
  // input type checkbox
  .check-field-group {
  }
  .check-field {
    position: relative;
    width: 200px;
    padding: 5px;
    .check-field__input {
      display: none;
    }
    .check-field__label {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      font-family: $quicksand;
      line-height: 17px;
      cursor: pointer;
      &::before {
        font-family: "FontAwesome";
        color: red;
        content: "";
        // content: "";
        background: #f7f7f7;
        border: 1px solid #b4b4b4;
        display: inline-block;
        width: 17px;
        height: 17px;
        top: 0px;
        position: relative;
        margin-right: 10px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  // i.icon {
  //   color: red;
  //   position: absolute;
  //   font-size: 16px;
  //   left: 5px;
  // }
  .check-field input[type="checkbox"]:checked + .check-field__label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    background-color: red;
    left: 0;
    font-size: 20px;
  }
  // input type radio
  ul.field-wrapper__radio-group {
    li.radio-item_1 {
      input {
        display: none;
      }
      label.radio-label-1 {
        font-size: 14px;
        font-weight: 400;
        font-family: $quicksand;
        line-height: 17px;
        padding: 5px;
        cursor: pointer;
        &::before {
          content: "";
          background: #f7f7f7;
          border-radius: 100%;
          border: 1px solid #b4b4b4;
          display: inline-block;
          width: 1em;
          height: 1em;
          top: 0px;
          position: relative;
          margin-right: 10px;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
        }
      }
    }
    .radio-item_1 input[type="radio"]:checked + .radio-label-1::before {
      background-color: $primaryLight;
      box-shadow: inset 0 0 0 2px #f4f4f4;
    }
  }
  // textarea
  .textarea {
    width: 100%;
    height: 150px;
    margin: 0;
    outline: none;
    font-size: 1em;
    background: $white;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    padding: 1em;
    border: none;
    resize: none;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
    &:focus {
      color: rgba(0, 0, 0, 0.95);
    }
  }

  // .text-field__error{

  // }
  ul.radio--group-inline {
    li.radio-item_1 {
      label {
        padding: 5px;
      }
    }
  }
}

.select2 {
  width: 100% !important;
  border-radius: 10px;
  &.select2--rounded {
    border-radius: 25px;
    .select2-selection {
      border-radius: 25px;
    }
  }
  .select2-selection__rendered{
    margin-top: 0 !important;
  }
  .select2-selection {
    border: $primaryLight 1px solid !important;
    border-radius: 10px;
    padding: 0 6px;
    // display: flex;
    // align-items: center;
  }
  .select2-container--focus {
    border: $primaryLight 1px solid;
  }
  .select2-selection__choice {
    background-color: rgba($primaryLight, 0.1) !important;
    color: $primaryLight;
    padding: 3px 6px 4px 18px !important;
    border-radius: 25px !important;
    margin-bottom: 5px;
    border: 1px solid $primaryLight;
  }

  .select2-selection__choice__remove {
    border-right: 0 !important;
    height: 100%;
    display: flex;
    align-items: center;
    left: 3px !important;
    span {
      color: $primaryLight;
    }
    &:hover {
      background-color: transparent;
    }
  }
  .select2-search__field {
    line-height: 20px;
    margin: 8px 0 10px 10px !important;
  }
}
.select2-dropdown {
  border: 1px solid $primaryLight;
}
.select2-results {
  .select2-results__option--highlighted {
    background-color: rgba($color: $primaryLight, $alpha: 0.1) !important;
    color: $primaryLight !important;
  }
  .select2-results__option--selected {
    background-color: rgba($color: $primaryLight, $alpha: 0.1) !important;
    color: $primaryLight !important;
  }
}
//login
// auth login
.field-wrapper {
  .key-number {
    position: absolute;
    height: 100%;
    border-radius: 20%;
    background: none;
    border: 0;
    outline: none;
    padding-left: 14px;
    color: #aaaaaa;
    appearance: none;
  }
  .field-wrapper__icon {
    position: absolute;
    height: 100%;
    border-radius: 20%;
    background: none;
    border: 0;
    outline: none;
    padding-left: 14px;
    color: #aaaaaa;
    appearance: none;
    font-size: 18px;
    bottom: -12px;
  }
}
.hide {
  display: none;
}
.terms-link {
  padding: 10px 0 10px;
  margin-bottom: 0 !important;
  margin-top: 0px;
}
.iti--allow-dropdown {
  width: 100% !important;
  border: none !important;
  padding: 0;
}
.iti--allow-dropdown {
  .iti__flag-container {
    &:hover {
      .iti__selected-flag {
        background-color: transparent;
      }
    }
  }
}
.iti input,
.iti input[type="text"],
.iti input[type="tel"] {
  border: none;
  padding: 12px 14px 12px 50px;
}

input[type="tel"] {
  padding: 0;
}
.iti-mobile {
  .iti__country-list {
    width: 300px;
    height: 300px;
  }
}
.field-wrapper--alert {
  margin-top: 5px;
  margin-bottom: 0px;
}
// index
.section-index {
  float: left;
  width: 100%;
  &.section-index--pt {
    padding-top: 20px;
  }
}

html[dir="rtl"] {
  //start rtl auth
  // input field

  .field-wrapper {
    // general message styling
    // general text input details styling
    .text-field__content {
      .text-field__limit {
        left: 3px;
        padding: 9px 11px;
      }
    }
    .text-field__input {
      &.text-field--icon {
        padding-right: 3em !important;
      }
      &.text-field__input--border-none {
        padding: 12px 50px 12px 14px;
      }
    }

    // input type file
    &.field-wrapper__file-input {
      .file-input {
        text-align: right;
      }
      .file-input__label {
        &::after {
          border-right: inherit;
        }
      }
    }

    // input type select
    &.field-wrapper__select-input {
      .select-menu {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        position: relative;
        width: 100%;
      }
    }

    ul.field-wrapper__radio-group {
      li.radio-item_1 {
        input {
          display: none;
        }
        label.radio-label-1 {
          cursor: pointer;
          &::before {
            margin-left: 10px;
          }
        }
      }
    }
    .ui.checkbox.icon label {
      text-align: right;
    }
    // textarea

    // .text-field__error{

    // }
    .text-field__label {
      text-align: right;
    }
    .messages {
      li {
        text-align: right;
      }
    }
  }

  .select2 {
    .select2-selection__choice {
      padding: 3px 18px 4px 6px !important;
    }

    .select2-selection__choice__remove {
      border-left: 0 !important;
      right: 3px !important;
    }
  }
  .iti__country-list {
    text-align: right;
    margin: 0 -1px 0 0px;
  }
  .field-wrapper--alert {
    text-align: right;
  }
  //End
  .field-wrapper {
    &.field-wrapper__select-input {
      .select-menu {
        i.icon {
          right: unset !important;
          left: 1em !important;
          width: 40px !important;
        }
        .menu {
          .item {
            text-align: start;
          }
        }
      }
    }
  }
  //select
  .select2 {
    text-align: right;
    .select2-selection__choice {
      padding: 3px 18px 4px 6px !important;
      position: relative;
    }

    .select2-selection__choice__remove {
      align-items: center;

      span {
        position: absolute;
        right: -60px !important;
      }
    }
    .select2-search__field {
      text-align: right;
    }
    .select2-selection__clear {
      right: unset;
      left: 10px;
    }
    .select2-selection--clearable {
      padding-right: 10px;
    }
  }
  //login
  // auth login
  .field-wrapper {
    .key-number {
      padding-right: 14px;
    }
    .field-wrapper__icon {
      padding-right: 14px;
    }
  }
  .iti input,
  .iti input[type="text"],
  .iti input[type="tel"] {
    padding: 12px 50px 12px 14px;
  }

  // index
  .section-index {
    float: right;
  }
}
.nav-tab {
  justify-content: center;
  padding-bottom: 30px;
  li {
    padding: 5px 20px;
    .tab__link {
      padding-bottom: 10px !important;
      border-radius: 0;
      padding: 8px 0px 8px 0px;
      margin: 8px 6px 2px 0;
      line-height: 1;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      color: $darkBlack;
      background: transparent;
      display: inline-block;
      font-family: $quicksand;
      border-style: solid;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 1px;
        left: 0;
        bottom: 3px;
        background-color: $darkBlack;
        transition: 0.3s ease all;
      }
      &:hover {
        color: $darkBlack;
        &::before {
          width: 100%;
        }
      }
    }
    .tab--active {
      transition: 0.3 ease all;
      padding-bottom: 10px !important;
      border-radius: 0;
      padding: 8px 0px 8px 0px;
      margin: 8px 6px 2px 0;
      line-height: 1;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      color: $darkBlack;
      background: transparent;
      display: inline-block;
      font-family: $quicksand;
      border-style: solid;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 1px;
        left: 0;
        bottom: 3px;
        background-color: $darkBlack;
        transition: 0.3s ease all;
        width: 100%;
      }
    }
  }
}
.socialMedia {
  margin-bottom: 10px;
}
