.tooltipster-content{
  // background-color: red;
}

.tooltipster-sidetip{
  &.tooltipster-left{
    .tooltipster-arrow-border{
      border-top-color: transparent !important;
      border-left-color: $primary;
    }
    .tooltipster-arrow-background{
      border-top-color: transparent;
    }
  }
  &.tooltipster-bottom{
    .tooltipster-arrow-border{
      border-top-color: transparent !important;
      border-bottom-color: $primary;
    }
  }
  .tooltipster-box{
    background-color: $white;
    border: 3px solid $primary;
  }
  .tooltipster-arrow{
    .tooltipster-arrow-border{
      border-top-color: $primary;

    }
    .tooltipster-arrow-background{
      border-color: transparent;
    }
  }
  .tooltipster-content{
    padding: 6px;
    color: $gray;
  }
}
.night-mode{
  .tooltipster-sidetip{
    .tooltipster-box{
      background-color: $black;
      border-color: $white;
    }
    &.tooltipster-top{
      .tooltipster-arrow-border{
        border-top-color: $white;
        // border-left-color: $white;
      }
    }
    &.tooltipster-left{
      .tooltipster-arrow-border{
        border-top-color: transparent !important;
        border-left-color: $white;
      }
    }
    &.tooltipster-bottom{
      .tooltipster-arrow-border{
        border-top-color: transparent !important;
        border-bottom-color: $white;
      }
    }
    .tooltipster-content{
      color: $white;
    }
  }
}