.tooltipster-content{
  // background-color: red;
}

.tooltipster-sidetip{
  .tooltipster-box{
    background-color: $white;
    border: 3px solid $primary;
  }
  .tooltipster-arrow{
    .tooltipster-arrow-border{
      border-top-color: $primary;

    }
    .tooltipster-arrow-background{
      border-top-color: transparent;
    }
  }
  .tooltipster-content{
    padding: 0;
  }
}
