extends ../../../layouts/admin.pug
block title
  title buttons
block sidebar
  include ../../../components/sidebar-content.pug

block content
  .container
    .row
      .col-lg-12
        .card
          .card__title
            h3 Default
          .card__content
            h4.text-2 Buttons
            p with hover background-color and click event
            button.btn.btn--default.btn--ripple default
            button.btn.btn--primary.btn--ripple primary
            button.btn.btn--success.ripple-effect success
            button.btn.btn--info.btn--ripple info
            button.btn.btn--warning.btn--ripple warning
            button.btn.btn--danger.btn--ripple danger
            button.btn.btn--secondary.btn--ripple secondary 
            button(class="btn" disabled="disabled") disabled
            br
            button.btn.btn--primary.btn--ripple.btn--sm primary
            button.btn.btn--primary.btn--ripple.btn--lg primary               
            hr
            
            h4.text-2 Links
            p with hover background-color and click event
            a(href="#" class="btn btn--secondary btn--ripple") secondary
            a(href="#" class="btn btn--success btn--ripple") success
            a(href="#" class="btn btn--info btn--ripple") info
            a(href="#" class="btn btn--default btn--ripple") default
            a(href="#" class="btn btn--primary btn--ripple") primary
            a(href="#" class="btn btn--warning btn--ripple") warning
            a(href="#" class="btn btn--danger btn--ripple") danger


    .row
      .col-lg-12
        .card
          .card__title
            h3 Rounded
          .card__content
            h4.text-2 Buttons
            p with click event
            button.btn.btn--secondary.btn--rounded.btn--ripple secondary
            button.btn.btn--success.btn--rounded.btn--ripple success
            button.btn.btn--info.btn--rounded.btn--ripple info
            button.btn.btn--default.btn--rounded.btn--ripple default
            button.btn.btn--primary.btn--rounded.btn--ripple primary
            button.btn.btn--warning.btn--rounded.btn--ripple warning
            button.btn.btn--danger.btn--rounded.btn--ripple danger
            button(class="btn btn--rounded" disabled="disabled") disabled
            br
            button.btn.btn--primary.btn--ripple.btn--sm.btn--rounded primary
            button.btn.btn--primary.btn--ripple.btn--lg.btn--rounded primary
            br
            hr
            h4.text-2 Links
            p with click event and hover
            a(href="#" class="btn btn--secondary btn--rounded btn--ripple") secondary
            a(href="#" class="btn btn--success btn--rounded btn--ripple") success
            a(href="#" class="btn btn--info btn--rounded btn--ripple") info
            a(href="#" class="btn btn--default btn--rounded btn--ripple") default
            a(href="#" class="btn btn--primary btn--rounded btn--ripple") primary
            a(href="#" class="btn btn--warning btn--rounded btn--ripple") warning
            a(href="#" class="btn btn--danger btn--rounded btn--ripple") danger
            a(href="#" class="btn btn--disabled btn--rounded btn--ripple") disabled

    .row
      .col-lg-12
        .card
          .card__title
            h3 Outlined
          .card__content
            h4.text-2 Buttons
            p with hover
            button.btn.btn--default.btn--outlined.btn--ripple default
            button.btn.btn--primary.btn--outlined.btn--ripple primary
            button.btn.btn--secondary.btn--outlined.btn--ripple secondary
            button.btn.btn--success.btn--outlined.btn--ripple success
            button.btn.btn--info.btn--outlined.btn--ripple info
            button.btn.btn--warning.btn--outlined.btn--ripple warning
            button.btn.btn--danger.btn--outlined.btn--ripple danger
            br
            button.btn.btn--primary.btn--ripple.btn--sm.btn--outlined primary
            button.btn.btn--primary.btn--ripple.btn--lg.btn--outlined primary
            br
            hr
            h4.text-2 links
            p with hover
            a(href="#" class="btn btn--default btn--outlined btn--ripple") default
            a(href="#" class="btn btn--primary btn--outlined btn--ripple") primary
            a(href="#" class="btn btn--secondary btn--outlined btn--ripple") secondary
            a(href="#" class="btn btn--success btn--outlined btn--ripple") success
            a(href="#" class="btn btn--info btn--outlined btn--ripple") info
            a(href="#" class="btn btn--warning btn--outlined btn--ripple") warning
            a(href="#" class="btn btn--danger btn--outlined btn--ripple") danger
            p with hover
            button.btn.btn--primary.btn--outlined.btn--rounded.btn--ripple outlined-rounded
            button.btn.btn--primary.btn--outlined.btn--rounded.btn--ripple.btn--lg outlined-rounded

    .row
      .col-lg-12
        .card
          .card__title
            h3 Text
          .card__content
            h4.text-2 Buttons
            p with hover
            button.btn.btn--default.btn--text.btn--ripple default
            button.btn.btn--primary.btn--text.btn--ripple primary
            button.btn.btn--secondary.btn--text.btn--ripple secondary
            button.btn.btn--success.btn--text.btn--ripple success
            p with hover-rounded
            button.btn.btn--success.btn--text.btn--hover-rounded.btn--ripple success
            button.btn.btn--info.btn--text.btn--hover-rounded.btn--ripple info
            button.btn.btn--warning.btn--text.btn--hover-rounded.btn--ripple warning
            button.btn.btn--danger.btn--text.btn--hover-rounded.btn--ripple danger
            p with line-hover
            button.btn.btn--primary.btn--text.btn--hover-line success
            button.btn.btn--default.btn--text.btn--hover-line success
            p with hover
            button.btn.btn--info.btn--text.link-color info
            button.btn.btn--warning.btn--text.link-color warning
            button.btn.btn--danger.btn--text.link-color danger
            br
            button.btn.btn--primary.btn--text.btn--sm primary
            button.btn.btn--primary.btn--text.btn--lg primary
            br
            hr
            h4.text-2 links
            p link with hover
            a(href="#" class="btn btn--default btn--text btn--ripple") default
            a(href="#" class="btn btn--primary btn--text btn--ripple") primary
            a(href="#" class="btn btn--secondary btn--text btn--ripple") secondary
            p link with hover-rounded
            a(href="#" class="btn btn--success btn--text btn--hover-rounded btn--ripple") success
            a(href="#" class="btn btn--info btn--text btn--hover-rounded btn--ripple") info
            a(href="#" class="btn btn--warning btn--text btn--hover-rounded btn--ripple") warning
            a(href="#" class="btn btn--danger btn--text btn--hover-rounded btn--ripple") danger
            p link with line-hover
            a(href="#" class="btn btn--primary btn--text btn--hover-line") success
            a(href="#" class="btn btn--default btn--text btn--hover-line") success

    .row
      .col-lg-12
        .card
          .card__title
            h3 Icon
          .card__content
            p Buttons
            button.btn.btn--default.btn--icon.btn--ripple
              i.fas.fa-info
            button.btn.btn--primary.btn--icon.btn--ripple.btn--sm
              i.fas.fa-info
            button.btn.btn--secondary.btn--icon.btn--ripple
              i.fas.fa-info
            button.btn.btn--success.btn--icon.btn--ripple
              i.fas.fa-info
            button.btn.btn--info.btn--icon.btn--ripple
              i.fas.fa-info
            button.btn.btn--warning.btn--icon.btn--ripple
              i.fas.fa-info
            button.btn.btn--danger.btn--icon.btn--ripple.btn--outlined
              i.fas.fa-info
            br
            button.btn.btn--primary.btn--icon.btn--ripple.btn--sm 
              i.fas.fa-info
            button.btn.btn--primary.btn--icon.btn--ripple.btn--lg 
              i.fas.fa-info
            p links
            a(href ="#" class="btn btn--default btn--icon btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--primary btn--icon btn--outlined btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--secondary btn--icon btn--ripple btn--lg")
              i.fas.fa-info
            a(href ="#" class="btn btn--success btn--icon btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--info btn--icon btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--warning btn--icon btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--danger btn--icon btn--ripple")
              i.fas.fa-info
            p link with hover
            a(href ="#" class="btn btn--text btn--default icon--hover btn--lg btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--text btn--primary icon--hover btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--text btn--secondary icon--hover btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--text btn--success icon--hover btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--text btn--info icon--hover btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--text btn--warning icon--hover btn--ripple")
              i.fas.fa-info
            a(href ="#" class="btn btn--text btn--danger icon--hover btn--ripple")
              i.fas.fa-info

    .row
      .col-lg-12
        .card
          .card__title
            h3 With-Icon
          .card__content
            p Buttons
            button.btn.btn--default.btn--with-icon.btn--ripple
              i.fa.fa-info
              | default
            button.btn.btn--primary.btn--with-icon.btn--ripple
              i.fa.fa-info
              | primary
            button.btn.btn--secondary.btn--with-icon.btn--ripple
              i.fa.fa-info
              | secondary
            button.btn.btn--success.btn--with-icon.btn--ripple
              i.fa.fa-info
              | success
            button.btn.btn--info.btn--with-icon.btn--ripple
              i.fa.fa-info
              | info
            button.btn.btn--warning.btn--with-icon.btn--ripple
              i.fa.fa-info
              | warning
            button.btn.btn--danger.btn--with-icon.btn--ripple
              i.fa.fa-info
              | danger
            br
            button.btn.btn--primary.btn--with-icon.btn--ripple.btn--sm 
              i.fa.fa-info
              | primary
            button.btn.btn--primary.btn--with-icon.btn--ripple.btn--lg 
              i.fa.fa-info
              | primary
            br
            p links
            a.btn.btn--default.btn--with-icon.btn--ripple
              i.fa.fa-info
              | default-link
            a.btn.btn--primary.btn--with-icon.btn--ripple
              i.fa.fa-info
              | primary-link
            a.btn.btn--secondary.btn--with-icon.btn--ripple
              i.fa.fa-info
              | secondary-link
            a.btn.btn--success.btn--with-icon.btn--ripple
              i.fa.fa-info
              | success-link
            a.btn.btn--info.btn--with-icon.btn--ripple
              i.fa.fa-info
              | info-link
            a.btn.btn--warning.btn--with-icon.btn--ripple
              i.fa.fa-info
              | warning-link
            a.btn.btn--danger.btn--with-icon.btn--ripple
              i.fa.fa-info
              | danger-link

    
    .row
      .col-lg-12
        .card
          .card__title
            h4 Rounded input
          .card__content
            input.btn.btn--default.btn--rounded.btn--ripple(type='button' value='button')
          .card__title
            h4 Outlined input
          .card__content
            input.btn.btn--primary.btn--outlined.btn--ripple(type='button' value='button')
          .card__title
            h4 Text input
          .card__content
            input.btn.btn--secondary.btn--text.btn--hover.btn--ripple(type='button' value='button')
            input.btn.btn--secondary.btn--text.btn--hover-rounded.btn--ripple(type='button' value='button')
    .row
      .col-lg-12
        .card
          .card__title
            h3 button-group
          .card__content
            .btn-group
              button.btn.btn--info default
              button.btn.btn--primary primary
              button.btn.btn--secondary secondary
          .card__content
            .btn-group      
              button.btn.btn--info.btn--rounded default
              button.btn.btn--primary.btn--rounded primary
              button.btn.btn--secondary.btn--rounded secondary
          .card__content
            .btn-group
              button.btn.btn--info.btn--outlined default
              button.btn.btn--primary.btn--outlined primary
              button.btn.btn--secondary.btn--outlined secondary
    .row
      .col-lg-12
        .card
          .card__title
            h3 variations
          .card__content
            h3 button-ripple
            p default buttons
            button.btn.btn--secondary.btn--rounded.btn--ripple default
            button.btn.btn--primary.btn--rounded.btn--ripple primary
          .card__content
            h3 Default
            p default buttons
            button.btn.btn--default.btn--lg.btn--rounded.btn--ripple large button
            button.btn.btn--secondary.btn--sm.btn--ripple small button
            button.btn.btn--primary.btn--rounded.btn--disabled disabled button
            button.btn.btn--link-text link-text
            //- button.btn--text-basic text-basic
