extends ../../../layouts/admin.pug
block title
  title buttons
block sidebar
  include ../../../components/sidebar-content.pug

block content
  .container
    .row
      .col-lg-12
        .card
          .card__title
            h3 Default
          .card__content
            p.text-2 Buttons
            button.btn.btn--default.btn--ripple default
            button.btn.btn--primary.btn--ripple primary
            button.btn.btn--secondary.btn--ripple secondary
            button.btn.btn--success.btn--ripple success
            button.btn.btn--info.btn--ripple info
            button.btn.btn--warning.btn--ripple warning
            button.btn.btn--danger.btn--ripple danger
            button(class="btn" disabled="disabled") disabled
            p Links
            a(href="#" class="btn btn--default") default
            a(href="#" class="btn btn--primary") primary
            a(href="#" class="btn btn--secondary") secondary
            a(href="#" class="btn btn--success") success
            a(href="#" class="btn btn--info") info
            a(href="#" class="btn btn--warning") warning
            a(href="#" class="btn btn--danger") danger
            a(href="#" class="btn btn--disabled") disabled

    .row
      .col-lg-12
        .card
          .card__title
            h3 Rounded
          .card__content
            p buttons
            button.btn.btn--default.btn--rounded.btn--ripple default
            button.btn.btn--primary.btn--rounded.btn--ripple primary
            button.btn.btn--secondary.btn--rounded.btn--ripple secondary
            button.btn.btn--success.btn--rounded.btn--ripple success
            button.btn.btn--info.btn--rounded.btn--ripple info
            button.btn.btn--warning.btn--rounded.btn--ripple warning
            button.btn.btn--danger.btn--rounded.btn--ripple danger
            button(class="btn btn--rounded" disabled="disabled") disabled
            p links
            a(href="#" class="btn btn--default btn--rounded") default
            a(href="#" class="btn btn--primary btn--rounded") primary
            a(href="#" class="btn btn--secondary btn--rounded") secondary
            a(href="#" class="btn btn--success btn--rounded") success
            a(href="#" class="btn btn--info btn--rounded") info
            a(href="#" class="btn btn--warning btn--rounded") warning
            a(href="#" class="btn btn--danger btn--rounded") danger
            a(href="#" class="btn btn--disabled btn--rounded") disabled


    .row
      .col-lg-12
        .card
          .card__title
            h3 Outlined
          .card__content
            p Buttons
            button.btn.btn--default.btn--outlined default
            button.btn.btn--primary.btn--outlined primary
            button.btn.btn--secondary.btn--outlined secondary
            button.btn.btn--success.btn--outlined success
            button.btn.btn--info.btn--outlined info
            button.btn.btn--warning.btn--outlined warning
            button.btn.btn--danger.btn--outlined danger
            p links
            a(href="#" class="btn btn--default btn--outlined") default
            a(href="#" class="btn btn--primary btn--outlined") primary
            a(href="#" class="btn btn--secondary btn--outlined") secondary
            a(href="#" class="btn btn--success btn--outlined") success
            a(href="#" class="btn btn--info btn--outlined") info
            a(href="#" class="btn btn--warning btn--outlined") warning
            a(href="#" class="btn btn--danger btn--outlined") danger
            p variations
            button.btn.btn--primary.btn--outlined.btn--rounded outlined-rounded
            button.btn.btn--secondary.btn--outlined.btn--hover secondary


    .row
      .col-lg-12
        .card
          .card__title
            h3 Text
          .card__content
            p Buttons
            button.btn.btn--default.btn--text default
            button.btn.btn--primary.btn--text primary
            button.btn.btn--secondary.btn--text secondary
            button.btn.btn--success.btn--text success
            button.btn.btn--info.btn--text info
            button.btn.btn--warning.btn--text warning
            button.btn.btn--danger.btn--text danger
            p links
            a(href="#" class="btn btn--default btn--text") default
            a(href="#" class="btn btn--primary btn--text") primary
            a(href="#" class="btn btn--secondary btn--text") secondary
            a(href="#" class="btn btn--success btn--text") success
            a(href="#" class="btn btn--info btn--text") info
            a(href="#" class="btn btn--warning btn--text") warning
            a(href="#" class="btn btn--danger btn--text") danger
            p link with hover
            a(href="#" class="btn btn--default btn--text btn--hover") default
            a(href="#" class="btn btn--primary btn--text btn--hover") primary
            a(href="#" class="btn btn--secondary btn--text btn--hover") secondary
            p link with hover-rounded
            a(href="#" class="btn btn--success btn--text btn--hover-rounded") success
            a(href="#" class="btn btn--info btn--text btn--hover-rounded") info
            a(href="#" class="btn btn--warning btn--text btn--hover-rounded") warning
            a(href="#" class="btn btn--danger btn--text btn--hover-rounded") danger

    .row
      .col-lg-12
        .card
          .card__title
            h3 Icon
          .card__content
            p Buttons
            button.btn.btn--default.btn--icon
              i.fas.fa-info
            button.btn.btn--primary.btn--icon
              i.fas.fa-info
            button.btn.btn--secondary.btn--icon
              i.fas.fa-info
            button.btn.btn--success.btn--icon
              i.fas.fa-info
            button.btn.btn--info.btn--icon
              i.fas.fa-info
            button.btn.btn--warning.btn--icon
              i.fas.fa-info
            button.btn.btn--danger.btn--icon
              i.fas.fa-info
            p links
            a(href ="#" class="btn btn--default btn--icon")
              i.fas.fa-info
            a(href ="#" class="btn btn--primary btn--icon")
              i.fas.fa-info
            a(href ="#" class="btn btn--secondary btn--icon")
              i.fas.fa-info
            a(href ="#" class="btn btn--success btn--icon")
              i.fas.fa-info
            a(href ="#" class="btn btn--info btn--icon")
              i.fas.fa-info
            a(href ="#" class="btn btn--warning btn--icon")
              i.fas.fa-info
            a(href ="#" class="btn btn--danger btn--icon")
              i.fas.fa-info
            p link with hover
            a(href ="#" class="btn btn--icon-basic btn--default icon--hover")
              i.fas.fa-info
            a(href ="#" class="btn btn--icon-basic btn--primary icon--hover")
              i.fas.fa-info
            a(href ="#" class="btn btn--icon-basic btn--secondary icon--hover")
              i.fas.fa-info
            a(href ="#" class="btn btn--icon-basic btn--success icon--hover")
              i.fas.fa-info
            a(href ="#" class="btn btn--icon-basic btn--info icon--hover")
              i.fas.fa-info
            a(href ="#" class="btn btn--icon-basic btn--warning icon--hover")
              i.fas.fa-info
            a(href ="#" class="btn btn--icon-basic btn--danger icon--hover")
              i.fas.fa-info

    .row
      .col-lg-12
        .card
          .card__title
            h3 With-Icon
          .card__content
            p Buttons
            button.btn.btn--default.btn--with-icon
              i.fa.fa-info
              | default
            button.btn.btn--primary.btn--with-icon
              i.fa.fa-info
              | primary
            button.btn.btn--secondary.btn--with-icon
              i.fa.fa-info
              | secondary
            button.btn.btn--success.btn--with-icon
              i.fa.fa-info
              | success
            button.btn.btn--info.btn--with-icon
              i.fa.fa-info
              | info
            button.btn.btn--warning.btn--with-icon
              i.fa.fa-info
              | warning
            button.btn.btn--danger.btn--with-icon
              i.fa.fa-info
              | danger

            p links
            a.btn.btn--default.btn--with-icon
              i.fa.fa-info
              | default-link
            a.btn.btn--primary.btn--with-icon
              i.fa.fa-info
              | primary-link
            a.btn.btn--secondary.btn--with-icon
              i.fa.fa-info
              | secondary-link
            a.btn.btn--success.btn--with-icon
              i.fa.fa-info
              | success-link
            a.btn.btn--info.btn--with-icon
              i.fa.fa-info
              | info-link
            a.btn.btn--warning.btn--with-icon
              i.fa.fa-info
              | warning-link
            a.btn.btn--danger.btn--with-icon
              i.fa.fa-info
              | danger-link

            p variations
            a.btn.btn--default.btn--with-icon
              i.fa.fa-info
              | default-link
            a.btn.btn--primary.btn--with-icon
              i.fa.fa-info
              | primary-link
            a.btn.btn--secondary.btn--with-icon
              i.fa.fa-info
              | secondary-link
            a.btn.btn--success.btn--with-icon
              i.fa.fa-info
              | success-link
            a.btn.btn--info.btn--with-icon
              i.fa.fa-info
              | info-link
            a.btn.btn--warning.btn--with-icon
              i.fa.fa-info
              | warning-link
            a.btn.btn--danger.btn--with-icon
              i.fa.fa-info
              | danger-link
    
    .row
      .col-lg-12
        .card
          .card__title
            h4 Rounded input
          .card__content
            input.btn.btn--default.btn--rounded(type='button' value='button')
          .card__title
            h4 Outlined input
          .card__content
            input.btn.btn--primary.btn--outlined(type='button' value='button')
          .card__title
            h4 Text input
          .card__content
            input.btn.btn--secondary.btn--text(type='button' value='button')

    .row
      .col-lg-12
        .card
          .card__title
            h3 button-group
          .card__content
            .btn-group
              button.btn.btn--info default
              button.btn.btn--primary primary
              button.btn.btn--secondary secondary
          .card__content
            .btn-group      
              button.btn.btn--info.btn--rounded default
              button.btn.btn--primary.btn--rounded primary
              button.btn.btn--secondary.btn--rounded secondary
          .card__content
            .btn-group
              button.btn.btn--info.btn--outlined default
              button.btn.btn--primary.btn--outlined primary
              button.btn.btn--secondary.btn--outlined secondary
    .row
      .col-lg-12
        .card
          .card__title
            h3 variations
          .card__content
            h3 button-ripple
            p default buttons
            button.btn.btn--secondary.btn--rounded.btn--ripple default
            button.btn.btn--primary.btn--rounded.btn--ripple primary
          .card__content
            h3 Default
            p default buttons
            button.btn.btn--default.btn--lg large button
            button.btn.btn--secondary.btn--sm small button
            button.btn.btn--primary.btn--rounded.btn--disabled disabled button
            button.btn.btn--link-text link-text
            //- button.btn--text-basic text-basic
