extends ../../../layouts/admin.pug
block title
	title Admin course details
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			.col-lg-12
				h3 default
				p default buttons
				button.ad-btn.ad-btn--default.ad-btn--filled default
				button.ad-btn.ad-btn--primary.ad-btn--filled primary
				button.ad-btn.ad-btn--secondary.ad-btn--filled secondary
				button.ad-btn.ad-btn--success.ad-btn--filled success
				button.ad-btn.ad-btn--info.ad-btn--filled info
				button.ad-btn.ad-btn--warning.ad-btn--filled warning
				button.ad-btn.ad-btn--danger.ad-btn--filled danger 

				h3 Rounded
				p rounded buttons
				button.ad-btn.ad-btn--default.ad-btn--rounded default
				button.ad-btn.ad-btn--primary.ad-btn--rounded primary
				button.ad-btn.ad-btn--secondary.ad-btn--rounded secondary
				button.ad-btn.ad-btn--success.ad-btn--rounded success
				button.ad-btn.ad-btn--info.ad-btn--rounded info
				button.ad-btn.ad-btn--warning.ad-btn--rounded gold
				button.ad-btn.ad-btn--danger.ad-btn--rounded danger 

				h3 Outlined
				p outlined buttons
				button.ad-btn.ad-btn--default.ad-btn--outlined default
				button.ad-btn.ad-btn--primary.ad-btn--outlined primary
				button.ad-btn.ad-btn--secondary.ad-btn--outlined secondary
				button.ad-btn.ad-btn--success.ad-btn--outlined success
				button.ad-btn.ad-btn--info.ad-btn--outlined info
				button.ad-btn.ad-btn--warning.ad-btn--outlined warning
				button.ad-btn.ad-btn--danger.ad-btn--outlined danger

				h3 Text
				p text buttons
				button.ad-btn.ad-btn--default.ad-btn--text default
				button.ad-btn.ad-btn--primary.ad-btn--text primary
				button.ad-btn.ad-btn--secondary.ad-btn--text secondary
				button.ad-btn.ad-btn--success.ad-btn--text success
				button.ad-btn.ad-btn--info.ad-btn--text info
				button.ad-btn.ad-btn--warning.ad-btn--text warning
				button.ad-btn.ad-btn--danger.ad-btn--text danger

				h3 Icon
				p icon buttons
				button.ad-btn.ad-btn--default.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--primary.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--secondary.ad-btn--icon
					i.fas.fa-info 
				button.ad-btn.ad-btn--success.ad-btn--icon
					i.fas.fa-info 
				button.ad-btn.ad-btn--info.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--warning.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--danger.ad-btn--icon 
					i.fas.fa-info

				h3 with-icon
				p with-icon buttons
				button.ad-btn.ad-btn--default.ad-btn--with-icon
					i.fa.fa-dashboard 
					|default
				button.ad-btn.ad-btn--primary.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|primary
				button.ad-btn.ad-btn--secondary.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|secondary
				button.ad-btn.ad-btn--success.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|success
				button.ad-btn.ad-btn--info.ad-btn--with-icon
					i.fa.fa-dashboard 
					|info
				button.ad-btn.ad-btn--warning.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|warning
				button.ad-btn.ad-btn--danger.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|danger

				