extends ../../../layouts/admin.pug
block title
	title buttons
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			.col-lg-12
				h3 Default
				p default buttons
				button.ad-btn.ad-btn--default default
				button.ad-btn.ad-btn--primary primary
				button.ad-btn.ad-btn--secondary secondary
				button.ad-btn.ad-btn--success success
				button.ad-btn.ad-btn--info info
				button.ad-btn.ad-btn--warning warning
				button.ad-btn.ad-btn--danger danger 
 
				h3 Rounded
				p rounded buttons
				button.ad-btn.ad-btn--default.ad-btn--rounded default
				button.ad-btn.ad-btn--primary.ad-btn--rounded primary
				button.ad-btn.ad-btn--secondary.ad-btn--rounded secondary
				button.ad-btn.ad-btn--success.ad-btn--rounded success
				button.ad-btn.ad-btn--info.ad-btn--rounded info
				button.ad-btn.ad-btn--warning.ad-btn--rounded gold
				button.ad-btn.ad-btn--danger.ad-btn--rounded danger 

				h3 Outlined
				p outlined buttons
				button.ad-btn.ad-btn--default.ad-btn--outlined.ad-btn--hover default
				button.ad-btn.ad-btn--primary.ad-btn--outlined.ad-btn--hover primary
				button.ad-btn.ad-btn--secondary.ad-btn--outlined.ad-btn--hover secondary
				button.ad-btn.ad-btn--success.ad-btn--outlined.ad-btn--hover success
				button.ad-btn.ad-btn--info.ad-btn--outlined.ad-btn--hover info
				button.ad-btn.ad-btn--warning.ad-btn--outlined.ad-btn--hover warning
				button.ad-btn.ad-btn--danger.ad-btn--outlined.ad-btn--hover danger

				h3 Text
				p text buttons
				button.ad-btn.ad-btn--default.ad-btn--text.ad-btn--hover default
				button.ad-btn.ad-btn--primary.ad-btn--text.ad-btn--hover primary
				button.ad-btn.ad-btn--secondary.ad-btn--text.ad-btn--hover secondary
				button.ad-btn.ad-btn--success.ad-btn--text.ad-btn--hover success
				button.ad-btn.ad-btn--info.ad-btn--text.ad-btn--hover info
				button.ad-btn.ad-btn--warning.ad-btn--text.ad-btn--hover warning
				button.ad-btn.ad-btn--danger.ad-btn--text.ad-btn--hover danger

				h3 Icon
				p icon buttons
				button.ad-btn.ad-btn--default.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--primary.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--secondary.ad-btn--icon
					i.fas.fa-info 
				button.ad-btn.ad-btn--success.ad-btn--icon
					i.fas.fa-info 
				button.ad-btn.ad-btn--info.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--warning.ad-btn--icon 
					i.fas.fa-info
				button.ad-btn.ad-btn--danger.ad-btn--icon 
					i.fas.fa-info

				h3 With-icon
				p with-icon buttons
				button.ad-btn.ad-btn--default.ad-btn--with-icon
					i.fa.fa-dashboard 
					|default
				button.ad-btn.ad-btn--primary.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|primary
				button.ad-btn.ad-btn--secondary.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|secondary
				button.ad-btn.ad-btn--success.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|success
				button.ad-btn.ad-btn--info.ad-btn--with-icon
					i.fa.fa-dashboard 
					|info
				button.ad-btn.ad-btn--warning.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|warning
				button.ad-btn.ad-btn--danger.ad-btn--with-icon 
					i.fa.fa-dashboard 
					|danger
				hr
				h3 Default
				p default links 
				a.ad-btn.ad-btn--default default-link
				a.ad-btn.ad-btn--primary primary-link
				a.ad-btn.ad-btn--secondary secondary-link
				a.ad-btn.ad-btn--success success-link
				a.ad-btn.ad-btn--info info-link
				a.ad-btn.ad-btn--warning warning-link
				a.ad-btn.ad-btn--danger danger-link

				h3 Rounded
				p rounded links
				a.ad-btn.ad-btn--default.ad-btn--rounded default-link
				a.ad-btn.ad-btn--primary.ad-btn--rounded primary-link
				a.ad-btn.ad-btn--secondary.ad-btn--rounded secondary-link
				a.ad-btn.ad-btn--success.ad-btn--rounded success-link
				a.ad-btn.ad-btn--info.ad-btn--rounded info-link
				a.ad-btn.ad-btn--warning.ad-btn--rounded gold-link
				a.ad-btn.ad-btn--danger.ad-btn--rounded danger-link 

				h3 Outlined
				p outlined links
				a.ad-btn.ad-btn--default.ad-btn--outlined.ad-btn--hover default-link
				a.ad-btn.ad-btn--primary.ad-btn--outlined.ad-btn--hover primary-link
				a.ad-btn.ad-btn--secondary.ad-btn--outlined.ad-btn--hover secondary-link
				a.ad-btn.ad-btn--success.ad-btn--outlined.ad-btn--hover success-link
				a.ad-btn.ad-btn--info.ad-btn--outlined.ad-btn--hover info-link
				a.ad-btn.ad-btn--warning.ad-btn--outlined.ad-btn--hover warning-link
				a.ad-btn.ad-btn--danger.ad-btn--outlined.ad-btn--hover danger-link

				h3 Text
				p text links
				a.ad-btn.ad-btn--default.ad-btn--text default-link
				a.ad-btn.ad-btn--primary.ad-btn--text primary-link
				a.ad-btn.ad-btn--secondary.ad-btn--text secondary-link
				a.ad-btn.ad-btn--success.ad-btn--text success-link
				a.ad-btn.ad-btn--info.ad-btn--text info-link
				a.ad-btn.ad-btn--warning.ad-btn--text warning-link
				a.ad-btn.ad-btn--danger.ad-btn--text danger-link
				
				h3 Icon
				p icon links 
				a.ad-btn.ad-btn--default.ad-btn--icon 
					i.fas.fa-info
				a.ad-btn.ad-btn--primary.ad-btn--icon 
					i.fas.fa-info
				a.ad-btn.ad-btn--secondary.ad-btn--icon
					i.fas.fa-info 
				a.ad-btn.ad-btn--success.ad-btn--icon
					i.fas.fa-info 
				a.ad-btn.ad-btn--info.ad-btn--icon 
					i.fas.fa-info
				a.ad-btn.ad-btn--warning.ad-btn--icon 
					i.fas.fa-info
				a.ad-btn.ad-btn--danger.ad-btn--icon 
					i.fas.fa-info

				h3 With-icon
				p with-icon 
				a.ad-btn.ad-btn--default.ad-btn--with-icon
					i.fa.fa-info 
					|default-link
				a.ad-btn.ad-btn--primary.ad-btn--with-icon 
					i.fa.fa-info 
					|primary-link
				a.ad-btn.ad-btn--secondary.ad-btn--with-icon 
					i.fa.fa-info 
					|secondary-link
				a.ad-btn.ad-btn--success.ad-btn--with-icon 
					i.fa.fa-info 
					|success-link
				a.ad-btn.ad-btn--info.ad-btn--with-icon
					i.fa.fa-info 
					|info-link
				a.ad-btn.ad-btn--warning.ad-btn--with-icon 
					i.fa.fa-info 
					|warning-link
				a.ad-btn.ad-btn--danger.ad-btn--with-icon 
					i.fa.fa-info 
					|danger-link
				hr
				h3 Rounded
				p rounded inputs 
				input.ad-btn.ad-btn--default.ad-btn--rounded(type='submit' value='submit')
				h3 Outlined
				p outlined inputs 
				input.ad-btn.ad-btn--primary.ad-btn--outlined(type='submit' value='submit')
				h3 Text
				p text inputs 
				input.ad-btn.ad-btn--secondary.ad-btn--text(type='submit' value='submit')

				hr
				.ad-btn-group
					button.ad-btn.ad-btn--default default
					button.ad-btn.ad-btn--primary primary
					button.ad-btn.ad-btn--secondary secondary	
				.ad-btn-group
					button.ad-btn.ad-btn--default.ad-btn--rounded default
					button.ad-btn.ad-btn--primary.ad-btn--rounded primary
					button.ad-btn.ad-btn--secondary.ad-btn--rounded secondary	
				.ad-btn-group
					button.ad-btn.ad-btn--default.ad-btn--outlined.ad-btn--hover default
					button.ad-btn.ad-btn--primary.ad-btn--outlined.ad-btn--hover primary
					button.ad-btn.ad-btn--secondary.ad-btn--outlined.ad-btn--hover secondary	
				
				h3 Default
				p default buttons
				button.ad-btn.ad-btn--secondary.ad-btn--rounded.ad-btn--ripple default
				button.ad-btn.ad-btn--primary.ad-btn--rounded.ad-btn--ripple primary

				h3 Default
				p default buttons
				button.ad-btn.ad-btn--default.ad-btn--lg large button
				button.ad-btn.ad-btn--secondary.ad-btn--sm small button
				button.ad-btn.ad-btn--primary.ad-btn--rounded.ad-btn--disabled disabled button