extends ../../../layouts/admin.pug
block title
	title Admin course details
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			//- ad-card default
			.col-lg-12
				h2.title-2.my-3 ad-card
			.col-lg-12
				.ad-card
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			//- .ad-card--with-title
			.col-lg-12
				h2.title-2.my-3 ad-card ad-card--with-title
			.col-lg-12
				.ad-card.ad-card--with-title
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			//- .ad-card--centered
			.col-lg-12
				h2.title-2.my-3 ad-card--centered
			.col-lg-3
				.ad-card.ad-card--centered
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			//- ad-card--interactive
			.col-lg-12
				h2.title-2.my-3 ad-card--interactive
			.col-lg-12
				.ad-card.ad-card--interactive.trusted
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			//- ad-card--reversed
			.col-lg-12
				h2.title-2.my-3 ad-card--reversed
			.col-lg-12
				.ad-card.ad-card--reversed
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			//- ad-card--with-actions
			.col-lg-12
				h2.title-2.my-3 ad-card--with-actions
			.col-lg-4
				.ad-card.ad-card--with-actions
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex.w-100
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			//- ad-card--shows-on-hover
			.col-lg-12
				h2.title-2.my-3 ad-card--shows-on-hover
			.col-lg-6
				.ad-card.ad-card--shows-on-hover
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.ad-card__content--header
							.d-flex
								.user-image
									img(src="./images/sign.svg" alt="")
									i.uil.uil-check-circle
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
							include ../../../components/list-dropdown.pug
						.ad-card__content--details
							p.text-1 lorem ipsum dolor sit amet
			
