extends ../../../layouts/admin.pug
block title
  title Admin course details
block sidebar
  include ../../../components/sidebar-content.pug

block content
  .container
    .row
      //- ad-card default
      .col-lg-12
        h2.title-2.my-3 Default card
        p.text-2.mb-1
          | we use
          code .ad-card
      .col-lg-12
        .ad-card
          // start card-title ( .ad-card__title contains h4.title-h4 card title
            .ad-card__title
              h4.title-h4 card title
          // end of card-title
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  p.text-3.gray Jose Portilla Jose Portilla Jose
                  a.text-3.gray(href="#") Jose Portilla
                // start of list
                  include ../../../components/list-dropdown.pug
                // end of list
              .ad-card__content--details
                p.text-1 lorem ipsum dolor sit amet
              // start tags
                .tags
                  a(href='#').tags__item #Development
                  a(href='#').tags__item #Development
              // end of tags
          // end of whatever
      //-Thread questions


      .col-lg-12
        h2.title-2.my-3 Thread card questions
        //p.text-2.mb-1
          | we use
          code .ad-card
      .col-lg-12
        .ad-card
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  time.text-3.gray Jan 15 '18 at 13:56
                  //- a.text-3.gray(href="#") Jose Portilla
                include ../../../components/list-dropdown.pug
              .ad-card__content--details
                .rich-textarea
                  h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  h1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  span  Lorem ipsum dolor
                  ul
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                  q Lorem ipsum dolor
                  a(href="#") mostafa
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  i mostafa
                .tags
                  .tags__item #Development
                  .tags__item #Development
      //-Thread answer
      .col-lg-12
        h2.title-2.my-3 Thread card questions
        //p.text-2.mb-1
          | we use
          code .ad-card
      .col-lg-12
        .ad-card.ad-card--with-actions

          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  time.text-3.gray Jan 15 '18 at 13:56
                  //- a.text-3.gray(href="#") Jose Portilla
                include ../../../components/list-dropdown.pug
              .ad-card__content--details
                .rich-textarea
                  h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  h1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  span  Lorem ipsum dolor
                  ul
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                  q Lorem ipsum dolor
                  a(href="#") mostafa
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  i mostafa

      //- ad-card comments
      .col-lg-12
        h2.title-2.my-3 Default card comments
        p.text-2.mb-1
          | we use
          code .ad-card .ad-card--transparent
      .col-lg-12
        .comments-list
          //- component 1 add class transparent (no-background)
          .ad-card.ad-card--transparent
            .ad-card__content
              .user-image
                img(src="./images/sign.svg" alt="")
                i.uil.uil-check-circle
              .ad-card__body
                .ad-card__content-header
                  .user-data
                    a.text-2(href="#") Jose Portilla
                    time.text-3.gray Jan 15 '18 at 13:56
                  include ../../../components/list-dropdown.pug
                .ad-card__content--details
                  p.text-1 lorem ipsum dolor sit amet
          //- comment 2
          .ad-card.ad-card--transparent
            .ad-card__content
              .user-image
                img(src="./images/sign.svg" alt="")
                i.uil.uil-check-circle
              .ad-card__body
                .ad-card__content-header
                  .user-data
                    a.text-2(href="#") Jose Portilla
                    time.text-3.gray Jan 15 '18 at 13:56
                  include ../../../components/list-dropdown.pug
                .ad-card__content--details
                  p.text-1 lorem ipsum dolor sit amet
          //- comment 3
          .ad-card.ad-card--transparent
            .ad-card__content
              .user-image
                img(src="./images/sign.svg" alt="")
                i.uil.uil-check-circle
              .ad-card__body
                .ad-card__content-header
                  .user-data
                    a.text-2(href="#") Jose Portilla
                    time.text-3.gray Jan 15 '18 at 13:56
                  include ../../../components/list-dropdown.pug
                .ad-card__content--details
                  p.text-1 lorem ipsum dolor sit amet
          .create-comment
            .create-comment__content
              .content__user-img
                img.user-img__img(src=" images/left-imgs/img-1.jpg")
            form.form__action(action="")
              input.group__textarea.textarea--thread(placeholder="Add a public comment")
      //- .ad-card--with-title
      .col-lg-12
        h2.title-2.my-3 Card with title with centered components
        p.text-2.mb-1
          | we use
          code .ad-card--with-title .ad-card--centered
      .col-lg-3
        .ad-card.ad-card--with-title.ad-card--centered
          .ad-card__title.mb-2
            h5.title-h5 Live Streaming
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  p.text-3.gray Jose Portilla Jose Portilla Jose
                  a.text-3.gray(href="#") Jose Portilla
              .ad-card__content--details
                p.text-1 lorem ipsum dolor sit amet
      //- .ad-card--with-title live Streaming
      .col-lg-12
        h2.title-2.my-3 Card with title with centered components
        p.text-2.mb-1
          | we use
          code .ad-card--with-title .ad-card--centered .ad-card--live-stream
      .col-lg-3
        .ad-card.ad-card--with-title.ad-card--centered.ad-card--live-stream
          .ad-card__title.mb-2
            h5.title-h6.semi-bold Live Streaming
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  p.text-3.gray Set up your channel and stream live to your students
                  .ad-card__btn
                    a(href="#").ad-btn.ad-btn--primary.ad-btn--rounded.my-2  Get Started
              .ad-card__content--details
                p.text-2.gray Info : This feature only for 'Instructors'.
      //- .ad-card--with-title .ad-card--top-category
      .col-lg-12
        h2.title-2.my-3 Card with title with  category
        p.text-2.mb-1
          | we use
          code .ad-card--with-title .ad-card--top-category
      .col-lg-3
        .ad-card.ad-card--with-title.ad-card--top-category
          .ad-card__title.mb-2
            h5.title-h6.semi-bold Top Categories
          .ad-card__content
            .ad-card__body
              .ad-card__content--details
                ul.ad-card__list
                  li.ad-card__list-item
                    a.ad-card__item-link(href="#")
                      i.uil.uil-arrow
                      | Development
                  li.ad-card__list-item
                    a.ad-card__item-link(href="#")
                      i.uil.uil-graph-bar
                      | Business
                  li.ad-card__list-item
                    a.ad-card__item-link(href="#")
                      i.uil.uil-graph-bar
                      | IT and Software
                  li.ad-card__list-item
                    a.ad-card__item-link(href="#")
                      i.uil-ruler
                      | Design
      //- .ad-card--with-btn
      .col-lg-12
        h2.title-2.my-3 Card with title with centered components no img
        p.text-2.mb-1
          | we use
          code .ad-card--centered .ad-card--no-bg
      .col-lg-3
        .ad-card.ad-card--centered.ad-card--no-bg
          .ad-card__content
            .ad-card__body
              .ad-card__content-header
                .user-data
                  h2.text-2 Become an Instructor
                  p.text-3.gray Set up your channel and stream live to your students Set up your channel and stream live to your students
                  .ad-card__btn
                    a(href="#").ad-btn.ad-btn--primary.ad-btn--rounded.my-2  Get Started
      //- .ad-card--live-section
      .col-lg-12
        h2.title-2.my-3 Card with centered components
        p.text-2.mb-1
          | we use
          code .ad-card--centered .ad-card--live-section
      .col-lg-3
        .ad-card.ad-card--centered.ad-card--live-section
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-3.semi-bold(href="#") Jose Portilla
                  p.text-3.gray
                    span
                    | Live
      //- .ad-card--centered .ad-card--icon
      .col-lg-12
        h2.title-2.my-3 Card with centered components and toggle img to icon
        p.text-2.mb-1
          | we use
          code .ad-card--centered .ad-card--icon
      .col-lg-6
        .ad-card.ad-card--centered.ad-card--icon
          .ad-card__content
            .user-image
              i.uil.uil-history.ad-card--user-icon
            .ad-card__body
              .ad-card__content-header
                .user-data
                  p.title-h6.semi-bold 100,000 online courses
              .ad-card__content--details
                p.text-1.gray lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
      //- ad-card testimonial
      .col-lg-12
        h2.title-2.my-3 Default card
        p.text-2.mb-1
          | we use
          code .ad-card .ad-card__testimonial
      .col-lg-6
        .ad-card.ad-card__testimonial
          .ad-card__title
            p.text-2.gray  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum dolor vitae, error repellat tenetur obcaecati totam mollitia id rerum aliquam sequi atque sunt repudiandae officiis asperiores! Fugiat optio ea facere.
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  h2.title-h6.semi-bold Jose Portilla
      //- .ad-card--centered
      .col-lg-12
        h2.title-2.my-3 Card with centered components
        p.text-2.mb-1
          | we use
          code .ad-card--centered
      .col-lg-3
        .ad-card.ad-card--centered
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  p.text-3.gray Jose Portilla Jose Portilla Jose
                  a.text-3.gray(href="#") Jose Portilla
                //include ../../../components/list-dropdown.pug
              .ad-card__content--details
                p.text-1 lorem ipsum dolor sit amet
      //- .ad-card--centered
      .col-lg-12
        h2.title-2.my-3 Card with centered components user
        p.text-2.mb-1
          | we use
          code .ad-card--centered
      .col-lg-3
        .ad-card.ad-card--centered.ad-card--user
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-1.semi-bold(href="#") Jose Portilla
                    i.uil.uil-check-circle
                  p.text-3.gray.my-3 Web Developer, Designer, and Teacher Jose
                  ul.social-icon
                    li.social-icon__list
                      a.social-icon__link.social-icon--fa-bg(href="#")
                        i.fab.fa-facebook-f
                    li.social-icon__list
                      a.social-icon__link.social-icon--tw-bg(href="#")
                        i.fab.fa-twitter
                    li.social-icon__list
                      a.social-icon__link.social-icon--li-bg(href="#")
                        i.fab.fa-linkedin-in
                    li.social-icon__list
                      a.social-icon__link.social-icon--yu-bg(href="#")
                        i.fab.fa-youtube
                  .details
                    span.total-students 615K Students
                    span.total-course 12 Courses
                  a.text-2.medium.mt-3(href="#") Go To Profile
                //include ../../../components/list-dropdown.pug
                //- p.text-1 lorem ipsum dolor sit amet
      //- ad-card--interactive
      .col-lg-12
        h2.title-2.my-3 Trusted answer
        p.text-2.mb-1
          | we use
          code .ad-card--trusted
      .col-lg-12
        .ad-card.ad-card--trusted
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  p.text-3.gray Jose Portilla Jose Portilla Jose
                  a.text-3.gray(href="#") Jose Portilla
                //include ../../../components/list-dropdown.pug
              .ad-card__content--details
                p.text-1 lorem ipsum dolor sit amet
      .col-lg-12
        h2.title-2.my-3 Reverced Card
        p.text-2.mb-1
          | we use
          code .ad-card--reversed
      .col-lg-12
        .ad-card.ad-card--reversed
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  p.text-3.gray Jose Portilla Jose Portilla Jose
                  a.text-3.gray(href="#") Jose Portilla
                //include ../../../components/list-dropdown.pug
              .ad-card__content--details
                p.text-1 lorem ipsum dolor sit amet
      //- ad-card--with-actions

      //- ad-card--shows-on-hover
      .col-lg-12
        h2.title-2.my-3 This card shows up when any user account hovered
        p.text-2.mb-1
          | we use
          code .ad-card--horizontal
      .col-lg-6
        .ad-card.ad-card--horizontal
          .ad-card__content
            .user-image
              img(src="./images/sign.svg" alt="")
              i.uil.uil-check-circle
            .ad-card__body
              .ad-card__content-header
                .user-data
                  a.text-2(href="#") Jose Portilla
                  a.text-3.gray test@test.com
                  a.text-3.gray(href="#") Bio test test
                //include ../../../components/list-dropdown.pug
              .ad-card__content--details
                p.text-1 lorem ipsum dolor sit amet


      .col-lg-12
        pre
          code.language-html
            <div class="ad-card ad-card--horizontal"><div class="ad-card__title"><h4 class="title-h4">card title</h4></div><div class="ad-card__content"><div class="user-image"><img src="./images/sign.svg" alt=""><i class="uil uil-check-circle"></i></div><div class="ad-card__body"><div class="ad-card__content-header"><div class="user-data"><a class="text-2" href="#">Jose Portilla</a><a class="text-3 gray">test@test.com</a><a class="text-3 gray" href="#">Bio test test</a></div><div class="more-dropdown"><div class="more-dropdown__link" href="#"><i class="uil uil-ellipsis-v"></i></div><div class="more-dropdown__content"><span class="content__item"><i class="item__icone uil uil-comment-alt-edit"></i>Edite</span><span class="content__item"><i class="item__icone uil uil-trash-alt"></i>Delete</span></div></div></div><div class="ad-card__content--details"><p class="text-1">lorem ipsum dolor sit amet</p></div></div></div></div>

