extends ../../../layouts/admin.pug
block title
	title Admin course details
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			//- ad-card default
			.col-lg-12
				h2.title-2.my-3 Default card
				p.text-2.mb-1
					| we use 
					code .ad-card
			.col-lg-12
				.ad-card
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
			//- .ad-card--with-title
			.col-lg-12
				h2.title-2.my-3 Card with title with centerd components
				p.text-2.mb-1
					| we use 
					code .ad-card--with-title .ad-card--centered
			.col-lg-3
				.ad-card.ad-card--with-title.ad-card--centered
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
			//- .ad-card--centered
			.col-lg-12
				h2.title-2.my-3 Card with centered components
				p.text-2.mb-1
					| we use 
					code .ad-card--centered
			.col-lg-3
				.ad-card.ad-card--centered
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
			//- ad-card--interactive
			.col-lg-12
				h2.title-2.my-3 Trusted answer
				p.text-2.mb-1
					| we use 
					code .ad-card--trusted
			.col-lg-12
				.ad-card.ad-card--trusted
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
			.col-lg-12
				h2.title-2.my-3 Reverced Card
				p.text-2.mb-1
					| we use 
					code .ad-card--reversed
			.col-lg-12
				.ad-card.ad-card--reversed
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
			//- ad-card--with-actions
			.col-lg-12
				h2.title-2.my-3 Card contains action list
				p.text-2.mb-1
					| we use 
					code .ad-card--with-actions
			.col-lg-4
				.ad-card.ad-card--with-actions
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									p.text-3.gray Jose Portilla Jose Portilla Jose
									a.text-3.gray(href="#") Jose Portilla
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
			//- ad-card--shows-on-hover
			.col-lg-12
				h2.title-2.my-3 This card shows up when any user account hovered
				p.text-2.mb-1
					| we use 
					code .ad-card--horizontal
			.col-lg-6
				.ad-card.ad-card--horizontal
					.ad-card__title
						h4.title-h4 card title
					.ad-card__content
						.user-image
							img(src="./images/sign.svg" alt="")
							i.uil.uil-check-circle
						.ad-card__body
							.ad-card__content-header
								.user-data
									a.text-2(href="#") Jose Portilla
									a.text-3.gray test@test.com
									a.text-3.gray(href="#") Bio test test
								include ../../../components/list-dropdown.pug
							.ad-card__content--details
								p.text-1 lorem ipsum dolor sit amet
				
			.col-lg-12
				pre
					code.language-html 
						<div class="ad-card ad-card--horizontal"><div class="ad-card__title"><h4 class="title-h4">card title</h4></div><div class="ad-card__content"><div class="user-image"><img src="./images/sign.svg" alt=""><i class="uil uil-check-circle"></i></div><div class="ad-card__body"><div class="ad-card__content-header"><div class="user-data"><a class="text-2" href="#">Jose Portilla</a><a class="text-3 gray">test@test.com</a><a class="text-3 gray" href="#">Bio test test</a></div><div class="more-dropdown"><div class="more-dropdown__link" href="#"><i class="uil uil-ellipsis-v"></i></div><div class="more-dropdown__content"><span class="content__item"><i class="item__icone uil uil-comment-alt-edit"></i>Edite</span><span class="content__item"><i class="item__icone uil uil-trash-alt"></i>Delete</span></div></div></div><div class="ad-card__content--details"><p class="text-1">lorem ipsum dolor sit amet</p></div></div></div></div>
			
