extends ../../../layouts/site.pug
include ../../../components/widgets/display-cards


block title
  title Cards

block content
  .container
    h1 Display Cards

    h2 Blog Cards
    h3 Blog Cards Grid
    h4 3 Columns
    .row
      .col-sm-6.col-md-4.col-lg-3
        +blog-card('Lorem ipsum dolor sit amet, quae sequi?', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.', 'التوحد', 'مقال')
      .col-sm-6.col-md-4.col-lg-3
        +blog-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!')
      .col-sm-6.col-md-4.col-lg-3
        +blog-card('عنوان افتراضى للمدونة', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة')
      .col-sm-6.col-md-4.col-lg-3
        +blog-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد', 'Article')

    h4 4 Columns
    .row
      .col-sm-6.col-md-4.col-lg-4
        +blog-card('Lorem ipsum dolor sit amet, quae sequi?', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.', 'التوحد')
      .col-sm-6.col-md-4.col-lg-4
         +blog-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!')
      .col-sm-6.col-md-4.col-lg-4
        +blog-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!')
      .col-sm-6.col-md-4.col-lg-4
        +blog-card('عنوان افتراضى للمدونة', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد')
      .col-sm-6.col-md-4.col-lg-4
        +blog-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة')
      .col-sm-6.col-md-4.col-lg-4
        +blog-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد')

    h2 Course Cards
    h3 Course Cards Grid
    h4 3 Columns
    .row
      .col-sm-6.col-md-4.col-lg-3
        +course-card('Lorem ipsum dolor sit amet, quae sequi?', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.', 'التوحد', "subscribe", "live")
      .col-sm-6.col-md-4.col-lg-3
        +course-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!')
      .col-sm-6.col-md-4.col-lg-3
        +course-card('عنوان افتراضى للمدونة', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة')
      .col-sm-6.col-md-4.col-lg-3
        +course-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد')

    h4 4 Columns
    .row
      .col-sm-6.col-md-4.col-lg-4
        +course-card('Lorem ipsum dolor sit amet, quae sequi?', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.', 'التوحد', "subscribe", "live")
      .col-sm-6.col-md-4.col-lg-4
        +course-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!', "",false, "live")
      .col-sm-6.col-md-4.col-lg-4
        +course-card('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis cum dolor dolore doloremque dolorum, ipsum laboriosam omnis quisquam voluptatum!')
      .col-sm-6.col-md-4.col-lg-4
        +course-card('عنوان افتراضى للمدونة', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد', "live")
      .col-sm-6.col-md-4.col-lg-4
        +course-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة')
      .col-sm-6.col-md-4.col-lg-4
        +course-card('عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان', 'عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة عنوان افتراضى للمدونة', 'التوحد')
