extends ../../../layouts/admin.pug
include ../../../components/widgets/lists
include ../../../components/widgets/inputs

block title
  title lists

block content
  .container
    h1 lists
    .row
      .col-6.col-lg-4
        .card
          .card__header
            h4.card__title Plain List item
          .card__content
            .list
              +list-item("Plain List item")
              +list-item("Plain List item")
              +list-item("Plain List item")
              +list-item("Plain List item")
              +list-item("Plain List item")
              +list-item("Plain List item")


      .col-6.col-lg-4
        .card
          .card__header
            h4.card__title List Item With Symbol Before
          .card__content
            .list
              +list-item-before("List Item With Symbol")
                .symbol.symbol--35px
                  .symbol__label A
              +list-item-before("List Item With Symbol")
                .symbol.symbol--35px
                  .symbol__label B
              +list-item-before("List Item With Symbol")
                .symbol.symbol--35px
                  .symbol__label C
              +list-item-before("List Item With Symbol")
                .symbol.symbol--35px
                  .symbol__label D
              +list-item-before("List Item With Symbol")
                .symbol.symbol--35px
                  .symbol__label E
              +list-item-before("List Item With Symbol")
                .symbol.symbol--35px
                  .symbol__label F

      .col-6.col-lg-4
        .card
          .card__header
            h4.card__title List Item With After Slot
          .card__content
            .list
              +list-item-after("button")
                button.btn.btn--icon.btn-text.btn--primary.btn--text
                  i.material-icons more_vert
              +list-item-after-label("Checkbox", 'checkbox')
                +checkbox('', 'checkbox', )
              +list-item-after-label("Checkbox", 'checkbox-1')
                +checkbox('', 'checkbox-1', )
              +list-item-after-label("Radio", 'radio')
                +radio('', 'radio', )
              +list-item-after-label("Switch", 'switch')
                +switch()
              +list-item-after-link("Link", '#')
                .symbol.symbol--35px.symbol--circle
                  .symbol__label(style="background-image: url('../../assets/images/hd_dp.jpg')")
              +list-item-after("List Item With Symbol")
                .symbol.symbol--35px.symbol--transparent
                  .symbol__label F
      .col-6.col-lg-4
        .card
          .card__header
            h4.card__title List Item multi line
          .card__content
            .list
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
                p.text-gray.subtitle-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut blanditiis dolorum laborum minus neque nostrum saepe temporibus vitae voluptas? Beatae corporis, cupiditate dolorem earum inventore molestias odio omnis quis.
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
              +list-item-multiple
                a(href="" class="m-0") Sohype Khaled
                span.text-gray.body-2.m-0 sohyper@mail.com
      .col-6.col-lg-4
        .card
          .card__header
            h4.card__title Hover And Active
          .card__content
            .list
              +list-item-hover('primary')
              +list-item-hover('secondary')
              +list-item-hover('accent')
              +list-item-hover('success', true)
              +list-item-hover('danger')
              +list-item-hover('info')
              +list-item-hover('warning')
              +list-item-hover('white')
              +list-item-hover('black')
              +list-item-hover('gray')
      .col-6.col-lg-4
        .card
          .card__header
            h4.card__title Collapse
          .card__content
            .list
              +list-item-collapse('collapse-1')
              +list-item-collapse('collapse-2')
              +list-item-collapse('collapse-3')
              +list-item-collapse('collapse-4')
              +list-item-collapse('collapse-5')
              +list-item-collapse('collapse-6')
