extends ../../../layouts/admin.pug
block title
	title lists
block sidebar
	include ../../../components/sidebar-content.pug

block content
	.container
		.row
			.col-lg-3
				.card.card--with-title.card--top-category.mt-3
					.card__title.mb-2
						h5.title-h6 Top Categories
					.card__content
						.card__body
							.card__content--details
								ul.card__list
									li.card__list-item
										a.card__item-link(href="#")
											| Development
									li.card__list-item
										a.card__item-link(href="#")
											| Business
									li.card__list-item
										a.card__item-link(href="#")
											| IT and Software
									li.card__list-item
										a.card__item-link(href="#")
											| Design

		.row 
			.col-lg-4 
				.card.condensed
					.card__content
						.list 
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-5" name="checkname")
										label(for="checkbox-5")
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-6" name="checkname")
										label(for="checkbox-6")
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-7" name="checkname")
										label(for="checkbox-7")
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-8" name="checkname")
										label(for="checkbox-8")

			.col-lg-4 
				.card.condensed
					.card__content
						.list 
							.list-title
								h5.title-h6 List Title
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-9" name="checkname")
										label(for="checkbox-9")
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-10" name="checkname")
										label(for="checkbox-10")
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-11" name="checkname")
										label(for="checkbox-11")
							.divider
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-12" name="checkname")
										label(for="checkbox-12")
			.col-lg-4 
				.card.condensed
					.card__content
						.list 
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-13" name="checkname")
										label(for="checkbox-13")
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-14" name="checkname")
										label(for="checkbox-14")
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-15" name="checkname")
										label(for="checkbox-15")
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-16" name="checkname")
										label(for="checkbox-16")

			.col-lg-4 
				.card.condensed
					.card__content
						.list.list--condensed  
							.list-item.list-item--border-bottom.list-item--condensed
								.list-item__icon.mb-1 
									i.fas.fa-user
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-17" name="checkname")
										label(for="checkbox-17")
							.list-item.list-item--border-bottom.list-item--condensed
								.list-item__icon.mb-1 
									i.fas.fa-user
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-18" name="checkname")
										label(for="checkbox-18")
							.list-item.list-item--border-bottom.list-item--condensed
								.list-item__icon.mb-1 
									i.fas.fa-user
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-19" name="checkname")
										label(for="checkbox-19")
							.list-item.list-item--border-bottom.list-item--condensed
								.list-item__icon.mb-1
									i.fas.fa-user
								.list-item__content.pt-2
									p.overline Lorem, ipsum dolor.
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action
									div
										input(class="field" type="checkbox" id="checkbox-20" name="checkname")
										label(for="checkbox-20")
			.col-lg-4 
				.card.condensed
					.card__content
						.list 
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
							.list-item.list-item--border-bottom
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content
									a(href="#" class="text-2 bold") Jose Portilla
		.row
			.col-lg-3
				.card-list
					.card__content
						.list.list--menu.list--condensed 
							.list-item.list-item--hover.list-item--condensed
								.list-item__icon 
									i.far.fa-copy
								.list-item__content
									a.content__link(href="#" class="text-2 btn--default btn--ripple") Lorem ipsum
							.list-item.list-item--hover.list-item--condensed
								.list-item__icon 
									i.fas.fa-trash-alt
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--hover.list-item--condensed
								.list-item__icon 
									i.fas.fa-link
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--space.list-item--hover.list-item--condensed
								.list-item__icon 
									i.fas.fa-print
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--hover.list-item--condensed
								.list-item__icon 
									i.fas.fa-user-plus
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--space.list-item--hover.list-item--condensed
								.list-item__icon
									i.fas.fa-code
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--hover.list-item--condensed
								.list-item__icon 
									i.fas.fa-puzzle-piece
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
			.col-lg-3
				.card.condensed
					.card__content
						.list.list--menu
							.list-item.list-item--hover
								.list-item__icon 
									i.far.fa-copy
								.list-item__content
									a.content__link(href="#" class="text-2 btn--default btn--ripple") Lorem ipsum
							.list-item.list-item--hover
								.list-item__icon 
									i.fas.fa-trash-alt
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--hover
								.list-item__icon 
									i.fas.fa-link
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--space.list-item--hover
								.list-item__icon 
									i.fas.fa-print
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--hover.list-item--border-bottom
								.list-item__icon 
									i.fas.fa-user-plus
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--space.list-item--hover
								.list-item__icon
									i.fas.fa-code
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item.list-item--hover
								.list-item__icon 
									i.fas.fa-puzzle-piece
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum				
				// list sidebar
			.col-lg-4
				.card-list
					.card__content
						.list.list--menu
							.list-item.list-item--hover
								.list-item__icon 
									i.far.fa-copy
								.list-item__content
									a.content__link(href="#" class="text-2 btn--default btn--ripple") Lorem ipsum
							.list-item.list-item--hover
								.list-item__icon 
									i.fas.fa-trash-alt
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum
							.list-item
								.list-item__icon 
									i.fas.fa-link
								.list-item__content
									a.content__link(href="#" class="text-2") Lorem ipsum 
								.list-item__action 
									i.fas.fa-chevron-down
							.list-item-group
								.list-item.list-item--hover
									.list-item__icon 
									a(href="#" class="content__link") Lorem ipsum
								.list-item.list-item--hover
									.list-item__icon 
									a(href="#" class="content__link") Lorem ipsum
			.col-lg-4
				.card.condensed
					.card__content
						.list
							.list-item
								img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
								.list-item__content.pt-2
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action 
									div
										input(class="field" type="checkbox" id="checkbox-110" name="checkname")
										label(for="checkbox-110")
							.list-item
								.list-item__icon.mb-1
									i.fas.fa-user
								.list-item__content.pt-2
									a(href="#" class="text-2 bold") Jose Portilla
									p.text-3.gray Jose_Portilla@test.com
								.list-item__action
									span.switch
										span.switch-btn
							.divider
							.list__title
								span.title-name List Title
							.divider
							.list.list--menu.list--condensed
								.list-item.list-item--hover
									.list-item__icon 
										i.far.fa-copy
									.list-item__content
										a.content__link(href="#" class="text-2 btn--default btn--ripple") Lorem ipsum
								.list-item.list-item--hover
									.list-item__icon 
										i.fas.fa-trash-alt
									.list-item__content
										a.content__link(href="#" class="text-2") Lorem ipsum 
								.list-item.list-item--hover
									.list-item__icon 
										i.fas.fa-print
									.list-item__content
										a.content__link(href="#" class="text-2") Lorem ipsum

