extends ../../../layouts/site.pug

block title
  title Scheduled Service Card


block content
  .container
    h1 Service Card

    .row
      .col-12
        .d-flex.flex-column.flex-md-row.mb-3.box-shadow-2.rounded-8px
          .d-flex.flex-column.align-items-center.justify-content-center.box-shadow-1.flex-nowrap.bg-white.p-2.mw-125px.rounded-8px.me-md-2
              p.body-2.m-0.fs-28.text-weight-500.text-primary 07
              p.body-2.m-0.fs-14.text-weight-600 October
              p.body-2.m-0.fs-12 Friday
              .divider
              .d-flex
                p.body-2.m-0.fs-12.text-weight-500.text-primary 8:03 Am
                .divider.divider--vertical
                .body-2.m-0.fs-12.text-weight-500 9:30 Am

