extends ../../../layouts/admin.pug
block title
  title survey-inputs
block sidebar
  include ../../../components/sidebar-content.pug

block content
  .container
    .row
      .col-lg-12
        .card
          .card__title
            h3 checkbox
          .card__content
            .content
              form.form-question
                .form-question__question-form
                  h2.white Lorem ipsum dolor
                  p.text-3.white amet consectetur adipisicing elit.
                .form-question__wrap
                  .wrap__form-group
                    input.form-group__input(id="survey-1" value="radio-1" type="checkbox" name="survey")
                    label.form-group__label(for="survey-1") lorem
                  .wrap__form-group
                    input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    label.form-group__label(for="survey-2") lorem
                  .wrap__form-group
                    input.form-group__input(id="survey-3" value="radio-3" type="checkbox" name="survey")
                    label.form-group__label(for="survey-3") lorem
    .row
      .col-lg-12
        .card
          .card__title
            h3 radio button
          .card__content
            .content
              form.form-question
                .form-question__question-form
                  h2.white Lorem ipsum dolor
                  p.text-3.white amet consectetur adipisicing elit.
                .form-question__wrap
                  .wrap__form-group
                    input.form-group__input(id="survey-radio-1" value="radio-1" type="radio" name="survey")
                    label.form-group__label(for="survey-radio-1") lorem
                  .wrap__form-group
                    input.form-group__input(id="survey-radio-2" value="radio-2" type="radio" name="survey")
                    label.form-group__label(for="survey-radio-2") lorem
                  .wrap__form-group
                    input.form-group__input(id="survey-radio-3" value="radio-3" type="radio" name="survey")
                    label.form-group__label(for="survey-radio-3") lorem
    .row
      .col-lg-12
        .card
          .card__title
            h3 checkbox image
          .card__content
            .content
              form.form-question
                .form-question__question-form
                  h2.white Lorem ipsum dolor
                  p.text-3.white amet consectetur adipisicing elit.
                .form-question__wrap
                  .wrap__form-group
                    label.form-group__label.click-me(for="toggle-1") lorem
                    input.form-group__input.control(id="toggle-1" value="radio-1" type="checkbox" name="survey")  
                    .click-me
                  .wrap__form-group
                    input.form-group__input.control(id="toggle-2" value="radio-2" type="checkbox" name="survey")
                    label.form-group__label.click-me(for="toggle-2") lorem
                    .click-me
                  .wrap__form-group
                    input.form-group__input.control(id="toggle-3" value="radio-3" type="radio" name="survey")
                    label.form-group__label.click-me(for="toggle-3") lorem
                      img(src="http://placehold.it/40x60/b0f/fff&text=B")
    .row
      .col-lg-12
        .card
          .card__title
            h3 Rounded
          .card__content
            .table-responsive-survey
              table.table-survey
                colgroup 
                  col.first
                thead
                  tr
                    th lorem
                    th lorem
                    th lorem
                    th lorem
                    th lorem
                    
                tbody
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                  
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
    .row
      .col-lg-12
        .card
          .card__title
            h3 Rounded
          .card__content
            .table-responsive-survey
              table.table-survey
                thead
                  tr
                    th lorem
                    th lorem
                    th lorem
                    th lorem
                    th lorem
                    
                tbody
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    
                  tr
                    td.td-survey lorem
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td 
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    
                  tr
                    td.td-survey lorem
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                  
                  tr
                    td.td-survey lorem
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    
                  tr
                    td.td-survey lorem
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
                    td
                      input.form-group__input(id="survey-2" value="radio-2" type="radio" name="survey")
    .row
      .col-lg-12
        .card
          .card__title
            h3 textarea 
          .card__content      
            div.form-control
              label(for="comment") Any comments or suggestions
              textarea(name="comment" id="comment" placeholder="Enter your comment here" rows="6" cols="50")
    .row
      .col-lg-12
        .card
          .card__title
            h3 textarea 
          .card__content      
            div.form-control
              .dropdown
                button.btn.btn--primary Dropdown
                .dropdown__dropdown-content
                  a(href="#") lorem 1
                  a(href="#") lorem 2
                  a(href="#") lorem 3    