extends ../../../layouts/admin.pug
block title
  title Tabs

block content
  .container
    .row
      .col-lg-12.py-5
        .tabs
          a(href="#tab-1" class="tab tab--active") Lorem ipsum dolor.
          a(href="#tab-2" class="tab") consectetur adipisicing
          a(href="#tab-3" class="tab") iusto obcaecati,
          a(href="#tab-4" class="tab") fuga in laborum
          a(href="#tab-5" class="tab") adipisicing elit.
          a(href="#tab-6" class="tab") sit amet,
          a(href="#tab-7" class="tab") repellendus voluptas!
          a(href="#tab-8" class="tab") Tab 8
          a(href="#tab-9" class="tab") Tab 9
          a(href="#tab-10" class="tab") Tab 10
          a(href="#tab-11" class="tab") Tab 11
          a(href="#tab-12" class="tab") Tab 12
          a(href="#tab-13" class="tab") Tab 13
        .tab-panels
          .tab-panel.tab-panel--active#tab-1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint! Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas!
          .tab-panel#tab-2
            p Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint! Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .tab-panel#tab-3
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-4
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-5
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-6
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-7
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-8
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-9
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-10
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-11
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-12
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
          .tab-panel#tab-13
            p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!

      .col-lg-12.p-3
        .row
          .col-lg-3
            .list.tabs
              a(href="#list-tab-1" class="list-item tab")
                .list-item__content
                  p Lorem ipsum dolor.
              a(href="#list-tab-2" class="list-item tab")
                .list-item__content
                  p Lorem ipsum dolor.
              a(href="#list-tab-3" class="list-item tab")
                .list-item__content
                  p Lorem ipsum dolor.
          .col-lg-9
            .tab-panels
              .tab-panel.tab-panel--active#list-tab-1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem dolores eaque est molestias quaerat vero voluptates. Aperiam, dolore, ipsum? Aliquam dicta dolor libero modi nobis nulla optio provident tempora.
              .tab-panel#list-tab-2
                p Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint! Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              .tab-panel#list-tab-3
                p Explicabo fuga in laborum libero magnam magni natus quod repellendus voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolores ducimus in ipsa iusto obcaecati, odit repellat sint!
