mixin user-acount(userText,className)
  section.user-wrapper__acount
    .acount__live-user
      .live-user__content
        a.content__user-img(href='#')
          img.user-img__img(src='images/left-imgs/img-1.jpg' alt='')
      .live-user__user-content
        a(class="user-content__text" href='#')= userText
        block
