extends ./master

block body
  include ../components/layout_partials/sidebar

  //header
  include ../components/headers/header-admin

  .drawers-container
    +default-sidebar
    .page
      .page__content
        block content
      include ../components/footers/footer

