//- Master layout

doctype html
html(lang='en' dir="rtl" class="")
  head
    //- Stylesheets
    //link(rel='preconnect' href='https://fonts.googleapis.com')
    //link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    //link(href='https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    //link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css")
    link(rel="icon" href=require('@/images/Etqadem_Icon.png'))
    //link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, shrink-to-fit=9")

    block title
      title Login

    link(rel="stylesheet" href="/assets/css/main.bundle.js")

  body
    div.page
      .page__content.page__content--auth
        img.auth__bg(src=require("@/images/Pattern_4.svg"), alt="")
        .dropdown.lang
          a.notification__item.dropdown__activator(href="javascript:void(0)" title='language')
            span.notification__icon.material-icons language
          .dropdown__content
            .card-list
              .card__content
                .list
                  .list-item.list-item
                    .list-item__content
                      p.subtitle-1.gray English

                  .list-item.list-item
                    .list-item__content
                      p.subtitle-1.gray Arabic

        .auth-form
          .auth-form__image
            img(src=require("@/images/Pattern_4.svg"), alt="")
            div.auth-form__logo
              img(src=require('@/images/Etqadem_Logo.svg') alt='')
            p.body-1.text--center.mt-auto copyrights &copy; 2020
              strong Itqadem
              | . All Rights Reserved.
          .auth-form__content
            .container
              block content

    script(src='/assets/js/plugins.bundle.js')
    script(src='/assets/js/main.bundle.js')
    block scripts
