extends ./master
block body
  include ../components/header.pug

  .drawers-container
    block left

    // block content
    .page
      .page__content
        block content
      include ../components/footer-admin.pug

    block right
