//- Master layout

doctype html
html(lang='en' class="night-mod" dir="rtl")
  head
    //- Stylesheets
    //link(href='../assets/vendor/semantic/semantic.min.css' rel='stylesheet' type='text/css' )
    //link(href='../assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet' type='text/css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css")
    link(rel="icon" href="../../assets/images/Etqadem_Icon.png")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet")
    //- link(href='../assets/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
    link(href='../assets/vendor/select2.min.css' rel='stylesheet')
    link(href='../assets/vendor/tooltipster.bundle.min.css' rel='stylesheet')
    link(href='../assets/vendor/bootstrap/css/bootstrap-grid.min.css' rel='stylesheet')
    link(href='../assets/vendor/OwlCarousel/assets/owl.carousel.css' rel='stylesheet')
    link(href='../assets/vendor/OwlCarousel/assets/owl.theme.default.min.css' rel='stylesheet')
    link(href='../assets/vendor/star/star-rating-svg.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css')
    meta(name="viewport" content="width=device-width, shrink-to-fit=9")

    //- Title
    block title
      title Your project!

    block style


  body
    .wrapper
      .overlay
      //#snackbars
        //.snackbar.snackbar--success
        //  .snackbar__icon
        //    i.material-icons-outlined notifications
        //  .snackbar__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veniam?
        //  a(href="javascript:void(0)" class="snackbar__action") Action
        //.snackbar
        //  .snackbar__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veniam?
        //
        //.snackbar
        //  .snackbar__icon
        //    i.material-icons-outlined notifications
        //  .snackbar__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veniam?
        //
        //.snackbar.snackbar--multiline
        //  .snackbar__icon
        //    i.material-icons-outlined notifications
        //  .snackbar__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veniam?
        //  a(href="javascript:void(0)" class="snackbar__action") Action


      block body

    block scripts
