extends ./master

block body
  include ../components/headers/header-admin
  - var classes = ['drawers-container']
  div(class=classes class=[''])
    block left
    .page
      .page__content.page__content-fit-window
        block content
