.assessment-sidebar
	h4.assessment-sidebar__title
		|Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quasi dolore sed 
	.assessment-sidebar__cover
		img(src="../../assets/images/get_img.jpg", alt="")
	.assessment-sidebar__progress 

	.assessment-sidebar__logo
		img(src="../../assets/images/nbe.png", alt="")