section.banner
  .row.align-items-center
    .col-sm-12.col-md-7.col-lg-8
      .banner__image
        img(src="../../../assets/images/articles.png", alt="", srcset="")
    .col-sm-12.col-md-5.col-lg-4
      .banner__content
        h3.my-0.text-white Top Article
        p.text-white.mt-1 Lorem Ipsum is simply dummy text of the printing and typesetting industry
