.page-title
  .title-wrapper
    .bread-crumbs
      a(href="#" class="bread-crumbs__link text-3") Home 
      a(href="#" class="bread-crumbs__link text-3") Course Chapter 
      a(href="#" class="bread-crumbs__link text-3") Course Chapter
    h4.bold.title-h4 Course name is here  
  .title-action   
    .dropdown
      button.btn.btn--primary.dropdown--btn Dropdown
      .dropdown__content
        a.content__link(href="#") lorem 1
        a.content__link(href="#") lorem 2
        a.content__link(href="#") lorem 3 