.page-header
  .bread-crumbs
    i.fas.fa-chevron-left
    a(href="#" class="bread-crumbs__link text-3") Home 
    a(href="#" class="bread-crumbs__link text-3") Course Chapter 
    a(href="#" class="bread-crumbs__link text-3") Course Chapter
  .page-header__content
    .page-header__title
      //- a(href="#") 
      //-  i.fas.fa-chevron-left
      h1 Course name is here   
    .dropdown.dropdown__activator
      button.btn.btn--primary.dropdown--btn.mb-0 Dropdown
      .dropdown__content
        a.content__link(href="#") lorem 1
        a.content__link(href="#") lorem 2
        a.content__link(href="#") lorem 3
  .page-header__info 
    span lorem
    span lorem    
  .tabs.tabs--center.mb-0.mt-3
    a(class="tab tab--active" href='#nav-content') Content
    a(class="tab" href='#nav-comment') Discussion
    a(class="tab" href='#nav-thread') Thread
    a(class="tab" href='#nav-media') Media
    a(class="tab" href='#nav-translates') Translations