//- thread builder
div(id='threads-list' data-category-url="http://localhost:3000/categories" data-tags-url="http://localhost:3000/tags" data-user='{"username": "Mahmoud Nasser", "first_name": "Mahmoud", "last_name": "Nasser", "email": "a@a.com", "phone": "123", "image": "../../assets/images/hd_dp.jpg"}' data-create-url="http://localhost:3000/threads/" data-listing-url="http://localhost:3000/threads/" )

//- tags builder
div(id='tags-list'
    data-listing-url="http://localhost:3000/tags/"
    data-create-url="http://localhost:3000/tags/" )

//- category builder
div(id='categories-list'
  data-listing-url="http://localhost:3000/categories/"
  data-create-url="http://localhost:3000/categories/" )

//- review builder
div(id='reviews-list' data-user="{'username': 'Mahmoud Nasser', 'first_name': 'Mahmoud', 'last_name': 'Nasser', 'email': 'a@a.com', 'phone': '123', 'image': '/media/default/images/profile.png'}" data-is-admin="false" data-listing-url="http://localhost:3000/reviews/" data-create-url="http://localhost:3000/reviews/")

//- recommendation builder
div(id='recommendations-list' data-listing-url="http://localhost:3000/recommendations/" data-create-url="http://localhost:3000/recommendations/" )

//- classification builder
div(id='classifications-list' data-listing-url="http://localhost:3000/classifications/" data-create-url="http://localhost:3000/classifications/" )
