.content-list
  div(class="content-list__header" data-data='{"id":1, "title": "Introduction to this Course", "progress": "4/8 Lectures", "duration": "22:08"}')
  //.content-list__header
  //  h3.content-list__title Introduction to this Course
  //  .content-list__details
  //    span.text-3 4 / 8 lecture
  //    span.text-3 22 : 08

  div(class="content-list__item" data-data='{"id":1,"type":"video" ,"title": "Video", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "duration": "22:08", "progress": "70%", "url": "#"}')
  div(class="content-list__item" data-data='{"id":1,"type":"exam", "title": "exam-title", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "progress": "70%", "url": "#"}')
  div(class="content-list__item" data-data='{"id":1,"type":"article", "title": "article-title", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "url": "#"}')
  //	.item__image
  //		img(src="../../assets/images/exam.png", alt="")
  //	.item__content
  //		.item__content-header
  //			h5.title-5 exam-title
  //			span.title-5 70%
  //		.item__content-description.body-2
  //			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.
  //.artical-item(data-item='{"image_id": "S7YqVez2sUw","title": "artical title","desc":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor"}')
  //- .content-list__item
    .item__image
      img(src="../../assets/images/artical.png", alt="")
    .item__content
      .item__content-header
        h5.title-5 artical-title
        //- span.title-5 70%
      .item__content-description.body-2
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.
      //- .rating__progress
      //- 	div(class="progress--progress-bar" style= "width : 60% " role='progressbar' aria-valuenow=70 aria-valuemin=0 aria-valuemax=100)
