.course-content
  h3.course-content__title Course content
  .course-content__details
    ul.details__list
      li.list__list-item
        span.list--expand-all Expand all
      li.list__list-item
        span.list--list-content-number  402 lectures
      li.list__list-item
        span.list--time-course 47:06:29
  #accordion.course-content__course-list
    //- start list 1
    a.course-list__header(href='javascript:void(0)')
      .header__header-title
        span.header-title__title
          i.uil.uil-presentation-play.title__icon
          span.title__title-text Introduction fgdfg to this Course
      .header__header-details
        span.header-details__num-item 8 lectures
        span.header-details__length-item 22:08
    .course-list__list-content
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Unit Objectives
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 01.40
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
    //- start list 2
    a.course-list__header(href='javascript:void(0)')
      .header__header-title
        span.header-title__title
          i.uil.uil-presentation-play.title__icon
          span.title__title-text Introduction  to Front End Development
      .header__header-details
        span.header-details__num-item 6 lectures
        span.header-details__length-item 27:26
    .course-list__list-content
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Unit Objectives
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 01.40
    //- start list 3
    a.course-list__header(href='javascript:void(0)')
      .header__header-title
        span.header-title__title
          i.uil.uil-presentation-play.title__icon
          span.title__title-text Introduction  to Front End Development
      .header__header-details
        span.header-details__num-item 6 lectures
        span.header-details__length-item 27:26
    .course-list__list-content
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Unit Objectives
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 01.40
    //- list 4
    a.course-list__header(href='javascript:void(0)')
      .header__header-title
        span.header-title__title
          i.uil.uil-presentation-play.title__icon
          span.title__title-text Introduction  to Front End Development
      .header__header-details
        span.header-details__num-item 6 lectures
        span.header-details__length-item 27:26
    .course-list__list-content
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Unit Objectives
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 01.40
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
    //- list 5
    a.course-list__header(href='javascript:void(0)')
      .header__header-title
        span.header-title__title
          i.uil.uil-presentation-play.title__icon
          span.title__title-text Introduction  to Front End Development
      .header__header-details
        span.header-details__num-item 6 lectures
        span.header-details__length-item 27:26
    .course-list__list-content
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Unit Objectives
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 01.40
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
    //- list 6
    a.course-list__header(href='javascript:void(0)')
      .header__header-title
        span.header-title__title
          i.uil.uil-presentation-play.title__icon
          span.title__title-text Introduction  to Front End Development
      .header__header-details
        span.header-details__num-item 6 lectures
        span.header-details__length-item 27:26
    .course-list__list-content
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Unit Objectives
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 01.40
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-file.content-name__icon
          .content-name__top-title
            .top-title__title A Note On Asking For Help
        .content-item__details
          span.details__content-summary 00:12
      .list-content__content-item
        .content-item__content-name
          i.uil.uil-play-circle.content-name__icon
          .content-name__top-title
            .top-title__title Why This Course?
        .content-item__details
          a.details--preview-text(href='#') Preview
          span.details__content-summary 07:48
    //-End-List
