.data-card.data-card--draggable
  .data-card-actions
    button.btn.btn--icon.btn--accent.btn--text
      span.material-icons edit
    button.btn.btn--icon.btn--primary.btn--text
      span.material-icons translate
    button.btn.btn--icon.btn--danger.btn--text
      span.material-icons delete

  div.data-card__navigation
    span.body-2 12
  div.data-card__image
    img(class="image preview" src="../../assets/images/get_img.jpg", alt="")
  div.data-card__details
    span.overline 23 hours ago
    p.body-2 Readiness assessment for inclusive education
    p.body-2 lorem lorem lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos iure odio laboriosam repellat dolore error quae asperiores dolores. Dolor asperiores ut aperiam deleniti rem ex nesciunt at quis velit repudiandae?
    .d-flex
      .chip.chip--primary.chip--sm
        span.material-icons language
        p.chip__content arabic
      .chip.chip--primary.chip--sm
        span.material-icons language
        p.chip__content english
  div.data-card__actions
    .description
      span.description__name id
      strong :
      p.body-2 lorem lorem lorem
    .description
      span.description__name id
      strong :
      p.body-2 lorem lorem lorem
    .description
      span.description__name id
      strong :
      p.body-2 lorem lorem lorem
    .description
      span.description__name id
      strong :
      p.body-2 lorem lorem lorem
    .description
      span.description__name id
      strong :
      p.body-2 lorem lorem lorem
    .description
      span.description__name id
      strong :
      p.body-2 lorem lorem lorem
