.tb_145
  .panel-group.accordion#accordionfilter
    .panel.panel-default
      .panel-heading#headingOne
        .panel-title10
          a.collapsed(data-toggle='collapse' data-target='#collapseOne' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
            |Topic 
      #collapseOne.panel-collapse.collapse(aria-labelledby='headingOne' data-parent='#accordionfilter')
        .panel-body
          .ui.form
            .grouped.fields
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label SEO
                      span.filter__counter (428)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Php
                      span.filter__counter (1526)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Wordpress
                      span.filter__counter (428)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label WooCommerce
                      span.filter__counter (958)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Bootstrap
                      span.filter__counter (748)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Web Development
                      span.filter__counter (2256)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Web Design
                      span.filter__counter (4859)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Digital Marketing
                      span.filter__counter (2458)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label E-commerce
                      span.filter__counter (1245)
              .ui.form.checkbox_sign
                .inline.field   
                  .ui.checkbox.mncheck 
                    input(type='checkbox' tabindex="0" class="hidden") 
                    label Elementor
                      span.filter__counter (3658)        
                  