footer.footer
  .container-fluid
    .row
      .col-lg-12
        .footer__item
          a.footer__link(href='terms_of_use.html') Copyright Policy
          a.footer__link(href='terms_of_use.html') Terms
          a.footer__link(href='terms_of_use.html') Privacy Policy
      .col-lg-12
        .footer-bottom
          .row
            .col-md-6
              ul.footer-button__list
                li.footer-button__item
                  a.footer-button__logo(href='index.html')
                    .footer-button__img
                      img(src='../../assets/images/logo1.svg' alt='')
                li.footer-button__item
                  p.footer-button__copyRight
                    | &copy; 2020
                    strong Advance
                    | . All Rights Reserved.
            .col-md-6
              .footer-button__social
                a.social__link(href='#')
                  i.fab.fa-facebook-f
                a.social__link(href='#')
                  i.fab.fa-twitter
                a.social__link(href='#')
                  i.fab.fa-google-plus-g
                a.social__link(href='#')
                  i.fab.fa-linkedin-in
                a.social__link(href='#')
                  i.fab.fa-instagram
                a.social__link(href='#')
                  i.fab.fa-youtube
                a.social__link(href='#')
                  i.fab.fa-pinterest-p
