.d-flex.align-items-center
	.header__logo
		a.header__img(href='index.html')
			img(src='../../assets/images/Etqadem_Logo.svg' alt='')
		a.header__img-small(href='index.html')
			img(src='../../assets/images/Etqadem_Icon (1).svg' alt='')
	block menu-header  
	//- block category
		//- include ../components/header-blocks/selectCategory.pug
	.header__search
		.search__wrapper
			.wrapper__inputs-form
				input.inputs-form--input(type='text' placeholder='Search for Tuts Videos, Tutors, Tests and more..')
				i.fas.fa-search.inputs-form--icon
	.header__notification
		ul.notification__list
			block my-courses
				//- a.body-2.my-0.white.bold(href='#') login
			li 
				.dropdown.dropdown--header.dropdown__activator 
					a.message(href='#' title='Messages')
						i.message__icon.far.fa-envelope
						span.message__count-num 3
					.dropdown__content
						.card-list
							.card__content
								.list 
									.list-item.list-item--multible.list-item--with-border
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											span.overline 
												|lorem lorem
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-1.gray Jose_Portilla@test.com
											span.subtitle-2.gray.bold 12/3/1688
										.list-item__action
									//- .divider
									.list-item.list-item--three-lines.list-item--with-border
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											span.overline 
												|lorem lorem
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-1.gray Jose_Portilla@test.com
										.list-item__action
									//- .divider
									.list-item.list-item--two-lines.list-item--with-border
										.list-item__avatar
											i.fas.fa-user
											//- img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-2.gray Jose_Portilla@test.com
										.list-item__action
									//- .divider
									.list-item.list-item--one-line.list-item--with-border
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											a(href="#" class="body-2 bold") Jose Portilla
										.list-item__action
			li 
				.dropdown.dropdown--header.dropdown__activator 
					a.message(href='#' title='Messages')
						i.message__icon.far.fa-bell
						span.message__count-num 3
					.dropdown__content
						.card-list
							.card__content
								.list 
									.list-item.list-item--multible.list-item--with-border
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											span.overline 
												|lorem lorem
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-1.gray Jose_Portilla@test.com
											span.subtitle-2.gray.bold 12/3/1688
										.list-item__action
									//- .divider
									.list-item.list-item--three-lines.list-item--with-border
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											span.overline 
												|lorem lorem
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-1.gray Jose_Portilla@test.com
										.list-item__action
									//- .divider
									.list-item.list-item--two-lines.list-item--with-border
										.list-item__avatar
											i.fas.fa-user
											//- img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-2.gray Jose_Portilla@test.com
										.list-item__action
									//- .divider
									.list-item.list-item--one-line.list-item--with-border
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											a(href="#" class="body-2 bold") Jose Portilla 
										.list-item__action
			li 	
				.dropdown.dropdown--header-padding.dropdown__activator 
					img.profile-link__img(src='../../assets/images/hd_dp.jpg' alt='')
					.dropdown__content
						.card-list
							.card__content
								.list 
									.list-item.list-item--one-line
										.list-item__avatar
											img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
										.list-item__content
											a(href="#" class="body-2 bold") Jose Portilla
											p.subtitle-1.gray Jose_Portilla@test.com
									//- a(href="#" class="link") Lorem ipsum dolor
									.divider
									.list-item.list-item--one-line
										.list-item__avatar
											i.fas.fa-link
										.list-item__content
											a(href="#" class="body-2 bold") Lorem ipsum
										.list-item__action 
											.action-switch
												span.switch
													span.switch-btn
									.divider
									.list-item.list-item--one-line.list-item--link
										//- .list-item__avatar
										//- 	i.fas.fa-link
										.list-item__content
											a(href="#" class="body-2 bold") Lorem ipsum
									.list-item.list-item--one-line.list-item--link
										//- .list-item__avatar
										//- 	i.fas.fa-copy
										.list-item__content
											a(href="#" class="body-2 bold") Lorem ipsum
									.list-item.list-item--one-line.list-item--link
										//- .list-item__avatar
										//- 	i.fas.fa-trash-alt
										.list-item__content
											a(href="#" class="body-2 bold") Lorem ipsum
									.list-item.list-item--one-line.list-item--link
										//- .list-item__avatar
										//- 	i.fas.fa-print
										.list-item__content
											a(href="#" class="body-2 bold") Lorem ipsum