header.header-course
  //- button#toggleMenu.toggle_menu(type='button')
  //-   i.uil.uil-bars
  .header-course__logo
    a.logo__link(href='index.html')
      img.logo__img(src='../../images/logo.svg' alt='')
  .d-flex
    a.header-course__courses(href="single-course.html")
      span.courses__name CSS In-Depth
    a.header-course__course-name
      span.course-name__title Linguistic Pseudo Classes
    //- include ../components/header-blocks/selectCategory.pug
  //- block category
  //- .header__notification
  //-   ul.notification__list
  //-     li.list__list-item
  //-       block btn-link
  //-     li.ui.dropdown.list__massege.dropdown
