.card.card--centered.card--user
  .card__content
    .user-image
      img(src="../../assets/images/hd_dp.jpg" alt="")
      i.uil.uil-check-circle
    .card__body
      .card__content-header
        .user-data
          a.semi-bold(href="#") Jose Portilla
            i.uil.uil-check-circle
          p.gray.my-3 Web Developer, Designer, and Teacher Jose
          ul.social-icon
            li.social-icon__list
              a.social-icon__link.social-icon--fa-bg(href="#")
                i.fab.fa-facebook-f
            li.social-icon__list
              a.social-icon__link.social-icon--tw-bg(href="#")
                i.fab.fa-twitter
            li.social-icon__list
              a.social-icon__link.social-icon--li-bg(href="#")
                i.fab.fa-linkedin-in
            li.social-icon__list
              a.social-icon__link.social-icon--yu-bg(href="#")
                i.fab.fa-youtube
          .details
            span.total-students 615K Students
            span.total-course 12 Courses
          a.medium.mt-3(href="#") Go To Profile
