//- single
.row 
	.col-12 
		h2 label as div
	.col-6
		h2 sigle line

		.label
			//- <span class="material-icons md-18">face</span>
			span.label__icon.material-icons face
			.label__content
				p lorem lorem
		
		.spacer

		.label.label--primary
			span.label__icon.material-icons account_circle
			.label__content
				p lorem lorem

		.spacer

		.label.label--success
			span.label__icon.material-icons face
			.label__content
				p lorem lorem

		.spacer

		.label.label--error
			span.label__icon.material-icons face
			.label__content
				p lorem lorem
		
		.spacer

		.label.label--info
			span.label__icon.material-icons face
			.label__content
				p lorem lorem

	.col-6 
		h2 multiple lines
		.label
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem
		.spacer 

		.label.label--primary
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem

		.spacer 

		.label.label--success
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem

		.spacer 

		.label.label--error
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem
		
		.spacer 

		.label.label--info
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem

.row 
	.col-12 
		h2 label as links
	.col-6
		h2 sigle line

		a.label
			span.label__icon.material-icons face
			.label__content
				p lorem lorem
		
		.spacer

		a.label.label--primary
			span.label__icon.material-icons face
			.label__content
				p lorem lorem

		.spacer

		a.label.label--success
			span.label__icon.material-icons face
			.label__content
				p lorem lorem

		.spacer

		a.label.label--error
			span.label__icon.material-icons face
			.label__content
				p lorem lorem
		
		.spacer

		a.label.label--info
			span.label__icon.material-icons face
			.label__content
				p lorem lorem

	.col-6 
		h2 multiple lines
		a.label
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem

		.spacer 

		a.label.label--primary
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem

		.spacer 

		a.label.label--success
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem

		.spacer 

		a.label.label--error
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem
		
		.spacer 

		a.label.label--info
			span.label__icon.material-icons face
			.label__content
				span.overline lorem lorem
				p.body-2 lorem lorem
				span.subtitle lorem lorem