mixin dropdown
	.more-dropdown.btn--tool
		.more-dropdown__link
			block
		.more-dropdown__content
			span.content__item
				i.item__icon.uil.uil-comment-alt-edit
				| Edit
			span.content__item
				i.item__icon.uil.uil-trash-alt
				| Delete

//- .dropdown-menu
//- 	a.btn--tool
//- 		i.fas.fa.ellipsis-h
//- 	ul.dropdown__list
//- 		li.dropdown__item
//- 			i.item__icon.uil.uil-comment-alt-edit
//- 			| Edit
//- 		li.dropdown__item
//- 			i.item__icon.uil.uil-trash-alt
//- 			| Delete

