.more-dropdown
  a.more-dropdown__link(href="#")
    i.uil.uil-ellipsis-v
  .more-dropdown__content
    span.content__item
      i.item__icone.uil.uil-comment-alt-edit
      | Edite
    span.content__item
      i.item__icone.uil.uil-trash-alt
      | Delete
