.more-dropdown.btn-tool
  a.more-dropdown__link
    i.fas.fa-ellipsis-h
  .more-dropdown__content
    span.content__item
      i.item__icon.uil.uil-comment-alt-edit
      | Edit
    span.content__item
      i.item__icon.uil.uil-trash-alt
      | Delete
