mixin dropdown
	.dropdown
		button(class="btn dropdown__activator btn--primary btn--text btn--sm btn--icon" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown")
			block
		div(class="dropdown-menu dropdown__content")
			.list
				a(href="#" class="list-item  list-item--condensed list-item--open ")
					.list-item__avatar
						i.far.fa-copy
					.list-item__content
						span.body-2.bold Edit
				a(href="#" class="list-item   list-item--condensed list-item--open ")
					.list-item__avatar
						i.far.fa-copy
					.list-item__content
						span.body-2.bold Delete


