.category 
	a(class="menu__link" href='#' title='categories')
		i.fas.fa-border-all.fab.menu__icon
	.category__wrapper
		.category__dropdown 
			ul.dropdown__menu
				li.menu__list.sub-menu--item
					a.menu__item(href='#') Development
				li.menu__list
					a.menu__item(href='#') Office Productivity
				li.menu__list.sub-menu--item
					a.menu__item(href='#') Personal Development
				li.menu__list
					a.menu__item(href='#') Photography 
			//- p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptas ex? Possimus accusamus unde incidunt nostrum mollitia quam, ad di
		.category__date 	
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, deleniti! Earum cum mollitia rerum, neque ullam aliquam, sit hic ex minima animi provident? Dolores numquam libero fuga, magnam necessitatibus corporis?