.card-list
  .card__content
    .list.condensed
      a(href="#" class="list-item ")
        .list-item__content
          span(class="body-2 btn--default btn--ripple") Photography
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Development
      a(class="list-item  list-item-date")
        .list-item__content
          span.body-2 Lorem ipsum
          //i.fas.fa-chevron-right.arrow-right
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Office Productivity
      a(class="list-item  list-item-date")
        .list-item__content
          span.body-2 Lorem ipsum
        //  i.fas.fa-chevron-right.arrow-right
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Office Productivity
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Development

.menu__date
  ul.menu__dropdown
    li.menu__list.sub-menu--item.close
      a(href="#").menu__item Back
  .img-wrapper
    img(src="../assets/images/get_img.jpg", alt="")
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, deleniti! Earum cum mollitia rerum, neque ullam aliquam, sit hic ex minima animi provident? Dolores numquam libero fuga, magnam necessitatibus corporis?
