//.header-menu
//	a(class="icon-wrapper" href='#' title='categories')
//		i.fas.fa-border-all.fab
//.menu
//	include ./menu-content.pug

.dropdown.dropdown--header
  a(href="javascript:void(0)" title='Messages' class="notification__item dropdown__activator toggle-mega-menu")
    i.notification__icon.fa.fa-bars
  .dropdown__content.mega-menu
    .list
      a(href="#" class="list-item ")
        .list-item__content
          span(class="body-2 btn--default btn--ripple") Photography
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Development
      a(class="list-item  list-item-date")
        .list-item__content
          span.body-2 Lorem ipsum
          //i.fas.fa-chevron-right.arrow-right
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Office Productivity
      a(class="list-item  list-item-date")
        .list-item__content
          span.body-2 Lorem ipsum
          //i.fas.fa-chevron-right.arrow-right
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Office Productivity
      a(href="#" class="list-item ")
        .list-item__content
          span.body-2 Development

