.card.card--plan
  .card__content-header
    div
      p.body-1.bold Plane
      p.body-2 $49/month
    img(src="../../assets/images/icon-1.svg", alt="")
  .card__content
    .plan-item
      span.material-icons done
      p.body-2 Feature One Feature 
    .plan-item
      span.material-icons done
      p.body-2 Feature One Feature 
    .plan-item
      span.material-icons done
      p.body-2 Feature One Feature 
    .plan-item
      span.material-icons done
      p.body-2 Feature One Feature 
   

    button.btn.btn--primary Subscribe
