section.preference-survey
  .row.align-items-center
    .col-sm-12.col-lg-6
      .preference-survey__image
        img(src="../../../assets/images/become_instructor_banner.jpg", alt="", srcset="", class="preference-survey__image__section-img")
        img(src="../../../assets//images/nbe.png", alt="nbe bank", srcset="", class="preference-survey__image__small-img")
    .col-sm-12.col-lg-6
      .preference-survey__content
        h2.text-primary.text-weight-500 Occupational preference survey
        p.partners__details Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry
        div.text-center
          button.btn.btn--primary.btn--lg.mt-3 Take survey
