.carousel.owl-carousel
	.item
		include ../components/display-card.pug
		+display-card
	.item
		+display-card
	.item
		+display-card
	.item
		+display-card
	.item
		+display-card
	.item
		+display-card
	.item
		+display-card
