.reviews__all-reviews
  h3.all-reviews__title Student Feedback
  .all-reviews__total-rating
    .total-rating__number 4.6
    .total-rating__rating-box
      include ../components/general-component/rating.pug
      +rating( 'rating-box--full-star')
      +rating( 'rating-box--full-star')
      +rating( 'rating-box--full-star')
      +rating( 'rating-box--empty-star')
      +rating( 'rating-box--empty-star')
    .total-rating__title Course Rating
  .all-reviews__details-rate
    .details-rate__rating
      include ../components/general-component/progress.pug
      +progress("w-70", "70" , "0", "100")
      .rating__rating-box
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--empty-star')
      .rating--total 70%
    .details-rate__rating
      +progress("w-30", "30" , "0", "100")
      .rating__rating-box
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
      .rating--total 40%
    .details-rate__rating
      +progress("w-5", "5" , "0", "100")
      .rating__rating-box
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
      .rating--total 10%
    .details-rate__rating
      +progress("w-2", "2" , "0", "100")
      .rating__rating-box
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
      .rating--total 2%
    .details-rate__rating
      +progress("w-1", "1" , "0", "100")
      .rating__rating-box
        +rating( 'rating-box--full-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
        +rating( 'rating-box--empty-star')
      .rating--total 1%
