.card.card--side-col.card--transparent
  .card__side-col
    img(src=require("@/images/hd_dp.jpg") alt="" class="image image--rounded image--profile author")
  .card__content.replacable
    .card__header
      .card__header-multiline
        a(href='#' class="primary bold")
          | Jose Portilla
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        .rate-display(data-rate="5")
      .card__tools
        .dropdown.dropdown__activator
          button(class="btn btn--primary btn--icon btn--text btn--default icon--hover btn--lg btn--ripple ")
            i.fas.fa-ellipsis-h
          .dropdown__content.dropdown-content-width
            .list
              a(href="#" class="list-item  list-item--open ")
                .list-item__avatar
                  i.far.fa-copy
                .list-item__content
                  span.body-2.bold Edit
              a(href="#" class="list-item  list-item--open ")
                .list-item__avatar
                  i.far.fa-copy
                .list-item__content
                  span.body-2.bold Delete
    p
     | يتصفح المستخدم الدورات المتاحة ويستطيع الدخول الى هذه الدورات وقراءة الفهرس  الخاص بكل دور يستطيع المستخدم ان يقراء التعليقات والتقييمات حول الدورة

.card.card--side-col.card--transparent
  .card__side-col
    img(src=require("@/images/hd_dp.jpg") alt="" class="image image--rounded image--profile author")
  .card__content.replacable
    .card__header
      .card__header-multiline
        a(href='#' class="primary bold")
          | Jose Portilla
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        .rate-display(data-rate="5")
      .card__tools
        .dropdown.dropdown__activator
          button(class="btn btn--primary btn--icon btn--text btn--default icon--hover btn--lg btn--ripple")
            i.fas.fa-ellipsis-h
          .dropdown__content.dropdown-content-width
            .list
              a(href="#" class="list-item  list-item--open ")
                .list-item__avatar
                  i.far.fa-copy
                .list-item__content
                  span.body-2.bold Edit
              a(href="#" class="list-item  list-item--open ")
                .list-item__avatar
                  i.far.fa-copy
                .list-item__content
                  span.body-2.bold Delete
                .list-item__action
    p
      | يتصفح المستخدم الدورات المتاحة ويستطيع الدخول الى هذه الدورات وقراءة الفهرس  الخاص بكل دور يستطيع المستخدم ان يقراء التعليقات والتقييمات حول الدورة

.card.card--side-col.card--transparent
  .card__side-col
    img(src=require("@/images/hd_dp.jpg") alt="" class="image image--rounded image--profile author")
  .card__content.replacable
    .card__header
      .card__header-multiline
        a(href='#' class="primary bold")
          | Jose Portilla
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        .rate-display(data-rate="5")
      .card__tools
        .dropdown.dropdown__activator
          button(class="btn btn--primary btn--icon btn--text btn--default icon--hover btn--lg btn--ripple")
            i.fas.fa-ellipsis-h
          .dropdown__content.dropdown-content-width
            .list
              a(href="#" class="list-item  list-item--open ")
                .list-item__avatar
                  i.far.fa-copy
                .list-item__content
                  span.body-2.bold Edit
                .list-item__action
              a(href="#" class="list-item  list-item--open ")
                .list-item__avatar
                  i.far.fa-copy
                .list-item__content
                  span.body-2.bold Delete
                .list-item__action
    p
      | يتصفح المستخدم الدورات المتاحة ويستطيع الدخول الى هذه الدورات وقراءة الفهرس  الخاص بكل دور يستطيع المستخدم ان يقراء التعليقات والتقييمات حول الدورة

