.all-reviews__item
  include ../components/single-course/user-acount.pug
  +acount-review("John Doe","2 hour ago")
  include ../components/general-component/rating.pug
  +rating(
    'rating-box--full-star',
    'rating-box--half-star',
    'rating-box__empty-star',
    )
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("Jassica William","12 hour ago")
  +rating(
    'rating-box--full-star',
    'rating-box--half-star',
    'rating-box__empty-star',
    )
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("Albert Dua","5 hour ago")
  +rating(
    'rating-box--full-star',
    'rating-box--half-star',
    'rating-box__empty-star',
    )
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("Zoena Singh","15 hour ago")
  +rating(
    'rating-box--full-star',
    'rating-box--half-star',
    'rating-box__empty-star',
    )
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("Joy Dua","20 hour ago")
  +rating(
    'rating-box--full-star',
    'rating-box--half-star',
    'rating-box__empty-star',
    )
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
