.all-reviews__item
  include ../components/general-component/user-acount.pug
  +acount-review("images/left-imgs/img-1.jpg","John Doe", "2 hour ago")
  .item__rating-box.mt-20
    include ../components/general-component/rating.pug
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--half-star')
    +rating( 'rating-box__empty-star')
    +rating( 'rating-box__empty-star')
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("images/left-imgs/img-1.jpg","Jassica William","12 hour ago")
  .item__rating-box.mt-20
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--half-star')
    +rating( 'rating-box__empty-star')
    +rating( 'rating-box__empty-star')
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("images/left-imgs/img-1.jpg","Albert Dua","5 hour ago")
  .item__rating-box.mt-20
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--half-star')
    +rating( 'rating-box__empty-star')
    +rating( 'rating-box__empty-star')
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("images/left-imgs/img-1.jpg","Zoena Singh","15 hour ago")
  .item__rating-box.mt-20
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--half-star')
    +rating( 'rating-box__empty-star')
    +rating( 'rating-box__empty-star')
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
.all-reviews__item
  +acount-review("images/left-imgs/img-1.jpg","Joy Dua","20 hour ago")
  .item__rating-box.mt-20
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--full-star')
    +rating( 'rating-box--half-star')
    +rating( 'rating-box__empty-star')
    +rating( 'rating-box__empty-star')
  p.item__comment
    | Nam gravida elit a velit rutrum, eget dapibus ex elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lacinia, nunc sit amet tincidunt venenatis.
