nav.playlist
  .playlist__menu
    .playlist__header
      h3.playlist__title Table of Contents
      a(href="#" class="playlist__close")
        i.fas.fa-times.playlist__close-icon 
    //sidebar playlist
    .playlist__header-section 
      span.playlist-name introduction    
    .play-list.play-list__with-icon.play-list__with-icon-hover
      .play-list__item  
        .play-list__video-img
          img(class="play-list__img" src="./images/sign.svg")
          .rating__progress.progress--video
            div(class="progress--progress-bar" style= "width : 60% " role='progressbar' aria-valuenow=70 aria-valuemin=0 aria-valuemax=100)
          input(class="hidden item__Checkbox d-none" type="checkbox" tabindex="0" id="checked")
          label(for="checked" class="item__label")
            i.fas.fa-check.play-list__check
            //- input#check01(type="checkbox" name="checkbox" value="1" checked).checkbox
        .play-list__content
          a(href="#" class="play-list__title") University of Hertfordshire 
          span.playlist-info 354 views 
          span.playlist-info 2:22:17