nav.sidebar__playlist
  #js-menu.sidebar__menu.menu--scrollbar
    .sidebar__header
      h3.sidebar__title Table of Contents
      a(href="#").sidebar__close
        i.fas.fa-times.sidebar__close-icon
