nav.playlist.playlist--size.toggle-menu__icon 
  .playlist__menu
    .playlist__header
      h3.playlist__title Table of Contents
      a(href="#" class="playlist__close")
        i.fas.fa-times.playlist__close-icon 
    block listVideo
    block survey-sidebar
    