nav.playlist
  .playlist__menu
    .playlist__header
      h3.playlist__title Table of Contents
      a(href="#").playlist__close
        i.fas.fa-times.playlist__close-icon 
    //sidebar playlist
    .playlist__header-section 
      h2.text-2 introduction 
    .play-list.play-list__with-icon-hover
      .play-list__item 
        .play-list__video-img
          img.play-list__img(src="./images/sign.svg") 
        .play-list__header
          h2.text-3.mb-0 University of Hertfordshire
          .play-list__info
            span.text-4.gray 354 views
            .play-list__time
              span.text-4.gray 2:22:17 
    .play-list.play-list__with-icon-hover
      .play-list__item 
        .play-list__video-img
          img.play-list__img(src="./images/sign.svg")
          .rating__progress.progress--video
            .progress--progress-bar.w-70( role='progressbar' aria-valuenow=70 aria-valuemin=0 aria-valuemax=100) 
        .play-list__header
          h2.text-3.mb-0 University of Hertfordshire
          .play-list__info
            span.text-4.gray 354 views
            .play-list__time
              span.text-4.gray 2:22:17 
    .playlist__header-section 
      h2.text-2 introduction 
    .play-list.play-list__with-icon
      .play-list__item 
        .play-list__video-img
          img.play-list__img(src="./images/sign.svg")
          .rating__progress.progress--video
            .progress--progress-bar.w-70( role='progressbar' aria-valuenow=70 aria-valuemin=0 aria-valuemax=100)
          .play-list__check
            i.fas.fa-check
        .play-list__header
          h2.text-3.mb-0 University of Hertfordshire
          .play-list__info
            span.text-4.gray 354 views
            .play-list__time
              span.text-4.gray 2:22:17
    .play-list.play-list__with-icon.play-list__with-icon-hover
      .play-list__item 
        .play-list__video-img
          img.play-list__img(src="./images/sign.svg")
          .rating__progress.progress--video
            .progress--progress-bar.w-70( role='progressbar' aria-valuenow=70 aria-valuemin=0 aria-valuemax=100)
          .play-list__check.play-list--hide
            i.fas.fa-check
            //- input#check01(type="checkbox" name="checkbox" value="1" checked).checkbox
        .play-list__header
          h2.text-3.mb-0 University of Hertfordshire
          .play-list__info
            span.text-4.gray 354 views
            .play-list__time
              span.text-4.gray 2:22:17