ul.list__sidebar
  li.list__item
    a.item__link(href='index.html' title='Home')
      i.uil.uil-home-alt.item__icon
      span.item__label Home
  li.list__item
    a.item__link(href='live_streams.html' title='Live Streams')
      i.uil.uil-kayak.item__icon
      span.item__label Live Streams
  li.list__item
    a.item__link(href='explore.html' title='Explore')
      i.uil.uil-search.item__icon
      span.item__label Explore
  li.list__item.menu--item__has_sub_menu
    a.item__link(title='Categories')
      i.uil.uil-layers.item__icon
      span.item__label Categories 
    ul.sub-menu
      li.sum-menu__item
        a.sub-menu__link(href='#') Development
      li.sum-menu__item
        a.sub-menu__link(href='#') Business
      li.sum-menu__item
        a.sub-menu__link(href='#') Finance &amp; Accounting
      li.sum-menu__item
        a.sub-menu__link(href='#.html') IT &amp; Software
      li.sum-menu__item
        a.sub-menu__link(href='#') Office Productivity
      li.sum-menu__item
        a.sub-menu__link(href='#') Personal Development
      li.sum-menu__item
        a.sub-menu__link(href='#') Design
      li.sum-menu__item
        a.sub-menu__link(href='#') Marketing
      li.sum-menu__item
        a.sub-menu__link(href='#') Lifestyle
      li.sum-menu__item
        a.sub-menu__link(href='#') Photography
      li.sum-menu__item
        a.sub-menu__link(href='#') Health &amp; Fitness
      li.sum-menu__item
        a.sub-menu__link(href='#') Music
      li.sum-menu__item
        a.sub-menu__link(href='#') Teaching &amp; Academics
  li.list__item.menu--item__has_sub_menu
    a.item__link(title='Tests')
      i.uil.uil-clipboard-alt.item__icon
      span.item__label Tests
    ul.sub-menu
      li.sum-menu__item
        a.sub-menu__link(href='certification_center.html') Certification Center
      li.sum-menu__item
        a.sub-menu__link(href='certification_start_form.html') Certification Fill Form
      li.sum-menu__item
        a.sub-menu__link(href='certification_test_view.html') Test View
      li.sum-menu__item
        a.sub-menu__link(href='certification_test__result.html') Test Result
      li.sum-menu__item
        a.sub-menu__link(href='http://www.gambolthemes.net/html-items/edututs+/Instructor_Dashboard/my_certificates.html') My Certification
  li.list__item
    a.item__link(href='saved_courses.html' title='Saved Courses')
      i.uil.uil-heart-alt.item__icon
      span.item__label Saved Courses
  li.list__item.menu--item__has_sub_menu
    a.item__link(title='Pages')
      i.uil.uil-file.item__icon
      span.item__label Pages
    ul.sub-menu
      li.sum-menu__item
        a.sub-menu__link(href='about_us.html') About
      li.sum-menu__item
        a.sub-menu__link(href='sign_in.html') Sign In
      li.sum-menu__item
        a.sub-menu__link(href='sign_up.html') Sign Up
      li.sum-menu__item
        a.sub-menu__link(href='sign_up_steps.html') Sign Up Steps
      li.sum-menu__item
        a.sub-menu__link(href='membership.html') Paid Membership
      li.sum-menu__item
        a.sub-menu__link(href='course_detail_view.html') Course Detail View
      li.sum-menu__item
        a.sub-menu__link(href='checkout_membership.html') Checkout
      li.sum-menu__item
        a.sub-menu__link(href='invoice.html') Invoice
      li.sum-menu__item
        a.sub-menu__link(href='career.html') Career
      li.sum-menu__item
        a.sub-menu__link(href='apply_job.html') Job Apply
      li.sum-menu__item
        a.sub-menu__link(href='our_blog.html') Our Blog
      li.sum-menu__item
        a.sub-menu__link(href='blog_single_view.html') Blog Detail View
      li.sum-menu__item
        a.sub-menu__link(href='company_details.html') Company Details
      li.sum-menu__item
        a.sub-menu__link(href='press.html') Press 
//- .left_section
//- h6.left_title SUBSCRIPTIONS
//- ul
//-   li.menu--item
//-     a.item__link.user_img(href='instructor_profile_view.html')
//-       img(src='../../assets/images/left-imgs/img-1.jpg' alt='')
//-       | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Rock Smith
//-       .alrt_dot
//-   li.menu--item
//-     a.item__link.user_img(href='instructor_profile_view.html')
//-       img(src='../../assets/images/left-imgs/img-2.jpg' alt='')
//-       | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jassica William
//-     .alrt_dot
//-   li.menu--item
//-     a.item__link(href='all_instructor.html' title='Browse Instructors')
//-       i.uil.uil-plus-circle.menu--icon
      span.menu--label Browse Instructors
.left_section.pt-2
ul.list__sidebar
  li.list__item
    a.item__link(href='setting.html' title='Setting')
      i.uil.uil-cog.item__icon
      span.item__label Setting
  li.list__item
    a.item__link(href='help.html' title='Help')
      i.uil.uil-question-circle.item__icon
      span.item__label Help
  li.list__item
    a.item__link(href='report_history.html' title='Report History')
      i.uil.uil-windsock.item__icon
      span.item__label Report History
  li.list__item
    a.item__link(href='feedback.html' title='Send Feedback')
      i.uil.uil-comment-alt-exclamation.item__icon
      span.item__label Send Feedback
//- article.sidebar__footer
//-   ul.footer-list
//-     li.list-item
//-       a.item-link(href='about_us.html') About
//-     li.list-item
//-       a.item-link(href='press.html') Press
//-     li.list-item
//-       a.item-link(href='contact_us.html') Contact Us
//-     li.list-item
//-       a.item-link(href='coming_soon.html') Advertise
//-     li.list-item
//-       a.item-link(href='coming_soon.html') Developers
//-     li.list-item
//-       a.item-link(href='terms_of_use.html') Copyright
//-     li.list-item
//-       a.item-link(href='terms_of_use.html') Privacy Policy
//-     li.list-item
//-       a.item-link(href='terms_of_use.html') Terms
//-   .footer_content
//-     p
//-       | &copy; 2020
//-       strong Cursus
//-       | . All Rights Reserved.
