.status 
	//- span.material-icons.status__img  widgets
	span.material-icons.status__img  lock_open
	h4.title-h4 nothing here
	p.body-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat illo necessitatibus possimus ipsum rem maxime laboriosam sed, sit quisquam a ipsam, molestiae repellendus eos labore impedit autem, fugit vero quidem?