//- .playlist__header-section
header.header--player.playlist--size
      .playlist.playlist-canvas
        .canvas-wrap
          canvas(id="canvas" width="200" height="200")
          span#procent
        .playlist__list-item.list-item--border-bottom.p-1
      .playlist.playlist--survey 			
        .ad-card.ad-card--centered
          .ad-card__content
            .list 
              .playlist__list-item.list-item--border-bottom.p-1
                .btn.btn--default.btn--icon.btn--ripple
                  i.fas.fa-book
                .list-item__content
                  p.content__link.text-2.bold Lorem ipsum dolor,
                  p.content__paragraph.text-3 amet consectetur adipisicing elit.
              .playlist__list-item.list-item--border-bottom.p-1
                .btn.btn--default.btn--icon.btn--ripple 
                  i.fas.fa-book
                .list-item__content
                  p.content__link.text-2.bold Lorem ipsum dolor,
                  p.content__paragraph.text-3 amet consectetur adipisicing elit.
              .playlist__list-item.list-item--border-bottom.p-1
                .btn.btn--default.btn--icon.btn--ripple 
                  i.fas.fa-book
                .list-item__content
                  p.content__link.text-2.bold Lorem ipsum dolor,
                  p.content__paragraph.text-3 amet consectetur adipisicing elit.
              .playlist__list-item.list-item--border-bottom.p-1
                .btn.btn--default.btn--icon.btn--ripple 
                  i.fas.fa-book
                .list-item__content
                  p.content__link.text-2.bold Lorem ipsum dolor,
                  p.content__paragraph.text-3 amet consectetur adipisicing elit.

      