.content
  form.form-question
    .question-form 
      h2 Lorem ipsum dolor
    .form-group.danger 	
      input.form-group__input(type="radio")
      label.form-group__label(for="") lorem
    .form-group.warning 	
      input.form-group__input(type="radio")
      label.form-group__label(for="") lorem
    .form-group.success 	
      input.form-group__input(type="radio")
      label.form-group__label(for="") lorem