//- .playlist__header-section
header.header--player 
.playlist__header-section 
  a.logo(href='index.html')
    img(src='../../assets/images/Etqadem_Logo.svg' alt='' class="logo__img")
.playlist 			
  .ad-card.ad-card--centered
    .ad-card__content
      .list 
        .list-item.list-item--border-bottom.p-1
          .btn.btn--default.btn--icon.btn--ripple
            i.fas.fa-book
          .list-item__content
            p.content__link.text-2.bold Lorem ipsum dolor,
            p.content__paragraph.text-3.white amet consectetur adipisicing elit.
        .list-item.list-item--border-bottom.p-1
          .btn.btn--default.btn--icon.btn--ripple 
            i.fas.fa-book
          .list-item__content
            p.content__link.text-2.bold Lorem ipsum dolor,
            p.content__paragraph.text-3.white amet consectetur adipisicing elit.
        .list-item.list-item--border-bottom.p-1
          .btn.btn--default.btn--icon.btn--ripple 
            i.fas.fa-book
          .list-item__content
            p.content__link.text-2.bold Lorem ipsum dolor,
            p.content__paragraph.text-3.white amet consectetur adipisicing elit.
        .list-item.list-item--border-bottom.p-1
          .btn.btn--default.btn--icon.btn--ripple 
            i.fas.fa-book
          .list-item__content
            p.content__link.text-2.bold Lorem ipsum dolor,
            p.content__paragraph.text-3.white amet consectetur adipisicing elit.

  