.content
  form.form-question
    .question-form
      h2.white Lorem ipsum dolor
      p.text-3.white amet consectetur adipisicing elit.
    .wrap
      .form-group
        input.form-group__input(type="radio")
        label.form-group__label(for="") lorem
      .form-group
        input.form-group__input(type="radio")
        label.form-group__label(for="") lorem
      .form-group
        input.form-group__input(type="radio")
        label.form-group__label(for="") lorem
    .direction-form
      button.btn.btn--primary.btn--with-icon.btn--ripple.hover.btn-left
        i.fas.fa-arrow-left
        | primary
      button.btn.btn--primary.btn--with-icon.btn--ripple.hover.btn-right
        i.fas.fa-arrow-right
        | primary