.card.card--side-col
  .card__side-col
    img(src="../../assets/images/hd_dp.jpg" alt="" class="image image--profile image--rounded")
  .card__content
    .card__header
      .card__header-multiline.card__header-2-lines
        a(href='#' class="primary bold")
          | Jose Portilla
          i.fa.fa-check-circle.ml-1
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        //.item__rating-box
        //  span.rating-box__rating-star.rating-box--full-star
        //  span.rating-box__rating-star.rating-box--full-star
        //  span.rating-box__rating-star.rating-box--half-star
        //  span.rating-box__rating-star.rating-box--empty-star
        //  span.rating-box__rating-star.rating-box--empty-star
      .card__tools
        include ../components/list-dropdown.pug
        +dropdown
          i.fas.fa-ellipsis-h
    div.card-text
      h1
        strong Five things I wish I knew before I switched to the Apple Ecosystem.
      p
        | I made the switch from Samsung to Apple in late 2019, I, also, made the switch from Windows to Mac earlier this
        | year. There are definitely many positives in the switch, but there are some things I wish I had known.
      p Photo by Tianyi Ma on Unsplash
      h2
        em 1. Not all devices play as nicely together.
      p
        | Bluetooth works in most situations, regardless of what phone you use. Earbuds pair, watches still pass some data,
        | but some devices just don&rsquo;t play as nicely. For example, I have a smart in-window air conditioner. While still
        | on Android, I had no issues pairing, updating, or controlling it, it just works. When I switched to iOS, I was going
        | through and pair all my smart devices, this air conditioner though it supports HomeKit has issues. Frequent
        | communication drops, updating just doesn&rsquo;t work, and while the control scheme is much nicer in the Home app on
        | iPhone, the communication drops make it impractical. This is an isolated issue, 90% of my devices paired up with no
        | issues, but a few just handle things differently.
    .tags
      .tags__item #Development
      .tags__item #Development
