.toolbar  
  button(class="btn btn--text btn--primary icon--hover btn--ripple btn--sm") 
    i.fas.fa-plus-circle 
  button(class="btn btn--text btn--primary icon--hover btn--ripple btn--sm") 
    i.fas.fa-file-import
  button(class="btn btn--text btn--primary icon--hover btn--ripple btn--sm") 
    i.fas.fa-heading
  button(class="btn btn--text btn--primary icon--hover btn--ripple btn--sm") 
    i.far.fa-image
  button(class="btn btn--text btn--primary icon--hover btn--ripple btn--sm") 
    i.fas.fa-video
  