.toolbar  
  button(class="btn btn--primary btn--icon btn--ripple btn--text icon--hover btn--sm") 
    i.fas.fa-plus-circle 
  button(class="btn btn--primary btn--icon btn--ripple btn--text icon--hover btn--sm") 
    i.fas.fa-file-import
  button(class="btn btn--primary btn--icon btn--ripple btn--text icon--hover btn--sm") 
    i.fas.fa-heading
  button(class="btn btn--primary btn--icon btn--ripple btn--text icon--hover btn--sm") 
    i.far.fa-image
  button(class="btn btn--primary btn--icon btn--ripple btn--text icon--hover btn--sm") 
    i.fas.fa-video
  